= link_to featured_campaign.url do
  %li
    .title= featured_campaign.title
    .body= featured_campaign.body
    .image= featured_campaign.image.url
    .mobile-image= featured_campaign.mobile_image.url
