- return if bookmark.blank?
- bookmark_tag_form_container_class_name = local_assigns[:container_class_name] || "uid-#{SecureRandom.uuid}"

.bookmark-tags.js-bookmark-tag-show-form-container{ class: "#{bookmark_tags_post_dom_class(bookmark.post)} #{'bookmark-tags-form-visible' if local_assigns[:show_form]} #{bookmark_tag_form_container_class_name}", 'data-no-parti-link': 'no' }
  - bookmark.tags.each do |tag|
    .bookmark-tag
      = link_to bookmarks_url(subdomain: nil, tag_names: [tag.name]), class: 'bookmark-tag-name' do
        = tag.name
      = link_to remove_tag_bookmark_path(bookmark, tag_name: tag.name, container_class_name: bookmark_tag_form_container_class_name), method: :delete, remote: true, class: 'bookmark-remove-btn' do
        &times;
  = form_with url: add_tag_bookmark_path(bookmark), local: false, method: :post, class: 'form-inline form-bookmark-tag', data: { disable_with: '...' } do |f|
    = f.hidden_field 'container_class_name', value: bookmark_tag_form_container_class_name
    .form-group
      .input-group
        = f.text_field :tag_name, placeholder: '태그 입력...', class: 'form-control js-bookmark-tag-show-form-control', maxlength: 15
        .input-group-prepend
          = f.submit '추가', class: 'btn btn-default btn-xs'
  = local_assigns[:add_button]