%section.contents-page#posts
  .container
    .row
      = main_column_tag do
        = render 'application/my_home_tab'
        - if @tag_names.any?
          .post-data-divider.search-bookmark-tags
            .bookmark-tags
              %select.js-bookmark-tag-searcher.form-control{ multiple: true, class: "#{'collapse' if @search_tag_names.blank?}", 'data-multiple-separator': ' ', 'data-none-selected-text': '태그 검색', 'data-url': bookmarks_url(subdomain: nil, format: :js)  }
                - @tag_names.each do |tag_name|
                  - option_dom = capture do
                    %span.bookmark-tag{ class: ('bookmark-tag-active' if @search_tag_names.include?(tag_name)) }
                      .bookmark-tag-name
                        #{tag_name}
                  %option{ value: tag_name, 'data-content': escape_once(option_dom.to_s), selected: @search_tag_names.include?(tag_name) }

        .js-bookmark-posts
          = render 'bookmarks/page', bookmarked_posts: @bookmarked_posts
        .js-bookmark-posts-loading.collapse.text-center
          %i.fa.fa-2x.fa-spinner.fa-pulse

      = render 'application/aside'