%span.upvote-btn{class: "#{dom_id(comment)}-upvote"}
  - if !user_signed_in? or local_assigns[:unsigned]
    %span.upvote-btn--unsigned
      = link_to ' ', '#', data: { toggle: 'parti-login-overlay', label: '<i class="fa fa-heart">', 'after-login': h({action: :comment_upvote, id: comment.id}.to_json) }
      - if comment.upvotes.count > 0
        = comment.upvotes.count
  - elsif comment.upvoted_by? current_user
    %span.upvote-btn--upvoted
      = link_to ' ', cancel_comment_upvotes_path(comment), method: :delete, remote: true
      - if comment.upvotes.count > 0
        = comment.upvotes.count
  - else
    %span.upvote-btn--not-yet
      = link_to ' ', comment_upvotes_path(comment), method: :post, remote: true
      - if comment.upvotes.count > 0
        = comment.upvotes.count
