%section#dashboard-header-section
  .container
    .row
      .col-xs-2
        .issue-card-txt
          구독중인
          %br
          %b
            빠띠
        .my-issue-count
          %small 총
          %span= current_user.watched_issues.count
          %span{style: 'margin-left: -2px;'} 개
        /=link_to '다른 빠띠 찾기', issues_path, class: 'btn btn-primary btn-issue'
      .col-xs-10
        - watched_issues = current_user.watched_issues
        %ul.issue-card-wrapper.list-unstyled.clearfix.owl-carousel{data: {ride: 'parti-dashboard-slider', 'owl-need-nav': (is_mobile? ? watched_issues.count > 1: watched_issues.count > 4)}}
          - watched_issues.each_with_index do |issue, index|
            - issue ||= local_assigns[:card]
            %li.issue-card.item
              = link_to issue_home_path(issue) do
                .issue-card__thumb.img-circle{ style: "background-image: url(#{issue.logo.sm.url});" }
                %span.issue-card__title= issue.title
                .issue-card__meta
                  %span.user-count
                    = image_tag 'icon_user.png'
                    %b= issue.watches.count
                  %span.comment-count
                    = image_tag 'icon_comment.png'
                    %b= issue.comments.count
          %li.issue-card.issue-card--watch_more.item
            = link_to issues_path do
              %p
                더욱 재미있는 빠띠를
                %br
                즐기고 싶으세요?

              %button.btn.btn-primary.btn-issue<
                다른 빠띠
                %br>
                구독하기

