= render 'top_banner'

%section#posts
  .container
    .row
      .col-xs-9
        %h4.page-title
          = t('labels.dashboard')
          - unless current_user.need_to_more_watch_or_member?(current_group)
            %small 구독 &middot; 가입 중인 빠띠의 최근 소식입니다.
          - if @posts.first.present? and @last_post.present?
            = render 'posts/new_posts_count', new_posts_count_url: new_dashboard_posts_count_path(first_id: @last_post.id)

        - if user_signed_in?
          - if current_user.need_to_more_watch_or_member?(current_group)
            .unified-editor.unified-editor-intro.cursor-default
              .text-muted
                .media
                  .media-left
                    = byline current_user, hide_nickname: true
                  .media-body
                    #{current_user.nickname}님, 빠띠를 구독하고 수다를 시작해보세요!
          - else
            - watched_issues = current_user.watched_issues.order(:title)
            .unified-editor.unified-editor-intro{ data: { action: 'parti-show', 'show-target': '.unified-editor.unified-editor--hidden', 'self-hide': 'true'} }
              .text-muted
                = byline current_user, hide_nickname: true
                #{current_user.nickname}님, 이야기 나누실래요?

          .unified-editor.unified-editor--hidden
            - selected_parti = nil
            .parti-select
              %select.parti-editor-selectpicker(data-live-search="true" data-width="100%" title="어떤 빠띠에 이야기하시겠어요?")
                - issues_selection = {"메이커인 빠띠" => sort_issues_by_title(current_user.making_issues.only_group(current_group)), "가입 중인 빠띠" => sort_issues_by_title(current_user.only_watched_issues.only_group(current_group))}
                - if current_group.blank?
                  - Group.all_with_indie_and_exclude(current_group).each do |group|
                    - issues_selection.merge! "메이커인 #{group.name} 빠띠" => sort_issues_by_title(current_user.making_issues.only_group(group)), "가입 중인 #{group.name} 빠띠" => sort_issues_by_title(current_user.only_watched_issues.only_group(group))
                - issues_selection.each do |group_label, issues|
                  - if issues.any?
                    %optgroup{label: group_label}
                      - issues.each do |issue|
                        - selected_parti = issue if selected_parti.blank?
                        - issue_content = capture do
                          .parti-option
                            .parti-thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
                            %span.issue-line__title
                              = issue.title
                        %option{value: issue.id, 'data-content': issue_content}= issue.title

            - unless current_user.need_to_more_watch_or_member?(current_group)
              = render 'talks/new_form', issue: selected_parti

        .posts{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          - if @posts.empty?
            - if current_user.need_to_more_watch_or_member?(current_group)
              .bg-default.no-background.text-center
                현재 내 타임라인이 비었습니다.
                %br
                내 관심사에 맞는 빠띠를
                %br.visible-xs
                = link_to '빠띠찾기', home_path, class: 'text-primary'
                에서 구독해보세요.
            - else
              .bg-default
                %i.fa.fa-info-circle
                아직 글이 없습니다.
          - else
            = render 'posts/page', show_issue: true
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': dashboard_path(format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'application/aside'
