%section#posts
  .container
    .row
      .col-xs-12.col-sm-8
        - if current_user.need_to_more_member?(current_group)
          .unified-editor.unified-editor-intro.cursor-default
            .text-muted
              .media
                .media-left
                  = byline current_user, hide_nickname: true
                .media-body
                  #{current_user.nickname}님, 이제 빠띠를 시작해보세요!
                  = link_to '시작하기', dashboard_intro_path, class: 'btn btn-primary'
        - else
          - member_issues = current_user.member_issues.order(:title)
          .unified-editor.unified-editor-intro{ data: { action: 'parti-show', 'show-target': '.unified-editor.unified-editor--hidden', 'self-hide': 'true', 'spotlight-post-editor': 'true'} }
            .text-muted
              = byline current_user, hide_nickname: true
              .placeholder #{current_user.nickname}님, 무슨 이야기를 나누실래요?

        .unified-editor.unified-editor--hidden{ data: { action: ('parti-post-editor-spotlight' if !is_small_screen?) } }
          = render 'posts/issue_selector'

          - unless current_user.need_to_more_member?(current_group)
            = render 'posts/new_form', issue: nil

        - if params[:q].blank?
          = render 'posts/new_posts_count', new_posts_count_url: new_dashboard_posts_count_path(last_time: DateTime.now.to_i)

        .posts{data: {last_id: -1, is_last: 'false'}}
          - if params[:q].present?
            .post-card.summary
              .post-card__post
                - if @search_q.present?
                  내 피드에서 "#{@search_q}"을(를) 검색한 결과입니다.
                  - if @search_q != params[:q]
                    영문과 한글만 검색합니다.
                  = link_to '취소', dashboard_path, class: 'btn btn-sm btn-default'
                - else
                  두 글자 이상의 영문과 한글만 검색됩니다. 검색할 키워드를 다시 입력하세요.
          - unless @search_q.present?
            = render 'posts/list_pinned', posts: @posts_pinned, show_issue: true, compact: true
          #no-data.text-center.alert{ style: 'display: none;' }
            %i.fa.fa-info-circle
              - if params[:q].blank?
                아직 글이 없습니다.
              - else
                검색 결과가 없습니다.
          /= render 'posts/page', show_issue: true
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': dashboard_path(format: :js, q: @search_q)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'application/aside'
