%section#posts
  .container
    .row
      .col-xs-12.col-sm-8
        - if user_signed_in?
          - if current_user.need_to_more_member?(current_group)
            .unified-editor.unified-editor-intro.cursor-default
              .text-muted
                .media
                  .media-left
                    = byline current_user, hide_nickname: true
                  .media-body
                    #{current_user.nickname}님, 이제 빠띠를 시작해보세요!
                    = link_to '시작하기', dashboard_intro_path, class: 'btn btn-primary'
          - else
            - member_issues = current_user.member_issues.order(:title)
            .unified-editor.unified-editor-intro{ data: { action: 'parti-show', 'show-target': '.unified-editor.unified-editor--hidden', 'self-hide': 'true', 'spotlight-post-editor': 'true'} }
              .text-muted
                = byline current_user, hide_nickname: true
                .placeholder #{current_user.nickname}님, 무슨 이야기를 나누실래요?

          .unified-editor.unified-editor--hidden{ data: { action: ('parti-post-editor-spotlight' if !is_small_screen?) } }
            - selected_parti = nil
            .parti-select
              %select.parti-editor-selectpicker(data-live-search="true" data-width="100%" title="이야기 나눌 빠띠를 골라 주세요")
                - Group.all.each do |group|
                  - issues = sort_issues_by_title(current_user.member_issues.alive.only_group(group))
                  - if issues.any?
                    %optgroup{label: group.aside_title}
                      - issues.each do |issue|
                        - selected_parti = issue if selected_parti.blank?
                        - issue_content = capture do
                          .parti-option
                            .parti-thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
                            %span.issue-line__title
                              = issue.title
                              = security_icon(issue)
                        %option{value: issue.id, 'data-content': issue_content}
                          = issue.title
                          = security_icon(issue)

            - unless current_user.need_to_more_member?(current_group)
              = render 'posts/new_form', issue: nil

        - if @posts.first.present? and @last_post.present?
          = render 'posts/new_posts_count', new_posts_count_url: new_dashboard_posts_count_path(last_time: @last_post.last_stroked_at.to_i)

        .posts{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          - if @posts.empty?
            - unless current_user.need_to_more_member?(current_group)
              .bg-default
                %i.fa.fa-info-circle
                아직 글이 없습니다.
          - else
            = render 'posts/list_pinned', posts: @posts_pinned, show_issue: true, compact: true
            = render 'posts/page', show_issue: true
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': dashboard_path(format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'application/aside'
