%section.parti-watch-recommend--header
  .container
    %a#btn-continue.disabled
      빠띠 시작하기
    %h2.text-primary
      어떤 이슈의 빠띠를 키워 보시겠어요?
    %p
      평소에 관심을 가지던 이슈의 빠띠를 3개 이상 골라 보세요.

%section.parti-watch-recommend--issues
  .container
    - if current_group.present?
      %h3.page-title #{current_group.name} 빠띠
      .row
        - @group_issues.each do |issue|
          .col-sm-3.col-xs-6
            .issue-card-wrapper
              = render 'issues/card_in_intro', issue: issue
        - if @group_issues.empty?
          .col-xs-12
            %i.fa.fa-info-circle
            더 구독할 빠띠가 없습니다.
      %h3.page-title 그외 빠띠
      .row
        - @issues.each do |issue|
          .col-sm-3.col-xs-6
            .issue-card-wrapper
              = render 'issues/card_in_intro', issue: issue
    - else
      .row
        - @issues.each do |issue|
          .col-sm-3.col-xs-6
            .issue-card-wrapper
              = render 'issues/card_in_intro', issue: issue

.modal.fade.in.parti-watch-recommend--modal#parti-intro{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content(style="background: transparent; border: none; box-shadow: none; -webkit-box-shadow: none;")
      .modal-body.text-center
        = image_tag 'icon_intro_check.png', data: {dismiss: "modal"}
        %h2.text-primary
          먼저 3개 이상 관심있는
          %br
          이슈의 빠띠를 골라 보세요.

        %p
          관심가는 빠띠를 구독하면 빠띠가 더욱 즐거워집니다.
          %br
          @#{current_user.nickname}님의 빠띠를 키워보세요.

        %button.btn.btn-primary.btn-lg{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          시작하기

- content_for :script do
  :javascript
    $(function(){
      $('#parti-intro').modal();
    });
