%section#posts
  .container
    .row
      - unless is_mobile?
        = render 'aside'
      .col-xs-9
        = render 'posts/new_form', issue: Issue::OF_ALL
        - if @posts.first.present?
          = render 'comments/new_comments_count', new_comments_count_url: new_dashboard_comments_count_path(first_id: @last_comment.id)
        .posts.bg-line{data: {last_id: @posts.last.id, is_last: @is_last_page.to_s}}
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              아직 글이 없습니다.
          - else
            = render 'dashboard/posts_page'
        .posts__waypoint.text-center
          .posts__waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse

- content_for :script do
  :javascript
    $(function(){
      $('.posts__waypoint').waypoint({
        handler: function(direction) {
          if($('.posts.bg-line').data('is-last')) {
            return;
          }

          if($('.posts.bg-line').data('is-processing')) {
            return;
          }
          $('.posts.bg-line').data('is-processing', true);
          $('.posts__waypoint__loading').show();

          $.ajax({
            url: "#{dashboard_path(format: :js)}",
            type: "get",
            data:{ last_id: $('.posts.bg-line').data('last-id') },
            complete: function(xhr) {
              Waypoint.refreshAll();
              $('.posts.bg-line').data('is-processing', false);
              $('.posts__waypoint__loading').hide();
            },
          });
        },
        offset: 'bottom-in-view'
      })
    });
