= render 'top_banner'
%section#posts
  .container
    .row
      .col-xs-9
        %h4.page-title
          = t('labels.dashboard')
          %small 구독 중인 #{ current_group.name if current_group.present?} 빠띠의 최근 소식입니다.
        - if @posts.first.present? and @last_post.present?
          = render 'posts/new_posts_count', new_posts_count_url: new_dashboard_posts_count_path(first_id: @last_post.id)
        .posts{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              아직 글이 없습니다.
          - else
            = render 'posts/page', show_issue: true
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': dashboard_path(format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'application/aside'
