= render 'dashboard_header'

%section#posts
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'dashboard/content_tabs', active_tab: :talks, counts_container: current_user.watched_counts
        = render 'talks/list', postables: @talks, show_issue: true
        .text-center
          = paginate @talks, theme: 'twitter-bootstrap-3'
      = render 'aside'


