%div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(comment.post) } }
  - if comment.post.user == message.user
    %strong
      = message.sender.nickname
      님이 내 게시글에 댓글을 남겼습니다.
    = link_to excerpt(comment.body, length: 100), smart_post_url(comment.post)
  - else
    %strong
      - if comment.mentioned?(message.user)
        %span
          #{message.sender.nickname}님이 댓글에서 나를 언급했습니다
      - else
        %span
          #{message.sender.nickname}님이
          #{comment.post.user.nickname}님의 게시글에
          댓글을 남겼습니다.
    = link_to excerpt(comment.body, length: 100), smart_post_url(comment.post)
