- member = message.messagable
- if ['ban_issue_member', 'ban_group_member'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member.joinable) } }
    %strong
      #{message.sender.nickname}님이 회원님을
      = link_to member.joinable.title, smart_joinable_url(member.joinable)
      #{member.joinable.model_name.human}에서 탈퇴시키셨습니다.
    = render 'messages/go'
  - if member.ban_message.present?
    %br
    = member.ban_message

- elsif ['admit_issue_member', 'admit_group_member'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member.joinable) } }
    %strong
      #{message.sender.nickname}님이 회원님을
      = link_to member.joinable.title, smart_joinable_url(member.joinable)
      #{member.joinable.model_name.human}에 가입시키셨습니다.
    = render 'messages/go'
  - if member.admit_message.present?
    %br
    = member.admit_message

- elsif message.action.to_s == 'force_default_issue'
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member.joinable) } }
    %strong
      #{message.sender.nickname}님이
      = link_to member.joinable.title, smart_joinable_url(member.joinable)
      #{member.joinable.model_name.human}를 자동가입되도록 설정했습니다. 해당 #{member.joinable.model_name.human}에 가입되었습니다.
    = render 'messages/go'
- elsif ['assign_issue_organizer', 'assign_group_organizer'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member.joinable) } }
    %strong
      #{message.sender.nickname}님이 회원님께
      = link_to member.joinable.title, smart_joinable_url(member.joinable)
      #{member.joinable.model_name.human} 오거나이징을 부탁했습니다.
    = render 'messages/go'
- elsif ['create_issue_organizer', 'create_issue_organizer'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member.joinable) } }
    %strong
      #{message.sender.nickname}님이
      #{message.action_params_hash["new_organizer_user_nickname"]}님께
      #{member.joinable.title}
      #{member.joinable.model_name.human} 오거나이징을 부탁했습니다.
    = render 'messages/go'
- elsif ['create_issue_member', 'create_group_member'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_members_url(member.joinable) } }
    %strong
      #{member.user.nickname}님이
      = link_to member.joinable.title, smart_joinable_url(member.joinable)
      #{member.joinable.model_name.human}에 #{('초대링크로 ' if member.is_magic?)}가입했습니다.
    = render 'messages/go'
