- member_request = message.messagable
- if ['create_issue_member_request', 'create_group_member_request'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_members_url(member_request.joinable) } }
    %strong
      #{member_request.user.nickname}님이
      = link_to member_request.joinable.title, smart_joinable_url(member_request.joinable)
      #{member_request.joinable.model_name.human}에 가입요청합니다.
    = render 'messages/go'
- if ['accept_issue_member_request', 'accept_group_member_request'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member_request.joinable) } }
    %strong
      #{message.sender.nickname}님이
      = link_to member_request.joinable.title, smart_joinable_url(member_request.joinable)
      #{member_request.joinable.model_name.human} 가입요청을 승인합니다.
    = render 'messages/go'
- if ['reject_issue_member_request', 'reject_group_member_request'].include? message.action.to_s
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_joinable_url(member_request.joinable) } }
    %strong
      #{message.sender.nickname}님이
      = link_to member_request.joinable.title, smart_joinable_url(member_request.joinable)
      #{member_request.joinable.model_name.human} 가입요청을 거절합니다.
    = render 'messages/go'
  - if member_request.reject_message?
    %br
    = member_request.reject_message

