.message.clearfix[message]
  = link_to user_gallery_path(message.sender), class: 'message__link clearfix' do
    = image_tag message.sender.image.xs.url, class: 'img-circle circle-30 profile border-2-primary'
    .nickname
      = message.sender.nickname
  .message__date.date-wrapper
    %i.icon-clock
    %span= date_f message.created_at
  .message__messagable
    = render customize_partial_path(message.messagable, ->(model) { "messages/#{model.class.model_name.singular}" }), message: message

