.message.clearfix[message]
  .message__parti.pull-left
    = message.issue.title
    빠띠
    - if message.issue.on_group?
      <
      = message.issue.group.name
  .message__date.date-wrapper.pull-right
    = date_f message.created_at
  %br
  .message__messagable
    = render customize_partial_path(message.messagable, ->(model) { "messages/#{model.class.model_name.singular}" }), message: message

