.message.clearfix[message]{ class: ('unread' if message.unread?), data: {action: 'parti-link', 'url-source': "##{dom_id(message)}-url-source" } }
  .media.media-overflow-visible
    .media-left
      .thumb.circle-20.img-circle{style: "background-image: url(#{message.sender.image.sm.url}); margin-top: 2px;"}
    .media-body
      .message__header
        .message__parti
          - if message.issue.present?
            = link_to smart_issue_home_url(message.issue) do
              = issue_tag(message.issue)
          - elsif message.group.present?
            = link_to message.group.title_basic_format, smart_group_url(message.group)
        .message__date.date-wrapper
          &middot;
          = date_f message.created_at
      .message__body
        = render customize_partial_path(message.messagable, ->(model) { "messages/#{model.class.model_name.singular}" }), message: message, mention_only_page: local_assigns[:mention_only_page]
