- if message.action.to_s == 'pin_post'
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': deprecated_smart_post_url(post, format: :js, assigns: to_json_primitive_only(show_issue: true, show_group: true), dom_id: splited_post_dom_id), 'link-type': 'remote', 'link-parti-remote-loading': "##{splited_post_dom_id}" } }
    %strong
      %span
        #{message.sender.nickname}님이 게시글을
      %span
        고정했습니다
    %div= post.specific_desc_striped_tags(100)
- elsif message.action.to_s == 'create_post'
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': deprecated_smart_post_url(post, format: :js, assigns: to_json_primitive_only(show_issue: true, show_group: true), dom_id: splited_post_dom_id), 'link-type': 'remote', 'link-parti-remote-loading': "##{splited_post_dom_id}" } }
    %strong
      %span
        #{post.user.nickname}님이 게시글을 올렸습니다.
    %div=post.specific_desc_striped_tags(100)
- elsif message.action.to_s == 'mention'
  %div{id: "#{dom_id(message)}-url-source", data: { 'link-url': deprecated_smart_post_url(post, format: :js, assigns: to_json_primitive_only(show_issue: true, show_group: true), dom_id: splited_post_dom_id), 'link-type': 'remote', 'link-parti-remote-loading': "##{splited_post_dom_id}" } }
    %strong
      - unless local_assigns[:mention_only_page]
        %span
          #{post.user.nickname}님이 게시글에서
        %span
          나를 멘션했습니다
    %div=post.specific_desc_striped_tags(100)
