- if message.action.to_s == 'pinned'
  %div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(post) } }
    %strong
      %span
        #{message.sender.nickname}님이 게시글을
      %span
        공지했습니다
    %div= post.specific_desc_striped_tags(100)
- elsif message.action.to_s == 'decision'
  %div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(post) } }
    %strong
      %span
        #{message.sender.nickname}님이 게시글 토론을
      %span
        정리했습니다
    %div= excerpt(message.action_params_hash["decision_body"], length: 100, from_html: true)
- elsif message.action.to_s == 'create'
  %div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(post) } }
    %strong
      %span
        #{post.user.nickname}님이 게시글을 올렸습니다.
    %div=post.specific_desc_striped_tags(100)
- else
  %div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(post) } }
    %strong
      - if local_assigns[:mention_only_page]
        %span #{post.user.nickname}
      - else
        %span
          #{post.user.nickname}님이 게시글에서
        %span
          나를 멘션했습니다
    %div=post.specific_desc_striped_tags(100)
