- if upvote.upvotable.is_a? Comment
  - comment = upvote.upvotable
  - post = comment.post
  %div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(post, anchor: comment_line_anchor_dom_id(comment)) } }
    %strong
      #{message.sender.nickname}님이 내 댓글에 공감합니다.
    = link_to excerpt(comment.body, length: 100), smart_post_url(post, anchor: comment_line_anchor_dom_id(comment))
- else
  - post = upvote.upvotable
  %div{id: "#{dom_id(message)}-url-source", data: { url: smart_post_url(post) } }
    %strong
      #{message.sender.nickname}님이 내 게시글을 공감합니다.
    = link_to upvote.upvotable.specific_desc_striped_tags(120), smart_post_url(post)

