%section#posts
  .container
    .row
      .col-xs-12.col-sm-8
        %h4{style:'padding:10px;'}
          %span.text-primary<> #{current_user.nickname}
          님의 알림
          .count-label-wrapper
            .count-label
              = current_user.messages.count
              - if current_user.messages.latest.any?
                %small.text-primary
                  +#{current_user.messages.latest.count}
        .message-list
          = render @messages
        = paginate @messages, theme: 'catan'
      .hidden-xs
        = render 'application/aside'

