= render 'messages_header'

%section#posts
  .container
    .row
      .col-sm-9
        %section#content-tab-section
          = render 'content_tabs'
        .message-list
          = render @messages
        .text-center
          = paginate @messages, theme: 'twitter-bootstrap-3'
      = render 'dashboard/aside'

