%h3.page-title
  모든 버전
  %small
    = link_to smart_issue_wikis_path(@wiki.issue) do
      현재 버전 보기
      %i.fa.fa-arrow-right
%table.table.table-striped
  %thead
    %th 시간
    %th 편집자
  %tbody
    - @wiki_histories.each do |wiki_history|
      %tr
        %td
          = link_to wiki_history_path(wiki_history, page: @wiki_histories.current_page) do
            = static_date_f wiki_history.created_at
        %td
          #{wiki_history.user.nickname}
= paginate @wiki_histories, theme: 'catan', params: {controller: 'wiki_histories', action: 'index', id: nil, wiki_id: @wiki}
