.wiki-history.clearfix[wiki_history]{ data: {action: 'parti-link', 'url': (wiki_history_path(wiki_history) if wiki_history.has_previous?) }, class: ('cursor-default' unless wiki_history.has_previous?) }
  .media
    .media-left
      .thumb.circle-20.img-circle{style: "background-image: url(#{wiki_history.user.image.sm.url});"}
    .media-body
      != wiki_history.activity { |user| "#{link_to("#{user.nickname}", smart_user_gallery_path(user))}님이" }
      - if !wiki_history.has_previous?
      - elsif wiki_history.diff_body_adds_count > 0 or wiki_history.diff_body_removes_count > 0
        %span.help-text.text-nowrap
          - diff_count_texts = []
          - if wiki_history.diff_body_adds_count > 0
            - diff_count_texts << "<span class='diff-added'>+#{wiki_history.diff_body_adds_count}군데 추가</span>"
          - if wiki_history.diff_body_removes_count > 0
            - diff_count_texts << "<span class='diff-removed'>-#{wiki_history.diff_body_removes_count}군데 삭제</span>"
          #{raw(diff_count_texts.join(', '))}했습니다.
      .wiki-history__header
        .wiki-history__date.date-wrapper
          = static_date_f wiki_history.created_at
