= render 'issues/issue_header', issue: @issue

%section.wiki-history-page
  .container.container-xs-full-width
    %h4.wiki-title{style:'padding:10px 10px 0;'}
      = link_to @wiki_history.wiki.title, smart_post_url(@wiki_history.wiki.post), class: 'text-primary'
    %h5{style:'padding: 5px 10px 10px;'}
      = link_to histories_wiki_post_path(@wiki_history.wiki.post), class: 'text-nowrap' do
        위키 이력
      &gt;
      %span.text-nowrap #{@wiki_history.user.nickname}님 #{static_date_f(@wiki_history.created_at)} 변경사항

    .row
      .col-xs-12
        = render @wiki_history

    .row
      .col-xs-12
        .wiki-line
          .wiki-content
            = render 'wikis/read_only_wiki_content', wiki_history: @wiki_history, diff: :merged
