= render 'issues/issue_header', active_tab: :wikis, issue: @wiki_history.wiki.issue

%section#wikis-page
  .container
    %section#wiki-history
      %h3.page-title
        #{static_date_f @wiki_history.created_at} 버전
        %small
          = link_to smart_issue_wikis_path(@wiki.issue) do
            현재 버전 보기
            %i.fa.fa-arrow-right
      .body
        = raw render_markdown_to_html(@wiki_history.body)
    %section#wiki-history-list
      = render 'list'

