= render 'issues/issue_header', active_tab: :wikis, issue: @wiki_history.wiki.issue

%section#wikis
  .container
    %section#wiki-history
      %h3.page-title
        #{static_date_f @wiki_history.created_at} 버전
        %small
          = link_to issue_wikis_path(@wiki.issue) do
            현재 버전 보기
            %i.fa.fa-arrow-right
      .body
        - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true, quote: true, highlight: true)
        - @wiki_markdown_view = markdown.render(@wiki_history.body)
        = raw @wiki_markdown_view
    %section#wiki-history-list
      = render 'list'

