- issue ||= nil
- if user_signed_in?
  = form_for Note.new, html: { class: 'note-form form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#note-form-widget form input[type=submit]' } } do |f|
    = hidden_field_tag :back_url, @list_url || request.original_url

    .form-group
      = f.text_area :body, rows: 8, placeholder: '한말씀 해주세요', class: 'form-control', data: {'rule-required': true}

    .form-group.clearfix
      .submit-box.text-right
        - if issue.present?
          = f.hidden_field :issue_id, value: issue.id
          %b= issue.title
        - else
          = f.select :issue_id, nil, {prompt: '빠띠를 선택해 주세요.'}, {style: 'width: 200px;', data: { 'rule-required': true, 'action': 'parti-select-parti'}} do
            = grouped_options_for_select(editable_issues_continents(current_user))
        = f.submit '빠띠에 게시', class: 'btn btn-primary btn-ghost btn-border', data: { disable_with: "게시 중..." }

