- post = note.acting_as

.col-sm-4.col-xs-12.card
  .note-card[note]{ class: "note-card-#{rand(10)}" }

    - if local_assigns[:show_issue]
      .media-left.note-media-left--issue
        = link_to issue_home_path_or_url(post.issue) do
          .thumb.thumb--issue{ style: "background-image: url(#{post.issue.logo.sm.url})" }
    .note-card__user
      = byline note.user
    .note-card__body
      = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: note_path(note) } do
        = smart_format(note.body)
    .note-card__meta
      .row
        .col-xs-6
          = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: note_path(note) } do
            .date-wrapper
              = date_f post.created_at
        .col-xs-6
          - if note.comments.any?
            .comment-count
              = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: note_path(note) } do
                .note-comment-wrapper
                  %i.fa.fa-comment-o
                  %b #{post.comments_count}


