- note = note_line
- post = note.acting_as
- issue = post.issue
.note-line.post-line[post]
  - if local_assigns[:show_issue]
    .note-line__issue.post-line__issue
      = link_to issue_home_path(issue) do
        = image_tag issue.logo.xs.url
        %span.text-primary= issue.title

  / %h4.note-line__title.post-line__title{data: { toggle: "parti-post-modal", target: '#post-modal', url: note_path(note) }}
  /   = note.title
  .media
    .media-body
      .note-body{data: { toggle: "parti-post-modal", target: '#post-modal', url: note_path(note) }}= smart_format(note.body)

      .note-info
        = link_to user_gallery_path(note.user) do
          .thumb.user-image.img-circle{style: "background-image: url(#{note.user.image.sm.url});"}
          %span.nickname= note.user.nickname
        - if note.user.mentionable?(current_user)
          %a.comment__mention{ href: '#', data: { toggle: 'parti-post-modal', target: '#post-modal', 'url': note_path(note), 'mention-nickname': note.user.nickname, 'mention-form-control': '#new_comment #comment_body' } }
            %i.icon-mention

