- post = note.acting_as

.col-sm-4.card
  .note-card[note]{ class: "note-card-#{rand(10)}" }
    - if local_assigns[:show_issue]
      .media-left.note-media-left--issue
        = link_to issue_home_path(post.issue) do
          .thumb.thumb--issue{ style: "background-image: url(#{post.issue.logo.sm.url})" }
    .note-card__user
      = byline note.user
    .note-card__body
      = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: note_path(note) } do
        = note.body
    - if note.comments.any?
      .note-card__comments
        .comment-count
          %i.icon-comment
          %b #{post.comments_count}
        - if true || note.commenters.any?
          - preview_count = 5
          .comment-users
            - note.commenters[0..preview_count-1].each do |user|
              = byline user, hide_nickname: true
            - if note.commenters.count > preview_count
              +#{note.commenters.count - preview_count}
