= render 'top_banner'

%section#notes
  .container
    .posts-header
      %h4.posts-header__title
        = t('activerecord.models.note')
        %small 모든 빠띠의 #{t('activerecord.models.note')}입니다.
      .posts-sort-select
        = render 'posts/sort_select'
    .row.masonry-container{data: {last_id: @notes.last.try(:id), is_last: @is_last_page.to_s}}
      - if @notes.empty?
        .col-xs-12
          .bg-default
            %i.fa.fa-info-circle
            해당되는 글이 없습니다.
      - else
        = render 'notes/slug_notes_page', postables: @notes, show_issue: true, first_page: true
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': notes_path(sort: params[:sort], format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse

