- if current_group.present?
  = render 'application/group_home_sub_header', active: 'polls_or_surveys'

%section#polls_or_surveys.polls_or_surveys--all
  .container
    .contents-header
      %h4.contents-header__title
        토론
        %small 모든 빠띠의 #{Poll.model_name.human}와 #{Survey.model_name.human}입니다.
      .posts-filter-select
        = render 'posts/sort_select'
    .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
      - if @posts.empty?
        .col-xs-12
          .bg-default
            %i.fa.fa-info-circle
            해당되는 글이 없습니다.
      - else
        = render 'posts/page_card', posts: @posts, show_issue: true

    = paginate @posts, theme: 'catan'
