%section.opinion-list
  - unless local_assigns[:hide_writing_card]
    .vote__new
      %span 더 나은 논의를 위해 발언해 보세요
      - if user_signed_in?
        = link_to '#', class: 'btn btn-primary btn-ghost', data: { action: 'parti-show', 'show-target': '#opinion-form-widget', focus: ( !issue.is_all? ? 'input#opinion_title' : 'input#issue_title')} do
          .icon-box
            = image_tag 'icon_comment.png'
          %span #{Opinion.model_name.human}하기
      - else
        = link_to '#', class: 'btn btn-primary btn-ghost', data: { toggle: 'parti-login-overlay', label: Opinion.model_name.human } do
          .icon-box
            = image_tag 'icon_comment.png'
          %span #{Opinion.model_name.human}하기

  .row.masonry-container
    - opinions.each do |opinion|
      .card.col-sm-6.col-xs-12
        = render 'opinions/card', card: opinion
