- issue ||= @issue
- if user_signed_in? and issue.postable?(current_user)
  #opinion-form-widget.form-widget-container.bg-line
    = form_for Opinion.new, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#opinion-form-widget form input[type=submit]' } } do |f|
      = hidden_field_tag :back_url, @list_url || request.original_url

      .form-group
        = f.text_field :title, maxlength: 50, class: 'form-control input-lg', data: {'rule-required': true}, placeholder: '예시) 탕수육 소스는 부어 먹어야 합니다'

      .form-group.textarea-box
        = text_area_tag :comment_body, '', { class: 'form-control', placeholder: '왜냐하면 ...', data: {ride: 'parti-autoresize', 'rule-required': true} }

      %hr
      .form-group.clearfix
        .submit-box.text-right
          = f.hidden_field :issue_id, value: issue.id
          = f.submit '게시', class: 'btn btn-primary btn-ghost btn-border', data: { disable_with: "게시 중..." }

