- issue ||= nil
- if user_signed_in?
  #opinion-form-widget.form-widget-container.bg-line
    = form_for Opinion.new, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#opinion-form-widget form input[type=submit]' } } do |f|
      = hidden_field_tag :back_url, @list_url || request.original_url

      .form-group
        = f.text_field :title, maxlength: 50, class: 'form-control', data: {'rule-required': true}, placeholder: t('activerecord.models.opinion') + ' 내용을 적어주세요.'
        %p.help-block
          라는 #{t('activerecord.models.opinion')}에
          %span.text-primary 찬성
          합니다.

      %hr
      .form-group.textarea-box
        .thumb.img-circle.circle-50.border-2-primary{style: "background-image: url(#{current_user.image.sm.url});"}
        = text_area_tag :comment_body, '', { class: 'form-control', placeholder: '이 ' + t('activerecord.models.opinion') + '에 대해 왜 찬성하시나요? (선택사항)', data: {'rule-required': true} }

      %hr
      .form-group.clearfix
        .submit-box
          - if issue.present?
            = f.hidden_field :issue_id, value: issue.id
            %b= issue.title
          - else
            = f.select :issue_id, nil, {prompt: '빠띠를 선택해 주세요.'}, {style: 'width: 200px;', data: { 'rule-required': true, 'action': 'parti-select-parti'}} do
              = grouped_options_for_select(editable_issues_continents(current_user))
          %br.mobile
          = f.submit '빠띠에 게시', class: 'btn btn-primary btn-ghost btn-border', data: { disable_with: "게시 중..." }

