- if user_signed_in?
  #opinion-form-widget.form-widget-container.bg-line
    = form_for Opinion.new, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#opinion-form-widget form input[type=submit]' } } do |f|
      = hidden_field_tag :back_url, @list_url || request.original_url
      - if !issue.is_all?
        = f.hidden_field :issue_id, value: issue.id
      - else
        .form-group
          = f.collection_select :issue_id, Issue.featured_issues(current_user), :id, :title, {prompt: '빠띠를 선택해 주세요.'}, {class: 'form-control'}

      .form-group.form-group-lg
        = f.text_field :title, class: 'form-control input-lg', maxlength: 50, placeholder: '내용을 써주세요(최대 50자)'
        %p.help-block
          라는 발언에 나는
          %strong 찬성
          합니다.

      .form-group
        %p.help-block 왜냐하면
        = text_area_tag :comment_body, '', { class: 'form-control', placeholder: '이유를 적어주세요' }

      .form-group
        .pull-right
          = f.submit '게시', class: 'btn btn-primary btn-ghost btn-border'
        %a.btn.btn-default.btn-border{href: '#', data: {'switch-source': '#opinion-form-widget', 'switch-target': "#editors-tab", toggle: "parti-switch", type: "button", focus: 'input#opinion_title', 'disabled-typeahead-validation': 'true'}} 취소
