- post = opinion.acting_as
- issue = post.issue
- voted = user_signed_in? && opinion.voted_by?(current_user)
- modal_data = local_assigns[:in_modal] ? {} : { toggle: "parti-post-modal", target: '#post-modal', url: opinion_path(opinion) }
.opinion-card[post]{ class: "#{dom_id(opinion)} #{voted ? 'opinion-card--voted' : ''}", data: modal_data}
  .row.opinion-card__meta
    .col-sm-6.col-xs-12
      .opinion-card__issue
        = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue) do
          .thumb.thumb--issue{ style: "background-image: url(#{issue.logo.sm.url})" }
    .col-sm-6.col-xs-12
      .opinion-card__date.date-wrapper.opinion-card__date--with-issue
        %span= date_f opinion.created_at
  %h4.opinion-card__title
    “#{opinion.title}”

  = render 'votes/vote', local_assigns.merge(specific: opinion, partial: local_assigns[:partial])
