%section.text-center
  .container
    %h3.text-keepall
      %i.fa.fa-user
      내 프로필 관리

    .simple-box
      = form_with url: update_me_front_members_path, local: false do |f|
        .form-group
          %label
            그룹에서 맡은 역할이나 소속된 팀 이름을 넣어 주세요.
          = f.text_field :role, class: 'form-control', placeholder: '역할 혹은 소속', value: @member.role
        .form-group
          %label
            #{current_user.nickname}님을 소개해 주세요.
          = f.text_area :description, class: 'form-control', placeholder: '나는 ...', value: @member.description, rows: 4
        .form-group
          %label
            #{current_user.nickname}님이 가입할 때 작성한 신청 내용입니다.
          = f.text_area :statement, class: 'form-control', placeholder: '나는 ...', value: @member.statement, rows: 8
        .form-group
          = submit_tag '저장', class: 'btn btn-default btn-primary btn-block'
