.sidebar-nav{ style: "width: 200px; position: fixed" }
  .navbar.navbar-default(role="navigation")
    .navbar-header
      %button.navbar-toggle{ "data-target": ".sidebar-navbar-collapse", "data-toggle": "collapse", type: "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.visible-xs.navbar-brand 관리 메뉴
    .navbar-collapse.collapse.sidebar-navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '관리 홈', '#anchor-home'
        %li
          = link_to '#anchor-group-graph' do
            #{current_group.title}의 탄생부터 지금까지의 동향
        %li
          = link_to '최근 인기게시글', '#anchor-hottest-posts'
        %li
          = link_to '활발히 글을 쓴 사용자', '#anchor-active-post-users'
        %li
          = link_to '활발히 댓글을 단 사용자', '#anchor-active-comment-users'
        %li
          = link_to '활발히 공감한 사용자', '#anchor-active-upvote-users'
