= render 'application/group_home_sub_header', active: 'management'

%section
  .container
    .row
      .col-md-3
        %ul.nav.nav-stacked.affix(style="background-color: #fff")
          %li= link_to '관리 홈', '#'
      .col-md-9
        %h3
          #{current_group.title} 오거나이저 #{current_user.nickname} 님 환영합니다
        %br
        %h4.group-heading
          오거나이저를 위한 새소식
          %a{ href: "http://organizer.parti.xyz", target: "_blank" }
            오거나이저 커뮤니티 바로가기
        .post-card.summary
          - @posts_pinned.each do |post|
            .post-card__post
              .read-mark{ class: ('read-mark--read' if post.read_by?(current_user)) }
                &middot;
              .desc
                .issue-meta
                  %span.issue-and-group
                    %span.issue-title
                      = post.issue.title
                      = security_icon(post.issue)
                  - created_at = post.try(:created_at)
                  %span.date= created_at.nil? ? '지금' : date_f(created_at)
                - if !post.blinded?(current_user)
                  = link_to post do
                    = post.specific_desc_striped_tags(120)
                - else
                  .text-muted= t('labels.post_blind_info')
              - if !post.blinded?(current_user)
                .media-right
                  - if post.survey.present?
                    .label.label-default
                      설문
                  - elsif post.poll.present?
                    .label.label-default
                      찬반
