= render 'application/group_home_sub_header', active: 'management'

.page-gorup-managements.page-gorup-managements-sidebar
  %section#statistics-section
    .container
      .row
        .col-sm-3
          = render 'group/managements/sidebar', active: 'statistics'
        .col-sm-9
          %h3{ style: 'font-weight: 200' }
            %i.fa.fa-bar-chart
            그룹 통계 보기
          %br
          %h4.sub-title
            활발히
            %span
              글을 쓴
            사용자 Top 10
          %table.table
            %colgroup
              %col{width: "20%"}
              %col{width: "40%"}
              %col{width: "40%"}
            - @active_users_by_posts.each_with_index do |user_array, idx|
              %tr
                %td
                  = idx + 1
                %td
                  - active_user = User.find(user_array[0])
                  = link_to smart_user_gallery_path(active_user) do
                    .user-byline
                      .thumb.user-image.img-circle{style: "background-image: url(#{active_user.image.sm.url});"}
                      %span= active_user.nickname
                %td
                  #{user_array[1]} 건의 글
          %h4.sub-title
            활발히
            %span
              댓글을 단
            사용자
          %table.table
            %colgroup
              %col{width: "20%"}
              %col{width: "40%"}
              %col{width: "40%"}
            - @active_users_by_comments.each_with_index do |user_array, idx|
              %tr
                %td
                  = idx + 1
                %td
                  - active_user = User.find(user_array[0])
                  = link_to smart_user_gallery_path(active_user) do
                    .user-byline
                      .thumb.user-image.img-circle{style: "background-image: url(#{active_user.image.sm.url});"}
                      %span= active_user.nickname
                %td
                  #{user_array[1]} 건의 댓글

          %h4.sub-title
            활발히
            %span
              공감을 한
            사용자
          %table.table
            %colgroup
              %col{width: "20%"}
              %col{width: "40%"}
              %col{width: "40%"}
            - @active_users_by_upvotes.each_with_index do |user_array, idx|
              %tr
                %td
                  = idx + 1
                %td
                  - active_user = User.find(user_array[0])
                  = link_to smart_user_gallery_path(active_user) do
                    .user-byline
                      .thumb.user-image.img-circle{style: "background-image: url(#{active_user.image.sm.url});"}
                      %span= active_user.nickname
                %td
                  #{user_array[1]} 건의 공감

