.well
  = form_for @related do |f|
    = f.hidden_field :issue_id
    .form-group
      = f.label :target_title, Issue.model_name.human
      = text_field_tag :target_issue_url, nil, class: 'form-control', placeholder: 'ex) https://parti.xyz/p/basic-income', autocomplete: 'off'
      %p.help-block
        비슷하거나 참고할 만한 채널의 주소를 넣어 주세요.
    .form-group
      = f.submit '저장', class: 'btn btn-primary', data: { disable_with: "저장 중..." }
      = link_to @related.issue, class: 'btn btn-link' do
        취소
