- origin_issue = featured_issue.issue
- if origin_issue.present?
  %li
    .featured-issue.clearfix{class: dom_id(featured_issue)}
      = link_to issue_home_path(origin_issue) do
        .featured-issue__parti{style: "background-image: url(#{is_small_screen? ? featured_issue.mobile_image.url : featured_issue.image.url});"}
          .featured-issue__parti__label 이주의 빠띠
          .featured-issue__parti__title-wrapper
            .featured-issue__parti__title= simple_format featured_issue.title, {}, wrapper_tag: 'span'
          .featured-issue__parti__body-wrapper
            .featured-issue__parti__body= simple_format featured_issue.body, {}, wrapper_tag: 'span'
      .featured-issue__posts
        - active_tab = nil
        .featured-issue__posts__tabs
          %ul.nav.nav-pills(role="tablist" data-action="parti-home-slide")
            - if featured_issue.talk.present?
              %li.active(role="presentation")
                %a(data-toggle="tab" href="##{dom_id(featured_issue)}-talk" role="tab" data-slide-target=".featured-issue.#{dom_id(featured_issue)}") #{t('activerecord.models.talk')}
              - active_tab = :talk
            - if featured_issue.article.present?
              %li(role="presentation" class="#{'active' if active_tab.nil?}")
                %a(data-toggle="tab" href="##{dom_id(featured_issue)}-article" role="tab" data-slide-target=".featured-issue.#{dom_id(featured_issue)}") #{t('activerecord.models.article')}
            - active_tab = :article unless active_tab.present?
            - if featured_issue.opinion.present?
              %li(role="presentation" class="#{'active' if active_tab.nil?}")
                %a(data-toggle="tab" href="##{dom_id(featured_issue)}-opinion" role="tab" data-slide-target=".featured-issue.#{dom_id(featured_issue)}") #{t('activerecord.models.opinion')}
            - active_tab = :opinion unless active_tab.present?
        .featured-issue__posts__tab-content.tab-content
          - if featured_issue.talk.present?
            - talk = featured_issue.talk
            .tab-pane(id="#{dom_id(featured_issue)}-talk" role="tabpanel" class="#{'active' if active_tab == :talk}")
              = link_to talk do
                .talk__title-wrapper
                  .talk__title= simple_format featured_issue.talk_title, {}, wrapper_tag: 'span'
                .talk__user
                  .fa.fa-user
                  = talk.user.nickname
          - if featured_issue.article.present?
            - article = featured_issue.article
            .tab-pane(id="#{dom_id(featured_issue)}-article" role="tabpanel" class="#{'active' if active_tab == :article}")
              = link_to article do
                .article__title-wrapper
                  .article__title= simple_format featured_issue.article_title, {}, wrapper_tag: 'span'
                .article__comments-count
                  %i.icon-comment
                  = article.comments.count
          - if featured_issue.opinion.present?
            - opinion = featured_issue.opinion
            .tab-pane(id="#{dom_id(featured_issue)}-opinion" role="tabpanel" class="#{'active' if active_tab == :opinion}")
              = link_to opinion do
                .opinion__title-wrapper
                  .opinion__title= simple_format featured_issue.opinion_title, {}, wrapper_tag: 'span'
                .opinion__user
                  .fa.fa-user
                  = opinion.user.nickname
