.bs-component
  %section#sign-up
    %h3.sign-up__title 프로필
    .sign-up__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group.text-center
          - if f.object.read_attribute(:image).present?
            = image_tag f.object.image_url, class: 'img-circle circle-140'
        .form-group
          = f.label :nickname
          = f.text_field :nickname, class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              확인을 기다리고 있습니다.: #{resource.unconfirmed_email}
        .form-group
          = f.label :image
          = f.file_field :image, autofocus: true, class: 'form-control'
          = f.hidden_field :image_cache
          - if f.object.read_attribute(:image).present?
            %label{ style: 'font-weight: normal; margin-top: 6px' }
              = f.check_box :remove_image
              삭제하기
        .form-group
          = f.label :enable_mailing
          .checkbox
            %label
              = f.check_box :enable_mailing_mention
              나를 언급한 게시글이나 댓글을 이메일로 받습니다.
          .checkbox
            %label
              = f.check_box :enable_mailing_pin
              공지사항을 이메일로 받습니다.
          .checkbox
            %label
              = f.check_box :enable_mailing_poll_or_survey
              설문이나 투표의 진행 사항을 이메일로 받습니다.
          .checkbox
            %label
              = f.check_box :enable_mailing_summary
              구독하는 빠띠의 소식을
              이메일로 받습니다.

        %hr
        - if resource.provider == 'email'
          .form-group
            = f.label :password
            %small.help-block 변경하지 않으시려면 비워두세요
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :current_password
            %small.help-block 보안을 위해 현재 비밀번호를 입력해 주세요
            = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          %hr
        = f.submit '저장', class: 'btn btn-primary btn-block', data: { disable_with: "저장 중..." }

    .user-cancel
      %label
        회원탈퇴
      %br
      탈퇴를 원하시면
      = link_to 'help@parti.xyz', 'mailto:help@parti.xyz'
      로 회원의 이메일과 닉네임을 적어 보내주시기 바랍니다.

