.bs-component
  %section#sign-up
    %h3.sign-up__title 프로필
    .sign-up__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group.text-center
          - if f.object.image.file.present?
            = image_tag f.object.image_url, class: 'img-circle circle-140'
        .form-group
          = f.label :nickname
          = f.text_field :nickname, class: 'form-control'
        .form-group
          = f.label :email
          - if resource.provider == 'email'
            = f.email_field :email, autofocus: true, class: 'form-control'
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                확인을 기다리고 있습니다.: #{resource.unconfirmed_email}
          - else
            %div= f.object.email
        .form-group
          = f.label :image
          = f.file_field :image, autofocus: true, class: 'form-control'
          = f.hidden_field :image_cache
        %hr
        - if resource.provider == 'email'
          .form-group
            = f.label :password
            %small.help-block - 변경하지 않으시려면 비워두세요
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          %hr
          .form-group
            = f.label :current_password
            %small.help-block - 보안을 위해 현재 비밀번호를 입력해 주세요
            = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          %hr
        = f.submit '저장', class: 'btn btn-primary btn-block'