- if current_issue&.body&.present?
  .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "channel-intro-box-#{current_issue.id}" } } }
    .header{ data: { action: 'click->content-collapse#toggle' } }
      .title
        소개
      .toggler
        %i.fa.-hide{ data: { target: 'content-collapse.content' } }
    .body{ data: { target: 'content-collapse.content' } }
      = simple_format h(current_issue.body)
- if pinned_posts&.any?
  .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "pinned-posts-box-#{current_issue.id}" } } }
    .header{ data: { action: 'click->content-collapse#toggle' } }
      .title
        고정 게시글
      .count
        = pinned_posts&.size
      .toggler
        %i.fa.-hide{ data: { target: 'content-collapse.content' } }
    %ul.lines.-hide{ data: { 'controller': 'collection-activation', target: 'content-collapse.content' } }
      - pinned_posts&.each do |post|
        %li.pinned-post-line{ class: [('-active' if post == local_assigns[:current_post]), ('-unread' if post.need_to_read?(current_user))], data: { action: 'click->collection-activation#toggle', target: 'collection-activation.item' } }
          .icon
            - if post.poll.present?
              %i.fa.fa-fire.fa-fw
            - elsif post.survey.present?
              %i.fa.fa-list-ul.fa-fw
            - elsif post.wiki.present?
              %i.fa.fa-file-word-o.fa-fw
            - else
              %i.fa.fa-stack-exchange.fa-fw
          .body
            - unless post.blinded?(current_user)
              .title
                = link_to front_post_path(post), class: 'hover:text-primary' do
                  != post.title
            - else
              .title.-blind
                %i.fa.fa-info-circle
                = t('labels.post_blind_info')