- use_content_collapse = !is_small_screen?
- if local_assigns[:pinned_posts]&.any?
  - pinned_posts_force = (local_assigns[:default_force] || 'show')
  .supplementary-box{ data: { controller: ('content-toggle' if use_content_collapse), 'content-toggle': { id: "pinned-posts-box-#{current_issue.id}", force: pinned_posts_force } } }
    .header{ data: { action: 'click->content-toggle#toggle' } }
      .title
        고정 게시글
        &nbsp;
        %i.fa.fa-thumb-tack.text-muted
      .count
        = pinned_posts&.size
      .toggler
        %i.fa{ class: ('-hide' if use_content_collapse), data: { target: 'content-toggle.content' } }
    %ul.lines{ class: ('-hide' if use_content_collapse), data: { 'controller': 'collection-activation', target: 'content-toggle.content' } }
      - pinned_posts&.each do |post|
        %li.pinned-post-line{ class: [('-active' if post == local_assigns[:current_post])], data: { action: 'click->collection-activation#toggle', target: 'collection-activation.item' } }
          .body
            - unless post.blinded?(current_user)
              .title
                = link_to front_post_path(post), class: 'hover:text-primary' do
                  != post.title
            - else
              .title.-blind
                %i.fa.fa-info-circle
                = t('labels.post_blind_info')
            %span.unread{ class: ('-active' if post.need_to_read?(current_user)) }
            .footer
              %span.nickname #{post.user.nickname}
              = smart_date_tag(post.created_at)
