- content_for :playground_header_content do
  = render 'front/playground_header_content/channel_menu/simple', current_issue: @current_issue

= render 'front/pages/back', back_path: 'javascript:history.back()'

.channel-form-box
  %section
    %h5 채널삭제
    .card
      .card-body
        %p
          %strong.text-danger 채널을 삭제합니다. 이 작업은 되돌릴 수 없습니다.

        = form_with model: [:front, @current_issue], method: :delete, local: false, data: { controller: 'channel-destroy-form', action: 'ajax:before->channel-destroy-form#submit' } do
          .form-group
            = label_tag :message, '멤버에게 채널 삭제를 안내해 주세요'
            = text_area_tag :message, '', class: 'form-control', placeholder: 'ex) 이 채널은 이러한 이유로 삭제합니다.', data: { target: 'channel-destroy-form.message' }

          .form-group
            = label_tag :message do
              확인을 위해 이 채널의 이름
              %strong "#{@current_issue.title}"
              을 입력해 주세요.
            = text_field_tag :confirm, '', class: 'form-control', data: { target: 'channel-destroy-form.confirm', slug: @current_issue.title }

          .form-group
            = submit_tag '삭제', class: 'btn btn-primary btn-lg', data: { confirm: '이 작업은 되돌릴 수 없습니다. 삭제하시겠습니까?', disable_with: "저장 중...", target: 'channel-destroy-form.submitButton' }
