- content_for :playground_header_content do
  .channel-menu
    .title
      .node
        = link_to "# #{@current_issue.title}", front_channel_path(@current_issue), class: 'link'
        = meta_icons(@current_issue)

.channel-form
  %section
    %h5 채널삭제
    .card
      .card-body
        %p
          %strong.text-danger 채널을 삭제합니다. 이 작업은 되돌릴 수 없습니다.

        = form_with model: [:front, @current_issue], method: :delete, local: false, data: { controller: 'channel-destroy-form', action: 'ajax:before->channel-destroy-form#submit' } do
          .form-group
            = label_tag :message, '멤버에게 채널 삭제를 안내해 주세요'
            = text_area_tag :message, '', class: 'form-control', placeholder: 'ex) 이 채널은 이러한 이유로 삭제합니다.', data: { target: 'channel-destroy-form.message' }

          .form-group
            = label_tag :message, '삭제하는 이 채널의 주소를 한 번 더 넣어주세요'
            .input-group
              .input-group-prepend<>
                .input-group-text
                  https://
                  %span
                    - if current_group.present?
                      #{current_group.subdomain}.
                  parti.xyz/p/
              = text_field_tag :confirm, '', class: 'form-control', data: { target: 'channel-destroy-form.confirm', slug: @current_issue.slug }

          .form-group
            = submit_tag '삭제', class: 'btn btn-primary btn-lg', data: { confirm: '이 작업은 되돌릴 수 없습니다. 삭제하시겠습니까?', disable_with: "저장 중...", target: 'channel-destroy-form.submitButton' }
