- content_for :playground_header_content do
  = render 'front/playground_header_content/channel_menu/simple', current_issue: @current_issue

= render 'front/pages/back', back_path: front_channel_path(@current_issue)

.channel-form-box
  %section.mb-3{ data: { controller: 'content-collapse' } }
    %h5.d-flex.justify-content-between.align-items-center
      라벨 관리
      = link_to '추가', '#', class: 'btn btn-primary btn-sm', data: { action: 'click->content-collapse#toggle$' }

    %ul.list-group.collapse{ data: { target: 'content-collapse.content' } }
      %li.list-group-item.d-flex.justify-content-between.align-items-center.bg-light.pt-4
        = form_with model: [:front, Label.new], local: false, class: 'w-100' do |f|
          = f.hidden_field :issue_id, value: @current_issue.id
          .form-row.align-items-end
            .form-group.col-lg-auto.col-md-12
              = f.label :title
              = f.text_field :title, class: 'form-control', maxlength: 5
            .form-group.col-lg.col-md-12
              = f.label :body
              = f.text_field :body, class: 'form-control', maxlength: 50
            .form-group.col-lg-auto.col-md-12
              = f.submit '저장', class: 'btn btn-primary'
              = link_to '취소', '#', class: 'btn btn-link'

    %ul.list-group.mt-4
      - @current_issue.labels.each do |label|
        %li.list-group-item{ data: { controller: 'content-collapse' } }
          .d-flex.justify-content-between.align-items-center
            %span
              %span= label.title
              %br.d-block.d-lg-none
              %span.d-none.d-lg-inline.ml-4
              %span.small.body.text-muted= label.body
            %span.text-nowrap
              - if label.posts_count >0
                %span.body.text-muted.mr-4.d-none.d-lg-inline #{label.posts_count}개 게시글
              = link_to '수정', '#', class: 'btn btn-link', data: { action: 'click->content-collapse#toggle$' }
              = link_to '삭제', [:front, label], method: :delete, class: 'btn btn-link', data: { confirm: '정말 삭제하시겠습니까?' }
          .collapse{ data: { target: 'content-collapse.content' } }
            %hr
            = form_with model: [:front, label], local: false, class: 'w-100', class: 'pt-2' do |f|
              = f.hidden_field :issue_id, value: @current_issue.id
              .form-row.align-items-end
                .form-group.col-lg-auto.col-md-12
                  = f.label :title
                  = f.text_field :title, class: 'form-control w-10', maxlength: 5
                .form-group.col-lg.col-md-12
                  = f.label :body
                  = f.text_field :body, class: 'form-control', maxlength: 50
                .form-group.col-lg-auto.col-md-12
                  = f.submit '저장', class: 'btn btn-primary'
                  = link_to '취소', '#', class: 'btn btn-link'
