- dummy_form_name = "form-#{SecureRandom.uuid}"
%label
  폴더
  &nbsp;

- if @new_form
- else
  - if @current_folder.blank? || @current_folder.parent.blank?
    - options = capture do
      = options_from_collection_for_select(@current_issue.top_folders, 'id', 'title', @current_folder&.id)

    = select_tag dummy_form_name, raw(options), include_blank: ' 없음', class: 'form-control form-control-sm', data: { action: 'change->select-link-remote#go', 'select-link-remote-url-template': post_folder_field_front_channel_path(@current_issue, folder_id: "${value}", form_field_name: params[:form_field_name]) }

  - else
    - current_parent_folder = nil
    - @current_folder.ancestors_and_self.each do |folder|
      - if current_parent_folder.present?
        &nbsp;
        \/
        &nbsp;
      - options = capture do
        - if current_parent_folder.present?
          %option{ value: current_parent_folder.id } 하위 폴더...
        = options_from_collection_for_select(folder.siblings, 'id', 'title', folder.id)
      = select_tag dummy_form_name, raw(options), class: 'form-control form-control-sm', data: { action: 'change->select-link-remote#go', 'select-link-remote-url-template': post_folder_field_front_channel_path(@current_issue, folder_id: "${value}", form_field_name: params[:form_field_name]) }

      - current_parent_folder = folder

  - if @current_folder&.children&.any?
    &nbsp;
    \/
    &nbsp;
    - options = capture do
      %option{ value: @current_folder.id } 하위 폴더...
      = options_from_collection_for_select(@current_folder.children, 'id', 'title')
    = select_tag dummy_form_name, raw(options), class: 'form-control form-control-sm', data: { action: 'change->select-link-remote#go', 'select-link-remote-url-template': post_folder_field_front_channel_path(@current_issue, folder_id: "${value}", form_field_name: params[:form_field_name]) }

  = hidden_field_tag params[:form_field_name], @current_folder&.id