- content_for :playground_header_content do
  .channel-menu
    .title.form-inline{ data: { controller: 'select-link' } }
      - search_q = PostSearchableIndex.sanitize_search_key(params.dig(:front_search, :q))

      - if @current_folder.present? || search_q.present?
        = link_to "# #{@current_issue.title}", front_channel_path(@current_issue), class: 'link node'
      - else
        .link.node # #{@current_issue.title}
      - if @current_issue.folders.any?
        - if @current_folder.present?
          - @current_folder.ancestors.each do |folder|
            .node /
            = link_to folder.title, front_channel_path(@current_issue, folder_id: folder.id), class: 'link node'
          - if @current_folder.children.any?
            .node /
            .node= @current_folder.title
            .node /
            = select_tag :folder_id, options_from_collection_for_select(@current_folder.children, 'id', 'title'), include_blank: '폴더...', class: 'form-control form-control-sm node fix', data: { action: 'change->select-link#go', 'select-link-url-template': front_channel_path(@current_issue, folder_id: "${value}") }
          - else
            .node /
            = select_tag :folder_id, options_from_collection_for_select(@current_folder.siblings, 'id', 'title', @current_folder&.id), class: 'form-control form-control-sm node fix', data: { action: 'change->select-link#go', 'select-link-url-template': front_channel_path(@current_issue, folder_id: "${value}") }
        - else
          .node /
          = select_tag :folder_id, options_from_collection_for_select(@current_issue.top_folders, 'id', 'title'), include_blank: '폴더...', class: 'form-control form-control-sm node fix', data: { action: 'change->select-link#go', 'select-link-url-template': front_channel_path(@current_issue, folder_id: "${value}") }
      - if search_q.present?
        .node /
        %span.node
          %i.fa.fa-search
          = search_q

- if @posts.any?
  .channel-box
    .post-lines-box
      .post-lines-header
        .pages
          - if @posts.current_page.present?
            페이지 #{@posts.current_page} / #{@posts.total_pages}
        .edit
          = link_to new_front_post_path(issue_id: @current_issue&.id, folder_id: @current_folder&.id), class: 'btn btn-outline-primary btn-sm' do
            %i.fa.fa-pencil
            글쓰기
      = render 'front/posts/lines', posts: @posts, current_post: @current_post, current_channel: @current_issue
    .supplementary-boxes{ id: "front-app-channel-supplementary-#{@current_issue.id}", data: { controller: 'content-loader', 'content-loader-url': supplementary_front_channel_path(@current_issue, folder_id: @current_folder, post_id: @current_post), 'turbolinks-permanent': true } }

- else
  .alert.alert-info
    게시글이 없습니다. 가장 먼저 게시글을 올려보세요.