- content_for :playground_header_content do
  .playground-header{ class: ('-nosticky' if is_small_screen?) }
    .channel-menu
      .title{ class: ('-lg' if @current_issue.folders.any?), data: { controller: 'select-link' } }
        .node
          - if @current_issue.category.present?
            .category= @current_issue.category.name
          - if @current_folder.present? || @search_q.present?
            = link_to front_channel_path(@current_issue), class: 'link' do
              \#
              = @current_issue.title
          - else
            \#
            = @current_issue.title
          = meta_icons(@current_issue)
        - if @search_q.present?
          .node &nbsp;&gt;&nbsp;
          .node
            %i.fa.fa-search
            = @search_q

      - if @current_issue.folders.any?
        - threaded_folders = Folder.threaded(@current_issue.folders)
        .folders
          %select.channel-menu-folders{ data: { controller: 'select2-box', action: 'select2-box:select->select2-box#go', 'select2-box-url-template': front_channel_path(@current_issue, folder_id: "${value}", front_search: { q: @search_q }) } }
            %option 모든 폴더 게시글
            != options_for_threaded_folders(threaded_folders, @current_folder)

      .control
        - if @current_issue.postable?(current_user)
          = link_to new_front_post_path(issue_id: @current_issue&.id, folder_id: @current_folder&.id), class: 'btn btn-primary btn-sm', data: { controller: 'list-nav-kickoff', action: 'click->list-nav-kickoff#store' } do
            %i.fa.fa-pencil
            게시글 쓰기
          &nbsp;
          = link_to new_front_post_path(issue_id: @current_issue&.id, folder_id: @current_folder&.id, type: :wiki), class: 'btn btn-primary btn-sm', data: { controller: 'list-nav-kickoff', action: 'click->list-nav-kickoff#store' } do
            %i.fa.fa-file-word-o
            위키 쓰기

- content_for :playground_sidebar_content do
  .supplementary-boxes
    = render partial: 'front/channels/supplementary', locals: @supplementary_locals
    = render 'front/channels/supplementary/controls', current_folder: @currnt_folder, current_issue: @current_issue

- if @all_posts_total_count > 0
  .channel-box{ data: { controller: 'channel-read-emit list-nav-reset' } }
    - if @search_q.present?
      .alert-box.my-3
        .alert.alert-secondary.font-size-sm.d-flex.align-items-center.justify-content-between
          .flex-fill #{@search_q} 검색 결과입니다.
          = link_to url_for(@permited_params.except(:q)), class: 'btn btn-outline-secondary font-size-xs text-muted p-1' do
            검색 취소
    .pagination-header
      .pages
        = render 'front/share/pagination_header/post_page', posts: @posts, need_to_read_count: @need_to_read_count, permited_params: @permited_params, all_posts_total_count: @all_posts_total_count, read_all_path: read_all_posts_front_channel_path(@current_issue)

      - if current_group.labels.present?
        .control
          .dropdown{ data: { controller: 'phone-dropdown' } }
            .toggle.cursor-pointer{ "data-toggle": "dropdown" }
              = @label_q&.title.presence || '라벨 선택'
              %i.fa.fa-angle-down
            .dropdown-menu.usermenu.dropdown-menu-right
              - current_group.labels.each do |label|
                = link_to url_for(@permited_params.deep_merge(filter: { label_id: label.id })), class: 'dropdown-item' do
                  = label.title
                  %br.d-block.d-lg-none
                  %small.text-muted= label.body
              - if @label_q.present?
                = link_to url_for(@permited_params.deep_merge(filter: { label_id: nil })), class: 'dropdown-item' do
                  라벨 검색 취소

      .control
        .dropdown{ data: { controller: 'phone-dropdown' } }
          .toggle.cursor-pointer{ "data-toggle": "dropdown" }
            = @issue_reader.sort_text
            %i.fa.fa-angle-down
          .dropdown-menu.usermenu.dropdown-menu-right
            - IssueReader.sort.options.each do |text, value|
              = link_to text, url_for(@permited_params.deep_merge(sort: value)), class: 'dropdown-item'

    - if @posts.any?
      = render 'front/posts/lines', posts: @posts, current_post: @current_post, current_issue: @current_issue
    - else
      .alert-box.my-3
        .alert.alert-secondary.font-size-sm.d-flex.align-items-center.justify-content-between
          해당 게시글이 없습니다.
          = link_to url_for(), class: 'btn btn-outline-secondary font-size-xs text-muted p-1' do
            모든 게시글 #{number_to_human(@all_posts_total_count, precision: 1, delimiter: ',', significant: false)}개 보기
- else
  .alert-box.my-3
    .alert.alert-secondary.font-size-sm.d-flex.align-items-center
      게시글이 없습니다.
      - if @current_issue&.group&.member?(current_user)
        가장 먼저 게시글을 올려보세요.

- if @current_issue.main_wiki_post.present?
  %section
    .post-wiki.-channel-main
      = render 'front/wikis/card', current_wiki: @current_issue.main_wiki_post.wiki
