- post ||= poll.post
- poll ||= post.poll
.poll__vote-section[post]{class: post_votings_dom_class(post) }

  - if !user_signed_in?
    / 로그인 안함
    .vote__buttons
      = link_to '#', class: 'btn btn-default btn-ghost btn-success', data: { toggle: 'parti-login-overlay', label: '찬성', 'after-login': h({action: :poll_vote_agree, id: poll.id}.to_json) } do
        %i.fa.fa-thumbs-up
        찬성
      = link_to '#', class: 'btn btn-default btn-ghost btn-primary', data: { toggle: 'parti-login-overlay', label: '찬성', 'after-login': h({action: :poll_vote_agree, id: poll.id}.to_json) } do
        중립
      = link_to '#', class: 'btn btn-default btn-ghost btn-danger', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :poll_vote_disagree, id: poll.id}.to_json) } do
        %i.fa.fa-thumbs-down
        반대
      .vote__buttons--unsure
        = link_to '#', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :poll_vote_unsure, id: poll.id}.to_json) } do
          잘 모르겠습니다

  - elsif poll.sured_by? current_user
    / 로그인 & 투표완료
    .vote__results.clearfix
      .vote__results__agree
        - if poll.agreed_by?(current_user)
          - agree_btn_link = poll_votings_path(poll, voting: {choice: :unsure})
          - agree_btn_classes = { class: 'btn btn-primary btn-success-dark' }
          - agree_btn_options = { method: :post, remote: true, 'data-confirm': t('views.voting.cancel_agree') }.merge agree_btn_classes
        - else
          - agree_btn_link = poll_votings_path(poll, voting: {choice: :agree})
          - agree_btn_classes = { class: 'btn btn-default btn-ghost btn-success' }
          - agree_btn_options = { method: :post, remote: true }.merge agree_btn_classes

        = link_to agree_btn_link, agree_btn_options do
          %i.fa.fa-thumbs-up
          %span 찬성
          %p.count= poll.votings.with_choice(:agree).count
        .vote__results__voters.hidden
          - poll.votings.with_choice(:agree).partial_included_with(current_user).each do |voting|
            = link_to smart_user_gallery_path(voting.user), class: 'text-nowrap' do
              .thumb.img-circle.circle-30{style: "background-image: url(#{voting.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{voting.user.nickname}", :type => "button"}

      .vote__results__neutral
        - if poll.neutral_by?(current_user)
          - neutral_btn_link = poll_votings_path(poll, voting: {choice: :unsure})
          - neutral_btn_classes = { class: 'btn btn-primary btn-primary-dark' }
          - neutral_btn_options = { method: :post, remote: true, 'data-confirm': t('views.voting.cancel_neutral') }.merge neutral_btn_classes
        - else
          - neutral_btn_link = poll_votings_path(poll, voting: {choice: :neutral})
          - neutral_btn_classes = { class: 'btn btn-default btn-ghost btn-primary' }
          - neutral_btn_options = { method: :post, remote: true }.merge neutral_btn_classes

        = link_to neutral_btn_link, neutral_btn_options do
          %span 중립
          %p.count= poll.votings.with_choice(:neutral).count
        .vote__results__voters.hidden
          - poll.votings.with_choice(:neutral).partial_included_with(current_user).each do |voting|
            = link_to smart_user_gallery_path(voting.user), class: 'text-nowrap' do
              .thumb.img-circle.circle-30{style: "background-image: url(#{voting.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{voting.user.nickname}", :type => "button"}

      .vote__results__disagree
        - if poll.disagreed_by?(current_user)
          - disagree_btn_link = poll_votings_path(poll, voting: {choice: :unsure})
          - disagree_btn_classes = { class: 'btn btn-primary btn-danger-dark' }
          - disagree_btn_options = { method: :post, remote: true, 'data-confirm': t('views.voting.cancel_disagree') }.merge disagree_btn_classes
        - else
          - disagree_btn_link = poll_votings_path(poll, voting: {choice: :disagree})
          - disagree_btn_classes = { class: 'btn btn-default btn-ghost btn-danger' }
          - disagree_btn_options = { method: :post, remote: true }.merge disagree_btn_classes

        = link_to disagree_btn_link, disagree_btn_options do
          %i.fa.fa-thumbs-down
          %span 반대
          %p.count= poll.votings.with_choice(:disagree).count
        .vote__results__voters.hidden
          - poll.votings.with_choice(:disagree).partial_included_with(current_user).each do |voting|
            = link_to smart_user_gallery_path(voting.user), class: 'text-nowrap' do
              .thumb.img-circle.circle-30{style: "background-image: url(#{voting.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{voting.user.nickname}", :type => "button"}

  - else
    .vote__buttons
      / 로그인 & 투표 전
      = link_to poll_votings_path(poll, voting: {choice: :agree}), method: :post, remote: true, class: 'btn btn-default btn-ghost btn-success' do
        %i.fa.fa-thumbs-up
        찬성
      = link_to poll_votings_path(poll, voting: {choice: :neutral}), method: :post, remote: true, class: 'btn btn-default btn-ghost btn-primary' do
        중립
      = link_to poll_votings_path(poll, voting: {choice: :disagree}), method: :post, remote: true, class: 'btn btn-default btn-ghost btn-danger' do
        %i.fa.fa-thumbs-down
        반대
      .vote__buttons--unsure
        - if poll.unsured_by? current_user
          .vote__buttons--unsure--label
            - if local_assigns[:in_post]
              댓글로 의견을 나눠 보세요.
            - else
              %sapn.text-muted{ data: { data: "parti-link", url: smart_post_path_or_url(post) } }
                댓글로 의견을 나눠 보세요.
        - else
          = link_to poll_votings_path(poll, voting: {choice: :unsure}), method: :post, remote: true do
            잘 모르겠습니다

  .text-muted
    - if poll.votings.any?
      %p{ class: (poll.sured_by?(current_user) ? 'cursor-pointer' : 'cursor-default'), data: { action: ('parti-popover' if poll.sured_by?(current_user)), url: "##{dom_id(poll)}-voting-users", trigger: 'click', placement: 'auto-bottom', style: 'voting-result' } }
        현재
        %span
          %strong.text-primary<>
            #{poll.votings.sure.count}
          명이
        %span 찬반 투표했습니다.
      - if poll.sured_by?(current_user)
        .hidden
          %ul.voting-users.list-unstyled{id: "#{dom_id(poll)}-voting-users"}
            - if poll.votings.agreed.any?
              %li.agree.section
                .choice-title 찬성
                .upvoted-users
                  - poll.votings.recent.agreed.map(&:user).each do |user|
                    = link_to smart_user_gallery_path(user), target: '_blank' do
                      %span.user-info.text-nowrap
                        .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                        = user.nickname
            - if poll.votings.neutral.any?
              %li.neutral.section
                .choice-title 중립
                .upvoted-users
                  - poll.votings.recent.neutral.map(&:user).each do |user|
                    = link_to smart_user_gallery_path(user), target: '_blank' do
                      %span.user-info.text-nowrap
                        .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                        = user.nickname
            - if poll.votings.disagreed.any?
              %li.disagree.section
                .choice-title 반대
                .upvoted-users
                  - poll.votings.recent.disagreed.map(&:user).each do |user|
                    = link_to smart_user_gallery_path(user), target: '_blank' do
                      %span.user-info.text-nowrap
                        .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                        = user.nickname
    - if !user_signed_in? or !poll.sured_by?(current_user)
      %p
        찬반 투표하면 현재 결과를 볼 수 있습니다.
