.poll__vote-section[talk]{class: "#{dom_id(talk)}-vote" }

  - if !user_signed_in?
    / 로그인 안함
    .vote__buttons
      = link_to '#', class: 'btn btn-default btn-ghost btn-success', data: { toggle: 'parti-login-overlay', label: '찬성', 'after-login': h({action: :poll_vote_agree, id: poll.id}.to_json) } do
        %i.fa.fa-thumbs-up
        찬성
      = link_to '#', class: 'btn btn-default btn-ghost btn-danger', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :poll_vote_disagree, id: poll.id}.to_json) } do
        %i.fa.fa-thumbs-down
        반대
      .vote__buttons--unsure
        = link_to '#', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :poll_vote_unsure, id: poll.id}.to_json) } do
          잘 모르겠습니다

  - elsif poll.sured_by? current_user
    / 로그인 & 투표완료
    .vote__results.clearfix
      .vote__results__agree
        = link_to poll_votings_path(poll, voting: {choice: :agree}, partial: local_assigns[:partial]), method: :post, remote: true, class: 'btn ' + ( poll.agreed_by?(current_user) ? 'btn-primary btn-success-dark' : 'btn-default btn-ghost btn-success' ) do
          %i.fa.fa-thumbs-up
          %span 찬성
          %p.count= poll.votings.with_choice(:agree).count
        - if local_assigns[:in_modal]
          .vote__results__voters
            - poll.votings.with_choice(:agree).partial_included_with(current_user).each do |voting|
              = link_to user_gallery_path(voting.user), class: 'text-nowrap' do
                - unless local_assigns[:hide_image]
                  .thumb.img-circle.circle-30{style: "background-image: url(#{voting.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{voting.user.nickname}", :type => "button"}

      .vote__results__disagree
        = link_to poll_votings_path(poll, voting: {choice: :disagree}, partial: local_assigns[:partial]), method: :post, remote: true, class: 'btn ' + ( poll.disagreed_by?(current_user) ? 'btn-primary btn-danger-dark' : 'btn-default btn-ghost btn-danger' ) do
          %i.fa.fa-thumbs-down
          %span 반대
          %p.count= poll.votings.with_choice(:disagree).count
        - if local_assigns[:in_modal]
          .vote__results__voters
            - poll.votings.with_choice(:disagree).partial_included_with(current_user).each do |voting|
              = link_to user_gallery_path(voting.user), class: 'text-nowrap' do
                - unless local_assigns[:hide_image]
                  .thumb.img-circle.circle-30{style: "background-image: url(#{voting.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{voting.user.nickname}", :type => "button"}
  - else
    .vote__buttons
      / 로그인 & 투표 전
      = link_to poll_votings_path(poll, voting: {choice: :agree}, partial: local_assigns[:partial]), method: :post, remote: true, class: 'btn btn-default btn-ghost btn-success' do
        %i.fa.fa-thumbs-up
        찬성
      = link_to poll_votings_path(poll, voting: {choice: :disagree}, partial: local_assigns[:partial]), method: :post, remote: true, class: 'btn btn-default btn-ghost btn-danger' do
        %i.fa.fa-thumbs-down
        반대
      .vote__buttons--unsure
        - if poll.unsured_by? current_user
          .vote__buttons--unsure--label
            = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) }, class: 'text-muted' do
              댓글로 의견을 나눠 보세요.
        - else
          = link_to poll_votings_path(poll, voting: {choice: :unsure}, partial: local_assigns[:partial]), method: :post, remote: true do
            잘 모르겠습니다

  .text-muted
    - if poll.votings.any?
      %p
        현재
        %strong.text-primary
          #{poll.votings.sure.count}
        명이 찬반 투표했습니다.
    - if !user_signed_in? or !poll.sured_by?(current_user)
      %p
        찬반 투표하면 현재 결과를 볼 수 있습니다.
