- unless comment.issue.blind_user? comment.user
  - wrapper_id = "#{dom_id(comment)}-truncatable-body"
  %span.comment-truncatable-body{ id: wrapper_id }
    %span.truncated-body
      - more_button = capture do
        %button.btn-more.btn-link{ 'data-disable-modal': 'true', 'data-action': 'parti-show-more', 'data-more-wrapper': "##{wrapper_id}" } ... 더보기
      = truncate_html(comment_format(h(comment.body)), length: 400, omission: more_button)
    %span.original-body{ style: 'display: none;' }
      = comment_format(h(comment.body))
- else
  %span.comment-blind-info= t('labels.comment_blind_info')
