%li.post{class: dom_id(comment), data: { 'parti-comment-style': 'in-post' }}
  %span.post-inline__issue-label
    = link_to user_gallery_path(comment.user) do
      = image_tag comment.user.image.xs.url, class: 'circle-30 img-circle'
      %span.text-primary= comment.user.nickname
    - if comment.mentionable?(current_user) and local_assigns[:mention_form_contorl]
      %a.text-primary{ href: '#', data: { action: 'parti-mention', 'mention-nickname': comment.user.nickname, 'mention-form-control': mention_form_contorl } }
        = image_tag 'icon_mention.png'
  .date-wrapper.pull-right
    = image_tag 'icon_time.png'
    %span= date_f comment.created_at
  .post__body
    %p
      = smart_format(h(comment.body))
  .post__comment
    = render 'upvotes/upvote', comment: comment
  .post__btn.text-right
    - if can? :update, comment
      = link_to edit_comment_path(comment, style: :in_post), remote: true do
        %i.fa.fa-edit>
    - if can? :destroy, comment
      = link_to comment, method: :delete, remote: true, data: { confirm: '정말 삭제하시겠습니까?' } do
        %i.fa.fa-trash-o>


