- comment ||= local_assigns[:comment_with_post]
.comment-panel-with-post{class: dom_id(comment), data: { 'parti-comment-style': 'in-list' }}
  .comment-panel-with-post__header
    = link_to issue_home_path(comment.issue), class: 'issue-logo' do
      = image_tag comment.issue.logo.xs.url
      %span.title= comment.issue.title

    %span.date-wrapper= date_f comment.post.created_at

  .comment-panel-with-post__post
    - if local_assigns[:show_opinion]
      = render 'opinions/card', card: comment.post.specific, hide_created_at: true
    - else
      .comment__footer.text-muted
        = render customize_partial_path(comment.post.specific, ->(model) { "#{model.class.model_name.plural}/#{model.class.model_name.singular}_as_footnote" }), show_issue: local_assigns[:show_issue]

  .comment-panel-with-post__comments
    = render 'comments/comment_line', comment: comment