.comment-line{class: dom_id(comment)}
  .media
    .media-left
      = link_to smart_user_gallery_path(comment.user) do
        .thumb.user-image.img-circle{style: "background-image: url(#{comment.user.image.sm.url});"}
    .media-body
      .body{ class: ("body--#{comment.choice}" if comment.choice.present?) }
        = render 'comments/body', local_assigns
      .footer
        = render 'upvotes/upvote', upvotable: comment
        - if comment.mentionable?(current_user)
          - if local_assigns[:mention_form_control]
            %a.comment__mention.cursor-pointer{ href: '#', data: { action: 'parti-mention', 'mention-nickname': comment.user.nickname, 'mention-form-control': mention_form_control } }
              댓글달기
        .upvote-count
          = render 'upvotes/upvote_count', upvotable: comment

        %span.date-wrapper= date_f comment.created_at


        - if can? :update, comment
          = link_to edit_comment_path(comment), remote: true, class: 'link-edit' do
            수정
        - if can? :destroy, comment
          = link_to comment, method: :delete, remote: true, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'link-destroy' do
            삭제
