= form_for @comment, remote: true, data: { action: 'parti-cancel-form-on-blur', 'cancel-form-control': "#edit_#{dom_id(@comment)} button[name=cancel]"} do |f|
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
  = f.submit '저장', class: 'btn btn-primary'
  = f.button type: 'submit', name: 'cancel', value: true, remote: true, class: 'btn btn-default' do
    취소
