= form_for @comment do |f|
  - if @comment.linkable?
    .form-group
      = label_tag Article.human_attribute_name(:link)
      = text_field_tag :article_link, @comment.post.specific.link, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
  = f.submit '저장', class: 'btn btn-primary'
  = link_to @comment.post.specific, class: 'btn btn-default btn-xs' do
    취소
