%div{id: "#{dom_id(postable)}-comments" }
  %ul.comment-list.list-unstyled
    = render postable.comments.sequential, mention_form_contorl: '#new_comment #comment_body'
  - if user_signed_in?
    %a.anchor#comment-form
    .comment-form.clearfix
      = form_for [postable.acting_as, Comment.new], remote: true, class: 'comment-form' do |f|
        = hidden_field_tag :container, "##{dom_id(postable)}-comments ul.comment-list"
        = hidden_field_tag :count_label, "##{dom_id(postable)}-comments .comments--count"
        = hidden_field_tag :body_control, "##{dom_id(postable)}-comments form #comment_body"
        = image_tag current_user.image.xs.url, class: 'circle-50 img-circle comment-form__img'
        .comment-form__area
          = image_tag 'icon_tooltip_left2.png'
          = f.text_area :body, class: 'form-control'
        = f.submit '게시', class: 'btn btn-default btn-primary comment-form__btn'
