#js-group-home-component-list.group-home-component-list
  - if group.group_home_components.any?
    %ul.list-unstyled
      - group.group_home_components.sequenced.each do |group_home_component|
        - controls =  capture do
          = link_to [:edit, :group, group_home_component], remote: true, class: 'text-muted', 'data-disable-with': '...' do
            %i.fa.fa-edit
            .visible-xs-inline 수정
          = link_to [:group, group_home_component], method: :delete, remote: true, class: 'text-muted', 'data-disable-with': '...', 'data-confirm': '정말 삭제하시겠습니까?' do
            %i.fa.fa-trash
            .visible-xs-inline 삭제
          = link_to [:up_seq, :group, group_home_component], method: :patch, remote: true, class: 'text-muted', 'data-disable-with': '...' do
            %i.fa.fa-arrow-up
            .visible-xs-inline 위로
          = link_to [:down_seq, :group, group_home_component], method: :patch, remote: true, class: 'text-muted', 'data-disable-with': '...' do
            %i.fa.fa-arrow-down
            .visible-xs-inline 아래로
        - control_id = "js-control-#{SecureRandom.uuid}"
        %li.media{ class: "js-hover-toggle #{'active' if local_assigns[:active_id] == group_home_component.id}", 'data-hover-toggle': "##{control_id}" }
          .media-left
            .group-home-component-seq-no= group_home_component.seq_no
          .media-body
            %div
              %strong= group_home_component.title

              %span.collapse.hidden-xs{ id: control_id }
                = controls
            %div
              - if group_home_component.format_name.updated_issues?
                최근 업데이트된 채널 목록을 표시합니다.
              - if group_home_component.format_name.all_posts?
                이 그룹의 모든 게시물 목록을 표시합니다.
              - if group_home_component.format_name.issue_posts?
                "#{group_home_component.issue_posts_format.issue.title}"채널의 게시물 목록을 표시합니다.
            .visible-xs-block.hidden-sm
              %span
                = controls
  - else
    %p.help 관련 설정이 없습니다. 기본 구성으로 표시되고 있습니다.
  %hr
