.modal-content
  .modal-header.modal-header-no-border
    %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
      %span{"aria-hidden":"true"}
        &times;
    %h4.modal-title
      그룹홈 설정 추가
  .modal-body
    - tab_btn_container_dom_id = "tab-btn-container-#{SecureRandom.uuid}"
    .js-tab-btn-container{ id: tab_btn_container_dom_id }
      %p.help-text.text-left.text-basic-wrap 어떤 내용을 추가하시겠습니까? 포맷을 선택해 주세요.
      %hr
      .form-group.row
        .col-xs-7
          = link_to '#updated_issues', class: 'btn btn-default js-tab-btn btn-block', 'data-toggle': :tab do
            최근 업데이트된 채널
        .col-xs-5
          .text-basic-wrap 최근 업데이트된 채널 목록을 표시합니다.
      .form-group.row
        .col-xs-7
          = link_to '#all_posts', class: 'btn btn-default js-tab-btn btn-block', 'data-toggle': :tab do
            전체 게시글
        .col-xs-5
          .text-basic-wrap 해당 그룹의 모든 게시물 목록을 표시합니다.
      .form-group.row
        .col-xs-7
          = link_to '#issue_posts', class: 'btn btn-default btn-block js-tab-btn', 'data-toggle': :tab do
            채널 게시글
        .col-xs-5
          .text-basic-wrap 특정 채널의 게시물 목록을 표시합니다.

    .tab-content
      #updated_issues.tab-pane
        - updated_issues_form_id = "folder-form-#{SecureRandom.uuid}"
        = form_for [:group, GroupHomeComponent.new], remote: true, data: { action: 'parti-form-validation', 'submit-form-control':  "##{updated_issues_form_id} input[type=submit]" }, html: { id: updated_issues_form_id } do |f|
          = f.hidden_field :format_name, value: 'updated_issues'
          %p.help-text
            '최근 업데이트된 채널' 포맷을 설정해 주세요.
          %hr
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control', data: { 'rule-required': true }
          .form-group
            = f.submit '저장', class: 'btn btn-primary'
            = link_to '취소', '#', class: 'js-basic-toggle', 'data-inactive-target': '#updated_issues', 'data-show-target': "##{tab_btn_container_dom_id}"
      #all_posts.tab-pane
        - all_posts_form_id = "folder-form-#{SecureRandom.uuid}"
        = form_for [:group, GroupHomeComponent.new], remote: true, data: { action: 'parti-form-validation', 'submit-form-control':  "##{all_posts_form_id} input[type=submit]" }, html: { id: all_posts_form_id } do |f|
          = f.hidden_field :format_name, value: 'all_posts'
          %p.help-text '전체 게시글' 포맷을 설정해 주세요.
          %hr
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control', data: { 'rule-required': true }
          .form-group
            = f.submit '저장', class: 'btn btn-primary'
            = link_to '취소', '#', class: 'js-basic-toggle', 'data-inactive-target': '#all_posts', 'data-show-target': "##{tab_btn_container_dom_id}"
      #issue_posts.tab-pane.js-parti-editor-selector-wrapper
        - issue_posts_form_id = "folder-form-#{SecureRandom.uuid}"
        = form_for [:group, GroupHomeComponent.new], remote: true, data: { action: 'parti-form-validation', 'submit-form-control':  "##{issue_posts_form_id} input[type=submit]" }, html: { id: issue_posts_form_id, class: 'js-parti-editor-selector-form' } do |f|
          = f.hidden_field :format_name, value: 'issue_posts'
          %p.help-text '채널 게시글' 포맷을 설정해 주세요.
          %hr
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control', data: { 'rule-required': true }
          - f.object.build_issue_posts_format
          = f.fields_for :issue_posts_format do |ff|
            = ff.hidden_field :issue_id, data: { 'rule-required': true }, class: 'validate'
            .form-group
              = ff.label :issue_id, '채널'
              - issue_selector_dom_id = "issue-selector-#{SecureRandom.uuid}"
              = render 'group/group_home_components/issue_selector', dom_id: issue_selector_dom_id

          .form-group
            = f.submit '저장', class: 'btn btn-primary'
            = link_to '취소', '#', class: 'js-basic-toggle', 'data-inactive-target': '#issue_posts', 'data-show-target': "##{tab_btn_container_dom_id}"
