- paging = (!@posts.nil? and @posts.try(:current_page).present?)

%section.contents-page#posts
  .container
    .row
      = main_column_tag do
        - if @search_q.present?
          .contents-header.xs-horizontal-padding
            %h4.contents-header__title.vertical-shrinking
              %i.fa.fa-search
              #{@search_q}
              - if Group.comprehensive_joined_by(current_user).any?
                %span.dropdown{ style: 'margin-right: 12px;' }
                  %a.dropdown-toggle{ "href": "#", "data-toggle": "dropdown" }
                    - if @current_search_group.present?
                      \/
                      = group_basic_title(@current_search_group)
                    - else
                      \/
                      전체
                    %small
                      %i.fa.fa-chevron-down
                  %ul.dropdown-menu.dropdown-menu-dashboard-group
                    - if @current_search_group.present?
                      %li
                        = link_to search_url(subdomain: nil, nav_q: @search_q, group_slug: :all) do
                          전체
                      %li.divider
                    - Group.comprehensive_joined_by(current_user).each do |group|
                      %li{ class: ('selected' if @current_search_group == group) }
                        = link_to search_url(subdomain: nil, nav_q: @search_q, group_slug: group.slug)  do
                          = group_basic_title(group)
                          - if @current_search_group == group
                            %i.fa.fa-check

              %small.hidden-xs
                - if @current_search_group.present?
                  - if @current_search_group.indie?
                    #{group_only_basic_title(@current_search_group)} 빠띠에서 찾았습니다.
                  - else
                    #{group_only_basic_title(@current_search_group)}이 오거나이징하는 빠띠에서 찾았습니다.
                  - unless user_signed_in?
                    = link_to search_url(nav_q: params[:nav_q]), class: 'btn btn-xs btn-default' do
                      모든 빠띠에서 찾기
                      %i.fa.fa-arrow-right
                - else
                  모든 빠띠에서 찾았습니다.


          - if @issues.any?
            %h5.content-section-body.xs-horizontal-padding{ style: 'margin-top: 20px;' }
              빠띠
              %small.hidden-xs
                해당 키워드와 관련된 빠띠입니다
            .parties-all-list.clearfix.content-section-body.xs-horizontal-padding
              .row.slick-slider.slick-slider-catan{ data: { 'slick-slider-lg': 3, 'slick-slider-md': 3, 'slick-slider-xs': 2 } }
                - @issues.each do |issue|
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .issue-card-wrapper
                      = render 'issues/card', issue: issue

            - if @more_issues
              - if @current_search_group.blank?
                = link_to issues_url(subdomain: nil, keyword: @search_q), class: 'btn btn-default btn-block', style: 'margin-top: 20px' do
                  더 찾아보기
                  %i.fa.fa-arrow-right
              - elsif @current_search_group.indie?
                = link_to indies_issues_url(subdomain: nil, keyword: @search_q), class: 'btn btn-default btn-block', style: 'margin-top: 20px' do
                  더 찾아보기
                  %i.fa.fa-arrow-right

            %hr

          %h5.content-section-body.xs-horizontal-padding{ style: 'margin-top: 20px;' }
            게시글
            %small.hidden-xs
              해당 키워드와 관련된 게시글입니다

          .posts{data: {last_id: -1, is_last: 'false'}}
            #no-data.text-center.alert{ style: 'display: none;' }
              %i.fa.fa-info-circle
                해당 게시글이 없습니다.

            - if paging
              = render 'posts/page', posts: @posts, show_issue: true, show_day_section: true, first_today_text: ("게시물 #{number_with_delimiter @posts.total_count}개 중에 #{@posts.current_page}페이지를 표시합니다" unless @posts.first_page?)

          - if paging
            = paginate @posts, theme: 'catan'

          - else
            .page-waypoint.js-page-waypoint-onload.text-center{'data-target': '.posts', 'data-url': search_path(format: :js, nav_q: @search_q, group_slug: params[:group_slug])}
              .page-waypoint-loading.js-page-waypoint-loading
                %i.fa.fa-2x.fa-spinner.fa-pulse
        - else
          .content-section-body.xs-horizontal-padding
            %h2.text-center
              무엇에 관심 있으세요?


            - if params[:nav_q].present?
              .alert.alert-warning.text-center
                각 단어가 두 글자 이상은 되어야 검색됩니다. 검색할 키워드를 다시 입력하세요.
            - else
              %p.text-center
                사람들과 나누고 싶은 나만의 관심사가 있습니까?
                %span.text-nowrap 지금 찾아보세요.

            .posts.search-form{ style: 'margin-top: 60px' }
              = form_tag search_url(subdomain: nil), method: :get do
                - if current_group.present?
                  = hidden_field_tag :group_slug, current_group.slug
                .form-group
                  %input.form-control.form-control-q.form-control.input-lg{ name: "nav_q", value: params["nav_q"], placeholder: "찾아보기", type: "search" }
                .form-group.text-center
                  = button_tag class: 'btn btn-primary' do
                    %i.fa.fa-search
                    검색
      - unless is_small_screen?
        = render 'application/aside'
