%section.contents-page#posts
  .container
    .row
      = main_column_tag do
        - if @search_q.present?
          .contents-header.xs-horizontal-padding
            %h4.contents-header__title.vertical-shrinking
              %i.fa.fa-search
              #{@search_q}
              %small.hidden-xs
                - if @current_search_group.present?
                  #{group_only_basic_title(@current_search_group)} 에서 찾았습니다.
                - else
                  전체에서 찾았습니다.


          - if @groups.any?
            %h5.content-section-body.xs-horizontal-padding{ style: 'margin-top: 20px;' }
              그룹
              %small.hidden-xs
                해당 키워드와 관련된 그룹입니다
            .groups-all-list.clearfix.content-section-body.xs-horizontal-padding
              - @groups.each do |group|
                .group.group-card.margin-bottom-default.cursor-pointer.js-link{ 'data-link-url': smart_group_url(group) }
                  .group-heading{ style: 'border-width: 2px' }
                    = link_to smart_group_url(group) do
                      %span
                        = group_basic_title(group)
                    - if group.site_description.present?
                      .group-desc{ style: 'margin-top: 0.5em;' }
                        = group.site_description

          - if @issues.any?
            %h5.content-section-body.xs-horizontal-padding{ style: 'margin-top: 20px;' }
              채널
              %small.hidden-xs
                해당 키워드와 관련된 채널입니다
            .parties-all-list.clearfix.content-section-body.xs-horizontal-padding
              .row.slick-slider.slick-slider-catan{ data: { 'slick-slider-lg': 3, 'slick-slider-md': 3, 'slick-slider-xs': 2 } }
                - @issues.each do |issue|
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .issue-card-wrapper
                      = render 'issues/card', issue: issue

            - if @more_issues
              - more_url = if @current_search_group.present?
                - if @current_search_group.open_square?
                  - root_url(subdomain: @current_search_group.subdomain, keyword: @search_q)
                - else
                  - issues_url(subdomain: @current_search_group.subdomain, keyword: @search_q)
              - else
                - issues_url(subdomain: nil, keyword: @search_q)
              = link_to more_url, class: 'btn btn-default btn-block', style: 'margin-top: 20px' do
                더 찾아보기
                %i.fa.fa-arrow-right

            %hr

          %h5.content-section-body.xs-horizontal-padding{ style: 'margin-top: 20px;' }
            게시글
            %small.hidden-xs
              해당 키워드와 관련된 게시글입니다

          .posts{data: {'previous-post-last-stroked-at-timestamp': '', is_last: 'false'}}
            #no-data.text-center.alert{ style: 'display: none;' }
              %i.fa.fa-info-circle
              해당 게시글이 없습니다.

          .page-waypoint.js-page-waypoint.text-center{'data-target': '.posts', 'data-list-url': search_url(format: :js, nav_q: @search_q, group_id: params[:group_id], issue_id: params[:issue_id], search_type: params[:search_type])}
            .page-waypoint-loading.js-page-waypoint-loading
              %i.fa.fa-2x.fa-spinner.fa-pulse
        - else
          .content-section-body.xs-horizontal-padding
            %h2.text-center
              무엇에 관심 있으세요?

            - if params[:nav_q].present?
              .alert.alert-warning.text-center
                각 단어가 두 글자 이상은 되어야 검색됩니다. 검색할 키워드를 다시 입력하세요.
            - else
              %p.text-center
                사람들과 나누고 싶은 나만의 관심사가 있습니까?
                %span.text-nowrap 지금 찾아보세요.

            .posts.search-form{ style: 'margin-top: 60px' }
              = form_tag search_url(subdomain: nil), method: :get do
                = hidden_field_tag :group_id, params[:group_id] || current_group&.id
                = hidden_field_tag :issue_id, params[:issue_id]
                .form-group
                  %input.form-control.form-control-q.form-control.input-lg{ name: "nav_q", value: params["nav_q"], placeholder: "찾아보기", type: "search" }
                .form-group.text-center
                  - is_active = false
                  - if params[:issue_id].present?
                    = button_tag class: "btn btn-block #{'btn-primary' unless is_active}", name: :search_type, value: :issue do
                      %i.fa.fa-search
                      현재 채널에서 검색
                    - is_active = true
                  - if params[:group_id].present?
                    = button_tag class: "btn btn-block #{'btn-primary' unless is_active}", name: :search_type, value: :group do
                      현재 그룹에서 검색
                    - is_active = true
                  = button_tag class: "btn btn-block #{'btn-primary' unless is_active}", name: :search_type, value: :all do
                    모든 빠띠에서 검색
      = render 'application/aside'