- issue ||= @issue
= aside_column_tag(local_assigns[:additional_classes]) do
  .aside_issue#aside
    %section
      %h5.aside-title 오거나이저
      %ul.list-unstyled.parti-organizers
        - issue.fallbackable_organizer_member_users.each do |user|
          %li= byline user

    %section.aside-users
      - prevew_count = 16 * 2 - 1
      %h5.aside-title
        = link_to smart_issue_members_path(issue) do
          가입멤버
          %span
            %span.text-primary<> #{issue.members.count}명
        - if issue.member_users.count > prevew_count
          = link_to smart_issue_members_path(issue), class: 'more' do
            더 보기
            %i.fa.fa-angle-double-right
      - issue.member_users.recent.limit(prevew_count).each do |user|
        = byline user, hide_nickname: true
      - if issue.member_users.count > prevew_count
        = link_to smart_issue_members_path(issue), class: 'more' do
          %i.fa.fa-ellipsis-h

    - if issue.related_issues.present? or can? :update, issue
      %section.aside-relate-issues
        %h5.aside-title
          관련 채널
          - if can? :update, issue
            = link_to new_related_path(issue_id: issue), class: 'add-link' do
              추가
              %i.fa.fa-plus
        %ul.list-unstyled.aside-issues
          - issue.relateds.each do |related|
            - related_target_issue = related.target
            - next if related_target_issue.private_blocked?(current_user)
            - remove_button = capture do
              - if can? :update, issue
                = link_to related, method: :delete do
                  %i.fa.fa-trash-o
            = render customize_partial_path(related_target_issue, 'issue_line'), issue: related_target_issue, after_block: remove_button

