.col-xs-3
  .aside_issue#aside
    %section
      %h5.aside-title 빠띠 메이커
      %ul.list-unstyled
        - @issue.makers.each do |maker|
          %li= byline maker.user

    %section.aside-users
      = link_to issue_users_path(@issue) do
        %h5.aside-title
          구독회원
          %span
            %span.text-primary<> #{@issue.watches.count}
            명
      - prevew_count = 6 * 4 - 2
      - @issue.watched_users.recent.limit(prevew_count).each do |user|
        = byline user, hide_nickname: true
      - if @issue.watched_users.count > prevew_count
        = link_to issue_users_path(@issue), class: 'more' do
          더보기
          %i.fa.fa-angle-double-right

    - if @issue.related_issues.present? or can? :update, @issue
      %section
        %h5.aside-title
          관련빠띠
          %small
            - if can? :update, @issue
              = link_to '추가', new_related_path(issue_id: @issue), class: 'btn btn-default btn-xs btn-ghost'
        %ul.list-unstyled.aside-issues
          - @issue.relateds.each do |related|
            - related_target_issue = related.target
            - remove_button = capture do
              - if can? :update, @issue
                = link_to related, method: :delete do
                  %i.fa.fa-trash-o
            = render customize_partial_path(related_target_issue, 'issue_line'), after_block: remove_button

    = render 'application/footer'
