- issue ||= local_assigns[:card]
.issue-card
  = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue) do
    .issue-card__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
      - if issue.on_group? and current_group != issue.group
        .issue-card__group
          = issue.group.name
    .issue-card__content
      .issue-card__title
        .issue-card__title__text-wrapper
          .issue-card__title__text{"data-action": "parti-ellipsis", title: issue.title, style: ("word-break: keep-all;" if issue.title[0..5].match(/\s/))}= issue.title
      .issue-card__body.hidden-xs{"data-action": "parti-ellipsis", title: issue.body}= excerpt(issue.body, length: 60)
      .issue-card__meta
        %span.users-count
          %i.fa.fa-user
          = issue.watches.count
        %span.posts-count
          %i.fa.fa-file-text
          = issue.posts.count
          - if issue.posts.latest.count > 0
            %small +#{issue.posts.latest.count}
        %span.comments-count
          %i.fa.fa-comment
          = issue.comments.count
          - if issue.comments.latest.count > 0
            %small +#{issue.comments.latest.count}

