- issue ||= local_assigns[:card]
- if issue.member?(current_user)
  - action_link = cancel_issue_members_path(issue, partial: :intro)
  - action_method = :delete
- else
  - action_link = smart_members_or_member_requests_parti_path(issue, partial: :intro)
  - action_method = :post
.issue-card.issue-card--intro{class: "#{dom_id(issue)}-card #{'issue-card--member' if issue.member?(current_user)}"}
  = link_to action_link, method: action_method, remote: true, data: { disable_with: '<div class="issue-card__thumb loading"><p>처리 중...</p></div><div class="issue-card__content"></div>' } do
    .issue-card__thumb.img-circle{ style: "background-image: url(#{issue.logo.sm.url});" }
      - unless issue.displayable_group?(current_group)
        .issue-card__group
          = issue.group.head_title
      .issue-card__thumb__btn
    .issue-card__content
      .issue-card__title
        .issue-card__title__text-wrapper
          .issue-card__title__text{"data-action": "parti-ellipsis", style: ("word-break: keep-all;" if issue.title[0..5].match(/\s/))}
            = issue.title
            = meta_icons(issue)
      .issue-card__body.hidden-xs{"data-action": "parti-ellipsis"}= excerpt(issue.body, length: 60)
      .issue-card__meta
        %span.user-count
          %i.fa.fa-user
          %b= issue.members.count
        %span.posts-count
          %i.fa.fa-file-text
          %b= issue.posts_count
        %span.comment-count
          %i.fa.fa-comment
          %b= issue.comments_count

