- issue ||= local_assigns[:card]
.issue-card
  = link_to issue_home_path(issue) do
    .issue-card__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
      - if issue.in_group? and current_group != issue.group
        .issue-card__group
          = issue.group.name
    .issue-card__content
      .issue-card__title
        .issue-card__title__text-wrapper
          .issue-card__title__text{"data-action": "parti-ellipsis", title: issue.title, style: ("word-break: keep-all;" if issue.title[0..5].match(/\s/))}= issue.title
      .issue-card__body.hidden-xs{"data-action": "parti-ellipsis", title: issue.body}= excerpt(issue.body, length: 60)
      .issue-card__meta
        %span.user-count
          %i.fa.fa-user
          %b= issue.watches.count
        %span.comment-count
          %i.fa.fa-comment
          %b= issue.comments.count

