- issue ||= @issue
.issue-card.col-xs-3
  = link_to issue_home_path(issue) do
    .issue-card-img{ style: "background-image: url(#{issue.logo.sm.url});" }
      %img
    %span.issue-card__title= issue.title
    .issue-card__meta
      %span.user-count
        %i.icon-user
        %b= issue.watches.count
      %span.comment-count
        %i.icon-comment
        %b= issue.comments.count
