- issue ||= local_assigns[:card]
%li.issue-card
  = link_to issue_home_path(issue) do
    .issue-card__thumb.img-circle{ style: "background-image: url(#{issue.logo.sm.url});" }
    %span.issue-card__title= issue.title
    .issue-card__meta
      %span.user-count
        = image_tag 'icon_user.png'
        %b= issue.watches.count
      %span.comment-count
        = image_tag 'icon_comment.png'
        %b= issue.comments.count
  - unless local_assigns[:hide_watch_button]
    .issue-card__btn
      = render 'watches/watch', issue: issue

