.well
  - if @issue.errors.any?
    .alert.alert-danger{:role => "alert"}
      - @issue.errors.full_messages.each do |msg|
        %div
          %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
          %span.sr-only 오류 :
          = msg


  = form_for @issue do |f|
    .form-group{class: error_class_str(@issue, :title)}
      = f.label :title
      = f.text_field :title, class: 'form-control input-lg'
      %p.help-block
        (예) "기본소득", "더 나은 민주주의", "IT기술을 이용한 사회 혁신" 등으로 빠띠를 만드세요

    .form-group{class: ('has-error' if has_error_attr?(@issue, :slug))}
      = f.label :slug
      .input-group
        .input-group-addon
          #{request.base_url}/p/
        = f.text_field :slug, class: 'form-control input-lg'
      %p.help-block 영문자와 숫자, -만 넣어주세요. 이미 등록된 주소는 사용할 수 없습니다.

    .form-group{class: error_class_str(@issue, :body)}
      = f.label :body
      = f.text_field :body, class: 'form-control'

    .form-group{class: ('has-error' if has_error_attr?(@issue, :logo))}
      = f.label :logo
      = f.file_field :logo, class: 'form-control'
      %p.help-block
        - if upload_file_exists?(@issue.logo)
          = image_tag @issue.logo.url, class: 'img-thumbnail', style: 'max-height: 100px'
          = link_to '삭제', remove_logo_issue_path(@issue), method: :delete, class: 'btn btn-default btn-sm btn-delete-image'
    .form-group{class: ('has-error' if has_error_attr?(@issue, :cover))}
      = f.label :cover
      = f.file_field :cover, class: 'form-control'
      %p.help-block
        - if upload_file_exists?(@issue.cover)
          = image_tag @issue.cover.url, class: 'img-thumbnail', style: 'max-height: 100px'
          = link_to '삭제', remove_cover_issue_path(@issue), method: :delete, class: 'btn btn-default btn-sm btn-delete-image'
    - if current_user.admin?
      %hr
      %h3 운영

      .form-group
        = f.label :basic
        .checkbox
          %label
            = f.check_box :basic
            회원들이 수다를 작성할 때, 참여 여부와 관계없이 추천됩니다.

      .form-group{class: ('has-error' if has_error_attr?(@issue, :makers))}
        = f.label :makers
        = f.text_field :makers_nickname, value: @issue.makers.merge_nickname, class: 'form-control'
        %p.help-block 빠띠메이커의 아이디를 쉼표로 구분해서 넣어주세요. 만일 위에 칸을비워 놓으면 빠띠메이커 목록이 수정되지 않고 현재 그대로 보존됩니다.

    .form-group
      = f.submit '저장', class: 'btn btn-primary btn-lg'
      = link_to (@issue.new_record? ? root_path : @issue), class: 'btn btn-default' do
        취소
