.well
  - if @issue.errors.any?
    .alert.alert-danger{:role => "alert"}
      - @issue.errors.full_messages.each do |msg|
        %div
          %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
          %span.sr-only 오류 :
          = msg


  = form_for @issue do |f|
    .form-group{class: error_class_str(@issue, :title)}
      = f.label :title
      = f.text_field :title, class: 'form-control input-lg'
      %p.help-block
        (예) '기본소득 받고 싶당'처럼 정당의 느낌이 나면서, 빠띠를 통해 ‘무엇을 이루려는지’가 잘 드러나는 이름으로 빠띠 이름을 지어보세요.

    .form-group{class: ('has-error' if has_error_attr?(@issue, :slug))}
      = f.label :slug
      .input-group
        .input-group-addon
          #{request.base_url}/p/
        = f.text_field :slug, class: 'form-control input-lg'
      %p.help-block 영문자와 숫자, -만 넣어주세요. 이미 등록된 주소는 사용할 수 없습니다.

    .form-group{class: error_class_str(@issue, :body)}
      = f.label :body
      = f.text_field :body, class: 'form-control'

    .form-group{class: ('has-error' if has_error_attr?(@issue, :logo))}
      = f.label :logo
      = f.file_field :logo, class: 'form-control'
      %p.help-block
        - if upload_file_exists?(@issue.logo) and @issue.persisted?
          = image_tag @issue.logo.url, class: 'img-thumbnail', style: 'max-height: 100px'
          = link_to '삭제', remove_logo_issue_path(@issue), method: :delete, class: 'btn btn-default btn-sm btn-delete-image'
        권장 이미지사이즈는 가로(800px) * 세로(800px) 입니다.

    .form-group{class: error_class_str(@issue, :tag_list)}
      = f.label :tag_list
      = f.text_field :tag_list, value: @issue.tag_list.to_s, class: 'form-control'
      %p.help-block 쉼표로 구분해서 넣어 주세요.

    - if @issue.persisted?
      .form-group{class: ('has-error' if has_error_attr?(@issue, :telegram_link))}
        = f.label :telegram_link
        = f.text_field :telegram_link, class: 'form-control', placeholder: '이 빠띠의 회원들과 이야기할 수 있는 텔레그램 슈퍼그룹 링크를 넣어 주세요.'
        %p.help-block
          = link_to '텔레그램 슈퍼그룹이란?', 'https://github.com/parti-xyz/catan-web/wiki/%EB%B9%A0%EB%9D%A0-%ED%99%9C%EC%9A%A9-%EA%B0%80%EC%9D%B4%EB%93%9C#%EA%B0%81-%EB%B9%A0%EB%9D%A0%EB%B3%84%EB%A1%9C-%EB%8B%A8%EC%B2%B4%EB%8C%80%ED%99%94%EB%B0%A9%ED%85%94%EB%A0%88%EA%B7%B8%EB%9E%A8%EC%9D%84-%EB%A7%8C%EB%93%A4-%EC%88%98-%EC%9E%88%EC%8A%B5%EB%8B%88%EB%8B%A4', target: '_blank'
    - if current_user.admin?
      %hr
      %h3 운영

      .form-group
        = f.label :basic
        .checkbox
          %label
            = f.check_box :basic
            회원들이 수다를 작성할 때, 구독 여부와 관계없이 추천됩니다.

      .form-group{class: ('has-error' if has_error_attr?(@issue, :makers))}
        = f.label :makers
        = f.text_field :makers_nickname, value: @issue.makers.merge_nickname, class: 'form-control'
        %p.help-block 빠띠메이커의 아이디를 쉼표로 구분해서 넣어주세요. 만일 위에 칸을비워 놓으면 빠띠메이커 목록이 수정되지 않고 현재 그대로 보존됩니다.

    .form-group
      = f.submit '저장', class: 'btn btn-primary btn-lg'
      = link_to (@issue.new_record? ? root_path : @issue), class: 'btn btn-default' do
        취소
