- issue ||= @issue
- active_tab ||= nil
%section.parti-header-section{ style: "background-image: url(#{issue.cover.md.url});" }
  .container
    .clearfix
      .parti-logo
        = link_to issue_home_path(issue) do
          .thumb{style: "background-image: url(#{issue.logo.md.url})"}
      %h2.parti-title
        = link_to issue.group.title, group_home_path(issue.group)
        >
        = issue.title

        - if can? :update, issue
          = link_to '수정', [:edit, issue], class: 'btn btn-primary'
        - if can? :destroy, issue
          = link_to '삭제', issue, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-primary'

      %p.parti-body
        = issue.body

  .parti-info
    .container
      .row
        .col-sm-5.col-sm-offset-7
          - data = {action: 'parti-share', 'share-url': issue_home_url(issue), 'share-text': "#{issue.title} | 빠띠" }
          - map = { facebook: data }
          - map.update twitter: data, 'kakao-link': data, 'kakao-story': data
          = render 'application/share', map: map

  .parti-menu
    - counts_container = issue.counts_container
    .container
      .row

        - count_label = capture_haml(counts_container) do
          %span.count-label-wrapper
            %span.count-label<>
              = counts_container.articles_count
              - if counts_container.latest_articles_count > 0
                %small.text-primary<>
                  +#{counts_container.latest_articles_count}
        .col-xs-4.col-sm-2.col-sm-offset-3{class: ('active' if active_tab == :articles)}
          = link_to issue_articles_path(issue) do
            %h4
              %span.visible-xs-inline<>= count_label
              %br.visible-xs-inline<>
              = Article.model_name.human
              %span.hidden-xs= count_label

        - count_label = capture_haml(counts_container) do
          %span.count-label-wrapper
            %span.count-label<>
              = counts_container.talks_count
              - if counts_container.latest_talks_count > 0
                %small.text-primary<>
                  +#{counts_container.latest_talks_count}
        .col-xs-4.col-sm-2{class: ('active' if active_tab == :talks)}
          = link_to issue_talks_path(issue) do
            %h4
              %span.visible-xs-inline<>= count_label
              %br.visible-xs-inline<>
              = Talk.model_name.human
              %span.hidden-xs= count_label

        - count_label = capture_haml(counts_container) do
          %span.count-label-wrapper
            %span.count-label<>
              = counts_container.opinions_count
              - if counts_container.latest_opinions_count > 0
                %small.text-primary<>
                  +#{counts_container.latest_opinions_count}
        .col-xs-4.col-sm-2{class: ('active' if active_tab == :opinions)}
          = link_to issue_opinions_path(issue) do
            %h4
              %span.visible-xs-inline<>= count_label
              %br.visible-xs-inline<>
              = Opinion.model_name.human
              %span.hidden-xs= count_label
