- issue ||= local_assigns[:issue_line]
%li.issue-line
  .media
    = link_to issue_home_path(issue) do
      .media-left.issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
    .media-body
      = link_to issue_home_path(issue) do
        %span.issue-line__title
          - if issue.in_group? and current_group != issue.group
            = issue.group.name
            %i.fa.fa-angle-right
          = issue.title
        %span.issue-line__meta
          - if issue.watches.latest.count > 0
            %span.user-count
              %i.fa.fa-user
              %b= issue.watches.latest.count
          - if issue.comments.latest.count > 0
            %span.comment-count
              %i.fa.fa-comment
            %b= issue.comments.latest.count
      %span.after-block= local_assigns[:after_block]
