- issue ||= local_assigns[:issue_line]
- return if issue.blank?
%li.issue-line
  .media
    = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue) do
      .media-left
        .issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
      .media-body
        %span.issue-line__title
          - if issue.group != current_group and
            = issue.group.try(:name) || Issue::ALL_PARTI_NAME
            %i.fa.fa-angle-right
          = issue.title
        %span.issue-line__meta
          - if issue.watches.latest.count > 0
            %span.users-count
              %i.fa.fa-user
              %b= issue.watches.latest.count
          - if issue.posts.latest.count > 0
            %span.posts-count
              %i.fa.fa-file-text
              %b= issue.posts.latest.count
          - if issue.comments.latest.count > 0
            %span.comments-count
              %i.fa.fa-comment
              %b= issue.comments.latest.count
    .media-right.after-block= local_assigns[:after_block]
