- issue ||= local_assigns[:issue_line]
- return if issue.blank?
%li.issue-line
  = link_to issue_home_path_or_url(issue) do
    .media
      .media-left.issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
      .media-body
        %span.issue-line__title
          - if issue.in_group? and issue.group != current_group and
            = issue.group.name
            %i.fa.fa-angle-right
          = issue.title
        %span.issue-line__meta
          - if issue.watches.latest.count > 0
            %span.user-count
              %i.fa.fa-user
              %b= issue.watches.latest.count
          - if issue.comments.latest.count > 0
            %span.comment-count
              %i.fa.fa-comment
            %b= issue.comments.latest.count
        %span.after-block= local_assigns[:after_block]
