- issue ||= local_assigns[:issue_line]
- return if issue.blank?
- after_block = capture do
  - if local_assigns[:show_after_block] != false
    - if local_assigns[:after_block].present?
      = local_assigns[:after_block]
    - else
      - if user_signed_in? and !issue.private_blocked?(current_user) && !issue.member?(current_user)
        - issue_line_join_button_id = "issue-line-join-btn-#{SecureRandom.uuid}"
        - issue_line_join_sign_id = "issue-line-join-sign-#{SecureRandom.uuid}"
        %span.join-button
          %span>
            = link_to issue_members_path(issue, partial: :issue_line, button_id: issue_line_join_button_id, sign_id: issue_line_join_sign_id), id: issue_line_join_button_id, method: :post, remote: true, 'data-disable-with': '처리 중...', 'data-completed-with': '가입완료 <i class="fa fa-check"/>', class: 'btn btn-primary btn-xs btn-join js-join-button collapse' do
              %i.fa.fa-sign-in
              %span.js-join-button-label
                = t("labels.issue.groups.#{host_group.slug}.public_join", cascade: true)
          %span.issue-line__meta.btn-join-sign.js-join-sign{id: issue_line_join_sign_id}
            %i.fa.fa-sign-in
- link_to_parti = if local_assigns[:no_link]
  - {}
- else
  - { 'action': "parti-link", 'url': (smart_issue_home_path_or_url(issue) unless local_assigns[:no_link]) }
%li.issue-line{ data: (local_assigns[:link_whole_line] ? link_to_parti : {}).merge(local_assigns[:issue_data] || {}), class: "#{local_assigns[:issue_classes]} #{('cursor-pointer' if (link_to_parti.any? and local_assigns[:link_whole_line]))}" }
  .media.js-issue-line-hover
    - if local_assigns[:left_block].present?
      .media-left
        = left_block
    .media-left{ data: (link_to_parti unless local_assigns[:link_whole_line]), class: "#{('cursor-pointer' if link_to_parti.any?)}" }

      .issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
    .media-body
      .issue-line-body-wraper
        %a.span.issue-line__title{ href: (local_assigns[:no_link] ? nil : smart_issue_home_path_or_url(issue)), 'aria-label': only_mobile_app(request, "drawer-parti-#{issue.slug}"), title: issue.title }
          = issue_tag(issue, show_group: local_assigns[:show_group], group_classes: 'text-nowrap')
        - unless (local_assigns[:hide_latest_stroked_posts_count] || false)
          - latest_stroked_posts_count = issue.visiable_latest_stroked_posts_count
          - if !latest_stroked_posts_count.nil? and latest_stroked_posts_count > 0
            %span.issue-line__meta{ data: (link_to_parti unless local_assigns[:link_whole_line]), class: "#{('cursor-pointer' if link_to_parti.any?)}" }
              .posts-count.meta-item
                %i.fa.fa-file-text(title='최근 업데이트')
                = latest_stroked_posts_count

        %span.after-block
          = after_block
    - if local_assigns[:right_block].present?
      .media-right
        = right_block
  - if local_assigns[:footer_block].present?
    .issue-line-footer
      = local_assigns[:footer_block]
