- issue ||= @issue
- active_tab ||= nil
%section.parti-header-section
  - if issue.cover.present?
    .parti-black-layer{ data: { action: 'parti-blur-background', 'blur-image': issue.cover.md.url }}
  - else
    .parti-black-layer{ style: "background-image: #{GeoPattern.generate(@issue.title, base_color: '#2a164b').to_data_uri};" }
  .container
    .media
      .media-left
        .parti-logo
          = link_to issue_home_path(issue) do
            .thumb{style: "background-image: url(#{issue.logo.md.url})"}
      .media-body
        %h2.parti-title
          = issue.title
        .row
          .col-xs-12.col-sm-9
            .parti-body
              = issue.body
            .parti-buttons
              %span.parti-watch-button
                = render 'watches/watch', issue: issue, cancel_btn_class: 'btn btn-xs btn-ghost', watch_btn_class: 'btn btn-xs btn-primary', maker_class: 'hidden'
              %span.parti-admin-buttons
                - if can? :update, issue
                  = link_to '수정', [:edit, issue], class: 'btn btn-ghost btn-xs'
                - if can? :destroy, issue
                  = link_to '삭제', issue, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-ghost btn-xs'
          .col-sm-3.text-right.hidden-xs
            - data = {action: 'parti-share', 'share-url': issue_home_url(issue), 'share-text': "#{issue.title} | 빠띠" }
            - map = { facebook: data }
            - map.update twitter: data, 'kakao-link': data, 'kakao-story': data
            = render 'application/share', map: map

  .parti-menu
    - counts_container = issue.counts_container
    .container
      .row
        .col-sm-7.col-xs-12
          .row
            .col-xs-2.col-sm-2{ class: ('active' if active_tab.nil? || active_tab == :home) }
              = link_to issue_home_path(issue) do
                %h5 홈

            .col-xs-2.col-sm-2{class: ('active' if active_tab == :notes)}
              - count_label = capture_haml(counts_container) do
                %span.count<>
                  = counts_container.notes_count
                  - if counts_container.latest_notes_count > 0
                    %small.text-primary<>
                      +#{counts_container.latest_notes_count}
              = link_to issue_notes_path(issue) do
                %h5
                  = Note.model_name.human
                  %span.hidden-xs= count_label

            .col-xs-2.col-sm-2{class: ('active' if active_tab == :talks)}
              - count_label = capture_haml(counts_container) do
                %span.count<>
                  = counts_container.talks_count
                  - if counts_container.latest_talks_count > 0
                    %small.text-primary<>
                      +#{counts_container.latest_talks_count}
              = link_to issue_talks_path(issue) do
                %h5
                  = Talk.model_name.human
                  %span.hidden-xs= count_label

            .col-xs-2.col-sm-2{class: ('active' if active_tab == :opinions)}
              - count_label = capture_haml(counts_container) do
                %span.count<>
                  = counts_container.opinions_count
                  - if counts_container.latest_opinions_count > 0
                    %small.text-primary<>
                      +#{counts_container.latest_opinions_count}
              = link_to issue_opinions_path(issue) do
                %h5
                  = Opinion.model_name.human
                  %span.hidden-xs= count_label

            .col-xs-2.col-sm-2{class: ('active' if active_tab == :articles)}
              - count_label = capture_haml(counts_container) do
                %span.count<>
                  = counts_container.articles_count
                  - if counts_container.latest_articles_count > 0
                    %small.text-primary<>
                      +#{counts_container.latest_articles_count}
              = link_to issue_articles_path(issue) do
                %h5
                  = Article.model_name.human
                  %span.hidden-xs= count_label

            .col-xs-2.col-sm-2{class: ('active' if active_tab == :wikis)}
              - count_label = capture_haml(counts_container) do
                %span.count 베타
              = link_to issue_wikis_path(issue) do
                %h5
                  = Wiki.model_name.human
                  %span.hidden-xs= count_label

= render 'issues/bottom_banner'

