- issue ||= @issue
%section.issue-header-section
  %section#issue
    .container{ style: 'position: relative;' }
      .jumbotron.jumbotron-transparent{ style: 'margin: 0; padding-left: 0; padding-right: 0;' }
        .clearfix
          = link_to issue_home_path(issue), style: 'text-decoration: none' do
            .pull-left
              = image_tag issue.logo_url, class: 'issue-logo'
          %h4.issue-title
            = link_to issue_home_path(issue), style: 'text-decoration: none' do
              %span 모두보기
            %small 전체 빠띠에서 일어나는 일을 한눈에 보실 수 있습니다.
          %div.issue-count
            %span.comment-count
              = link_to issue_home_path(issue) do
                댓글
                %span= issue.comments.count
                - if issue.comments.latest.any?
                  %small>= "+#{issue.posts.latest.count}"
            %span.user-count
              가입회원
              %span= issue.watches.count
              - if issue.watches.latest.any?
                %small>= "+#{issue.watches.latest.count}"

          - if local_assigns[:show_social_share]
            = render 'issues/share'
  = render 'issues/calendar'
