- issue ||= local_assigns[:issue_line]
%li.issue-line
  = link_to issue_home_path(issue) do
    .media
      .media-left.issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
      .media-body
        .issue-line__title= issue.title
        .issue-line__meta
          %span.user-count
            %i.icon-user
            %b= issue.watches.count
          %span.comment-count
            %i.icon-comment
            %b= issue.comments.count

