- issue ||= local_assigns[:issue_line]
- return if issue.blank?
- after_block = capture do
  - if local_assigns[:show_after_block] != false
    - if local_assigns[:after_block].present?
      = local_assigns[:after_block]
    - else
      - if user_signed_in? and !issue.private_blocked?(current_user) && !issue.member?(current_user)
        - issue_line_join_button_id = "issue-line-join-btn-#{SecureRandom.uuid}"
        - issue_line_join_sign_id = "issue-line-join-sign-#{SecureRandom.uuid}"
        %span.join-button
          %span>
            = link_to issue_members_path(issue, partial: :issue_line, button_id: issue_line_join_button_id, sign_id: issue_line_join_sign_id), id: issue_line_join_button_id, method: :post, remote: true, 'data-disable-with': '처리 중...', 'data-completed-with': '가입완료 <i class="fa fa-check"/>', class: 'btn btn-primary btn-xs btn-join js-join-button collapse' do
              %i.fa.fa-sign-in
              %span.js-join-button-label
                = t("labels.issue.groups.#{host_group.slug}.public_join", cascade: true)
          %span.issue-line__meta.btn-join-sign.js-join-sign{id: issue_line_join_sign_id}
            %i.fa.fa-sign-in
%li.issue-line.js-issue-line
  .media.js-issue-line-hover{ 'data-action': "parti-link", 'data-url': smart_issue_home_path_or_url(issue) }
    .media-left
      .issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
    .media-body
      .issue-line-body-wraper
        %a.span.issue-line__title{ href: smart_issue_home_path_or_url(issue), 'aria-label': only_mobile_app(request, "drawer-parti-#{issue.slug}") }
          = issue.title
          = security_icon(issue)
        - cache ["#{host_group.slug}-issues-issue_line-meta", issue], race_condition_ttl: 30.seconds,  expires_in: 1.hours do
          %span.issue-line__meta
            - if issue.members.latest.count > 0
              .users-count
                %i.fa.fa-user
                %b= issue.members.latest.count
            - if issue.posts.latest.count > 0
              .posts-count
                %i.fa.fa-file-text
                %b= issue.posts.latest.count
            - if issue.comments.latest.count > 0
              .comments-count
                %i.fa.fa-comment
                %b= issue.comments.latest.count
        %span.after-block
          = after_block


