- issue ||= @issue
- active_tab ||= nil
- blocked ||= false
- simple = !(local_assigns[:full] || false)
%section.parti-header-section.js-invisible-on-mobile-editing.js-sidemenu-highlight-current-parti-source.js-issue-header-toggle{ class: ('parti-header-section--simple' if simple), 'data-sidemenu-highlight-current-parti-id': issue.id, 'data-sidemenu-highlight-current-parti-slug': issue.slug, 'data-sidemenu-highlight-current-group-id': issue.group.id, 'data-sidemenu-highlight-current-group-slug': issue.group.slug }
  - geo_pattern_background = capture do
    .parti-black-layer{ style: "background-image: #{GeoPattern.generate(issue.title, base_color: '#2a164b').to_data_uri};" }
  - logo_background = capture do
    .parti-black-layer{ style: "background-color: #777;" }
      %svg#blurred_i89pasu2y.bg-blur{height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", version: "1.1", xmlns: "http://www.w3.org/2000/svg"}
        %filter#parti-header-blur-background
          %fegaussianblur{in: "SourceGraphic", stdDeviation: "20"}
        %image{externalResourcesRequired: "true", height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", style: "filter:url(#parti-header-blur-background)", x: "0", y: "0", "xlink:href": issue.logo.md.url, "xmlns:xlink": "http://www.w3.org/1999/xlink"}
  - if (issue.read_attribute(:logo).present?) and (browser.ie?(">9") or !browser.ie?)
    = logo_background
  - else
    = geo_pattern_background
  .container
    .media{ style: 'overflow: visible' }
      .media-left
        .parti-logo
          - if simple
            = link_to header_issue_path(issue), remote: true do
              .thumb{style: "background-image: url(#{issue.logo.md.url})"}
          - else
            = link_to smart_issue_home_path_or_url(issue) do
              .thumb{style: "background-image: url(#{issue.logo.md.url})"}
      .media-body{ style: 'overflow: visible' }
        - if simple
          %h4.parti-title
            = link_to header_issue_path(issue), remote: true do
              = issue.title
              %small= meta_icons(issue)
              - if issue.frozen?
                %small{ title: '휴면 중' }
                  z
                  %sup.sup-z
                    z
                    %sup.sup-z z
            = link_to header_issue_path(issue), remote: true do
              %span.fa-stack{ style: 'font-size: 10px; color: #eee; text-shadow: none; top: -2px;' }
                %i.fa.fa-square.fa-stack-2x
                %i.fa.fa-chevron-down.fa-stack-1x{ style: 'color: gray; top: -2px;' }
        - else
          %h2.parti-title
            = issue.title
            %small= meta_icons(issue)
            - if issue.category.present?
              = link_to issues_path(category_id: issue.category.id) do
                %small= issue.category.name
            .parti-info.visible-xs-block
              = link_to smart_issue_members_path(issue) do
                %span.parti-users-label 가입회원
                %span.parti-users-count
                  #{issue.member_users.count}명
          .parti-body
            = issue.body
          - if issue.frozen?
            - if issue.organized_by?(current_user) or issue.group.organized_by?(current_user) or current_user.try(:admin?)
              .parti-buttons<>
                = render 'issues/header_buttons', issue: issue
          - else
            .parti-buttons<>
              = render 'issues/header_buttons', issue: issue
              - if issue.telegram_link.present?
                %span.parti-telegram-button
                  = link_to issue.telegram_link, target: '_blank' do
                    = image_tag 'telegram_icon.png'
                    메신저 열기
  - if !blocked
    .parti-menu{ class: ('parti-menu-simple' if simple)}
      - counts_container = issue.counts_container
      .container
        .row
          .col-sm-8.col-xs-12
            .row
              .col-custom{ class: ('active' if active_tab == :home) }
                = link_to smart_issue_home_path_or_url(issue), class: 'parti-menu-a' do
                  %h5 전체글

              .col-custom{class: ('active' if active_tab == :folders)}
                = link_to smart_issue_folders_path(issue), class: 'parti-menu-a' do
                  %h5 폴더

              .col-custom{class: ('active' if active_tab == :polls)}
                = link_to smart_issue_polls_or_surveys_path(issue), class: 'parti-menu-a' do
                  %h5= t('labels.polls_or_surveys')

              .col-custom{class: ('active' if active_tab == :links_or_files)}
                = link_to smart_issue_links_or_files_path(issue), class: 'parti-menu-a' do
                  %h5 자료

              .col-custom{class: ('active' if active_tab == :wikis)}
                = link_to smart_issue_wikis_path(issue), class: 'parti-menu-a' do
                  %h5 위키

              .col-custom{class: ('active' if active_tab == :users)}
                = link_to smart_issue_members_path(issue), class: 'parti-menu-a' do
                  %h5 멤버
