- issue ||= local_assigns[:issue_line]
- return if issue.blank?
- after_block = capture do
  - if local_assigns[:show_after_block] != false
    - if local_assigns[:after_block].present?
      = local_assigns[:after_block]
    - else
      - if user_signed_in? and !issue.private_blocked?(current_user) && !issue.member?(current_user)
        - issue_line_join_button_id = "issue-line-join-btn-#{SecureRandom.uuid}"
        - issue_line_join_sign_id = "issue-line-join-sign-#{SecureRandom.uuid}"
        %span.join-button
          %span>
            = link_to issue_members_path(issue, partial: :issue_line, button_id: issue_line_join_button_id, sign_id: issue_line_join_sign_id), id: issue_line_join_button_id, method: :post, remote: true, 'data-disable-with': '처리 중...', 'data-completed-with': '가입완료 <i class="fa fa-check"/>', class: 'btn btn-primary btn-xs btn-join js-join-button collapse' do
              %i.fa.fa-sign-in
              %span.js-join-button-label
                = t("labels.issue.groups.#{host_group.slug}.public_join", cascade: true)
          %span.issue-line__meta.btn-join-sign.js-join-sign{id: issue_line_join_sign_id}
            %i.fa.fa-sign-in
%li.issue-line.js-issue-line{ class: ('collapse js-more-sidemenu-collapse' if local_assigns[:collapse]) }
  .media.js-issue-line-hover{ 'data-action': "parti-link", 'data-url': smart_issue_home_path_or_url(issue) }
    .media-left
      .issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
    .media-body
      .issue-line-body-wraper
        %a.span.issue-line__title{ href: smart_issue_home_path_or_url(issue), 'aria-label': only_mobile_app(request, "drawer-parti-#{issue.slug}"), title: issue.title }
          %span.title= issue.title
          - if local_assigns[:show_group] and !issue.group.indie?
            \/
            %span.text-nowrap
              = issue.group.title_short_format
          = meta_icons(issue, (['star', '오거나징하는 빠띠'] if issue.organized_by?(current_user)))
        - cache ["#{host_group.slug}-issues-issue_line-meta", issue], race_condition_ttl: 30.seconds, expires_in: 1.hours do
          - last_stroked_count = issue.posts.after(1.days.ago, field: 'posts.last_stroked_at').count
          - if last_stroked_count > 0
            %span.issue-line__meta
              .posts-count.meta-item
                %i.fa.fa-file-text(title='최근 업데이트')
                = last_stroked_count

        %span.after-block
          = after_block
    - if local_assigns[:right_block].present?
      .media-right
        = right_block

