- issue ||= local_assigns[:issue_line]
- return if issue.blank?
- after_block = capture do
  - if !issue.private_blocked?(current_user) && !issue.member?(current_user)
    - if user_signed_in?
      - issue_card_join_button_id = "issue-card-join-btn-#{SecureRandom.uuid}"
      = link_to smart_members_or_member_requests_parti_path(issue, partial: :issue_card, button_id: issue_card_join_button_id), method: :post, remote: true, 'data-disable-with': '처리 중...', 'data-completed-with': '가입완료 <i class="fa fa-check"/>', id: issue_card_join_button_id, class: 'btn btn-primary btn-xs btn-join' do
        = t("labels.issue.groups.#{host_group.slug}.public_join", cascade: true)
  = local_assigns[:after_block]
%li.issue-line
  .media
    - cache ["#{host_group.slug}-issues-issue_line", issue], race_condition_ttl: 30.seconds,  expires_in: 1.hours do
      = link_to smart_issue_home_path_or_url(issue) do
        .media-left
          .issue-line__thumb{ style: "background-image: url(#{issue.logo.sm.url});" }
        .media-body
          %span.issue-line__title
            = issue.title
            = security_icon(issue)
          %span.issue-line__meta
            - if issue.members.latest.count > 0
              .users-count
                %i.fa.fa-user
                %b= issue.members.latest.count
            - if issue.posts.latest.count > 0
              .posts-count
                %i.fa.fa-file-text
                %b= issue.posts.latest.count
            - if issue.comments.latest.count > 0
              .comments-count
                %i.fa.fa-comment
                %b= issue.comments.latest.count
    .media-right.after-block= after_block
