- issue ||= @issue
- active_tab ||= nil
- blocked ||= false
%section.parti-header-section{ class: ('parti-header-section--simple' if local_assigns[:simple]) }
  - geo_pattern_background = capture do
    .parti-black-layer{ style: "background-image: #{GeoPattern.generate(issue.title, base_color: '#2a164b').to_data_uri};" }
  - logo_background = capture do
    .parti-black-layer{ style: "background-color: #777;" }
      %svg#blurred_i89pasu2y.bg-blur{height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", version: "1.1", xmlns: "http://www.w3.org/2000/svg"}
        %filter#parti-header-blur-background
          %fegaussianblur{in: "SourceGraphic", stdDeviation: "20"}
        %image{externalResourcesRequired: "true", height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", style: "filter:url(#parti-header-blur-background)", x: "0", y: "0", "xlink:href": issue.logo.md.url, "xmlns:xlink": "http://www.w3.org/1999/xlink"}
  - if issue.logo.present? and (browser.ie?(">9") or !browser.ie?)
    = logo_background
  - else
    = geo_pattern_background
  .container
    .media
      .media-left
        .parti-logo
          = link_to smart_issue_home_path_or_url(issue) do
            .thumb{style: "background-image: url(#{issue.logo.md.url})"}
      .media-body
        - if local_assigns[:simple]
          %h4.parti-title
            = link_to smart_issue_home_path_or_url(issue) do
              = issue.title
              %small= security_icon(issue)
            .parti-buttons
              - if issue.organized_by? current_user
                %span.parti-organizer-button
                  %div.btn.btn-xs.btn-ghost{"data-url": "#organizer-info-#{dom_id(issue)}", "data-action": "parti-popover", "data-placement": "bottom", "data-trigger": "hover"}
                    오거나이저
                  .hidden
                    .organizer-info{id: "organizer-info-#{dom_id(issue)}"}
                      #{current_user.nickname}님은 #{issue.title} 빠띠의 오거나이저입니다.
              %span.parti-member-button
                = render 'members/member', issue: issue
        - else
          %h2.parti-title
            = issue.title
            %small= security_icon(issue)
            .parti-info.visible-xs-block
              = link_to smart_issue_users_path(issue) do
                %span.parti-users-label 가입회원
                %span.parti-users-count
                  #{issue.member_users.count}명
          .row
            .col-xs-12.col-sm-9
              .parti-body
                = issue.body
              .parti-buttons
                - if issue.organized_by? current_user
                  %span.parti-organizer-button
                    %div.btn.btn-xs.btn-ghost{"data-url": "#organizer-info-#{dom_id(issue)}", "data-action": "parti-popover", "data-placement": "bottom", "data-trigger": "hover"}
                      빠띠 오거나이저
                    .hidden
                      .organizer-info{id: "organizer-info-#{dom_id(issue)}"}
                        #{current_user.nickname}님은 #{issue.title} 빠띠의 오거나이저입니다.
                %span.parti-member-button
                  = render 'members/member', issue: issue
                %span.parti-admin-buttons
                  - if can? :update, issue
                    = link_to '수정', [:edit, issue], class: 'btn btn-ghost btn-xs'
                  - if can?(:destroy, issue) and issue.deletable_by?(current_user)
                    = link_to '삭제', issue, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-ghost btn-xs'
                - if issue.telegram_link.present?
                  %span.parti-telegram-button
                    = link_to issue.telegram_link, target: '_blank' do
                      = image_tag 'telegram_icon.png'
                      메신저 열기
            .col-sm-3.text-right.hidden-xs
              = render 'application/share', providers: %w(facebook twitter telegram kakao-link kakao-story), share_map: { action: 'parti-share', 'share-url': smart_issue_home_url(issue), 'share-text': "#{issue.title} | #{issue.group.try(:share_site_title) || '빠띠'}" }

  - if !local_assigns[:simple] and !blocked
    .parti-menu
      - counts_container = issue.counts_container
      .container
        .row
          .col-sm-7.col-xs-12
            .row
              .col-xs-3.col-sm-3{ class: ('active' if active_tab.nil? || active_tab == :home) }
                = link_to smart_issue_home_path_or_url(issue) do
                  %h5 피드

              .col-xs-3.col-sm-3{class: ('active' if active_tab == :polls)}
                = link_to smart_issue_polls_or_surveys_path(issue) do
                  %h5= t('labels.polls_or_surveys')

              .col-xs-3.col-sm-3{class: ('active' if active_tab == :links_or_files)}
                = link_to smart_issue_links_or_files_path(issue) do
                  %h5 자료

              .col-xs-3.col-sm-3{class: ('active' if active_tab == :users)}
                = link_to smart_issue_users_path(issue) do
                  %h5 멤버

- if !local_assigns[:simple]
  = render 'issues/bottom_banner'

