- depth = (local_assigns[:depth] || 0)
- Post.where(folder: parent_folder).order_by_folder_seq.includes(:issue).each do |post|
  - is_empty = false
  - folder_item_dom_id = "folder-item-#{SecureRandom.uuid}"
  .folder-item.child-item.js-folder-item.js-draggable-slug-folder-item.js-draggable-slug-folder-draggable{ id: folder_item_dom_id, class: "#{'js-folder-item-managable' if can?(:manage_folders, issue)} #{('active' if latest_active_folder_item?(post))}", 'data-folder-item-type': 'post', 'data-draggable-slug-folder-item-type': 'post', 'data-folder-item-id': post.id, 'data-draggable-slug-folder-json-params': h({ item_type: 'Post', item_id: post.id }.to_json), 'data-folder-depth': depth }
    .folder-item-title-container
      %span.folder-item-icon.only-clickable{ 'data-url': smart_post_url(post) }
        - if post.wiki.present?
          %i.fa.fa-fw.fa-file-word-o
        - else
          %i.fa.fa-fw.fa-file-o
      %span.folder-item-title
        .folder-item-title-content{ class: folded_post_dom_class(post) }
          .folder-item-title-content-main.only-clickable.folder-item-title-content-main-linkable.js-folder-item-renamable-content{ 'data-url': smart_post_url(post), 'data-value': post.specific_desc_striped_tags(100) }
            = post.specific_desc_striped_tags(100)
          %span.folder-item-menu.js-folder-item-menu.js-folder-item-no-run.dropdown
            .btn.btn-xs.btn-default.dropdown-toggle{ 'data-toggle': 'dropdown' }
              %i.fa.fa-fw.fa-ellipsis-v
            %ul.dropdown-menu{ style: 'top: 95%' }
              %li
                %a.js-trigger{ href: "#parti-folder-item-force-rename", 'data-target': "##{folder_item_dom_id}"} 이름 편집
              %li.divider
              %li
                = link_to "폴더 이동", move_form_folders_path(subject_type: 'Post', subject_id: post.id, dom_id: dom_id), remote: true, 'data-disable-with': '로딩 중...'
              %li
                = link_to "폴더에서 제거", detach_post_folder_url(parent_folder, post_id: post.id), remote: true, method: 'delete', 'data-disable-with': '처리 중...'
        .folder-item-title-rename-form.js-folder-item-rename-form-container.collapse
          = form_for [:update_title, post], remote: true, html: {class: 'form-inline js-folder-item-no-run'} do |f|
            = f.text_field :title, value: post.specific_desc_striped_tags(100), maxlength: 100, size: false, class: 'folder-item-title-input js-folder-item-rename-text-field'
            %a.btn.btn-primary.btn-xs.js-trigger{ href: "#parti-folder-item-submit", 'data-target': "##{folder_item_dom_id}"} 저장
            %a.btn.btn-default.btn-xs.js-trigger{ href: "#parti-folder-item-reset", 'data-target': "##{folder_item_dom_id}"} 취소
    .folder-item-updated-at
      .updated-at= date_f(post.last_stroked_at)
