%section.contents-page
  .container
    .row
      = main_column_tag do
        .contents-header.xs-horizontal-padding
          %h4.contents-header__title
            = group_my_parties_section_title(@group)
            %span.text-nowrap 메뉴 설정
            %br.visiable-xs
            %small
              내 메뉴에 노출 여부을 설정합니다
        .panel.panel-default
          .panel-body
            %ul.list-unstyled
              - @issues.each do |issue|
                - bookmark_control = capture do
                  = render 'issues/bookmark_button', issue: issue
                = render 'issues/issue_line', issue: issue, right_block: bookmark_control, no_link: true
      - unless is_small_screen?
        = render 'application/aside'
