- if request.query_string.blank?
  - ['jpg', 'gif', 'png'].each do |ext|
    -if File.exist? "app/assets/images/groups/#{current_group.slug}_thumb_main_keyvisual_bg.#{ext}"
      %section#group-key-visual-bg{style: "background-image: url(#{asset_url("groups/#{current_group.slug}_thumb_main_keyvisual_bg.#{ext}")});"}
      - break
%section#home
  .container
    .row
      .col-xs-12.col-sm-8
        - if current_group.private_blocked? current_user
          .blocked
            %h4
              비공개 그룹입니다.
            - if current_group.member_requested? current_user
              %p
                이 그룹에서 활동하려면 먼저 가입승인을 받아야합니다.
                %span.text-nowrap
                  %strong<> 그룹오거나이저의 가입승인
                  을 기다려주세요.
            - else
              %p
                비공개 그룹에서 활동하려면 먼저 가입신청을 해주세요.
              %div(class="#{dom_id(current_group)}-member" style="padding-bottom: 12px;")
                - if user_signed_in?
                  = link_to group_member_requests_path, method: :post, 'data-disable-with': '처리 중...', class: 'btn btn-md btn-primary' do
                    가입하기
                - else
                  = link_to '가입하기', '#', data: { toggle: 'parti-login-overlay', label: '가입', 'after-login': h({action: :issue_member, id: current_group.id}.to_json) }, class: 'btn btn-md btn-primary'
        - else
          %section#parties-all
            .parties-all
              .parties-filter
                .parties-search-form
                  = form_tag issues_path, method: :get, id: 'js-search-parties-form' do
                    = hidden_field_tag :sort, params[:sort]
                    = hidden_field_tag :category, params[:category]
                    .input-group.input-group-lg.input-group-keyword
                      %input.form-control{name: "keyword", placeholder: "무엇에 관심있으세요?", value: params[:keyword], type: "search", 'data-action': 'parti-search-parties'}
                        %span.input-group-btn
                          %button.btn.btn-group-default{:type => "button"}
                            %i.fa.fa-search
                .parties-sort-select.parties-sort-select--group
                  = render 'issues/index_filter'

              .parties-all-loading
                %i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
              .parties-all-list
                = render 'issues/page'
      - unless is_small_screen?
        = render 'application/aside'
