= render 'application/group_home_sub_header', active: 'issues'

%section#issues-group-index
  .container
    .contents-header
      %h4.contents-header__title
        빠띠
        %small
          그룹이 오거나징하는 빠띠입니다.
      - if current_group.categories.try(:any?)
        .parties-filter
          .parties-filter-select.pull-left
            %nav
              %ul.list-inline
                %li= link_to '전체', issues_path, class: ('active' if params['category_id'].blank?)
                - current_group.categories.each do |category|
                  %li
                    = link_to issues_path(category_id: category.id), class: ('active' if params['category_id'] == category.id) do
                      = category.name
    .parties-all-list
      - if @issues.any?
        = render 'issues/page', issues: @issues
      - else
        .bg-default
          .fa.fa-info-circle
          해당 빠띠가 없습니다.
          - if current_group.creatable_issue?(current_user)
            = link_to new_issue_path, class: 'text-primary' do
              빠띠 만들기
              %i.fa.fa-arrow-right
