- if request.query_string.blank?
  - if current_group.key_visual_background_image.present? or current_group.key_visual_foreground_image.present?
    %section.group-key-visual{ class: ('group-key-visual-only-bg' if (current_group.key_visual_background_image.present? and current_group.key_visual_foreground_image.blank?)), style: ("background-image: url(#{asset_url(current_group.key_visual_background_image)});" if current_group.key_visual_background_image.present?) }
      - if current_group.key_visual_foreground_image.present?
        = image_tag current_group.key_visual_foreground_image, style: "width: 100%"

  = render_group_only_exist "key_page"

- paging = (!@posts.nil? and @posts.try(:current_page).present?)
- is_first_page_in_paging = (paging and @posts.first_page?)
- if current_group.private_blocked? current_user
  %section
    .container
      .blocked
        %h4
          비공개 그룹입니다.
        - if current_group.member_requested? current_user
          %p
            이 그룹에서 활동하려면 먼저 가입승인을 받아야 합니다.
            %span.text-nowrap
              %strong 그룹 오거나이저의 가입승인을 기다려주세요.
        - else
          %p
            비공개 그룹에서 활동하려면 먼저 가입신청을 해주세요.
            %br
            - if user_signed_in?
              = link_to join_group_form_group_members_path, remote: true, class: 'btn btn-md btn-primary' do
                가입 신청하기
            - else
              = link_to '가입하기', '#', data: {toggle: 'parti-login-overlay', label: '가입', 'after-login': h({action: :issue_member, id: current_group.id}.to_json) }, class: 'btn btn-md btn-primary'
- else
  = render 'application/group_home_sub_header', active: 'home'
  - if Issue.only_alive_of_group(current_group).any?
    %section#home
      .container
        - if @recent_posts.try(:any?) and (@recent_posts.try(:current_page) || 0) <= 1
          %section{style:"margin-top:20px;"}
            .row
              .col-sm-12.col-md-12
                %section#parties-all
                  .parties-all
                    = link_to issues_path do
                      %h4.group-heading
                        빠띠
                        %small
                          모두 보기
                          %i.fa.fa-angle-double-right
                    .parties-all-list
                      .row.slick-slider.slick-slider-catan{ data: { 'slick-slider-lg': 4, 'slick-slider-md': 4, 'slick-slider-xs': 2 } }
                        - @issues.each do |issue|
                          .col-xs-6.col-sm-3.col-md-3.col-lg-3
                            .issue-card-wrapper
                              = render 'issues/card', issue: issue

          - recent_polls_and_surveys = @polls_and_surveys.to_a.reject{ |post| post.last_stroked_at < 2.week.ago }
          - if recent_polls_and_surveys.any?
            %section{ style:"margin-top:20px;" }
              = link_to polls_or_surveys_path do
                %h4.group-heading
                  진행 중인 토론
                  %small
                    더 보기
                    %i.fa.fa-angle-double-right
              .row.slick-slider.slick-slider-catan{ data: { 'slick-slider-lg': 3, 'slick-slider-md': 3, 'slick-slider-xs': 1 } }
                = render 'posts/page_card', posts: recent_polls_and_surveys, sm_columns_count: 3, compact: true, show_last_stroked_for: true, show_decision: false

        - if @recent_posts.try(:any?)
          - recent_posts_partial = capture do
            = render 'posts/page_card', posts: @recent_posts, sm_columns_count: 3, show_last_stroked_for: true, compact: true, show_day_section: true, previous_last_post: @previous_last_post, show_decision: false
          - recent_posts_partial = recent_posts_partial.strip

        - if recent_posts_partial.present?
          - margin_top = 10
          - margin_top = 20 if (@recent_posts.try(:current_page) || 0) > 1
          %section{style:"margin-top:#{margin_top}px; padding-bottom: 10px;"}
            %h4.group-heading
              최근 게시글

            .vertical-line-wrapper{ style: 'border-left: 2px solid #777; left: 15px; padding-left: 30px; padding-top: 1rem;' }
              .row.masonry-container{ style: 'margin-top: -1.5rem;', data: { 'masonry-grid-sizer': '.grid-sizer' } }
                .grid-sizer.col-sm-4
                != recent_posts_partial

          = paginate @recent_posts, theme: 'catan'

  - else

    %section#home
      .container
        .row
          = main_column_tag do
            %section{style:"margin-top:20px; padding-bottom: 10px"}
              %h4.group-heading #{current_group.title} 그룹에 오신 것을 환영합니다.
            .bg-default
              %p 가장 먼저 빠띠를 개설해 보세요.

              .fa.fa-info-circle
              = link_to new_issue_path, class: 'text-primary' do
                빠띠 만들기
                %i.fa.fa-arrow-right
          = render 'issues/group_home_aside'
