%section
  .container
    .blocked
      %h4
        - if (params[:invitation_email].present? or params[:invitation_nickname].present?)and !user_signed_in?
          그룹에 초대되었습니다.
        - else
          비공개 그룹입니다.
      - if current_group.member_requested? current_user
        %p
          이 그룹에서 활동하려면 먼저 가입승인을 받아야 합니다.
          %span.text-nowrap
            %strong 그룹 오거나이저의 가입승인을 기다려주세요.
      - else
        - if params[:invitation_email].present? and !user_signed_in?
          %p
            어서오세요. 먼저 빠띠회원으로 가입하세요.
            %br
            회원가입할 때 초대받은
            %strong #{params[:invitation_email]}
            %span> 을 이메일로 등록하면 곧바로 이 그룹에 가입됩니다.
            %br
            회원가입할 때 초대받은
            %strong #{params[:invitation_email]}
            %span> 을 이메일로 등록하면 곧바로 이 그룹에 가입됩니다.
            %br
            = link_to '회원 가입하기', pre_sign_up_users_path, class: 'btn btn-md btn-primary'
        - elsif params[:invitation_nickname].present? and !user_signed_in?
          %p
            어서오세요. 초대받은 닉네임
            %strong #{params[:invitation_nickname]}
            %span> 으로 로그인하세요.
            %br
            = link_to '로그인하기', '#', data: { toggle: 'parti-login-overlay' }, class: 'btn btn-md btn-primary'
        - else
          %p
            비공개 그룹에서 활동하려면 먼저 가입신청을 해주세요.
            %br
            - if user_signed_in?
              = link_to join_group_form_group_members_path, remote: true, class: 'btn btn-md btn-primary' do
                가입 신청하기
            - else
              = link_to '가입하기', '#', data: { toggle: 'parti-login-overlay', label: '가입', 'after-login': h({ action: :issue_member, id: current_group.id }.to_json) }, class: 'btn btn-md btn-primary'
              - unless user_signed_in?
                = link_to '로그인하기', '#', data: { toggle: 'parti-login-overlay' }, class: 'btn btn-md btn-default'
