- if request.query_string.blank?
  - ['jpg', 'gif', 'png'].each do |ext|
    - if File.exist? "app/assets/images/groups/#{current_group.slug}_thumb_main_keyvisual_bg.#{ext}"
      - bg_path = "groups/#{current_group.slug}_thumb_main_keyvisual_bg.#{ext}"
      %section#group-key-visual-bg{style: "background-image: url(#{asset_url(bg_path)});"}
      - break
  - ['jpg', 'gif', 'png'].each do |ext|
    - if File.exist? "app/assets/images/groups/#{current_group.slug}_thumb_main_keyvisual.#{ext}"
      - bg_path = "groups/#{current_group.slug}_thumb_main_keyvisual.#{ext}"
      %section#group-key-visual
        = image_tag bg_path, style: "width: 100%"
      - break

  - if lookup_context.exists?("issues/#{host_group.slug}/_key_page")
    = render "issues/#{host_group.slug}/key_page"

- paging = (@posts.present? and @posts.try(:current_page).present?)
- is_first_page_in_paging = (paging and @posts.first_page?)
- if current_group.private_blocked? current_user
  %section
    .container
      .blocked
        %h4
          비공개 그룹입니다.
        - if current_group.member_requested? current_user
          %p
            이 그룹에서 활동하려면 먼저 가입승인을 받아야 합니다.
            %span.text-nowrap
              %strong 그룹 오거나이저의 가입승인을 기다려주세요.
        - else
          %p
            비공개 그룹에서 활동하려면 먼저 가입신청을 해주세요.
            %br
            - if user_signed_in?
              %button.btn.btn-md.btn-primary{"data-toggle": "modal", "data-target": "#join-modal"}
                가입 신청하기
              - if File.exist? "app/views/group/#{current_group.slug}/issues/_join_group_modal.html.haml"
                = render "group/#{current_group.slug}/issues/join_group_modal"
              - else
                = render "issues/join_group_modal"
            - else
              = link_to '가입하기', '#', data: {toggle: 'parti-login-overlay', label: '가입', 'after-login': h({action: :issue_member, id: current_group.id}.to_json) }, class: 'btn btn-md btn-primary'
- else
  = render 'application/group_home_sub_header', active: 'home'
  %section#home
    .container
      %section{style:"margin-top:20px;"}
        .row
          .col-sm-12.col-md-12
            %section#parties-all
              .parties-all
                = link_to issues_path do
                  %h4.group-heading
                    빠띠
                    %small
                      모두 보기
                      %i.fa.fa-angle-double-right
                .parties-all-list
                  .row.slick-slider
                    - @issues.each do |issue|
                      .col-xs-6.col-sm-4.col-md-4.col-lg-3
                        .issue-card-wrapper
                          = render 'issues/card', issue: issue

      - if @polls_and_surveys.try(:any?)
        %section{style:"margin-top:20px;"}
          = link_to polls_or_surveys_path, class: "#{'active' if current_page?(controller: "/polls_or_surveys", action: :index)}" do
            %h4.group-heading
              진행 중인 토론
              %small
                더 보기
                %i.fa.fa-angle-double-right
          .row.masonry-container
            = render 'polls_or_surveys/page', posts: @polls_and_surveys

      - if @posts_pinned.try(:any?) or @recent_posts.try(:any?)
        %section{style:"margin-top:20px;"}
          .row
            .col-sm-12.col-md-6
              %h4.group-heading 공지사항
              - if @posts_pinned.try(:any?)
                = render 'posts/list_pinned', posts: @posts_pinned, show_issue: true, compact: false, not_need_header: true
              - else
                공지사항이 없습니다

            .col-sm-12.col-md-6
              .visible-xs-block{style:"margin-top:40px;"}
              %h4.group-heading
                최근 업데이트
              = render 'posts/list_card', posts: @recent_posts

      - if user_signed_in? and current_group.member?(current_user)
        %section#posts{style:"margin-top:20px; padding-bottom: 10px;"}
          .row
            .col-xs-12.col-sm-8
              %h4.group-heading
                내 #{current_group.title_basic_format} 피드

              - if params[:q].blank?
                = render 'posts/new_posts_count', new_posts_count_url: new_dashboard_posts_count_path(last_time: DateTime.now.to_i)

              - if @recent_posts.try(:any?)
                - recent_posts_partial = capture do
                  = render 'posts/list_card', posts: @recent_posts
                - recent_posts_partial = recent_posts_partial.strip

              - recent_posts_other_parties_partial = capture do
                .post-data-divider
                  %i.fa.fa-info-circle
                  가입하지 않은 빠띠의 최근 업데이트된 게시글
                != recent_posts_partial

              .posts.posts-home{data: {last_id: -1, is_last: 'false'}}
                #no-data.text-center.alert{ style: 'display: none;' }
                  %i.fa.fa-info-circle
                    아직 글이 없습니다.
                - if paging
                  = render 'posts/page', posts: @posts, show_issue: true, show_today: true, first_today_text: ("게시물 #{number_with_delimiter @posts.total_count}개 중에 #{@posts.current_page}페이지를 표시합니다" unless @posts.first_page?)
                  - if recent_posts_partial.present? and @posts.first_page?
                    = recent_posts_other_parties_partial

              - if recent_posts_partial.present? and !paging
                #js-posts-inject.hidden{ 'data-days-from-today': 0 }
                  = recent_posts_other_parties_partial

              - if paging
                = paginate @posts, theme: 'catan'
              - else
                .page-waypoint.js-page-waypoint-onload.text-center{'data-target': '.posts', 'data-url': dashboard_path(format: :js)}
                  .page-waypoint-loading.js-page-waypoint-loading
                    %i.fa.fa-2x.fa-spinner.fa-pulse
