= render 'application/group_home_sub_header', active: 'home'

%section#home.no-facebook-like
  .container
    .row
      = main_column_tag do
        - group = Group.open_square
        .group-heading.margin-bottom-default
          %h4
            = group_basic_title(group)
            %span.partis-count.badge
              #{Issue.of_group(group).count}개의 채널
          - unless group.site_description.nil?
            .group-desc
              #{group.site_description}
              - if Issue.of_group(group).any?
                %br.visible-xs-block.group
        %section#parties-all
          .parties-filter
            .parties-search-form
              = form_tag root_path, method: :get, id: 'js-search-parties-form' do
                = hidden_field_tag :sort, params[:sort]
                .input-group.input-group-lg.input-group-keyword
                  %input.form-control{name: "keyword", placeholder: "무엇에 관심있으세요?", value: params[:keyword], type: "search", 'data-action': 'parti-clearable-search'}
                  %span.input-group-btn
                    %button.btn.btn-group-default
                      %i.fa.fa-search
            .parties-filter-select
              = render 'issues/index_filter'
          - if @issues.any?
            .parties-all-list
              = render 'issues/page', issues: @issues, has_aside: true
          - elsif params[:keyword].present?
            .bg-default
              %i.fa.fa-info-circle
              검색 결과가 없습니다.

