%section#facebook-like
  .container
    .fb-like{"data-action": "like", "data-href": "https://www.facebook.com/PartiUnion/", "data-layout": "standard", "data-share": "false", "data-show-faces": "false"}
%section#home
  .container
    .row
      = main_column_tag do
        %section#parties-all.margin-bottom-default
          .parties-all
            .parties-filter
              .parties-search-form
                = form_tag issues_path, method: :get, id: 'js-search-parties-form' do
                  = hidden_field_tag :sort
                  .input-group.input-group-lg.input-group-keyword
                    %input.form-control{name: "keyword", placeholder: "무엇에 관심있으세요?", value: params[:keyword], type: "search", 'data-action': 'parti-clearable-search'}
                    %span.input-group-btn
                      %button.btn.btn-group-default
                        %i.fa.fa-search
            - if params[:keyword].present? or params[:subject].present?
              - if @issues.any?
                .parties-all-list
                  = render 'issues/page', issues: @issues, has_aside: true
              - else
                .bg-default
                  %i.fa.fa-info-circle
                  검색 결과가 없습니다.
        - if params[:keyword].blank? and params[:subject].blank?
          = render @groups[0..4]
          .panel.panel-primary.panel-group-info
            .panel-body
              %p
                여러분의 모임&middot;조직만을 위한 그룹을 만들어 보세요. 그룹 안에서 여러 빠띠를 개설할 수 있습니다. 그룹은 공개형과 비공개형으로 나뉩니다.
              %p
                = link_to '그룹 만들기', new_group_configuration_url(subdomain: nil), class: 'btn btn-primary'
                = link_to '가격 정책 안내', pricing_url(subdomain: nil), style:"text-decoration:underline;margin-left:10px;", target: '_blank'
          = render @groups[5..-1]
      - unless is_small_screen?
        = render 'application/aside'
