= render 'issues/issue_header', active_tab: :home

%section#posts
  .container
    .row
      .col-xs-9
        - if user_signed_in? and @issue.postable?(current_user)
          .unified-editor
            %ul.nav.nav-pills{role: "tablist"}
              %li.active.first{role: "presentation"}
                %a{"data-toggle": "tab", href: "#editor-talk", role: "tab"}
                  %i{class: "fa fa-comments-o"}
                  = t('labels.new_talk_button')
              %li{role: "presentation"}
                %a{"data-toggle": "tab", href: "#editor-opinion", role: "tab"}
                  %i{class: "fa fa-fire"}
                  = t('labels.new_opinion_button')
              %li{role: "presentation"}
                %a{"data-toggle": "tab", href: "#editor-link", role: "tab"}
                  %i{class: "fa fa-link"}
                  = t('labels.new_article_link_source_button')
              %li{role: "presentation"}
                %a{"data-toggle": "tab", href: "#editor-file", role: "tab"}
                  %i{class: "fa fa-floppy-o"}
                  = t('labels.new_article_file_source_button')
            .tab-content
              #editor-talk.tab-pane.active{role: "tabpanel"}
                = render 'talks/new_form', issue: @issue
              #editor-opinion.tab-pane{role: "tabpanel"}
                = render 'opinions/new_form', issue: @issue
              #editor-link.tab-pane{role: "tabpanel"}
                = render 'articles/new_form_with_link', issue: @issue
              #editor-file.tab-pane{role: "tabpanel"}
                = render 'articles/new_form_with_file', issue: @issue


        - if @last_comment.present?
          = render 'comments/new_comments_count', new_comments_count_url: new_issue_comments_count_url(slug: @issue.slug, first_id: @last_comment.id)
        .posts{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              아직 글이 없습니다.
          - else
            = render 'posts/page', show_issue: false
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': issue_home_path_or_url(@issue, format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'issues/aside'
