= render 'issues/issue_header'

%section#posts
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'issues/content_tabs', active_tab: :articles, counts_container: @issue.counts_container
        = render 'articles/list', postables: @articles, issue: @issue, show_issue: @issue.is_all?
        = paginate @articles, theme: 'catan', params: @paginate_params
      = render 'issues/aside'

