= render 'issue_small_header', show_social_share: true

%section#comments
  .container
    .row
      .col-sm-8
        %section#content-tab-section
          = render 'issues/content_tabs', active_tab: :comments, counts_container: @issue.counts_container
        = render 'application/inline_form', issue: @issue
        = render 'comments/list', comments: @comments, show_issue: @issue.is_all?
        = link_to_next_page @comments, '더보기', remote: true, class: 'btn btn-default btn-block', id: 'btn-next-page', data: { disable_with: '<i class="fa fa-spinner fa-pulse"></i>' }

= render 'issues/recommends', issue: @issue
