= render 'issues/issue_header', active_tab: :links_or_files

%section#references
  .container-fluid
    - if @posts.empty?
      .bg-default.text-center
        %i.fa.fa-info-circle
        가장 먼저 자료를 올려보세요.
        %br
        = link_to smart_issue_home_url(@issue) do
          전체글로 이동해서 자료 올리기
          %i.fa.fa-arrow-right
    - else
      .contents-header
        .posts-filter-select
          = render 'posts/sort_select'
      .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
        .grid-sizer.col-sm-4.col-xs-6
        = render 'posts/page_card', posts: @posts

    = paginate @posts, theme: 'catan'

= render 'issues/bottom_banner', issue: @issue
