= render 'issues/issue_header', active_tab: :home

%section#posts
  .container
    .row
      .col-xs-12.col-sm-8
        - if !@issue.frozen?
          - if user_signed_in?
            - if @issue.member?(current_user)
              - if @issue.postable?(current_user)
                .unified-editor.unified-editor-intro{ data: { action: 'parti-show', 'show-target': '.unified-editor.unified-editor--hidden', 'self-hide': 'true', 'spotlight-post-editor': 'true'} }
                  .text-muted
                    = byline current_user, hide_nickname: true
                    .placeholder #{current_user.nickname}님, 무슨 이야기를 나누실래요?
                .unified-editor.unified-editor--hidden{ data: { action: ('parti-post-editor-spotlight' if !is_small_screen?) } }
                  = render 'posts/new_form', issue: @issue
            - else
              - if @issue.notice_only?
                .unified-editor.unified-editor--join
                  이 빠띠에 가입하여 새소식을 들어보세요.
                  = render 'issues/join_button'
              - else
                .unified-editor.unified-editor--join
                  이 빠띠에 가입하여 게시물을 올려보세요.
                  = render 'issues/join_button'
          - else
            .unified-editor.unified-editor-intro{data: { toggle: 'parti-login-overlay' }}
              .text-muted
                어떤 이야기를 하고 싶으세요?
        - else
          .unified-editor.unified-editor-intro
            .text-muted.text-primary
              휴면 중인 빠띠입니다.

        - if params[:q].blank?
          = render 'posts/new_posts_count', new_posts_count_url: new_issue_posts_count_url(issue_id: @issue.id, last_time: DateTime.now.to_i)

        .posts{data: {last_id: -1, is_last: 'false'}}
          - if params[:q].present?
            .post-card.summary
              .post-card__post
                - if @search_q.present?
                  "#{@search_q}"을(를) 검색한 결과입니다.
                  - if @search_q != params[:q]
                    영문과 한글만 검색합니다.
                  = link_to '취소', smart_issue_home_path_or_url(@issue), class: 'btn btn-sm btn-default'
                - else
                  두 글자 이상의 영문과 한글만 검색됩니다. 검색할 키워드를 다시 입력하세요.
          - unless @search_q.present?
            = render 'posts/list_pinned', posts: @posts_pinned
          #no-data.text-center.alert{ style: 'display: none;' }
            %i.fa.fa-info-circle
              - if params[:q].blank?
                아직 글이 없습니다.
              - else
                검색 결과가 없습니다.
        .page-waypoint.js-page-waypoint-onload.text-center{'data-target': '.posts', 'data-url': smart_issue_home_path_or_url(@issue, format: :js)}
          .page-waypoint-loading.js-page-waypoint-loading
            %i.fa.fa-2x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'issues/aside'
