= render 'issues/issue_header', active_tab: :talks

%section#talks
  .container
    .editors-panel
      .media
        .media-body.hidden-xs
          %h4
            논의해 보세요
            %small 질문을 남기거나 제안을 받고, 혹은 자신의 의견을 펼쳐보세요.
        .media-right
          - if user_signed_in?
            - if @issue.postable?(current_user)
              = link_to '#', class: 'btn btn-primary btn-shadow editor-btn', data: { action: 'parti-show', 'show-target': '#talk-form-widget', focus: 'input#talk_title', 'self-hide': true} do
                %i.fa.fa-comments-o
                = t('labels.new_talk_button')
            - else
              = render 'issues/join_button'
          - else
            = link_to '#', class: 'btn btn-primary btn-shadow editor-btn', data: { toggle: 'parti-login-overlay' } do
              %i.fa.fa-comments-o
              = t('labels.new_talk_button')
      - if user_signed_in?
        = render 'talks/new_form', issue: @issue
    - if can? :create, Section.new(issue: @issue)
      = link_to '카테고리 추가', new_issue_section_path(@issue)
    - @issue.sections.each do |section|
      = link_to section.name, [:edit, section]
      - unless section.initial?
        = link_to '삭제', section, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'}
    = render 'talks/list', postables: @talks, issue: @issue, show_issue: @issue.blank?
    = paginate @talks, theme: 'catan', params: @paginate_params
