= render 'issues/issue_header', show_social_share: true

%section#posts
  .container
    .row
      .col-sm-9
        %section#content-tab-section
          = render 'issues/content_tabs', active_tab: :opinions, counts_container: @issue.counts_container
        = render 'opinions/new_form', issue: @issue
        = render 'opinions/cards', opinions: @opinions, issue: @issue
      = render 'aside'
