= render 'issues/issue_header', active_tab: :folders, show_menu: true

- partial_dom_id = "issue-selector-#{SecureRandom.uuid}"
%section.page-folders.contents-page
  .container
    .row
      .col-xs-12
        .controll-folders
          - if can? :manage_folders, @issue
            = link_to new_folder_path(issue_id: @issue.id, dom_id: partial_dom_id), remote: true, class: 'btn btn-default btn-xs' do
              %i.fa.fa-magic
              새 폴더
          %span.threaded-message.js-slug-folder-autosave
            #{date_f(DateTime.now)} 로딩됨
        .threaded-folders
          .threaded-folders-header
            .header-cell.title 제목
            .header-cell.updated-at 업데이트
          .threaded-folders-body.background.js-lazy-partal-load{ id: partial_dom_id, data: { url: smart_issue_folders_url(@issue, dom_id: partial_dom_id, highlight_folder_id: params[:highlight_folder_id], format: :js) } }
            - 8.times do
              .skeletons
                .skeleton-title{ style: "width: #{[30, 40, 50].sample}%;"}
