= render 'issues/issue_header', active_tab: :articles

%section#articles
  .container
    .editors-panel
      .media
        .media-body.hidden-xs
          %h3
            함께 나누고 싶은 자료를 올려보세요!
            %small 뉴스, 블로그, 영상 등 관련 자료를 모아보세요.
        .media-right
          - if user_signed_in?
            .btn-group
              = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { action: 'parti-switch', 'switch-target': '#article-link-source-form-widget', 'switch-target-base': '.form-widget-container, .editor-btn', focus: 'input#article_source_attributes_url'} do
                %i.fa.fa-link
                = t('labels.new_article_link_source_button')
              = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { action: 'parti-switch', 'switch-target': '#article-file-source-form-widget', 'switch-target-base': '.form-widget-container, .editor-btn', focus: 'input#article_source_attributes_attachment'} do
                %i.fa.fa-floppy-o
                = t('labels.new_article_file_source_button')
          - else
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { toggle: 'parti-login-overlay' } do
              %i.fa.fa-paperclip
              = t('labels.new_article_button')
      - if user_signed_in?
        = render 'articles/new_form', issue: @issue
    - if @articles.empty?
      .bg-default.text-center
        %i.fa.fa-info-circle
        가장 먼저 자료를 올려보세요.
    - else
      .row.masonry-container{data: {last_id: @articles.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
        .grid-sizer.col-sm-3.col-xs-6
        = render 'issues/slug_articles_page'
      .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': issue_articles_path(@issue, format: :js)}
        .page_waypoint__loading
          %i.fa.fa-3x.fa-spinner.fa-pulse
