= render 'issues/issue_header', active_tab: :home

%section#posts
  .container
    .row
      .col-xs-12.col-sm-8
        - if @issue.freezed_at.blank?
          - if user_signed_in?
            - if @issue.postable?(current_user)
              .unified-editor.unified-editor-intro{ data: { action: 'parti-show', 'show-target': '.unified-editor.unified-editor--hidden', 'self-hide': 'true', 'spotlight-post-editor': 'true'} }
                .text-muted
                  = byline current_user, hide_nickname: true
                  #{current_user.nickname}님, 무슨 이야기를 나누실래요?
              .unified-editor.unified-editor--hidden{ data: { action: ('parti-post-editor-spotlight' if !is_small_screen?) } }
                = render 'posts/new_form', issue: @issue
            - else
              .unified-editor.unified-editor--join
                이 빠띠에 가입하여 게시물을 올려보세요.
                = render 'issues/join_button'
          - else
            .unified-editor.unified-editor-intro{data: { toggle: 'parti-login-overlay' }}
              .text-muted
                어떤 이야기를 하고 싶으세요?
        - else
          .unified-editor.unified-editor-intro
            .text-muted.text-primary
              휴면 중인 빠띠입니다.


        - if @last_comment.present?
          = render 'comments/new_comments_count', new_comments_count_url: new_issue_comments_count_url(slug: @issue.slug, first_id: @last_comment.id)
        .posts{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          = render @issue.posts.pinned.order(last_touched_at: :desc), show_issue: false, mode: 'list'
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              아직 글이 없습니다.
          - else
            = render 'posts/page', show_issue: false
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': issue_home_path_or_url(@issue, format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'issues/aside'
