= render 'issues/issue_header', active_tab: :talks

%section#talks
  .container
    .editors-panel
      .media
        .media-body.hidden-xs
          %h3
            이야기를 나눠보세요
            %small 질문을 남기거나 제안을 받고, 혹은 자신의 의견을 펼쳐보세요.
        .media-right
          - if user_signed_in?
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { action: 'parti-show', 'show-target': '#talk-form-widget', focus: 'input#talk_title'} do
              %i.icon-talk
              = t('labels.new_talk_button')
          - else
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { toggle: 'parti-login-overlay' } do
              %i.icon-talk
              = t('labels.new_talk_button')
      - if user_signed_in?
        = render 'talks/new_form', issue: @issue
    = render 'talks/list', postables: @talks, issue: @issue, show_issue: @issue.blank?
    = paginate @talks, theme: 'catan', params: @paginate_params
