= render 'issues/issue_header', active_tab: :wikis

%section#wikis
  .container
    = render 'wikis/wiki_header', issue: @issue
    .body
      .histories
        -unless @issue.wiki.wiki_histories.blank?
          마지막으로 #{@issue.wiki.last_history.user.nickname}님이 #{date_f @issue.wiki.last_history.created_at}에 수정했습니다.
          = link_to wiki_wiki_histories_path(@issue.wiki) do
            %i.fa.fa-history
            모든 버전 보기
      .wiki_content
        -if @issue.wiki.body.blank?
          %p#no-content
            %i.fa.fa-smile-o
              작성된 내용이 없습니다.
        -else
          = raw render_markdown_to_html(@issue.wiki.body)

