= render 'issues/issue_header', active_tab: :opinions

%section#opinions
  .container
    .editors-panel
      .media
        .media-body
          %h3
            지금 투표를 열어 보세요.
            %small 더 나은 논의를 위해 투표를 열어 여론을 알아보세요.
        .media-right
          - if user_signed_in?
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { action: 'parti-show', 'show-target': '#opinion-form-widget', focus: ( !@issue.is_all? ? 'input#opinion_title' : 'select#opinion_issue_id')} do
              %i.icon-opinion
              투표열기
          - else
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { toggle: 'parti-login-overlay' } do
              %i.icon-opinion
              투표열기
      - if user_signed_in?
        = render 'opinions/new_form', issue: @issue
    .row.masonry-container{data: {last_id: @opinions.last.try(:id), is_last: @is_last_page.to_s}}
      = render 'issues/slug_opinions_page'
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': issue_opinions_path(@issue, format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse

