= render 'issues/issue_header', active_tab: :articles

%section#articles
  .container
    .editors-panel
      .media
        .media-body.hidden-xs
          %h3
            함께 나누고 싶은 자료를 올려보세요!
            %small 뉴스, 블로그, 영상 등 관련 자료를 모아보세요.
        .media-right
          - if user_signed_in?
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { action: 'parti-show', 'show-target': '#article-form-widget', focus: 'input#article_link'} do
              %i.icon-article
              = t('labels.new_article_button')
          - else
            = link_to '#', class: 'btn btn-primary btn-lg btn-shadow editor-btn', data: { toggle: 'parti-login-overlay' } do
              %i.icon-article
              = t('labels.new_article_button')
      - if user_signed_in?
        = render 'articles/new_form', issue: @issue
    .row.masonry-container{data: {last_id: @articles.last.try(:id), is_last: @is_last_page.to_s}}
      - if @articles.empty?
        .bg-default
          %i.fa.fa-info-circle
          해당되는 글이 없습니다.
      - else
        = render 'issues/slug_articles_page'
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': issue_home_path(@issue, format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse
