= render 'issues/issue_header', active_tab: :wikis

%section#wikis-page
  .container
    - unless @issue.exists_wiki?
      .bg-default.text-center
        %i.fa.fa-info-circle
        가장 먼저 위키를 작성를 열어보세요.
        %br
          = link_to new_wiki_posts_path(issue_id: @issue.id) do
            위키 작성하기
            %i.fa.fa-arrow-right
    - else
      .contents-header
        .posts-filter-select
          #content-tab-section
            %ul.nav.nav-tabs{ style: 'margin-bottom: 14px;' }
              %li{ class: "#{('active' if params['status'] == 'active'  or params['status'].nil?)}" }
                = link_to '게시 중', {status: 'active'}
              %li{ class: "#{('active' if params['status'] == 'inactive')}" }
                = link_to '아카이브된', {status: 'inactive'}
      - if @posts.any?
        .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
          .grid-sizer.col-sm-4.col-xs-6
          = render 'wikis/page'
      - else
        .bg-default.text-center
          %i.fa.fa-info-circle
          해당 위키가 없습니다.
    = paginate @posts, theme: 'catan'

= render 'issues/bottom_banner'
