= render 'issues/issue_header', active_tab: ''
%section#issue-users
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          .nav-tabs.message-tab
            %h4
              #{@issue.member_only? ? '가입' : '구독'}회원
              .count-label-wrapper
                .count-label= @issue.watches.count

        %ul.user-card-wrapper.list-unstyled.clearfix
          - @issue.watched_users.recent.each do |user|
            = render user, issue: @issue
      .col-xs-3= render 'footer'

