= render 'issues/issue_header', active_tab: :talks

%section#posts
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'issues/content_tabs', active_tab: :talks, counts_container: @issue.counts_container
        = render 'talks/list', postables: @talks, issue: @issue, show_issue: @issue.is_all?
        = paginate @talks, theme: 'catan', params: @paginate_params
      = render 'issues/aside'
