= render 'issues/issue_header', active_tab: :notes

%section#notes
  .container
    .editors-panel{class: ('editors-panel--unpostable' if !user_signed_in? or !@issue.postable?(current_user))}
      .media
        .media-body.hidden-xs
          %h4
            담벼락에 가볍게 한마디
            %small 하고 싶은 말 있으면 무엇이든 남겨보세요.
        - if !user_signed_in?
          .media-right
            = link_to '#', class: 'btn btn-primary btn-shadow editor-btn', data: { toggle: 'parti-login-overlay' } do
              %i.fa.fa-comments-o
              = t('labels.new_note_button')
        - elsif !@issue.postable?(current_user)
          .media-right
            - if user_signed_in?
              = render 'issues/join_button'

    %div
      = render 'notes/list', postables: @notes, issue: @issue, show_issue: @issue.blank?
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': issue_notes_path(@issue, format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse

