= render 'issues/issue_header', active_tab: :wikis

%section#wikis
  .container
    - unless @issue.exists_wiki?
      .bg-default.text-center
        %i.fa.fa-info-circle
        가장 먼저 위키를 올려보세요.
    - else
      .posts-header
        %h4.posts-header__title
          위키
          %small 함께 작성해 보세요.
        .posts-filter-select
          .btn-group
            = link_to "게시 중인 위키 (#{@issue.active_wiki_count})", {status: 'active'}, class: "btn btn-default #{('active' if params['status'] == 'active' or params['status'].nil?)}"
            = link_to "아카이브된 위키 (#{@issue.inactive_wiki_count})", {status: 'inactive'}, class: "btn btn-default #{('active' if params['status'] == 'inactive')}"
      - if @posts.any?
        .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
          .grid-sizer.col-sm-4.col-xs-6
          = render 'wikis/page'
      - else
        .bg-default.text-center
          %i.fa.fa-info-circle
          위키가 없습니다.

    = paginate @posts, theme: 'catan'

= render 'issues/bottom_banner'
