= render 'issues/issue_header', active_tab: :users, show_menu: true

%section#issue-users
  .container
    - if @issue.member? current_user
      %section
        %h4.group-heading
          내 프로필 관리

        .members-profile-form
          = form_tag update_profile_issue_members_path(@issue), method: :post do
            .input-group
              = text_field_tag :description, @issue.member_of(current_user).try(:description) || "#{current_user.nickname}입니다", class: 'form-control'
              %span.input-group-btn
                = submit_tag '저장', class: 'btn btn-default btn-primary', data: { confirm: '저장하시겠습니까?', disable_with: "저장 중..." }

    - if @issue.member_request_users.any?
      %section.default-padding-top
        %h4.group-heading
          가입신청
          .count-label-wrapper
            .count-label= @issue.member_requests.count
        %ul.request-card-wrapper.list-unstyled.clearfix
          - @issue.member_request_users.each do |user|
            = render user, issue: @issue, additional_buttons_partial: 'member_requests/accept_buttons', chevron_buttons_partial: 'users/chevron_buttons'

    %section.default-padding-top
      %h4.group-heading
        가입멤버
        .count-label-wrapper
          .count-label= @issue.members.count
      .members-search-form
        = form_tag smart_issue_members_path(@issue), method: :get do
          = hidden_field_tag :sort, params[:sort]
          .input-group.input-group-keyword
            %input.form-control{name: "keyword", placeholder: "ex) 닉네임#{(' 이메일' if user_signed_in? and current_user.admin?)}", value: params[:keyword], type: "search", 'data-action': 'parti-clearable-search'}
              %span.input-group-btn
                %button.btn.btn-group-default
                  %i.fa.fa-search
      %ul.user-card-wrapper.list-unstyled.clearfix{data: {last_id: @current_last.try(:id), is_last: @is_last_page.to_s}}
        = render 'members/members_page', members: @members, issue: @issue
      = paginate @members, theme: 'catan', params: { controller: 'issues', action: 'slug_members' }
