= render 'issues/issue_header', active_tab: :opinions

%section#opinions
  .container
    - unless local_assigns[:hide_writing_card]
      .vote__new#editors-tab
        - if user_signed_in?
          = link_to '#', class: 'btn-vote', data: { action: 'parti-show', 'show-target': '#opinion-form-widget', focus: ( !@issue.is_all? ? 'input#opinion_title' : 'select#opinion_issue_id')} do
            %span
              더 나은 논의를 위해 투표를 열어 보세요.
            %span.vote__new-img
              = image_tag 'img_opinion.png'
              %b 투표 열기
          = render 'opinions/new_form', issue: @issue
        - else
          = link_to '#', class: 'btn-vote', data: { toggle: 'parti-login-overlay', label: Opinion.model_name.human } do
            %span
              더 나은 논의를 위해 투표를 열어 보세요.
            %span.vote__new-img
              = image_tag 'img_opinion.png'
              %b 투표 열기
    .row.masonry-container
      - @opinions.each do |opinion|
        .card.col-xs-12.col-sm-4
          = render 'opinions/card', card: opinion
      = paginate @opinions, theme: 'catan', params: @paginate_params
