<!DOCTYPE html>
<html lang='ko'>
<head>
  <%= render 'mobile_app/pages/header' %>
  <%= render 'application/mobile_app_js' %>
  <script>
    function gotoMain() {
      document.location.href = "<%= root_url(subdomain: nil) %>";
    }

    // 이 함수는 App에서 호출합니다.
    function requestFacebookAuth(token) {
      if (token) {
        document.f1.token.value = token;
        document.f1.submit();
      } else {
        // 할 수 있는게 없죠. 그냥 초기 페이지로 이동시킵니다.
        gotoMain();
        return;
      }
    }

    window.onload = function() {
      if (!ufo.isApp()) {
        return;
      }

      // 서버사이드에서 세션체크 후 로그인 상태에 따라 아래와 같이 분기처리합니다:
      <% if user_signed_in? %>
      // 로그인된 상태입니다. 초기페이지 URL 로 바로 이동합니다.
      gotoMain();
      <% else %>
      // 로그인이 안된 상태입니다. 앱이 requestGoogleAuth() 를 호출할 것입니다.
      if (ufo.canHandle("startFacebookSignIn")) {
        ufo.startFacebookSignIn();
      } else {
        window.location.href  = "<%= params[:fallback_url] %>";
      }
      <% end %>
    }
  </script>
</head>

<body>
  <div class="container" style="max-width: 100%; text-align: center; padding-top: 2em;">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <%= form_tag mobile_app_auth_facebook_callback_url(subdomain: nil), name: :f1, method: :post do %>
    <%= hidden_field_tag :token %>
    <%= hidden_field_tag :remember_me, params[:remember_me] %>
  <% end %>
</body>
</html>
