- article = article_line
- post = article.acting_as
- issue = post.issue
- modal_data = local_assigns[:in_modal] ? {} : { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) }
- article_line = capture do
  .article-line.post-line[post]{data: modal_data}
    - if video?(article)
      .article-line__content.article-line__content--video
        .article-line__video-container
          .article-line__video-content
            = video_embed_code(article)
        .article-line__site-name
          %a{href: article.source.url, target: '_blank'}
            = article.site_name.try(:upcase)
            원글보기
            %i.fa.fa-external-link
    - else
      %a{href: article.source.url, target: '_blank'}
        .article-line__content
          - if local_assigns[:show_issue]
            .article-line__issue.post-line__issue
              = link_to issue_home_path_or_url(issue) do
                = image_tag issue.logo.xs.url
                %span.text-primary= issue.title
              %span.post-line__issue__post-type
                &middot;
                #{Article.model_name.human}
          %h4.article-line__title.post-line__title= screenable_article_title(article)
          .article-line__body= excerpt(article.body, length: (is_small_screen? ? 45 : 130))
          .article-line__site-name
            %a{href: article.source.url, target: '_blank'}
              = article.site_name.try(:upcase)
              원글보기
              %i.fa.fa-external-link
      - if (article.has_image?)
        .article-line__thumb{style: "background-image: url(#{article.image.md.url})"}
- if local_assigns[:in_modal]
  %a{href: article.source.url, target: '_blank'}
    = article_line
- else
  = article_line
