- article = article_line
- post = article.acting_as
- issue = post.issue
- modal_data = local_assigns[:in_modal] ? {} : { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) }
- mention_options_data = { 'mention-nickname': post.user.nickname, 'mention-form-control': '#new_comment #comment_body' }
- mention_data = local_assigns[:in_modal] ? mention_options_data.merge(action: 'parti-mention') : mention_options_data.merge(modal_data)
- article_line = capture do
  .article-line.post-line[post]{data: modal_data}
    - if video?(article)
      .article-line__content.article-line__content--video
        .article-line__video-container
          .article-line__video-content
            = video_embed_code(article)
        .article-line__site-name
          %a{href: article.source.url, target: '_blank'}
            = article.site_name.try(:upcase)
            원글보기
            %i.fa.fa-external-link
    - if article.file_source?
      %a{href: (article.has_source_url? ? article.source_url : download_file_source_path(article.source)), target: ('_blank' if article.has_image?)}
        .article-line__content
          - if local_assigns[:show_issue]
            .article-line__issue.post-line__issue
              = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue)  do
                = image_tag issue.logo.xs.url
                %span.text-primary= issue.title
              %span.post-line__issue__post-type
                &middot;
                #{Article.model_name.human}
          %h4.article-line__title.post-line__title= screenable_article_title(article)
          .article-line__site-name
            %a{href: download_file_source_path(article.source)}
              %i.fa.fa-floppy-o
              다운로드
        - if (article.has_image?)
          %a.article-line__thumb{href: article.source.attachment.url, target: '_blank', style: "background-image: url(#{article.image.md.url})"}
    - else
      %a{href: article.source.url, target: '_blank'}
        .article-line__content
          - if local_assigns[:show_issue]
            .article-line__issue.post-line__issue
              = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue)  do
                = image_tag issue.logo.xs.url
                %span.text-primary= issue.title
              %span.post-line__issue__post-type
                &middot;
                #{Article.model_name.human}
          %h4.article-line__title.post-line__title= screenable_article_title(article)
          .article-line__source-body= excerpt(article.source_body, length: (is_small_screen? ? 45 : 130))
          .article-line__site-name
            %a{href: article.source.url, target: '_blank'}
              = article.site_name.try(:upcase)
              원글보기
              %i.fa.fa-external-link
      - if (article.has_image?)
        .article-line__thumb{style: "background-image: url(#{article.image.md.url})"}
- if local_assigns[:in_modal] and article.link_source?
  %a{href: article.source.url, target: '_blank'}
    = article_line
- elsif local_assigns[:in_modal] and article.file_source?
  %a{href: download_file_source_path(article.source)}
    = article_line
- else
  = article_line
.article-line__body
  .media
    .media-body
      .article-body{data: modal_data}
        = smart_format(article.body)
      - unless local_assigns[:hide_user]
        .article-info
          = link_to user_gallery_path(article.user) do
            .thumb.user-image.img-circle{style: "background-image: url(#{article.user.image.sm.url});"}
            %span.nickname= article.user.nickname
          - if article.user.mentionable?(current_user)
            %a.comment__mention{ href: '#', data: mention_data }
              %i.fa.fa-reply

        - unless local_assigns[:hide_upvote]
          .article-upvote.visible-xs
            = render 'upvotes/upvote', upvotable: post

    - unless local_assigns[:hide_upvote]
      .media-right.hidden-xs
        = render 'upvotes/upvote', upvotable: post
