- post = article.acting_as
.article[post]
  .article__info
    = render 'posts/post_inline_footer', obj: article, show_issue: local_assigns[:show_issue]
  %h4.article__title
    = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) } do
      = screenable_article_title(article)
  .article__comment
    = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) } do
      = image_tag 'icon_comment.png'
      %b
        = post.comments_count

  .article__footer
    - if (article.has_image? and image_over_height(article.image.file, 400))
      = link_to article.link, class: 'link-box clearfix', target: '_blank' do
        = image_tag(article.image.md.url)
        %p= article.body

