- post = article.acting_as

- if post.comments_count >= 20
  - template_by_post = 'best'
- elsif post.comments_count >= 10
  - template_by_post = 'popular'
- else
  - template_by_post = 'default'

- template ||= (local_assigns[:template] || template_by_post)
- if template == 'best'
  - wrapper_class = 'col-xs-12 col-sm-6'
  - card_class = template
- elsif template == 'popular'
  - wrapper_class = 'col-xs-6 col-sm-3'
  - card_class = template
- else
  - wrapper_class = 'col-xs-6 col-sm-3'
  - card_class = 'default'

.card{ class: wrapper_class }
  .article-card[post]{ class: card_class, data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) } }
    .thumb{ style: "background-image: url(#{article.image.md.url})" }
    .caption
      .date= date_f article.created_at

      %h4.title
        = screenable_article_title(article, length: 23)

      .body
        %p= excerpt(article.body, length: 45)

      .more
        %div
          %b> #{post.comments_count}개
          의 수다
          \|
          %span.text-primary 더보기...
