- article = article_as_footnote
- post = article.acting_as
.post-inline[post]
  %h5.post-inline__title
    = render 'posts/post_inline_footnote', obj: article, show_issue: local_assigns[:show_issue]
    - if !article.hidden?
      = link_to article.link, target: '_blank', class: 'text-muted' do
        = image_tag 'icon_link.png'
    = link_to screenable_article_title(article), '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) }
  .post-inline__comment.pull-right
    = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) } do
      = image_tag 'icon_comment.png'
      %b= post.comments_count


