- unless @article.hidden?
  .post__body.article__body
    .media
      .media-body
        - if video?(@article)
          .article__body__video-container
            = video_embed_code(@article)
        - elsif @article.has_image?
          - if @article.image_height > 255
            .article__body__img-container.article__body__img-container--lg
              = link_to @article.link, target: '_blank' do
                = image_tag(@article.image.lg.url)
          - else
            .article__body__img-container
              = link_to @article.link, target: '_blank' do
                = image_tag(@article.image.url)

        .article__body__text-container
          = smart_format(@article.body)
        .article__body__link-container
          - if @article.link_source.present? and !@article.hidden?
            = link_to @article.link, class: 'text-primary', target: '_blank' do
              %i.icon-article
              #{truncate @article.link, length: 50}
