.post__body.article__body
  .media
    - if (@article.body || '').length > 500
      .media-body
        = smart_format(@article.body)
        - if @article.link_source.present? and !@article.hidden?
          = link_to @article.link, target: '_blank' do
            %i.fa.fa-link
            링크 #{truncate @article.link, length: 50}
      - if @article.has_image?
        .media-right
          %div{style: 'max-height: 300px'}
            = link_to @article.link, target: '_blank' do
              = image_tag(@article.image.url, class: 'media-object', style: 'max-width: 200px;')
    - else
      .media-body
        - if video?(@article)
          .article__body__video-container
            = video_embed_code(@article)
        - elsif @article.has_image?
          .text-center{style: 'margin-bottom: 20px;'}
            = link_to @article.link, target: '_blank' do
              = image_tag(@article.image.url)



        = smart_format(@article.body)
        - if @article.link_source.present? and !@article.hidden?
          = link_to @article.link, target: '_blank' do
            %i.fa.fa-link
            링크 #{truncate @article.link, length: 50}
