- unless @article.hidden?
  .post__body.article__body
    .media
      .media-body
        - if video?(@article)
          .article__body__video
            = video_embed_code(@article)
        .article__body__body
          = excerpt(@article.body, length: 130)
        .article__body__link
          - if @article.link_source.present? and !@article.hidden?
            = link_to @article.link, class: 'text-primary', target: '_blank' do
              %i.fa.fa-paperclip
              #{truncate @article.link, length: 50}
      - if (@article.has_image?)
        .media-right
          .thumb{style: "background-image: url(#{@article.image.md.url})"}

