.well
  = form_for @article do |f|
    = f.fields_for :source do |ff|
      - if @article.link_source?
        .form-group
          = ff.text_field :url, class: 'form-control'
          %p.help-bloc
      - if @article.file_source?
        .form-group
          %p
            현재 파일:
            = @article.source.name
          = ff.file_field :attachment, class: 'form-control'
          %p.help-block.help-block__search-link{ style: 'margin-top: 5px;'}


    .editor-btn.text-right
      = link_to '취소', @article, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary btn-ghost'


%h5
  이 자료를 숨기고 싶습니다.
  - if @article.hidden?
    = link_to '자료 보이기', article_path(@article, article: { hidden: false }), method: :put, data: { confirm: '정말 보이게 하겠습니까?' }
  - else
    = link_to '자료 숨기기', article_path(@article, article: { hidden: true }), method: :put, data: { confirm: '정말 숨기겠습니까?' }
