.well
  = form_for @article, html: { novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': "form#edit_#{dom_id(@article)} input[type=submit]" } } do |f|
    = f.fields_for :source do |ff|
      - if @article.link_source?
        .form-group
          = ff.text_field :url, class: 'form-control', data: {'rule-required': true}
          %p.help-bloc
      - if @article.file_source?
        .form-group
          %p
            현재 파일:
            = @article.source.name
          = ff.file_field :attachment, class: 'form-control'
          %p.help-block.help-block__search-link{ style: 'margin-top: 5px;'}

    .form-group
      %label 수다
      = f.text_area :body, class: 'form-control', data: {ride: 'parti-autoresize'}

    .editor-btn.text-right
      = link_to '취소', @article, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary btn-ghost', data: { disable_with: "게시 중..." }

