#article-file-source-form-widget.form-widget-container.bg-line
  = form_for Article.new, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#article-file-source-form-widget form input[type=submit]' } } do |f|
    = hidden_field_tag :back_url, @list_url || request.original_url
    = f.hidden_field :source_type, value: 'FileSource'

    = f.fields_for :source, FileSource.new do |ff|
      .form-group
        = ff.file_field :attachment, class: 'form-control', data: {'rule-required': true}
    .form-group.textarea-box
      = f.text_area :body, placeholder: '이 자료에 대한 설명을 남겨주세요.', class: 'form-control', data: {ride: 'parti-autoresize'}
    %hr
    .form-group.clearfix
      .submit-box.text-right
        = f.hidden_field :issue_id, value: issue.id
        %button.btn-link.btn-cancel.hidden-xs{ data: { action: 'parti-switch', 'switch-target': '.editor-btn-group', 'switch-target-base': '.form-widget-container'} }
          취소
        = f.submit '게시', class: 'btn btn-primary btn-ghost btn-border', data: { disable_with: "게시 중..." }
        %button.btn-link.btn-cancel.visible-xs-inline{ data: { action: 'parti-switch', 'switch-target': '.editor-btn-group', 'switch-target-base': '.form-widget-container'} }
          %i.fa.fa-times-circle
          취소
