.modal__top
  .modal__info
    = link_to issue_home_path(@article.issue) do
      = image_tag @article.issue.logo.xs.url, class: 'circle-30 img-circle'
      %span.text-primary= @article.issue.title
  %button.modal__btn(type="button" class="close" data-dismiss="modal" aria-label="Close")
    = image_tag 'icon_close.png'

.modal__content
  %h2.text-center= screenable_article_title(@article)
  = render 'body'
  = render 'posts/post_header', post: @article.acting_as

.modal__comment
  = render 'comments/comments', postable: @article, style: :media
