.container{style: 'width: auto;'}
  %section.post-section.article-section
    %h2.post__title.article__title= @article.title

    = render 'posts/post_header', post: @article.acting_as, only_buttons: true
    = render 'body'
    .article__tags.post__tags
      = render 'tags/collection', tags: @article.tags

    .post__likes
      .media
        .media-left
          = render 'likes/like', post: @article.acting_as
        .media-body
          = render 'likes/like_detail', post: @article.acting_as

  %section.post-comments-section
    = render 'comments/comments', postable: @article, style: :media
