.post-modal__top
  .post-modal__info
    = link_to issue_home_path(@article.issue) do
      = image_tag @article.issue.logo.xs.url, class: 'circle-30 img-circle'
      %span.text-primary= @article.issue.title
  %button.post-modal__btn(type="button" class="close" data-dismiss="modal" aria-label="Close")
    = image_tag 'icon_close.png'

.post-modal__content
  %h2.text-center= screenable_article_title(@article)
  = render 'body'
  = render 'posts/post_header', post: @article.acting_as

.post-modal__comment
  = render 'comments/comments_in_post_modal', postable: @article, style: :media
