.label.dropdown{ data: { controller: 'label-picker phone-dropdown', 'label-picker-url': label_front_post_path(current_post) } }
  .toggle{ data: { toggle: ('dropdown' if can?(:front_update_label, current_post)) } }
    %span.preview{ data: { target: 'label-picker.preview' } }
      = current_post.label.title
    - if can?(:front_update_label, current_post)
      %i.fa.fa-smile-o.fa-fw.collapse{ data: { target: 'label-picker.placeholder' } }
      %i.fa.fa-spinner.fa-fw.fa-pulse.collapse{ data: { target: 'label-picker.loading' } }
      %i.fa.fa-angle-down
  - if can?(:front_update_label, current_post)
    .dropdown-menu
      - current_group.labels.each do |label|
        .dropdown-item{ data: { action: 'click->label-picker#update', 'label-picker': { title: label.title, id: label.id } } }
          = label.title
          %span.body #{label.body}

      - more = capture do
        - if current_post.label.present?
          .dropdown-item{ data: { action: 'click->label-picker#update', 'label-picker-title': '' } }
            라벨 제거
        - if can?(:labels, current_group)
          = link_to front_labels_path, class: 'dropdown-item' do
            라벨 관리

      - if more.present?
        - if current_group.labels.any?
          .dropdown-divider
        = more
