-# TODO 저장 전에 폼 값 확인하기
- has_no_poll = (current_post.new_record? || current_post.poll.blank? || current_post.poll.new_record?)
- has_no_survey = (current_post.new_record? || current_post.survey.blank? || current_post.survey.new_record?)

= form_with(model: [:front, current_post], local: false, html: { class: 'post-form', novalidate: true, data: { controller: 'post-form editor-form', action: "ajax:before->post-form#submit" } }) do |f|
  = hidden_field_tag :folder_id, local_assigns[:current_folder]&.id
  = f.hidden_field :issue_id
  = f.hidden_field :has_poll, value: !has_no_poll, data: { target: 'post-form.hasPollField' }
  = f.hidden_field :has_survey, value: !has_no_survey, data: { target: 'post-form.hasSurveyField' }

  .post-meta
    = link_to smart_user_gallery_url(current_user), class: 'userimage' do
      .userimagebg{ style: "background-image: url(#{current_user.image.sm.url})" }
    .desc
      = link_to current_user.nickname, smart_user_gallery_url(current_user), class: 'usernickname'
      .createdat 지금
  .form-group
    = f.text_field :base_title, class: 'form-control', placeholder: '제목...', data: { target: 'post-form.baseTitleField' }
  .form-group
    = f.hidden_field :body, data: { target: 'post-form.bodyField' }
    %div{ style: 'display: none', data: { target: 'editor-form.source' } }
      != f.object.body

  - if current_issue.folders.any?
    - form_folder = current_post.persisted? ? current_post.folder : current_folder
    .form-group.form-inline.folderfield{ data: { controller: 'select-link-remote content-loader', 'content-loader-url': post_folder_field_front_channel_path(current_issue, folder_id: form_folder&.id, form_field_name: "#{f.object_name}[folder_id]") } }

  .form-group.filesourcesfield{ data: { target: 'post-form.fileSourcesFieldGroup' }, class: ('-active' if current_post.file_sources.any?) }
    .header
      사진&middot;파일
    .main
      .images{ data: { target: 'post-form.imageFileSourcesContainer' } }
        = f.fields_for :file_sources, current_post.file_sources_only_image do |ff|
          = render 'front/file_sources/form/field', f: ff, js_controller_name: 'post-form'
      .docs{ data: { target: 'post-form.docFileSourcesContainer' } }
        = f.fields_for :file_sources, current_post.file_sources_only_doc do |ff|
          = render 'front/file_sources/form/field', f: ff, js_controller_name: 'post-form'
    .footer
      .btn.btn-secondary.btn-sm{ data: { target: 'post-form.addFileSourceFieldButton', action: 'click->post-form#addFileSourceField' } }
        + 파일 추가
        %span.counter
          (
          %span{ data: { target: 'post-form.fileSourcesCounter' } }<> 0
          \/
          %span<> 20
          )
      .btn.btn-light.btn-sm.text-muted{ data: { action: 'click->post-form#closeFileSourcesFieldGroup' } } 업로드 취소

      .template{ data: { target: 'post-form.fileSourceFieldTemplate' } }
        = escape_once_block do
          = f.fields_for :file_sources, FileSource.new(), child_index: 'NEW_RECORD' do |ff|
            = render 'front/file_sources/form/field', f: ff, js_controller_name: 'post-form'
      .template{ data: { target: 'post-form.imageFileSourcePreviewTemplate' } }
        = escape_once_block do
          = render 'front/file_sources/form/preview', file_source: FileSource.new(), type: :image, js_controller_name: 'post-form'
      .template{ data: { target: 'post-form.docFileSourcePreviewTemplate' } }
        = escape_once_block do
          = render 'front/file_sources/form/preview', file_source: FileSource.new(), type: :doc, js_controller_name: 'post-form'
    .helper.text-muted
      %hr
      %span.badge.badge-secondary TIP
      최대 크기 10M 파일을 20개까지 업로드할 수 있습니다. 이미지는 드래그해서 순서를 조정할 수 있습니다.

  .form-group.pollfield{ data: { target: 'post-form.pollFieldGroup' }, class: ('-active' if current_post.poll.present?) }
    .header
      찬반투표
    .main
      = f.fields_for :poll, (Poll.new if has_no_poll) do |ff|
        .form-group
          = ff.label :title do
            찬반투표 제목
          = ff.text_field :title, maxlength: 100, class: 'form-control', placeholder: 'ex. 탕수육소스는 찍어먹어야합니다', data: { 'rule-required': true }
        .form-group.form-inline
          %label 진행 기간&nbsp;
          - if ff.object.persisted?
            - current_duration_day = '0'

            - poll_durationsoptions = []
            - if ff.object.expires_at.present? and ff.object.open?
              - poll_durationsoptions << ["기간 변경없이 #{l ff.object.expires_at.to_date}까지 진행", '']
              - current_duration_day = ''

            - poll_durationsoptions += [1, 3, 7].map { |i| [ "지금부터 #{i}일 동안", i] } + [['지금부터 계속', 0]]

            - poll_durationsoptions << [(ff.object.open? ? '바로 종료' : '종료 유지'), -1]
            - unless ff.object.open?
              - current_duration_day = '-1'

            = ff.select :duration_days, options_for_select(poll_durationsoptions, current_duration_day), {}, class: 'form-control'
          - else
            = ff.select :duration_days, options_for_select([0, 1, 3, 7].map { |i| [ (i == 0 ? "계속" : "#{i}일 동안"), i] }, ff.object.duration_days), {}, class: 'form-control'
        .form-group
          .form-check
            = ff.check_box :hidden_intermediate_result, class: 'form-check-input'
            = ff.label :hidden_intermediate_result, '종료 될 때까지 중간 투표 집계를 숨깁니다.', class: 'form-check-label'

          .form-check
            = ff.check_box :hidden_voters, class: 'form-check-input'
            = ff.label :hidden_voters, '누가 어디에 투표했는지 익명으로 진행합니다.', class: 'form-check-label'

    .footer
      .btn.btn-light.btn-sm.text-muted{ data: { action: 'click->post-form#closePollFieldGroup' } } 찬반투표 취소

  .form-group.surveyfield{ data: { target: 'post-form.surveyFieldGroup' }, class: ('-active' if current_post.survey.present?) }
    .header
      설문
    .main
      = f.fields_for :survey, (Survey.new if has_no_survey) do |ff|
        - if ff.object.new_record?
          .form-group
            %label 제안이 있으시면 넣어주세요. (선택사항)
            .optionfields{ data: { target: 'post-form.surveyOptions' } }
              - 2.times do |i|
                = ff.fields_for :options, Option.new, child_index: i do |fff|
                  = render 'front/posts/form/survey/option_field', f: fff, static: true, input_data: { placeholder: "ex. 제안#{i + 1}" }
            .btn.btn-secondary.btn-sm{ data: { action: 'click->post-form#addSurveyOptionField' } }
              + 제안 추가
        .template{ data: { target: 'post-form.surveyOptionTemplate' } }
          = escape_once_block do
            = ff.fields_for :options, Option.new, child_index: 'NEW_RECORD' do |fff|
              = render 'front/posts/form/survey/option_field', f: fff, static: true, input_data: { placeholder: "ex. 추가 제안" }
        .form-group.form-inline
          %label 진행 기간&nbsp;
          - if ff.object.persisted?
            - current_duration_day = '0'

            - poll_durationsoptions = []
            - if ff.object.expires_at.present? and ff.object.open?
              - poll_durationsoptions << ["기간 변경없이 #{l ff.object.expires_at.to_date}까지 진행", '']
              - current_duration_day = ''

            - poll_durationsoptions += [1, 3, 7].map { |i| [ "지금부터 #{i}일 동안", i] } + [['지금부터 계속', 0]]

            - poll_durationsoptions << [(ff.object.open? ? '바로 종료' : '종료 유지'), -1]
            - unless ff.object.open?
              - current_duration_day = '-1'

            = ff.select :duration_days, options_for_select(poll_durationsoptions, current_duration_day), {}, class: 'form-control'
          - else
            = ff.select :duration_days, options_for_select([0, 1, 3, 7].map { |i| [ (i == 0 ? "계속" : "#{i}일 동안"), i] }, ff.object.duration_days), {}, class: 'form-control'
        .form-group
          .form-check
            = ff.check_box :multiple_select, class: 'form-check-input'
            = ff.label :multiple_select, '제안 항목을 여러개 선택할 수 있습니다.', class: 'form-check-label'
          .form-check
            = ff.check_box :hidden_intermediate_result, class: 'form-check-input'
            = ff.label :hidden_intermediate_result, '종료 될 때까지 중간 투표 집계를 숨깁니다.', class: 'form-check-label'
          .form-check
            = ff.check_box :hidden_option_voters, class: 'form-check-input'
            = ff.label :hidden_option_voters, '제안에 누가 투표했는지 익명으로 진행합니다.', class: 'form-check-label'
    .footer
      .btn.btn-light.btn-sm.text-muted{ data: { action: 'click->post-form#closeSurveyFieldGroup' } } 설문 취소

  .form-group.gadgetcontrol
    %button.btn.btn-xs.btn-link.-active{ data: { action: 'click->post-form#openFileSourcesFieldGroup', target: 'post-form.fileSourcesOpenButton' } }
      %i.fa.fa-cloud-upload
      = t('labels.new_post_file_source_button')

    - if (current_post.new_record? || (has_no_poll && has_no_survey))
      %button.btn.btn-xs.btn-link{ class: ('-active' if has_no_survey), data: { action: 'click->post-form#openPollFieldGroup', target: 'post-form.pollOpenButton'} }
        %i.fa.fa-fire
        = t('labels.new_post_poll_button')
      %button.btn.btn-xs.btn-link{ class: ('-active' if has_no_poll), data: { action: 'click->post-form#openSurveyFieldGroup', target: 'post-form.surveyOpenButton'} }
        %i.fa.fa-list-ul
        = t('labels.new_post_survey_button')

  .form-group
    = f.submit '게시', class: 'btn btn-primary btn-block', data: { disable_with: "게시 중...", target: 'post-form.submitButton' }