- current_issue ||= local_assigns[:current_issue]
%ul.post-lines{ data: { 'controller': 'collection-activation' } }
  - posts.each do |post|
    %li.post-line{ class: ('-active' if post == current_post), data: { action: 'click->collection-activation#toggle', target: 'collection-activation.item' } }<>
      .body<>
        - unless post.blinded?(current_user)
          .title{ class: ('-purged' if post&.wiki&.purged?) }<>
            = link_to front_post_path(post, folder_id: @current_folder), class: 'link' do
              != post.title
            %span.unread{ class: ('-active' if post.need_to_read?(current_user)) }
        - else
          .title.-blind
            %i.fa.fa-info-circle
            = t('labels.post_blind_info')
        = link_to front_post_path(post, folder_id: @current_folder), class: 'meta' do
          - if !is_small_screen? && current_issue.present?
            - if post.poll.present?
              .icon<> 투표
            - elsif post.survey.present?
              .icon<> 설문
            - elsif post.wiki.present?
              .icon<> 위키

          - last_stroked_text, last_stroked_at = post.last_stroked_activity(with_creation: true) { |user| user_subject_word(user) }

          - if is_small_screen?
            - if current_issue.present?
              %i.fa.fa-clock-o
              = smart_date_tag(last_stroked_at)
            - else
              %span.link
                \#
                = post.issue.title
              = meta_icons(post.issue)
          - else
            - if current_issue.present?
              != last_stroked_text
              = smart_date_tag(last_stroked_at)
            - else
              %span.link
                \#
                = post.issue.title
              = meta_icons(post.issue)
              - if post.folder.present?
                - post.folder.ancestors_and_self.each do |folder|
                  \/
                  %span.link
                    = folder.title
              = smart_date_tag(last_stroked_at)
      .footer
        .strokedusers
          - if is_small_screen?
            - user = post.user
            %span.userimage{ data: { controller: 'content-popover', 'content-popover': { url: user_front_members_path(user), options: h({ container: '.front-app' }.to_json) } } }
              .userimagebg{ style: "background-image: url(#{user.image.sm.url})" }
          - else
            - post.recent_stroked_post_users.each_with_index do |stroked_post_user, index|
              - user = stroked_post_user.user
              - if index >= 4
                .morecount
                  %i.fa.fa-ellipsis-h
              - else
                %span.userimage{ data: { controller: 'content-popover', 'content-popover': { url: user_front_members_path(user), options: h({ container: '.front-app' }.to_json) } } }
                  .userimagebg{ style: "background-image: url(#{user.image.sm.url})" }

        .counts
          %span.upvotes
            %i.fa.fa-heart-o
            = trim_count(post.upvotes_count)
          %span.comments
            %i.fa.fa-comment-o
            = trim_count(post.comments_count)

= paginate posts, theme: 'catan'