- content_for :playground_header_content do
  .playground-header.-nosticky
    .channel-menu.-simple
      .title
        .node
          = link_to "# #{@current_issue.title}", front_channel_path(@current_issue), class: 'link'
          = meta_icons(@current_issue)
        - @current_post.folder&.ancestors_and_self&.each do |folder|
          .node
            &gt;
            = link_to folder.title, front_channel_path(@current_issue, folder_id: folder.id), class: 'link'
        .post.node
          #{@current_post.title}

- content_for :playground_sidebar_content do
  .supplementary-boxes
    = render partial: 'front/channels/supplementary', locals: @supplementary_locals

.alert-box.my-3
  .alert.alert-secondary
    %i.fa.fa-check
    해당 게시글이 삭제되었습니다.