.supplementary-boxes
  - if current_group.site_description.present?
    .supplementary-box{ data: { controller: 'content-toggle', 'content-toggle': { id: "group-intro-box-#{current_group.id}" } } }
      .header{ data: { action: 'click->content-toggle#toggle' } }
        .title
          그룹 소개
        .toggler
          %i.fa.-hide{ data: { target: 'content-toggle.content' } }
      .body{ data: { target: 'content-toggle.content' } }
        = simple_format h(current_group.site_description)
  - if current_group.organizer_members&.any?
    .supplementary-box{ data: { controller: 'content-toggle', 'content-toggle': { id: "group-organizer-members-box-#{current_group.id}" } } }
      .header{ data: { action: 'click->content-toggle#toggle' } }
        .title
          그룹 오거나이저
        .count
          = current_group.organizer_members&.size
        .toggler
          %i.fa.-hide{ data: { target: 'content-toggle.content' } }
      %ul.lines.-hide{ data: { 'controller': 'collection-activation', target: 'content-toggle.content' } }
        - current_group.organizer_members&.each do |member|
          - user = member.user
          %li.organizer-member
            %span.userimagebg{ style: "background-image: url(#{user.image.sm.url})" }
            %span.usernickname= user.nickname
            %span.memberrole= user.current_group_member&.role
  - else
    .supplementary-box
      .header
        .title
          그룹 오거나이저가 없습니다.
