%section
  %h4
    랜딩 페이지 관리
  %hr
  = form_tag save_admin_landing_pages_path, method: :post do
    .form-group.clearfix
      %label 최근 빠띠 게시글 (사진 + 텍스트)
      = link_to '/admin/fetch_posts#anchor-recent-posts', target: '_blank', class: 'btn btn-default btn-sm' do
        대상 포스트 찾기
      = text_field_tag :recent_posts, @sections[:recent_posts].try(:body_in_form), class: 'form-control', placeholder: '포스트 번호를 붙여서 써주세요. ex) 1569,1570,1571'

      - posts = @sections[:recent_posts].try(:parsed_body).try(:map) { |post_id| Post.find_by(id: post_id) }
      - if posts.try(:any?)
        %hr
        .row.masonry-container{ 'data-masonry-grid-sizer': '.grid-sizer' }
          - posts.each do |post|
            .grid-sizer.col-sm-6
              = render 'posts/admin_post', post: post, show_issue: true

    .form-group.clearfix
      %label 최근 토론
      = link_to '/admin/fetch_posts#anchor-polls-or-surveys', target: '_blank', class: 'btn btn-default btn-sm' do
        대상 포스트 찾기
      = text_field_tag :discusstions, @sections[:discusstions].try(:body_in_form), class: 'form-control', placeholder: '포스트 번호를 붙여서 써주세요. ex) 1569,1570,1571'

      - posts = @sections[:discusstions].try(:parsed_body).try(:map) { |post_id| Post.find_by(id: post_id) }
      - if posts.try(:any?)
        %hr
        .row.masonry-container{ 'data-masonry-grid-sizer': '.grid-sizer' }
          - posts.each do |post|
            .grid-sizer.col-sm-6
              = render 'posts/admin_post', post: post, show_issue: true

    .form-group.clearfix
      %label 최근 위키
      = link_to '/admin/fetch_posts#anchor-wikis', target: '_blank', class: 'btn btn-default btn-sm' do
        대상 포스트 찾기
      = text_field_tag :wikis, @sections[:wikis].try(:body_in_form), class: 'form-control', placeholder: '포스트 번호를 붙여서 써주세요. ex) 1569,1570,1571'

      - posts = @sections[:wikis].try(:parsed_body).try(:map) { |post_id| Post.find_by(id: post_id) }
      - if posts.try(:any?)
        %hr
        .row.masonry-container{ 'data-masonry-grid-sizer': '.grid-sizer' }
          - posts.each do |post|
            .grid-sizer.col-sm-6
              = render 'posts/admin_post', post: post, show_issue: true

    .form-group
      = submit_tag '저장하기', class: 'btn btn-primary', data: { confirm: '정말 저장하시겠습니까?', disable_with: "처리 중..." }
