.col-xs-3
  .aside_issue#aside
    %section
      %h5.aside_title 빠띠 메이커
      %ul.list-unstyled
        - @issue.makers.each do |maker|
          %li= byline maker.user

    %section
      %h5.aside_title
        구독중인 회원
        %span.text-primary<> #{@issue.watches.count}
        명
      - @issue.watched_users.each do |user|
        = byline user, hide_nickname: true

    - if @issue.related_issues.present?
      %section
        %h5.aside_title 관련 빠띠
        %ul.list-unstyled.aside-issues
          = render customize_partial_path(@issue.related_issues, 'issue_line')

    = render 'application/footer'
