.well
  = form_for @talk do |f|
    - if @talk.has_presentation?
      - presentation_comment = @talk.comments.first
      = hidden_field_tag :comment_id, presentation_comment.id
      .form-group
        = text_area_tag :comment_body, presentation_comment.body, class: 'form-control input-lg'

    .editor-btn.text-right
      = link_to '취소', @talk, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary btn-ghost'


