.well
  = form_for @talk do |f|
    .form-group
      = f.label :section_id
      = f.select :section_id, nil, {}, {class: 'form-control'} do
        - @talk.issue.sections.each do |section|
          %option{value: section.id}
            = section.name

    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control', maxlength: 50, placeholder: t('activerecord.models.talk') + '의 제목을 쓰세요'

    .form-group
      %label 수다
      = f.text_area :body, class: 'form-control', data: {ride: 'parti-autoresize'}

    .editor-btn.text-right
      = link_to '취소', @talk, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary btn-ghost', data: { disable_with: "저장 중..." }


