.well
  = form_for @talk do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control', maxlength: 50, placeholder: t('activerecord.models.talk') + '의 제목을 쓰세요'

    - if @talk.has_presentation?
      - presentation_comment = @talk.comments.first
      = hidden_field_tag :comment_id, presentation_comment.id
      .form-group
        %label 수다
        = text_area_tag :comment_body, presentation_comment.body, class: 'form-control', data: {ride: 'parti-autoresize'}

    .editor-btn.text-right
      = link_to '취소', @talk, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary btn-ghost'


