.well
  = form_for @talk do |f|
    .form-group
      = f.label :title, class: 'required'
      = f.text_field :title, class: 'form-control input-lg'

    .form-group
      = f.submit '저장', class: 'btn btn-primary btn-lg'
      = link_to @talk, class: 'btn btn-default' do
        취소
