- post = talk.acting_as
.talk-card[post]
  .media.talk-media
    - if local_assigns[:show_issue]
      .media-left.talk-media-left--issue
        = link_to issue_home_path(post.issue) do
          .thumb.thumb--issue{ style: "background-image: url(#{post.issue.logo.sm.url})" }
    .media-body
      %h5.media-heading.title
        = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) } do
          = talk.title
        %span.comment-count
          %i.fa.fa-comment-o
          %b> #{post.comments_count}

    .media-right
      .comment-users
        = byline post.user, hide_nickname: true

        - if true || talk.commenters.any?
          - preview_count = 5
          - talk.commenters[0..preview_count-1].each do |user|
            = byline user, hide_nickname: true
          - if talk.commenters.count > preview_count
            +#{talk.commenters.count - preview_count}
    .media-right
      .date= date_f talk.created_at
