- talk = talk_line
- post = talk.acting_as
- issue = post.issue
- modal_data = local_assigns[:in_modal] ? {} : { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) }
- mention_options_data = { 'mention-nickname': post.user.nickname, 'mention-form-control': '#new_comment #comment_body' }
- mention_data = local_assigns[:in_modal] ? mention_options_data.merge(action: 'parti-mention') : mention_options_data.merge(modal_data)
.talk-line.post-line[post]
  - if local_assigns[:show_issue]
    .talk-line__issue.post-line__issue
      = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue) do
        = image_tag issue.logo.xs.url
        %span.text-primary= issue.title
      %span.post-line__issue__post-type
        &middot;
        #{Talk.model_name.human}
  -if talk.parsed_title.present?
    %h4.talk-line__title.post-line__title{data: modal_data}
      %div{'data-action': 'parti-link-target-blank'}
        = redactor_smart_format talk.parsed_title
  .talk-body{data: modal_data}
    .talk-parsed-body{'data-action': 'parti-link-target-blank'}
      = redactor_smart_format talk.parsed_body


    - if talk.video_source?
      .talk-reference-line.post-line[post]{data: modal_data}
        .talk-reference-line__link-content.talk-reference-line__link-content--video
          .talk-reference-line__video-container
            .talk-reference-line__video-content
              = video_embed_code(talk)
          .talk-reference-line__site-name
            %a{href: talk.reference.url, target: '_blank'}
              = talk.site_name.try(:upcase)
              원글보기
              %i.fa.fa-external-link
    - elsif talk.file_source?
      - if talk.reference.image?
        .talk-reference-line__file-content__file-image
          %a{href: talk.reference.attachment.url, target: '_blank'}
            = image_tag "#{talk.reference.attachment.md.url}"
      - else
        .talk-reference-line.post-line[post]{data: modal_data}
          .talk-reference-line__file-content
            .media
              .media-left.hidden-xs
                %i.fa.fa-floppy-o
              .media-body
                %span.post-line-reference__title
                  = talk.reference_title
                %br.visible-xs
                %span.talk-reference-line__file-content__file-size
                  = number_to_human_size(talk.reference.file_size)
              .media-right
                .talk-reference-line__file-content__download
                  %a{href: talk.reference_url, target: '_blank'}
                    다운로드
    - elsif talk.link_source?
      .talk-reference-line.post-line[post]{data: modal_data}
        %a{href: talk.reference_url, target: '_blank'}
          .talk-reference-line__link-content
            .media
              .media-body
                %h4.post-line-reference__title= talk.reference_title
                .talk-reference-line__source-body= excerpt(talk.reference_body, length: (is_small_screen? ? 45 : 130))
                .talk-reference-line__site-name
                  %a{href: talk.reference_url, target: '_blank'}
                    = talk.site_name.try(:upcase)
                    원글보기
                    %i.fa.fa-external-link
              - if (talk.has_image?)
                .media-right
                  .talk-reference-line__link-content__thumb{style: "background-image: url(#{talk.image.md.url})"}
    - elsif talk.poll.present?
      .poll-card[post]{ class: "#{dom_id(talk.poll)} #{user_signed_in? && talk.poll.voting_by?(current_user) ? 'poll-card--voted' : ''}", data: modal_data}
        .row.poll-card__meta
          .col-sm-6.col-xs-12
            .poll-card__issue
              = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue) do
                - if post.issue.on_group? and current_group != post.issue.group
                  .poll-card__group
                    = post.issue.group.name[0..2]
                .thumb.thumb--issue{ style: "background-image: url(#{issue.logo.sm.url})" }
          .col-sm-6.col-xs-12
            .poll-card__date.date-wrapper.poll-card__date--with-issue
              %span= date_f talk.poll.created_at
        %h4.poll-card__title
          “#{talk.poll.title}”

        = render 'votings/voting', local_assigns.merge(specific: talk, partial: local_assigns[:partial])
