- post = talk.acting_as
.talk-card[post]
  .media.talk-media
    - if local_assigns[:show_issue]
      .media-left.talk-media-left--issue
        = link_to issue_home_path(post.issue) do
          .thumb.thumb--issue{ style: "background-image: url(#{post.issue.logo.sm.url})" }
    .media-left
      = link_to user_gallery_path(post.user) do
        .thumb.img-circle.circle-33{style: "background-image: url(#{post.user.image.sm.url});"}
    .media-body
      .date= date_f talk.created_at
      %h4.media-heading.title
        = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) } do
          = talk.title
    .media-right
      .comment-count
        %i.icon-comment
        %b> 총 #{post.comments_count}개
        %span.hidden-xs 의 수다
      - if true || talk.commenters.any?
        - preview_count = 5
        .comment-users
          - talk.commenters[0..preview_count-1].each do |user|
            = byline user, hide_nickname: true
          - if talk.commenters.count > preview_count
            +#{talk.commenters.count - preview_count}

  - if talk.best_comment.present?
    - comment = talk.best_comment
    .media.comment-media{ class: "#{'comment-media--issue' if local_assigns[:show_issue]}"}
      .media-left
        = link_to user_gallery_path(comment.user) do
          .thumb.img-circle.circle-20{style: "background-image: url(#{comment.user.image.sm.url});"}
      .media-body
        .comment-info
          %span.date= date_f comment.created_at
          %i.icon-best.color-brand-danger
        %h5.media-heading{data: { toggle: "parti-post-modal", target: '#post-modal', url: polymorphic_url(comment.post.specific) }}
          = smart_format(comment.body)
      .media-right
        = render 'upvotes/upvote', comment: comment
