- talk = talk_as_footnote
- post = talk.acting_as
.post-inline.talk-inline[post]
  %h5.post-inline__title
    = link_to talk.title, talk
    = link_to talk do
      %small
        %i.fa.fa-comment-o
          %span.text-primary
            = post.comments_count
          %i.wi.wi-fire
          %span.text-primary
            = post.likes.count
  = render 'posts/post_inline_footer', obj: talk, show_issue: local_assigns[:show_issue]
