- post = talk.acting_as
.talk-card[post]
  .media.talk-media
    .media-left
      = link_to user_gallery_path(post.user) do
        = image_tag post.user.image.xs.url, class: 'circle-30 img-circle'
    .media-body
      .date= date_f talk.created_at
      %h4.media-heading.title
        = link_to '#', data: { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) } do
          = talk.title
    .media-right
      .comment-count
        = image_tag 'icon_comment.png'
        %b> 총 #{post.comments_count}개
        %span.hidden-xs 의 수다
      - if true || talk.commenters.any?
        - preview_count = 5
        .comment-users
          - talk.commenters[0..preview_count-1].each do |user|
            = byline user, hide_nickname: true
          - if talk.commenters.count > preview_count
            +#{talk.commenters.count - preview_count}

  - if talk.best_comment.present?
    - comment = talk.best_comment
    .media.comment-media
      .media-left
        = link_to user_gallery_path(comment.user) do
          = image_tag comment.user.image.xs.url, class: 'img-circle'
      .media-body
        .comment-info
          %span.date= date_f comment.created_at
          = image_tag 'icon_comment_best.png', height: 16
        %h5.media-heading{data: { toggle: "parti-post-modal", target: '#post-modal', url: polymorphic_url(comment.post.specific) }}
          = smart_format(comment.body)
      .media-right
        = render 'upvotes/upvote', comment: comment