- talk = talk_line
- post = talk.acting_as
- issue = post.issue
- modal_data = local_assigns[:in_modal] ? {} : { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) }
- mention_options_data = { 'mention-nickname': post.user.nickname, 'mention-form-control': '#new_comment #comment_body' }
- mention_data = local_assigns[:in_modal] ? mention_options_data.merge(action: 'parti-mention') : mention_options_data.merge(modal_data)
.talk-line.post-line[post]
  - if local_assigns[:show_issue]
    .talk-line__issue.post-line__issue
      = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue) do
        = image_tag issue.logo.xs.url
        %span.text-primary= issue.title
      %span.post-line__issue__post-type
        &middot;
        #{Talk.model_name.human}
  %h4.talk-line__title.post-line__title{data: modal_data}
    = talk.title
  .talk-body{data: modal_data}
    != talk.body
    - if talk.video_source?
      .article-line.post-line[post]{data: modal_data}
        .article-line__content.article-line__content--video
          .article-line__video-container
            .article-line__video-content
              = video_embed_code(talk)
          .article-line__site-name
            %a{href: talk.reference.url, target: '_blank'}
              = talk.site_name.try(:upcase)
              원글보기
              %i.fa.fa-external-link
    - elsif talk.file_source?
      .article-line.post-line[post]{data: modal_data}
        %a{href: talk.reference_url, target: '_blank'}
          .article-line__content
            - if local_assigns[:show_issue]
              .article-line__issue.post-line__issue
                = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue)  do
                  = image_tag issue.logo.xs.url
                  %span.text-primary= issue.title
                %span.post-line__issue__post-type
                  &middot;
                  #{Talk.model_name.human}
            %h4.article-line__title.post-line__title= talk.reference_title
            .article-line__site-name
              %a{href: talk.reference_url, target: '_blank'}
                - if talk.reference.image?
                  그림보기
                  %i.fa.fa-external-link
                - else
                  다운로드
                  %i.fa.fa-floppy-o
          - if (talk.has_image?)
            %a.article-line__thumb{href: talk.reference.attachment.url, target: '_blank', style: "background-image: url(#{talk.image.md.url})"}
    - elsif talk.link_source?
      .article-line.post-line[post]{data: modal_data}
        %a{href: talk.reference_url, target: '_blank'}
          .article-line__content
            - if local_assigns[:show_issue]
              .article-line__issue.post-line__issue
                = link_to issue_home_path_or_url(issue), target: issue_link_target_name(issue)  do
                  = image_tag issue.logo.xs.url
                  %span.text-primary= issue.title
                %span.post-line__issue__post-type
                  &middot;
                  #{Talk.model_name.human}
            %h4.article-line__title.post-line__title= talk.reference_title
            .article-line__source-body= excerpt(talk.reference_body, length: (is_small_screen? ? 45 : 130))
            .article-line__site-name
              %a{href: talk.reference_url, target: '_blank'}
                = talk.site_name.try(:upcase)
                원글보기
                %i.fa.fa-external-link
          - if (talk.has_image?)
            .article-line__thumb{style: "background-image: url(#{talk.image.md.url})"}
  - unless local_assigns[:hide_user]
    .talk-info
      = link_to user_gallery_path(talk.user) do
        .thumb.user-image.img-circle{style: "background-image: url(#{talk.user.image.sm.url});"}
        %span.nickname= talk.user.nickname
      - if talk.user.mentionable?(current_user)
        %a.comment__mention{ href: '#', data: mention_data }
          %i.fa.fa-reply

    - unless local_assigns[:hide_upvote]
      .talk-upvote
        = render 'upvotes/upvote', upvotable: post
