= render 'top_banner'

%section#talks
  .container
    .posts-header
      %h4.posts-header__title
        = t('activerecord.models.talk')
        %small 모든 빠띠의  #{t('activerecord.models.talk')}입니다.
      .posts-sort-select
        = render 'posts/sort_select'
    .talks-list
      - @talks.each do |talk|
        = render talk, show_issue: true
      - if @talks.empty?
        .bg-default
          %i.fa.fa-info-circle
          해당되는 글이 없습니다.
    = paginate @talks, theme: 'catan', params: @paginate_params

