= render 'top_banner'

%section#talks
  .container
    %h4
      = t('activerecord.models.talk')
      %small 모든 빠띠의 최근 #{t('activerecord.models.talk')}입니다.
    .talks-list
      - @talks.each do |talk|
        = render talk, show_issue: true
    = paginate @talks, theme: 'catan', params: @paginate_params

