= render 'top_banner'

%section#posts
  .container
    .posts-header
      %h4.posts-header__title
        = t('activerecord.models.post')
        %small 모든 빠띠의  #{t('activerecord.models.post')}입니다.
      .posts-sort-select
        = render 'posts/sort_select'
    .posts-list
      - @posts.each do |post|
        = render post, show_issue: true
      - if @posts.empty?
        .bg-default
          %i.fa.fa-info-circle
          해당되는 글이 없습니다.
    = paginate @posts, theme: 'catan', params: @paginate_params

