.modal__top
  .modal__info
    = link_to issue_home_path(@talk.issue) do
      = image_tag @talk.issue.logo.xs.url, class: 'circle-30 img-circle'
      %span.text-primary= @talk.issue.title
  %button.modal__btn(type="button" class="close" data-dismiss="modal" aria-label="Close")
    = image_tag 'icon_close.png'
.modal__content
  %h2.text-center= @talk.title
  = render 'posts/post_header', post: @talk.acting_as
  - if @talk.has_presentation?
    .modal__content--first
      .profile= byline @talk.comments.first.user
      %p= @talk.comments.first.body
.modal__comment
  = render 'comments/comments', postable: @talk, style: :talk
