- group ||= local_assigns[:card]
%li.group-card
  = link_to group_home_path(group) do
    .group-card__thumb.img-circle{ style: "background-image: url(#{group.logo.sm.url});" }
    %span.group-card__title= group.title
    .group-card__meta
      %span.user-count
        %i.icon-user
        %b= group.watches.count
      %span.comment-count
        %i.icon-comment
        %b= group.comments.count
  .group-card__btn
    = render 'watches/watch', group: group, cancel_btn_class: 'btn btn-ghost btn-sm btn-white', watch_btn_class: 'btn btn-primary btn-ghost btn-sm', maker_class: 'btn btn-ghost btn-sm btn-label'

