- display_count = is_small_screen? ? 4 : 3
- issues = group.issues.hottest.not_private_blocked(current_user).limit(display_count)
- all_issues=  group.issues.not_private_blocked(current_user)
- if !group.private_blocked?(current_user)
  .group.group-card.margin-bottom-default
    .group-heading
      = link_to smart_group_url(group) do
        %h4
          = group_parties_section_title(group)
          - if issues.count < all_issues.count
            %br.visible-xs
            %small.partis-count.badge
              #{Issue.of_group(group).count}개의 빠띠 모두 보기
              %i.fa.fa-angle-double-right
      - if !group.site_description.nil? and issues.any?
        .group-desc
          = group.site_description

    - if issues.any?
      .row
        - issues.each do |issue|
          .col-sm-4.col-xs-6
            .issue-card-wrapper
              = render 'issues/card', issue: issue
    - else
      .group-desc{ style: 'font-weight: 200; margin-top: 0.5em; padding-bottom: 12px;' }
        = group.site_description

