%section#group-parties
  .container
    %h2.page-header.clearfix
      #{@group.title}그룹 빠띠관리
      %small
        =link_to group_home_path(@group), class: 'btn btn-default btn-xs' do
          #{@group.title} 그룹으로 돌아가기
          %i.fa.fa-arrow-right


    .well
      %ul
        - @group.issues.each do |issue|
          %li
            = issue.title
            = link_to '제거', remove_parti_group_path(@group, issue_id: issue), method: :delete

    .well
      %h4 빠띠 추가
      .form-group
        = form_tag add_parti_group_path(@group) do
          = text_field_tag :issue_slug, nil, class: 'form-control'
          .help-block 빠띠 slug을 넣어주세요. 하나씩 추가 합니다.
          = submit_tag '저장', class: 'btn btn-primary btn-ghost'
