%section#group-header
  .container
    %h2= @group.title
    %p= @group.body
    - if current_user.present? and current_user.admin?
      = link_to '빠띠관리', parties_group_path(@group)
    - if can? :update, @group
      = link_to '수정', [:edit, @group]
    - if can? :destroy, @group
      = link_to '삭제', @group, method: :delete
    %p 구독회원 #{@group.watches.count}
    - if @group.watched_by? current_user
      = link_to cancel_group_watches_path(@group), method: :delete do
        구독끊기
    - else
      = link_to group_watches_path(@group), method: :post do
        구독하기

%section#group-issues
  .container
    %h4 빠띠
    %ul.issue-card-wrapper.list-unstyled.clearfix
      - @group.issues.each do |issue|
        = render 'issues/card', issue: issue

%section#group-article
  .container
    %h4 베스트 링크
    .articles
      - @group.best_articles.each do |article|
        = render article

%section#group-article
  .container
    %h4 베스트 톡
    .talks
      - @group.best_talks.each do |talk|
        = render talk

%section#group-article
  .container
    %h4 베스트 투표
    .opinions
      - @group.best_opinions.each do |opinion|
        = render opinion




