- is_child = local_assigns[:is_child] || false
.post-comment{ class: ('-child' if is_child) }
  = link_to smart_user_gallery_url(comment.user), class: 'userimage' do
    .userimagebg{ style: "background-image: url(#{comment.user.image.sm.url})" }
  .post-comment-main
    .body
      / comment 본문
      = link_to comment.user.nickname, smart_user_gallery_url(comment.user), class: 'usernickname'

      - if comment.almost_deleted?
        %span.screened= t('labels.almost_deleted')
      - elsif comment.blinded?(current_user)
        %span.screened= t('labels.comment_blind_info')
      - else
        != comment_format(comment.issue, comment.body)
    - if comment.file_sources_only_image.present? || comment.file_sources_only_doc.present?
      .comment-filesource-listings
        / comment 이미지
        - if comment.file_sources_only_image.present?
          .comment-filesource-image-listing{ data: { controller: 'photoswipe' } }
            = render layout: 'layouts/photoswipe', locals: { file_sources: comment.file_sources_only_image, title: comment.body.try(:truncate, 100) } do |file_source|
              %img{ src: file_source.attachment.xs.url }
    - if local_assigns[:child_comments]&.any?
      .post-comments.-children
        - child_comments.each do |child_comment|
          = render 'front/posts/show/comment', comment: child_comment, is_child: true
