.col-xs-3
  #aside
    .aside_issue

      - if @user.making_issues.only_group(current_group).any?
        %h5.aside-title 메이커인 빠띠
        %ul.list-unstyled.aside-issues
          = render customize_partial_path(@user.making_issues.only_group(current_group), 'issue_line')
      - if @user.only_watched_or_member_issues(current_group).any?
        %h5.aside-title #{current_group.try(:membership?) ? '가입한' : '구독 중인'} 빠띠
        %ul.list-unstyled.aside-issues
          = render customize_partial_path(@user.only_watched_or_member_issues(current_group), 'issue_line')

      - Group.all_with_indie_and_exclude(current_group).each do |group|
        - if @user.making_issues.only_group(group).any?
          %h5.aside-title 메이커인 #{group.name} 빠띠
          %ul.list-unstyled.aside-issues
            = render customize_partial_path(@user.making_issues.only_group(group), 'issue_line')
        - if @user.only_watched_or_member_issues(group).any?
          %h5.aside-title #{group.try(:membership?) ? '가입한' : '구독 중인'} #{group.name} 빠띠
          %ul.list-unstyled.aside-issues
            = render customize_partial_path(@user.only_watched_or_member_issues(group), 'issue_line')

    = render 'application/footer'
