%ul.nav.nav-tabs{role: 'tablist'}

  %li{role: 'presentation', class: ('active' if active_tab == :parties)}
    = link_to user_gallery_path(@user) do
      %h4 빠띠


  - count_label = capture_haml(counts_container) do
    %span.count-label-wrapper<>
      %span.count-label<>
        = counts_container.comments_count
        - if counts_container.latest_comments_count > 0
          %small.text-primary
            +#{counts_container.latest_comments_count}

  %li{role: 'presentation', class: ('active' if active_tab == :comments)}
    = link_to slug_user_comments_path(slug: @user.slug) do
      %h4
        %span.visible-xs-inline<>= count_label
        %br.visible-xs-inline<>
        댓글
        %span.hidden-xs= count_label


  - count_label = capture_haml(counts_container) do
    %span.count-label-wrapper<>
      %span.count-label<>
        = counts_container.upvotes_count
        - if counts_container.latest_upvotes_count > 0
          %small.text-primary
            +#{counts_container.latest_upvotes_count}

  %li{role: 'presentation', class: ('active' if active_tab == :upvotes)}
    = link_to slug_user_upvotes_path(slug: @user.slug) do
      %h4
        %span.visible-xs-inline<>= count_label
        %br.visible-xs-inline<>
        공감
        %span.hidden-xs= count_label


  - count_label = capture_haml(counts_container) do |counts_container|
    %span.count-label-wrapper<>
      %span.count-label<>
        = counts_container.votes_count
        - if counts_container.latest_votes_count > 0
          %small.text-primary
            +#{counts_container.latest_votes_count}
  %li{role: 'presentation', class: ('active' if active_tab == :votes)}
    = link_to slug_user_votes_path(slug: @user.slug) do
      %h4<>
        %span.visible-xs-inline<>= count_label
        %br.visible-xs-inline<>
        = t('activerecord.models.opinion')
        %span.hidden-xs= count_label




