%ul.nav.nav-tabs{role: 'tablist'}
  %li{role: 'presentation', class: ('active' if active_tab == :comments)}
    = link_to user_gallery_path(@user) do
      .nav-tabs__count{style: 'left: 105px;'}
        %small<>= counts_container.comments_count
        - if counts_container.latest_comments_count > 0
          %small.text-primary<>
            +#{counts_container.latest_comments_count}
      %h4 작성한 댓글
  %li{role: 'presentation', class: ('active' if active_tab == :upvotes)}
    = link_to nickname_user_upvotes_path(nickname: @user.nickname) do
      .nav-tabs__count{style: 'left: 100px;'}
        %small<>= counts_container.upvotes_count
        - if counts_container.latest_upvotes_count > 0
          %small.text-primary<>
            +#{counts_container.latest_upvotes_count}
      %h4 하트한 댓글
  %li{role: 'presentation', class: ('active' if active_tab == :votes)}
    = link_to nickname_user_votes_path(nickname: @user.nickname) do
      .nav-tabs__count
        %small<>= counts_container.votes_count
        - if counts_container.latest_votes_count > 0
          %small.text-primary<>
            +#{counts_container.latest_votes_count}
      %h4 투표



