- user ||= local_assigns[:post].try(:user)
- user_image = capture do
  .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
- date = capture do
  - created_at = local_assigns[:post].try(:created_at)
  %span.date= created_at.nil? ? '지금' : date_f(created_at)
.media
  .media-left
    = local_assigns[:post].present? ? link_to(user_image, user_gallery_path(user)) : user_image
  .media-body
    %span.nickname
      = local_assigns[:post].present? ? link_to(user.nickname, user_gallery_path(user)) : user.nickname
    %br
    = local_assigns[:post].present? ? link_to(date, post) : date

