- issue ||= (@issue || Issue::OF_ALL)
- all_writing_counts = user.writing_counts(Issue::OF_ALL)
- writing_counts = user.writing_counts(issue)
.user-panel
  .user-panel__thumb
    = link_to user_gallery_path(user) do
      .thumb.img-circle{style: "background-image: url(#{user.image.sm.url});"}
      %p= user.nickname
  .user-panel__info
    .row
      .col-xs-4.border-none
        = link_to user_gallery_path(user) do
          .user-panel__info__icon.icon-comment
          .user-panel__info__label 수다
          .user-panel__info__count= writing_counts.comments_count
      .col-xs-4
        = link_to nickname_user_upvotes_path(nickname: user.nickname) do
          .user-panel__info__icon.icon-heart
          .user-panel__info__label 좋아요
          .user-panel__info__count= writing_counts.upvotes_count
      .col-xs-4
        = link_to nickname_user_votes_path(nickname: user.nickname) do
          .user-panel__info__icon.icon-vote
          .user-panel__info__label 투표
          .user-panel__info__count= writing_counts.votes_count

