%section#user-header-section.text-center
  - geo_pattern_background = capture do
    .parti-black-layer{ style: "background-image: #{GeoPattern.generate(@user.nickname, base_color: '#2a164b').to_data_uri};" }
  - logo_background = capture do
    .parti-black-layer{ style: "background-color: #777;" }
      %svg#blurred_i89pasu2y.bg-blur{height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", version: "1.1", xmlns: "http://www.w3.org/2000/svg"}
        %filter#parti-header-blur-background
          %fegaussianblur{in: "SourceGraphic", stdDeviation: "20"}
        %image{externalResourcesRequired: "true", height: "100%", width: "100%", preserveAspectRatio: "xMidYMid slice", style: "filter:url(#parti-header-blur-background)", x: "0", y: "0", "xlink:href": @user.image.md.url, "xmlns:xlink": "http://www.w3.org/1999/xlink"}
  - if @user.image.present? and (browser.ie?(">9") or !browser.ie?)
    = logo_background
  - else
    = geo_pattern_background
  .profile-box
    .thumb.img-circle{style: "background-image: url(#{@user.image.md.url});"}
    %h2 #{@user.nickname}