.user-panel
  - if user_signed_in?
    - writing_counts = user.writing_counts
    .user-panel__thumb
      = link_to user_gallery_path(user) do
        .thumb.img-circle{style: "background-image: url(#{user.image.md.url});"}
        %p= user.nickname
    .user-panel__info
      .row
        .col-xs-4.border-none
          = link_to user_gallery_path(user) do
            .user-panel__info__icon.fa.fa-comment
            .user-panel__info__label 댓글
            .user-panel__info__count= writing_counts.comments_count
        .col-xs-4
          = link_to slug_user_upvotes_path(slug: user.slug) do
            .user-panel__info__icon.fa.fa-heart
            .user-panel__info__label 공감
            .user-panel__info__count= writing_counts.upvotes_count
        .col-xs-4
          = link_to slug_user_votes_path(slug: user.slug) do
            .user-panel__info__icon.fa.fa-fire{style: 'font-size: 17px;'}
            .user-panel__info__label #{t('activerecord.models.opinion')}
            .user-panel__info__count= writing_counts.votes_count
  - else
    .user-panel__sign-up
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_url(:user, :facebook, subdomain: false) }, class: 'btn btn-lg btn-shadow btn-block btn-facebook' do
        %i.fa.fa-facebook
        페이스북으로 로그인
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_url(:user, :twitter, subdomain: false) }, class: 'btn btn-lg btn-shadow btn-block btn-twitter' do
        %i.fa.fa-twitter
        트위터로 로그인
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_url(:user, :google_oauth2, subdomain: false) }, class: 'btn btn-lg btn-shadow btn-block btn-google' do
        %i.fa.fa-google-plus
        구글로 로그인
      #login-form
        = form_tag nil, method: :get do
          = hidden_field_tag(:after_login)
          = hidden_field_tag(:group_slug, current_group.slug) if current_group.present?
          %label.remember_me
            = check_box_tag(:remember_me, '1', true)
            로그인 상태를 유지
