= render 'user_header'
%section#user-gallery
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'users/content_tabs', active_tab: :comments, counts_container: @user.writing_counts
        .issue-comments
          = render 'comments/list', comments: @comments, show_issue: true
          - unless @is_last_page
            = link_to url_for(last_id: @comments.last.try(:id)), remote: true, class: 'bg-line', id: 'btn-next-page', data: { disable_with: '<i class="fa fa-spinner fa-pulse"></i>' } do
              = image_tag 'icon_more.png'
              더보기
      = render 'aside'



