= render 'user_header'
%section#user-gallery
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'users/content_tabs', active_tab: :comments, counts_container: @user.writing_counts
        .issue-comments
          .comments
            - if @comments.empty?
              .bg-default
                %i.fa.fa-info-circle
                아직 글이 없습니다.
            - else
              = render 'comments/comments_in_users', comments: @comments, show_issue: true
          - unless @is_last_page
            = link_to url_for(last_id: @comments.last.try(:id)), remote: true, class: 'bg-line', id: 'btn-next-page', data: { disable_with: '<i class="fa fa-spinner fa-pulse"></i>' } do
              = image_tag 'icon_more.png'
              더보기
      = render 'aside'



