.bs-component
  %section#sign-up
    %h4.sign-up__title 팀과 커뮤니티를 위한 민주주의 플랫폼, #{I18n.t('labels.app_name_human')}
    %h1.text-center.sign-up__txt
      %i.fa.fa-sign-in
      이메일 로그인
    .sign-up__form
      .email-login-form.panel
        .panel-body
          = form_for User.new(remember_me: true), url: user_session_path do |f|
            = f.hidden_field :provider, value: 'email'
            .form-group
              = f.email_field :email, placeholder: '이메일을 입력하세요', class: 'form-control'
            .form-group
              = f.password_field :password, placeholder: '비밀번호를 입력하세요', autocomplete: "off", class: 'form-control'
            .form-group.text-center
              = f.check_box :remember_me
              = f.label :remember_me, class: 'remember_me'
            .form-group
              = f.submit '로그인', class: 'btn btn-primary btn-block', data: { disable_with: "로그인 중..." }

  %section#sign-up-links
    .text-center
      %p
        다른 방법으로 로그인하시겠어요?
        = link_to '다른 방법으로 로그인', new_user_session_path
      %p
        비밀번호를 잊으셨나요?
        = link_to '비밀번호 재설정', new_password_path(:user)

      %p
        처음 오셨나요?
        = link_to '가입하기', pre_sign_up_front_users_path

      %p
        가입확인 메일을 잊어버리셨나요?
        = link_to '가입확인 메일 다시 받기', new_user_confirmation_path
