.bs-component
  %section#sign-up
    %h4.sign-up__title 로그인
    %h1.text-center.sign-up__txt.hidden-xs
      민주적 일상 커뮤니티 '빠띠'
    .sign-up__form
      .email-login-form.panel
        .panel-body
          = form_for User.new, url: user_session_path do |f|
            = f.hidden_field :provider, value: 'email'
            .form-group
              = f.email_field :email, placeholder: '이메일을 입력하세요', class: 'form-control'
            .form-group
              = f.password_field :password, placeholder: '비밀번호를 입력하세요', autocomplete: "off", class: 'form-control'
            .form-group.text-center
              = f.check_box :remember_me
              = f.label :remember_me, class: 'remember_me'
            .form-group
              = f.submit '로그인', class: 'btn btn-primary btn-block', data: { disable_with: "로그인 중..." }

  %section#sign-up-links
    .text-center
      %p
        비밀번호를 잊으셨나요?
        = link_to '비밀번호 재설정', new_password_path(:user)

      %p
        처음 오셨나요?
        = link_to '가입하기', pre_sign_up_users_path

      / .devider
      /   %span 또는

      / .email-login-form.panel
      /   .panel-body
      /     = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      /       = f.hidden_field :provider, value: 'email'
      /       .form-group
      /         = f.email_field :email, placeholder: '이메일을 입력하세요', class: 'form-control'
      /       .form-group
      /         = f.password_field :password, placeholder: '비밀번호를 입력하세요', autocomplete: "off", class: 'form-control'
      /       .form-group.text-center
      /         - if devise_mapping.rememberable?
      /           = f.check_box :remember_me
      /           = f.label :remember_me, class: 'remember_me'
      /       .form-group
      /         = f.submit '로그인', class: 'btn btn-primary btn-block', data: { disable_with: "로그인 중..." }


      /     = render "devise/shared/links"


