= render 'user_header'

- paging = (!@posts.nil? and @posts.try(:current_page).present?)

%section#user-gallery
  .container
    .row
      = main_column_tag do
        %h4.group-heading
          작성한 게시물
        .posts
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              게시글이 없습니다.
          - else
            .post-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
              = render 'posts/page', posts: @posts, show_issue: true, show_day_section: true, first_today_text: ("게시물 #{number_with_delimiter @posts.total_count}개 중에 #{@posts.current_page}페이지를 표시합니다" if paging and !@posts.first_page?)

            - if paging
              = paginate @posts, theme: 'catan'
            - else
              .page-waypoint.js-page-waypoint.text-center{'data-target': '.post-container', 'data-url': slug_user_path(format: :js)}
                .page-waypoint-loading.js-page-waypoint-loading
                  %i.fa.fa-2x.fa-spinner.fa-pulse

