= render 'user_header'
%section#user-gallery
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'users/content_tabs', active_tab: :talks, counts_container: @user.writing_counts
        .talks-list
          - @talks.each do |talk|
            = render talk, show_issue: true
          - if @talks.empty?
            .bg-default
              %i.fa.fa-info-circle
              해당되는 글이 없습니다.
        = paginate @talks, theme: 'catan', params: @paginate_params
      = render 'aside'
