- member_request = message.messagable
- if message.action.to_s == 'request'
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member_request.joinable.title} #{member_request.joinable.model_name.human}에
  가입요청합니다.
- if message.action.to_s == 'accept'
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member_request.joinable.title} #{member_request.joinable.model_name.human}에
  가입요청을 승인합니다.
- if message.action.to_s == 'cancel'
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member_request.joinable.title} #{member_request.joinable.model_name.human}에
  가입요청을 거절합니다.
