- page_text = capture do
  - if posts.current_page != 1
    %span.page 중 #{posts.current_page}페이지
- nedtoread_filter = params.dig(:filter, :condition) == 'needtoread'
- no_filter = !nedtoread_filter && need_to_read_count > 0

%span.all{ class: ('-active' if no_filter) }
  - if posts.current_page.present?
    = link_to url_for(permited_params.deep_merge(filter: nil)), class: 'link' do
      모든 게시글 #{number_to_human(all_posts_total_count, precision: 1, delimiter: ',', significant: false)}개
      - unless nedtoread_filter
        = page_text
- if need_to_read_count > 0 || nedtoread_filter
  %span.needtoread{ class: ('-active' if nedtoread_filter) }
    = link_to url_for(permited_params.deep_merge(filter: { condition: 'needtoread' })), class: 'link' do
      업데이트 #{need_to_read_count}개
      - if nedtoread_filter
        = page_text
  - if need_to_read_count > 0
    %span.readall
      = link_to read_all_path, remote: true, method: :patch do
        %i.fa.fa-check-square-o
        전부 읽은 상태로 표시