- if request.query_string.blank?
  - if current_group.key_visual_background_image.present? or current_group.key_visual_foreground_image.present?
    %section.group-key-visual{ class: ('group-key-visual-only-bg' if (current_group.key_visual_background_image.present? and current_group.key_visual_foreground_image.blank?)), style: ("background-image: url(#{asset_url(current_group.key_visual_background_image)});" if current_group.key_visual_background_image.present?) }
      - if current_group.key_visual_foreground_image.present?
        = image_tag current_group.key_visual_foreground_image.url, style: "width: 100%"

  = render_group_only_exist "key_page"

= render 'application/group_home_sub_header', active: 'home'

- if Issue.only_alive_of_group(current_group).any?
  %section#home{ style:"padding-bottom: 40px;" }
    - if current_group.main_wiki_post.present? and !current_group.main_wiki_post.private_blocked?(current_user)
      .container.container-xs-full-width
        %section.front-wiki
          .post-card
            .post-card__post
              .post-line
                .post-body
                  = render 'wikis/card', post: current_group.main_wiki_post, mode: 'preview-detail', hide_last_stroked_for: true

    - home_components_content = capture do
      - current_group.group_home_components.sequenced.each do |group_home_component|
        - if group_home_component.format_name.updated_issues?
          = render 'home/group_home_updated_issues', title: group_home_component.title
        - if group_home_component.format_name.issue_posts_hottest? or group_home_component.format_name.issue_posts_order_by_stroked_at?
          = render 'home/group_home_issue_posts', group_home_component: group_home_component
        - if group_home_component.format_name.all_posts?
          = render 'home/group_home_all_posts_lazy', title: group_home_component.title

    - if home_components_content.try(:strip).present?
      .container= home_components_content
    - else
      .container
        = render 'home/group_home_updated_issues'
        = render 'home/group_home_discussion_posts_lazy', discussion_posts_any: @discussion_posts_any
        = render 'home/group_home_all_posts_lazy'
- else
  %section#home
    .container
      .row
        %section{style:"margin-top:20px; padding-bottom: 10px"}
          %h4.group-heading #{current_group.title} 그룹에 오신 것을 환영합니다.
        .bg-default
          - if current_group.creatable_issue?(current_user)
            %p 가장 먼저 채널을 개설해 보세요.

            .fa.fa-info-circle
            = link_to new_issue_path, class: 'text-primary' do
              채널 만들기
              %i.fa.fa-arrow-right
          - else
            %p
              .fa.fa-info-circle
              개설 준비 중입니다.
