- is_update = local_assigns[:issue_push_notification_preference] and issue_push_notification_preference.persisted?
- issue_push_notification_preference = local_assigns[:issue_push_notification_preference] || current_user.issue_push_notification_preferences.build(value: :highlight)
.modal-content.js-invite-form-modal
  .modal-header
    %h4.modal-header-title
      - if is_update
        '#{issue_push_notification_preference.issue.title if is_update}' 빠띠
      - else
        빠띠별
      알림 설정
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", :style => 'top: 0; right: 0; position: absolute; opacity: 1; color: #aaa; text-shadow: none'}
      %span.fa-stack
        %i.fa.fa-circle.fa-stack-1x{ style: 'font-size: 1.2em;' }
        %i.fa.fa-times-circle.fa-stack-1x.fa-inverse
  .modal-body
    .issue-push-notification-preference-form-modal-block.js-parti-editor-selector-wrapper
      - if local_assigns[:issues_no_preference].try(:any?) or is_update
        - issue_selector_dom_id = "issue-selector-#{SecureRandom.uuid}"
        - unless is_update
          = render 'posts/issue_selector', dom_id: issue_selector_dom_id, placeholder_text: '설정할 빠띠를 골라주세요', hide_latest_issues: true
        .post-editor.post-editor-modal
          .form-widget-container
            - form_id = "folder-form-#{SecureRandom.uuid}"
            = form_for issue_push_notification_preference, remote: :true, html: { id: form_id, data: { action: 'parti-form-validation', 'submit-form-control':  "##{form_id} input[type=submit]" }, class: 'js-parti-editor-selector-form' } do |f|
              = f.hidden_field :issue_id, data: { 'rule-required': true }, class: 'validate'
              .form-group
                = f.select :value, options_for_select(IssuePushNotificationPreference.value.options.map { |option| ["#{option[0]} - #{t("enumerize.issue_push_notification_preference.value_desc.#{option[1]}")}", option[1]] }, issue_push_notification_preference.value), {}, class: 'form-control'
              .form-group.text-right
                = f.submit '저장', class: 'btn btn-primary'
      - else
        %p.text-center
          %i.fa.fa-info-circle
          설정할 빠띠가 없습니다.
