%ul.list-unstyled
  - current_user.issue_push_notification_preferences.each do |issue_push_notification_preference|
    - control_id = "control-#{SecureRandom.uuid}"
    - control = capture do
      .issue-push-notification-preference-footer.text-basic-wrap
        %span.value= issue_push_notification_preference.value_text
        %span.collapse.collapse-xs-inline{ id: control_id }
          = link_to '수정', [:edit, issue_push_notification_preference], remote: true, class: 'btn btn-default btn-xs', data: { 'disable_with': '...' }
          = link_to '삭제', issue_push_notification_preference, method: :delete, remote: true, class: 'btn btn-default btn-xs', data: { 'confirm': '삭제하고 기본 설정으로 되돌리시겠습니까?', 'disable_with': '...' }
        .value-desc{ style: 'color: #aaa' }
          = t("enumerize.issue_push_notification_preference.value_desc.#{issue_push_notification_preference.value}")
    = render 'issues/issue_line', issue: issue_push_notification_preference.issue, footer_block: control, issue_classes: 'js-hover-toggle', issue_data: { 'hover-toggle': "##{control_id}" }
