.modal-header
  %h6.modal-title 요청 거절하기
  %button.close.-sm{ "aria-label": "Close", data: { action: 'click->modal#close' } }
    %span{ "aria-hidden": 'true' } ×
.modal-body
  = form_with url: reject_front_member_requests_path(user_id: @user.id), method: :delete, local: false do
    .form-group
      = label_tag :reject_message, "#{@user.nickname}님에게 거절 이유를 보내주세요."
      = text_area_tag :reject_message, nil, class: 'form-control'
    = submit_tag '거절하기', class: 'submit btn btn-primary btn-sm', data: { 'confirm': '정말 거절하시겠습니까?', 'disable-with': '처리 중...' }
