.modal-content.group-modal-dialog
  .modal-header
    %button.close{type: "button", "data-dismiss": "modal", "aria-label": "Close"}
      %span{"aria-hidden":"true"}
        &times;
    %h4.modal-title
      전교조 커뮤니티 가입하기
  .modal-body
    = form_tag admit_group_eduhope_members_path do
      .form-group
        %label
          = t("group.#{host_group.slug}.request_join", cascade: true)
        = text_area_tag :description, nil, class: 'form-control', required: true
      .form-group
        = submit_tag "가입하기", class: 'btn btn-primary', data: { disable_with: "진행 중..." }
