.channel-listing.-starter
  %ul.channel-lines
    %li.channel-line
      = link_to front_coc_path, class: ['link', ('-active' if params[:menu_slug] == 'coc')], data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.menuActivation', 'group-sidebar-listener-menu-slug': 'coc' } do
        .title
          %span.hash
            %i.fa.fa-book.fa-fw
          %span.content
            커뮤니티 가이드
    %li.channel-line
      = link_to front_all_path, class: ['link', ('-active' if params[:menu_slug] == 'all')], data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.menuActivation', 'group-sidebar-listener-menu-slug': 'all' } do
        .title
          %span.hash
            %i.fa.fa-cube.fa-fw
          %span.content
            전체 게시글
    - if current_group.member?(current_user)
      %li.channel-line
        .link{ class: ('-active' if params[:menu_slug] == 'announcements'), data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.menuActivation channel-read-listener.announcementsMenu', 'group-sidebar-listener-menu-slug': 'announcements' } }
          = link_to front_announcements_path, class: 'title' do
            %span.hash
              %i.fa.fa-bullhorn.fa-fw
            %span.content
              필독 게시글
          = link_to front_announcements_path(filter: { condition: 'needtonotice' }), class: (%w[badge badge-dark ml-1 collapse] + [(need_to_notice_count > 0 ? 'show' : 'hide')]), data: { target: 'channel-read-listener.needToNoticeCount' } do
            #{number_to_human(need_to_notice_count, precision: 1, delimiter: ',', significant: false)}
      %li.channel-line
        = link_to front_bookmarks_path, class: ['link', ('-active' if params[:menu_slug] == 'bookmarks')], data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.menuActivation', 'group-sidebar-listener-menu-slug': 'bookmarks' } do
          .title
            %span.hash
              %i.fa.fa-bookmark-o.fa-fw
            %span.content
              북마크
            %span.badge.badge-dark.ml-1.collapse{ class: (bookmarks_count > 0 ? 'show' : 'hide'), data: { target: 'channel-read-listener.bookmarksCount' } }
              #{number_to_human(bookmarks_count, precision: 1, delimiter: ',', significant: false)}
      %li.channel-line
        .link{ class: ('-active' if params[:menu_slug] == 'messages'), data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.menuActivation channel-read-listener.messagesMenu', 'group-sidebar-listener-menu-slug': 'messages' } }
          = link_to front_messages_path, class: 'title' do
            %span.hash
              %i.fa.fa-bell-o.fa-fw
            %span.content
              알림
          = link_to front_messages_path(filter: { condition: 'needtoread' }), class: (%w[badge badge-dark ml-1 collapse] + [(unread_messages_count > 0 ? 'show' : 'hide')]), data: { target: 'channel-read-listener.unreadMessagesCount' } do
            #{number_to_human(unread_messages_count, precision: 1, delimiter: ',', significant: false)}
      %li.channel-line
        .link{ class: ['link', ('-active' if params[:menu_slug] == 'mentions')], data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.menuActivation channel-read-listener.mentionsMenu', 'group-sidebar-listener-menu-slug': 'mentions' } }
          = link_to front_mentions_path, class: 'title' do
            %span.hash
              %i.fa.fa-at.fa-fw
            %span.content
              멘션
          = link_to front_mentions_path(filter: { condition: ('needtoread' if unread_mentions_count > 0) }), class: (%w[badge badge-dark ml-1 collapse] + [(unread_mentions_count > 0 ? 'show' : 'hide')]), data: { target: 'channel-read-listener.unreadMentionsCount' } do
            #{number_to_human(unread_mentions_count, precision: 1, delimiter: ',', significant: false)}

- if current_group&.slug == 'butterknifecrew'
  .channel-listing
    %ul.channel-lines
      %li.channel-line
        = link_to 'https://butterknifecrew.parti.xyz/front/posts/36548', class: ['link'] do
          .title
            %span.hash
              %i.fa.fa-link.fa-fw
            %span.content
              전체 일정

- categorised_issues.each_with_index do |(category, issues), index|
  .channel-listing
    .header.clearfix
      - if category.present?
        .title= category.name
      - else
        - if index != 0
          .title 미분류
        - else
          .title 채널
      - if current_group.creatable_issue?(current_user)
        = link_to new_front_channel_path(category_id: (category.id if category.present?)), class: 'btn btn-link -add', title: '채널 만들기' do
          %i.fa.fa-plus
    %ul.channel-lines
      - issues.each do |issue|
        - if is_small_screen?
          - threaded_folders = []
        - else
          - threaded_folders = Folder.threaded(issue.folders)
        %li.channel-line{ data: { controller: ('content-toggle' if threaded_folders.any?), 'content-toggle': { 'id': "folder-lines-channel-#{issue.id}", 'force': (issue == current_issue ? 'show' : 'hide') } } }
          = link_to front_channel_path(issue), class: ['link', ('-active' if issue == current_issue && current_folder.blank?)], data: { action: 'click->collection-activation#toggle click->content-toggle#show group-sidebar-activation->collection-activation#toggle group-sidebar-collapse-show->content-toggle#show group-sidebar-collapse-hide->content-toggle#hide', target: 'collection-activation.item group-sidebar-listener.channelActivation group-sidebar-listener.channelCollapse', 'group-sidebar-listener-channel-id': issue.id } do
            .title
              %span.hash
                \#
              %span.content<>
                #{issue.title}
                #{meta_icons(issue)}
                %span.unread{ class: ('-active' if issue.need_to_read?(current_user)), data: { target: 'channel-read-listener.channel', 'channel-read-listener-channel-id': issue.id } }

          - if threaded_folders.any?
            %ul.folder-lines.-hide{ data: { target: 'content-toggle.content' } }
              = render 'front/pages/group_sidebar/folder_lines', current_folder: current_folder, folders: threaded_folders, depth: 1