- content_for :playground_header_content do
  .playground-header
    .channel-menu
      .nav
        .title.form-inline{ data: { controller: 'select-link' } }
          - if @search_q.present?
            .node
              = link_to root_path, class: 'link' do
                %i.fa.fa-cube
                전체 게시글
            .node &nbsp;&gt;&nbsp;
            %span.node
              %i.fa.fa-search
              = @search_q
          - else
            .node
              %i.fa.fa-cube
              전체 게시글

- content_for :playground_sidebar_content do
  .supplementary-boxes
    - if current_group.site_description.present?
      .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "group-intro-box-#{current_group.id}" } } }
        .header{ data: { action: 'click->content-collapse#toggle' } }
          .title
            그룹 소개
          .toggler
            %i.fa.-hide{ data: { target: 'content-collapse.content' } }
        .body{ data: { target: 'content-collapse.content' } }
          = simple_format h(current_group.site_description)
    - if current_group.organizer_members&.any?
      .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "group-organizer-members-box-#{current_group.id}" } } }
        .header{ data: { action: 'click->content-collapse#toggle' } }
          .title
            그룹 오거나이저
          .count
            = current_group.organizer_members&.size
          .toggler
            %i.fa.-hide{ data: { target: 'content-collapse.content' } }
        %ul.lines.-hide{ data: { 'controller': 'collection-activation', target: 'content-collapse.content' } }
          - current_group.organizer_members&.each do |member|
            - user = member.user
            %li.organizer-member
              %span.userimagebg{ style: "background-image: url(#{user.image.sm.url})" }
              %span.usernickname= user.nickname
              %span.memberrole= user.current_group_member&.role
    - else
      .supplementary-box
        .header
          .title
            그룹 오거나이저가 없습니다.

- if @all_posts_total_count > 0
  .channel-box
    - if @search_q.present?
      .alert-box.my-3
        .alert.alert-secondary.font-size-sm.d-flex.align-items-center.justify-content-between
          .flex-fill #{@search_q} 검색 결과입니다.
          = link_to url_for(@permited_params.except(:q)), class: 'btn btn-outline-secondary font-size-xs text-muted p-1' do
            검색 취소

    .channel-box-header
      .pages
        - page_text = capture do
          - if @posts.current_page != 1
            %span.page 중 #{@posts.current_page}페이지
        - nedtoread_filter = params[:filter] == 'needtoread'
        - no_filter = !nedtoread_filter && @need_to_read_count > 0

        %span.all{ class: ('-active' if no_filter) }
          - if @posts.current_page.present?
            = link_to url_for(@permited_params.merge(filter: nil)), class: 'link' do
              모든 게시글 #{number_to_human(@all_posts_total_count, precision: 1, delimiter: ',', significant: false)}개
              - unless nedtoread_filter
                = page_text
        - if @need_to_read_count > 0 || nedtoread_filter
          %span.needtoread{ class: ('-active' if nedtoread_filter) }
            = link_to url_for(@permited_params.merge(filter: 'needtoread')), class: 'link' do
              업데이트 #{@need_to_read_count}개
              - if nedtoread_filter
                = page_text
          - if @need_to_read_count > 0
            %span.readall
              = link_to front_read_all_posts_path(@current_issue), remote: true, method: :patch do
                %i.fa.fa-check-square-o
                전부 읽은 상태로 표시

    - if @posts.any?
      = render 'front/posts/lines', posts: @posts, current_post: @current_post, current_issue: @current_issue, list_nav_params: @list_nav_params
    - else
      .alert-box.my-3
        .alert.alert-secondary.font-size-sm.d-flex.align-items-center.justify-content-between
          해당 게시글이 없습니다.
          = link_to url_for(), class: 'btn btn-outline-secondary font-size-xs text-muted p-1' do
            모든 게시글 #{number_to_human(@all_posts_total_count, precision: 1, delimiter: ',', significant: false)}개 보기
- else
  .alert-box.my-3
    .alert.alert-secondary.font-size-sm.d-flex.align-items-center
      게시글이 없습니다.
      - if current_group&.member?(current_user)
        채널을 선택해서 가장 먼저 게시글을 올려보세요.