- content_for :playground_header_content do
  .playground-header
    .channel-menu
      .nav
        .title.form-inline{ data: { controller: 'select-link' } }
          .node
            %i.fa.fa-bullhorn
            필독 게시글

- content_for :playground_sidebar_content do
  = render 'front/share/base_playground_sidebar_content'

- if @all_posts_total_count > 0
  .channel-box{ data: { controller: 'list-nav-reset' } }
    .pagination-header
      .pages
        = render 'front/share/pagination_header/post_page', posts: @posts, need_to_read_count: 0, need_to_notice_count: @need_to_notice_count, unread_mentions_count: @unread_mentions_count, permited_params: @permited_params, all_posts_total_count: @all_posts_total_count, read_all_path: front_read_all_posts_path(@current_issue)

      - if current_group.labels.present?
        .control
          .dropdown{ data: { controller: 'phone-dropdown' } }
            .toggle.cursor-pointer{ "data-toggle": "dropdown" }
              = @label_q&.title.presence || '라벨 선택'
              %i.fa.fa-angle-down
            .dropdown-menu.usermenu.dropdown-menu-right
              - current_group.labels.each do |label|
                = link_to url_for(@permited_params.deep_merge(filter: { label_id: label.id })), class: 'dropdown-item' do
                  = label.title
                  %br.d-block.d-lg-none
                  %small.text-muted= label.body
              - if @label_q.present?
                = link_to url_for(@permited_params.deep_merge(filter: { label_id: nil })), class: 'dropdown-item' do
                  라벨 검색 취소

    - if @posts.any?
      = render 'front/posts/lines', posts: @posts, current_post: @current_post, current_issue: @current_issue
    - else
      .alert-box.my-3
        .alert.alert-secondary.font-size-sm.d-flex.align-items-center.justify-content-between
          - if @posts.current_page == 0 || params.dig(:filter, :condition) == 'needtonotice' && user_signed_in?
            필독할 게시글이 없습니다.
          - else
            필독 게시글이 없습니다.
          = link_to url_for(), class: 'btn btn-outline-secondary font-size-xs text-muted p-1' do
            모든 게시글 #{number_to_human(@all_posts_total_count, precision: 1, delimiter: ',', significant: false)}개 보기
- else
  .alert-box.my-3
    .alert.alert-secondary.font-size-sm.d-flex.align-items-center
      필독 게시글이 없습니다.