- title_waypoint_toggler_uid = SecureRandom.uuid

- content_for :playground_header_content do
  .post-menu
    - if @referrer_backable
      = link_to :back, class: 'back' do
        %i.fa.fa-arrow-left
    - else
      = link_to front_channel_path(issue_id: @current_issue), class: 'back' do
        %i.fa.fa-arrow-left
    .title
      .page.-active{ data: { 'waypoint-toggler-target': title_waypoint_toggler_uid } }
        게시물
      .post{ data: { 'waypoint-toggler-target': title_waypoint_toggler_uid } }
        #{@current_post.title}

.post-box
  .post-header{ data: { controller: 'waypoint-toggler', 'waypoint-toggler': { uid: title_waypoint_toggler_uid } } }
    .title
      %h3= @current_post.title
      %small
        - last_stroked_text, last_stroked_at = @current_post.last_stroked_activity { |user| link_to(user_subject_word(user), smart_user_gallery_path(user)) }
        - if last_stroked_text.present?
          != last_stroked_text
          = date_f( last_stroked_at.presence || @current_post.created_at )
  .post-main
    .post-meta
      = link_to smart_user_gallery_url(@current_post.user), class: 'userimage' do
        .userimagebg{ style: "background-image: url(#{@current_post.user.image.sm.url})" }
      .desc
        = link_to @current_post.user.nickname, smart_user_gallery_url(@current_post.user), class: 'usernickname'
        .createdat
          = date_f @current_post.created_at
    .post-body
      .body
        = post_body_format @current_issue, @current_post.body
    - if @current_post.comments.present?
      .post-comments
        - @current_post.comments_threaded.each do |parent_comment, child_comments|
          = render 'front/pages/post/comment', comment: parent_comment, child_comments: child_comments





