- content_for :playground_header_content do
  .playground-header
    .channel-menu
      .title.form-inline
        - search_q = PostSearchableIndex.sanitize_search_key(params.dig(:front_search, :q))
        .node.-dismiss
          전체 채널
        .node.-search
          %i.fa.fa-search
          = search_q

- content_for :playground_sidebar_content do
  .supplementary-boxes
    - if current_group.site_description.present?
      .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "group-intro-box-#{current_group.id}" } } }
        .header{ data: { action: 'click->content-collapse#toggle' } }
          .title
            소개
          .toggler
            %i.fa.-hide{ data: { target: 'content-collapse.content' } }
        .body{ data: { target: 'content-collapse.content' } }
          = simple_format h(current_group.site_description)
    - if current_group.organizer_members&.any?
      .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "group-organizer-members-box-#{current_group.id}" } } }
        .header{ data: { action: 'click->content-collapse#toggle' } }
          .title
            그룹 오거나이저
          .count
            = current_group.organizer_members&.size
          .toggler
            %i.fa.-hide{ data: { target: 'content-collapse.content' } }
        %ul.lines.-hide{ data: { 'controller': 'collection-activation', target: 'content-collapse.content' } }
          - current_group.organizer_members&.each do |member|
            - user = member.user
            %li.organizer-member
              %span.userimagebg{ style: "background-image: url(#{user.image.sm.url})" }
              %span.usernickname= user.nickname
    - else
      .supplementary-box
        .header
          .title
            그룹 오거나이저가 없습니다.

- if @posts.any?
  .channel-box
    .channel-box-header
      .pages
        - if @posts.current_page.present?
          페이지 #{@posts.current_page} / #{@posts.total_pages}
    = render 'front/posts/lines', posts: @posts, current_post: @current_post
- else
  .alert-box.my-3
    .alert.alert-secondary
      검색된 게시글이 없습니다.