- content_for :playground_header_content do
  .channel-menu
    .title.form-inline
      - search_q = PostSearchableIndex.sanitize_search_key(params.dig(:front_search, :q))
      .node
        전체 채널
      .node /
      .node
        %i.fa.fa-search
        = search_q
- if @posts.any?
  .channel-box
    .post-lines-box
      .post-lines-header
        .pages
          - if @posts.current_page.present?
            페이지 #{@posts.current_page} / #{@posts.total_pages}
      = render 'front/posts/lines', posts: @posts, current_post: @current_post
    .supplementary-boxes
      - if current_group.site_description.present?
        .supplementary-box{ data: { controller: 'content-collapse', 'content-collapse': { id: "group-intro-box-#{current_group.id}" } } }
          .header{ data: { action: 'click->content-collapse#toggle' } }
            .title
              그룹 소개
            .toggler
              %i.fa.-hide{ data: { target: 'content-collapse.content' } }
          .body{ data: { target: 'content-collapse.content' } }
            = simple_format h(current_group.site_description)

- else
  .alert.alert-info.m-3
    찾은 게시글이 없습니다.