%section.about-wrapper
  .about-parti-box.odd
    .container
      .row
        .col-xs-4{style:'margin-top: 2.5em;'}
          %span.text-important> 시민
          이 힘을 모아
          %br
          %span.text-important> 이슈
          를
          해결하는
          %br
          %span.text-parti
            %span.text-important 온라인 광장
          = link_to '전체 빠띠', issues_path, class: 'btn btn-about btn-default btn-lg btn-block btn-shadow yellow'
          = link_to '회원가입', new_user_session_path, class: 'btn btn-about btn-primary btn-lg btn-block btn-shadow'
        .col-xs-8.text-right
          = image_tag 'img_about_1.png'
  .about-parti-box.even
    .container
      .row
        .col-xs-8.text-right
          = image_tag 'img_about_2.png', {style:'padding-right: 4em;'}
        .col-xs-4{style:'margin-top: 3em;'}
          지금 바로
          %span.text-important> 빠띠
          를
          %br
          만들어 보세요
          - if user_signed_in?
            = link_to '빠띠 만들기', new_issue_path, class: 'btn btn-about btn-default btn-lg btn-block btn-shadow yellow'
          - else
            = link_to '빠띠 만들기', new_issue_path, class: 'btn btn-about btn-default btn-lg btn-block btn-shadow yellow'
          %p
            유기견 입양하기, 재활용 아이디어 공유하기, 기후변화를 늦추기 위한 봉사활동 찾기, 더 나은 민주주의 실험하기 등 내가 관심있는 사회 이슈가 있다면 버튼 하나로 빠띠를 만들거나 이미 있는 빠띠를 구독해 참여해보세요.
  .about-parti-box.odd
    .container
      .row
        .col-xs-4{style:'padding: 2.5em 0 0 1.2em;'}
          %span.text-important> 의견
          을 내고
          %br
          %span.text-important> 참여
          해 보세요.
          %p
            웹주소 링크를 공유하고, 생각해 볼 만한
            %br
            주제는 토크로, 다른 사람들의 의견은
            %br
            투표로 모으고 참여해 보세요.
        .col-xs-4.col-xs-offset-4.text-right
          = image_tag 'img_about_3.png',{style:'padding-right: 2em;'}
  .about-parti-box.even
    .container
      .row
        .col-xs-8.text-right
          = image_tag 'img_about_4.png', {style:'padding-right: 4em;'}
        .col-xs-4{style:'margin-top: 3em;'}
          %span.text-important> 이슈
          와 관련된
          %br
          %span.text-important> 수다
          를
          %br
          즐겨 보세요.
          %p
            의견을 내며 함께 수다하기만 해도,
            %br
            빠띠에 자료가 분류별로 정리됩니다.
  .about-parti-box.odd
    .container{style:'text-align: center;'}
      .use-parti{style: 'font-size: 36px;'}
        %span.text-important> 빠띠
        를 사용해보세요.
      .parti-button
        = link_to '전체 빠띠', issues_path, class: 'btn btn-about btn-default btn-lg btn-shadow yellow'
        = link_to '회원가입', new_user_session_path, class: 'btn btn-about btn-primary btn-lg btn-shadow'
      .img-wrapper
        = image_tag 'img_about_5.png',{style:'width: 75%; padding-top: 30px;'}




