%section#components
  %section#colors
    .container
      %h2.page-header Colors
      .row
        .col-xs-1.color-brand-primary
          $brand-primary
        .col-xs-1.color-brand-light
          $brand-light
        .col-xs-1.color-brand-success
          $brand-success
        .col-xs-1.color-brand-info
          $brand-info
        .col-xs-1.color-brand-warning
          $brand-warning
        .col-xs-1.color-brand-danger
          $brand-danger
        .col-xs-1.color-gray-base
          $gray-base
        .col-xs-1.color-gray-darker
          $gray-darker
        .col-xs-1.color-gray-dark
          $gray-dark
        .col-xs-1.color-gray
          $gray
        .col-xs-1.color-gray-light
          $gray-light
        .col-xs-1.color-gray-lighter
          $gray-lighter
  %section#typo
    .container
      %h2.page-header Typography
      %h3 Headings
      .well
        %h1 이것은 h1입니다 36px
        %h2 이것은 h2입니다 30px
        %h3 이것은 h3입니다 24px
        %h4 이것은 h4입니다 18px
        %h5 이것은 h5입니다 14px
        %h6 이것은 h6입니다 12px
      %h3 Text
      .well
        %p.font-size-base 기본 폰트입니다 14px
        %p.font-size-large 큰 폰트입니다 18px
        %p.font-size-small 작은 폰트입니다 12px
        %p.text-muted muted text
      %h3 Line Height
      .well
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum eaque hic sunt corrupti recusandae nesciunt mollitia temporibus officia aperiam reiciendis, repellendus explicabo sint porro eos, molestias at quos ipsam consequuntur.
  %section#buttons
    .container
      %h2.page-header Buttons
      %div
        %a.btn.btn-default default
        %a.btn.btn-primary primary
        %a.btn.btn-success success
        %a.btn.btn-info info
        %a.btn.btn-warning warning
        %a.btn.btn-danger danger

        %a.btn.btn-default.btn-xs xs
        %a.btn.btn-default.btn-sm sm
        %a.btn.btn-default default
        %a.btn.btn-default.btn-lg lg

      %h3 Ghost Buttons
      %div
        %a.btn.btn-ghost.btn-default default
        %a.btn.btn-ghost.btn-primary primary
        %a.btn.btn-ghost.btn-success success
        %a.btn.btn-ghost.btn-info info
        %a.btn.btn-ghost.btn-warning warning
        %a.btn.btn-ghost.btn-danger danger
        %a.btn.btn-ghost.btn-white white

  %section#panels
    .container
      %h2.page-header Modules
      %h3 parti header section

    - issue = Issue.first
    - if issue.present?
      %section.parti-header-section{ style: "background-image: url(#{issue.cover.md.url});" }
        .container
          .clearfix
            .parti-logo
              = link_to issue_home_path(issue) do
                .thumb{style: "background-image: url(#{issue.logo.md.url})"}
            %h2.parti-title
              = issue.title
              = link_to '구독하기', '#', class: 'btn btn-primary'
              - if can? :update, issue
                = link_to '수정', [:edit, issue], class: 'btn btn-default btn-xs'
              - if can? :destroy, issue
                = link_to '삭제', issue, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-default btn-xs'

            %p.parti-body
              = issue.body

        .parti-info
          .container
            .row
              .col-sm-7
                .parti-makers
                  %span.parti-makers-label
                    빠띠메이커
                  %span.parti-maker-icons
                    = byline User.first, hide_nickname: true
                  = link_to issue_users_path(issue), class: 'btn btn-white btn-ghost' do
                    %i.fa.fa-user
                    +
                    = issue.watched_users.count
              .col-sm-5
                - if issue.is_all?
                  - data = {action: 'parti-share', 'share-url': 'http://parti.xyz', 'share-text': '수다로 정치하자, 빠띠에서 파티하자'}
                - else
                  - data = {action: 'parti-share', 'share-url': issue_home_url(issue), 'share-text': "#{issue.title} | 빠띠" }
                - map = { facebook: data.merge({'share-url': ('https://www.facebook.com/parti.xyz/' if issue.is_all?)}.compact) }
                - map.update twitter: data, 'kakao-link': data, 'kakao-story': data
                = render 'application/share', map: map
        .parti-menu
          - counts_container = issue.counts_container
          .container
            .row
              .col-sm-3.active
                = link_to issue_home_path(issue) do
                  .count
                    %small<>= counts_container.comments_count
                    - if counts_container.latest_comments_count > 0
                      %small.text-primary<>
                        +#{counts_container.latest_comments_count}
                  %h4 홈
              .col-sm-3
                = link_to issue_articles_path(issue) do
                  .count{style: 'margin-left: 20px;'}
                    %small<>= counts_container.articles_count
                    - if counts_container.latest_articles_count > 0
                      %small.text-primary<>
                        +#{counts_container.latest_articles_count}
                  %h4= Article.model_name.human
              .col-sm-3
                = link_to issue_talks_path(issue) do
                  .count
                    %small<>= counts_container.talks_count
                    - if counts_container.latest_talks_count > 0
                      %small.text-primary<>
                        +#{counts_container.latest_talks_count}
                  %h4= Talk.model_name.human
              .col-sm-3
                = link_to issue_opinions_path(issue) do
                  .count{style: 'margin-left: 20px;'}
                    %small<>= counts_container.opinions_count
                    - if counts_container.latest_opinions_count > 0
                      %small.text-primary<>
                        +#{counts_container.latest_opinions_count}
                  %h4= Opinion.model_name.human


    .container
      %h3 parti panel
      %h3 user panel
      %h3 user item
      %h3 user byline
      .well
        = byline User.first

      %h3 post item with comments
      %h3 link item
      %h3 talk item
      %h3 opinion item
