%section#components
  %section#colors
    .container
      %h2.page-header Colors
      .row
        .col-xs-2.col-sm-1.color-brand-primary
          $brand-primary
        .col-xs-2.col-sm-1.color-brand-success
          $brand-success
        .col-xs-2.col-sm-1.color-brand-info
          $brand-info
        .col-xs-2.col-sm-1.color-brand-warning
          $brand-warning
        .col-xs-2.col-sm-1.color-brand-danger
          $brand-danger
        .col-xs-2.col-sm-1.color-gray-base
          $gray-base
        .col-xs-2.col-sm-1.color-gray-darker
          $gray-darker
        .col-xs-2.col-sm-1.color-gray-dark
          $gray-dark
        .col-xs-2.col-sm-1.color-gray
          $gray
        .col-xs-2.col-sm-1.color-gray-light
          $gray-light
        .col-xs-2.col-sm-1.color-gray-lighter
          $gray-lighter

      %h3 Primary Colors

      .row
        .col-xs-2.col-sm-1.color-brand-primary
          primary
        .col-xs-2.col-sm-1.color-brand-primary-darker
          darker
        .col-xs-2.col-sm-1.color-brand-primary-dark
          dark
        .col-xs-2.col-sm-1.color-brand-primary-light
          light
        .col-xs-2.col-sm-1.color-brand-primary-lighter
          lighter
  %section#typo
    .container
      %h2.page-header Typography
      %h3 Headings
      .well
        %h1 이것은 h1입니다 36px
        %h2 이것은 h2입니다 30px
        %h3 이것은 h3입니다 24px
        %h4 이것은 h4입니다 18px
        %h5 이것은 h5입니다 14px
        %h6 이것은 h6입니다 12px
      %h3 Text
      .well
        %p.font-size-base 기본 폰트입니다 14px
        %p.font-size-large 큰 폰트입니다 18px
        %p.font-size-small 작은 폰트입니다 12px
        %p.text-muted muted text
      %h3 Line Height
      .well
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum eaque hic sunt corrupti recusandae nesciunt mollitia temporibus officia aperiam reiciendis, repellendus explicabo sint porro eos, molestias at quos ipsam consequuntur.
  %section#buttons
    .container
      %h2.page-header Buttons
      %div
        %a.btn.btn-default default
        %a.btn.btn-primary primary
        %a.btn.btn-success success
        %a.btn.btn-info info
        %a.btn.btn-warning warning
        %a.btn.btn-danger danger

        %a.btn.btn-default.btn-xs xs
        %a.btn.btn-default.btn-sm sm
        %a.btn.btn-default default
        %a.btn.btn-default.btn-lg lg

      %h3 Ghost Buttons
      %div
        %a.btn.btn-ghost.btn-default default
        %a.btn.btn-ghost.btn-primary primary
        %a.btn.btn-ghost.btn-success success
        %a.btn.btn-ghost.btn-info info
        %a.btn.btn-ghost.btn-warning warning
        %a.btn.btn-ghost.btn-danger danger
        %a.btn.btn-ghost.btn-white white

  %section#panels
    .container
      %h2.page-header Modules

    .container
      %h3 parti header section

    - issue = Issue.first
    - if issue.present?
      = render 'issues/issue_header', issue: Issue.first

    .container
      %h3 parti panel
      %h3 user panel
      %h3 user card
      %h3 user byline
      .well
        = byline User.first

      %h3 post card with comments

    .container
      %h3 link card
      .row
        = render Article.last, template: 'default' if Article.last.present?
        = render Article.last, template: 'popular' if Article.last.present?
        = render Article.last, template: 'best' if Article.last.present?

      %h3 talk card
      = render Talk.last if Talk.last.present?

      %h3 opinion card
      .row
        .col-sm-6
          = render 'opinions/card', card: Opinion.last if Opinion.last.present?
