%section#landing-page
  %section#landing-header
    .container.text-center
      %h1
        %small
          %span.hidden-xs 팀과 커뮤니티를 위한
          민주주의 플랫폼, #{I18n.t('labels.app_name_human')}
        %br
        지금 무엇에
        %span.visible-xs-block
        관심이 있나요?
      .btn-wrapper
        - @subjects.sample(10).each do |subject|
          = link_to subject.title, search_path(nav_q: subject.title), class: 'subject-link'
  - base_posts_count = 50
  - base_posts = Post.having_image_file_sources.or(Post.having_image_link_sources).after(2.month.ago, field: 'posts.last_stroked_at').hottest
  - posts = base_posts.of_undiscovered_issues(current_user).limit(base_posts_count).to_a
  - if user_signed_in?
    - posts += base_posts.watched_by(current_user).limit(base_posts_count/2).to_a
  - posts = posts.uniq.sort_by(&:id).reverse.first(base_posts_count)
  - posts = posts.reject { |post| post.blinded? }
  - if posts.try(:any?)
    %section#recent-posts
      .container
        = link_to links_or_files_path do
          %h4.group-heading{ style: "margin: 20px 0px;"}
            최근 게시글
            %small
              더 보기
              %i.fa.fa-angle-double-right
        .recent-posts.clearfix
          .row.slick-slider.slick-slider-catan{ data: { 'slick-slider-lg': 3, 'slick-slider-md': 3, 'slick-slider-xs': 1 } }
            - posts.each do |post|
              .col-xs-1.col-sm-4.col-md-4.col-lg-4
                = render 'posts/landing_post', post: post, show_issue: true

  %section#discussions
    .container
      = link_to polls_or_surveys_path do
        %h4.group-heading{ style: "margin: 20px 0px;"}
          진행 중인 토론
          %small
            더 보기
            %i.fa.fa-angle-double-right
      - poll_posts_count = 10
      - baes_poll_posts = Post.never_blinded.having_poll.after(2.month.ago, field: 'posts.last_stroked_at').hottest
      - poll_posts = baes_poll_posts.of_undiscovered_issues(current_user).limit(poll_posts_count).to_a
      - if user_signed_in?
        - poll_posts += baes_poll_posts.watched_by(current_user).limit(poll_posts_count/2).to_a
      - poll_posts = poll_posts.uniq.sort_by(&:id).reverse.first(poll_posts_count)

      - if poll_posts.try(:any?)
        .recent-polls.clearfix
          .row.slick-slider.slick-slider-catan.slick-slider-recent-polls{ data: { 'slick-slider-lg': 3, 'slick-slider-md': 3, 'slick-slider-xs': 1, 'auto-height': 'true' } }
            - poll_posts.each do |poll_post|
              .col-xs-1.col-sm-4.col-md-4.col-lg-4
                = render 'posts/landing_discussion', post: poll_post, show_issue: true

      - survey_posts_count = 10
      - base_survey_posts = Post.never_blinded.having_survey.after(2.month.ago, field: 'posts.last_stroked_at').hottest
      - survey_posts = base_survey_posts.of_undiscovered_issues(current_user).limit(survey_posts_count).to_a
      - if user_signed_in?
        - survey_posts += base_survey_posts.watched_by(current_user).limit(survey_posts_count/2).to_a
      - survey_posts = survey_posts.uniq.sort_by(&:id).reverse.first(survey_posts_count)
      - if survey_posts.try(:any?)
        .recent-surveys.clearfix
          .row.slick-slider.slick-slider-catan.slick-slider-recent-surveys{ data: { 'slick-slider-lg': 2, 'slick-slider-md': 2, 'slick-slider-xs': 1, 'auto-height': 'true' } }
            - survey_posts.each do |survey_post|
              .col-xs-1.col-sm-6.col-md-6.col-lg-6
                = render 'posts/landing_discussion', post: survey_post, show_issue: true


  %section#wikis
    .container
      = link_to wikis_path do
        %h4.group-heading{ style: "margin: 20px 0px;"}
          최근 편집된 위키
          %small
            더 보기
            %i.fa.fa-angle-double-right
      - wikis_count = 10
      - base_wikis = Post.never_blinded.having_wiki.after(2.month.ago, field: 'posts.last_stroked_at').hottest
      - wikis = base_wikis.of_undiscovered_issues(current_user).limit(wikis_count).to_a
      - if user_signed_in?
        - wikis += base_wikis.watched_by(current_user).limit(wikis_count/2).to_a
      - wikis = wikis.uniq.sort_by(&:id).reverse.first(wikis_count)
      - if wikis.try(:any?)
        .recent-wikis.clearfix
          .row.slick-slider.slick-slider-catan.slick-slider-recent-wikis{ data: { 'slick-slider-lg': 3, 'slick-slider-md': 3, 'slick-slider-xs': 1, 'auto-height': 'true' } }
            - wikis.each do |wiki|
              .col-xs-1.col-sm-4.col-md-4.col-lg-4
                = render 'wikis/landing_card', post: wiki, show_issue: true

  %section#banner
    .container
      %h3.text-center.text-basic-wrap{ style: "margin-bottom: 30px;" }
        %span{ style: "font-weight: 100" }
          팀과 커뮤니티를 위한
          %span.visible-xs-block
          민주주의 플랫폼, #{I18n.t('labels.app_name_human')}
        %br
        { #{I18n.t('labels.app_name_human')}로_이렇게 } 함께 해보세요
        %br
      .row
        = link_to 'https://union.parti.xyz/posts/18286', target: '_blank' do
          .col-xs-6.col-sm-6.col-md-3.tip-title
            %i.fa.fa-users
            %br
            민주적으로 회의하기
        = link_to 'https://union.parti.xyz/posts/18574', target: '_blank' do
          .col-xs-6.col-sm-6.col-md-3.tip-title
            %i.fa.fa-gavel
            %br
            워크숍에서 함께 결정하기
        = link_to 'https://union.parti.xyz/posts/18400', target: '_blank' do
          .col-xs-6.col-sm-6.col-md-3.tip-title
            %i.fa.fa-comments
            %br
            의견 나누기
        = link_to 'https://union.parti.xyz/posts/18575', target: '_blank' do
          .col-xs-6.col-sm-6.col-md-3.tip-title
            %i.fa.fa-coffee
            %br
            조직문화 공유하기


  %section#issues
    .container
      = link_to issues_path do
        %h4.group-heading
          - if user_signed_in?
            이런 그룹과 채널도 있어요
          - else
            최근 업데이트

      .parties-search-form{ style: 'margin-top: 12px; max-width: 300px;' }
        = form_tag issues_path, method: :get, id: 'js-search-parties-form' do
          = hidden_field_tag :sort
          .input-group.input-group.input-group-keyword
            %input.form-control{name: "keyword", placeholder: "그룹과 채널 찾기", value: params[:keyword], type: "search", 'data-action': 'parti-clearable-search'}
            %span.input-group-btn
              %button.btn.btn-group-default{ style: 'background-color: #966ed8; color: white;' }
                %i.fa.fa-search

      .row
        - Issue.undiscovered_issues(current_user).hottest.limit(50).sample(4 * 4).each do |issue|
          .col-sm-3.col-xs-6
            .issue-card-wrapper
              = render 'issues/card', issue: issue
      = link_to issues_path, class: 'btn btn btn-block btn-primary btn-lg' do
        %span.text-nowrap #{Group.count}개 그룹
        &middot;
        %span.text-nowrap #{Issue.count}개 채널
        %span.text-nowrap 모두 보기
        %i.fa.fa-angle-double-right


  %section#banner
    .container
      %h3.pull-left.text-basic-wrap
        Democracy Report :
        %br
        %span{ style: "font-weight: 100" }
          한달에 한 번 이메일로
          %span.visible-xs-block
          %strong 민주주의 리포트
          %span<>를 받아 보세요!
      .pull-right{ style: "margin-top: 25px"}
        = link_to "http://partiunion.org/contents", target: "_blank" do
          %button.btn.btn-default
            더 알아보기

  %section#footer
    .container
      %ul.list-unstyled.list-inline
        %li.logo.pull-right
          = link_to root_url(subdomain: nil) do
            %div
              %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
        %li.menu-line= link_to '소개', about_url(subdomain: nil), target: "_blank"
        %li.menu-line= link_to '팀 소개', 'http://partiunion.org', target: "_blank"
        %li.menu-line= link_to '이용 약관', terms_url(subdomain: nil), target: "_blank"
        %li.menu-line= link_to '개인정보처리방침', privacy_url(subdomain: nil), target: "_blank"
        %li.menu-line
          %a(href='mailto:help@parti.coop')
            오류 및 버그 신고
        %li.menu-line
          = link_to smart_issue_home_url(Issue.parti_parti),   target: "_blank" do
            제안 및 의견 &middot; 빠띠만든당

