%section
  .parti-intro
    .container
      .parti-intro-wrapper
        .parti-intro__count
          %span.count= Issue.count
          %span 빠띠
        .parti-intro__count
          %span.count= User.count
          %span 명
        .parti-intro__count
          %span.count= Comment.count
          %span 수다파티
        .parti-intro__txt
          이젠 정치가 즐거워집니다.

  .recommend-parti-wrapper
    .container
      .title 이달의 추천 빠띠
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        - %w(20th-assembly basic-income).each_with_index do |slug, i|
          - issue = Issue.find_by(slug: slug)
          - next if issue.blank?
          .panel
            .panel-heading{:role => "tab", :id => "heading-#{i}"}
              %h4.panel-title
                %a{"aria-controls" => "collapse-#{i}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{i}", :role => "button"}
                  .issue-logo{ style: "background-image: url(#{issue.logo.sm.url});" }
                  %h2.issue-title= issue.title
                  %h4.issue-body= issue.body
            .panel-collapse.collapse{class: ('in' if i == 0), "aria-labelledby" => "heading-#{i}", :role => "tabpanel", :id => "collapse-#{i}"}
              .panel-body.clearfix
                %ul.recommend-parti-list.list-unstyled.row
                  - issue.featured_posts(2).each do |post|
                    = render customize_partial_path(post.specific, ->(model) { "#{model.class.model_name.plural}/#{model.class.model_name.singular}_as_featured" })
  .join-parti-wrapper
    .container
      .col-xs-9.clearfix
        = image_tag 'img_main_phone.png'
        .txt
          %p
            이슈를 알리고 정치,
            %br
            사회에 대한 내 의견을 쌓아가는 곳.
            %br
            누구에게나 열려있는 공론장,
            %br
            빠띠에 와서 이야기를 나눠보세요.
          = link_to '회원가입하기', new_user_session_path, class: 'btn'
      .col-xs-3= render 'footer'


