= render 'top_banner'
%section#home
  .container
    .row
      .col-xs-9
        %section#recommend-parties
          %ul.owl-carousel.owl-theme(data-action='parti-carousel' data-carousel-items='1' data-carousel-items-mobile='1' data-carousel-margin='7' data-carousel-dots='true' data-carousel-dots-each='true')
            - @recommend_issues_map.each do |recommend|
              - issue = recommend[:issue]
              %li
                .issue-card
                  = link_to issue_home_path(issue) do
                    .issue-card__thumb{ style: "background-image: url(#{recommend[:image_url]});" }
                    .issue-card__title
                      %span= truncate(issue.title, length: 25)
                    .issue-card__body= issue.body
        %section#parties-all
          .parties-all
            = form_tag do
              .input-group.input-group-lg.input-group-keyword
                %input.form-control{name: "keyword", placeholder: "#{Issue.count}개의 빠띠 중에서, 관심있는 이슈를 다루는 빠띠를 찾아보세요.", type: "text", data: { action: 'parti-search-parties'}}
                  %span.input-group-btn
                    %button.btn.btn-group-default{:type => "button"}
                      %i.fa.fa-search

            .parties-all-loading
              %i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
            .parties-all-list
              = render 'issues/list'
      - unless is_mobile?
        = render 'application/aside'

