= render 'top_banner'
%section#home
  .container
    .row
      .col-xs-9
        %section#recommend-parties

          %ul.owl-carousel(data-ride='parti-carousel' data-carousel-next='#recommend-parties .carousel-nav .btn-next' data-carousel-prev='#recommend-parties .carousel-nav .btn-prev' data-carousel-items='1' data-carousel-margin='7')
            - @recommend_issues_map.each do |recommend|
              - issue = recommend[:issue]
              %li
                .issue-card
                  = link_to issue_home_path(issue) do
                    .issue-card__thumb{ style: "background-image: url(#{recommend[:image_url]});" }
                    .issue-card__title
                      %span= truncate(issue.title, length: 25)
                    .issue-card__body= issue.body

          .text-center
            &middot; &middot; &middot;
        %section#parties
          .parties-all
            .well
              = form_tag do
                .form-group
                  = text_field_tag :title, nil, class: 'form-field input-lg', placeholder: '빠띠를 찾아보세요.'
            .row
              - @issues.each do |issue|
                .col-sm-4
                  .issue-card-wrapper
                    = render 'issues/new_card', issue: issue

      - unless is_mobile?
        = render 'application/aside'

