%section
  .parti-intro
    = image_tag 'thumb_main_intro.png'
    .parti-intro__txt
      %h2.title
        빠띠는 파티,
        %br
        수다가 정치가 되는 곳이에요.
      %p.text
        잊고 싶지 않은 이슈를 알리고 정치,
        %br.mobile
        사회에 대한 내 의견을 쌓아가는 곳.
        %br
        누구나에게 열려있는 공론장,
        %br.mobile
        빠띠에 와서 이야기를 나눠 보세요.

      %p.text.bg-black
        %span= Issue.count
        개 빠띠에서
        %span= User.count
        명이 나누는
        %span= Comment.count
        개의
        %br.mobile
        수다가 모여 정치가 됩니다.
        &nbsp;
  = render 'issues/calendar'

- %w(20th-assembly basic-income).each do |slug|
  - issue = Issue.find_by(slug: slug)
  - next if issue.blank?
  = issue.title
  = issue.body
  - issue.featured_posts(3).each do |post|
    = render customize_partial_path(post.specific, ->(model) { "#{model.class.model_name.plural}/#{model.class.model_name.singular}_as_featured" })
