%section#top-banner
  .container
    %span.text-important> 시민
    이 힘을 모아
    %br.mobile
    %span
    %span.text-important> 이슈
    를 해결하는
    %br.mobile
    %span.text-parti
      %span.text-important 온라인 광장
      빠띠
    = link_to '빠띠란?', about_path, class: 'top-banner-btn'
%section#home
  .container
    .row
      .col-xs-9
        %section#recommend-parties
          %h3.title.clearfix
            추천 빠띠
            .carousel-nav.btn-group
              %button.btn.btn-default.btn-prev
                %i.fa.fa-chevron-left
              %button.btn.btn-default.btn-next
                %i.fa.fa-chevron-right

          %ul.owl-carousel(data-ride='parti-carousel' data-carousel-next='#recommend-parties .carousel-nav .btn-next' data-carousel-prev='#recommend-parties .carousel-nav .btn-prev' data-carousel-items='3' data-carousel-margin='7')
            - @recommend_issues_map.each do |recommend|
              - issue = recommend[:issue]
              %li
                .issue-card
                  = link_to issue_home_path(issue) do
                    .issue-card__thumb{ style: "background-image: url(#{recommend[:image_url]});" }
                    .issue-card__title
                      %span= truncate(issue.title, length: 25)
                    .issue-card__body= issue.body

        %section#campaign-banner
          = image_tag 'campaign_banner_v.png', style: 'width: 100%; height: 134px;'

        %section#recommend-articles
          %h3.title.clearfix
            인기 자료
            .carousel-nav.btn-group
              %button.btn.btn-default.btn-prev
                %i.fa.fa-chevron-left
              %button.btn.btn-default.btn-next
                %i.fa.fa-chevron-right

          %ul.owl-carousel(data-ride='parti-carousel' data-carousel-next='#recommend-articles .carousel-nav .btn-next' data-carousel-prev='#recommend-articles .carousel-nav .btn-prev' data-carousel-items='3' data-carousel-margin='7')
            - @recommend_article_posts.each_with_index do |post, index|
              - if post.comments_count >= 5
                - template = 'best'
                - current_merge = 2
              - elsif post.comments_count >= 2
                - template = 'popular'
                - current_merge = 1
              - else
                - template = 'default'
                - current_merge = 1
              - current_merge = 1 if(index%3 == 2)
              %div{'data-merge': current_merge}
                = render post.specific, wrapper_class: 'card--home', template: template, show_issue: true

        %section#recommend-talks
          %h3.title.clearfix
            인기 논의
          .recommend-talks-list
            - @recommend_talk_posts.each do |post|
              = render post.specific, show_issue: true


        %section#recommend-opinions
          %h3.title.clearfix
            인기 투표
            .carousel-nav.btn-group
              %button.btn.btn-default.btn-prev
                %i.fa.fa-chevron-left
              %button.btn.btn-default.btn-next
                %i.fa.fa-chevron-right

          %ul.owl-carousel(data-ride='parti-carousel' data-carousel-next='#recommend-opinions .carousel-nav .btn-next' data-carousel-prev='#recommend-opinions .carousel-nav .btn-prev' data-carousel-items='2' data-carousel-margin='7')
            - @recommend_opinion_posts.each_with_index do |post, index|
              %div
                = render post.specific, show_issue: true

      - unless is_mobile?
        = render 'application/aside'

