.main-app
  .main-navbar
    - if user_signed_in?
      .user-navitem
        = image_tag current_user.image.xs.url, class: 'icon'
        .title
          = current_user.nickname
    .group-navitems
      - 10.times do |i|
        .group-navitem
          = image_tag "https://ui-avatars.com/api/?name=#{i}", class: 'icon'
          .title
            그룹#{i}
  .main-playground
    .main-header
      .group-menu
        .title
          빠띠쿱
      .channel-menu
        .title
          크루
    .main-body
      .channel-listings
        .channel-listing
          .title 채널
          %ul.channel-lines
            %li.channel-line.-active
              %span.unread 10
              크루
            - 10.times do |i|
              %li.channel-line
                %span.unread 10
                채널#{i}



