%section.page-bg
  .container
    %h1.text-center
      가격 책정
    %p.subtitle.text-center.text-nowrap
      모든 팀과 커뮤니티에게 알맞은 가격을 제시합니다

    .text-center
      %ul.service-info.text-basic-wrap
        %li
          %strong.text-primary 빠띠
          %span<> 를 개설해서 관심있는 이슈에 대해 이야기를 나누세요.
        %li
          %strong.text-primary 빠띠
          %span<> 는 공개 빠띠, 비공개 빠띠로 구분됩니다.
        %li
          팀과 커뮤니티에서 여러 주제를 다루려면
          %strong.text-primary 그룹
          %span<> 을 만드세요.
        %li
          %strong.text-primary 그룹
          안에서 구성원 간의 소통 도구로
          %strong.text-primary 빠띠
          %span<> 를 사용하세요.
        %li
          %strong.text-primary 그룹
          %span<> 은 공개 그룹, 비공개 그룹으로 구분됩니다.

    .text-center.clearfix
      .service-card-wrapper.divider
        .service-card.indie
          .price-header
            개인
          .price-desc
            무제한 공개 빠띠 개설
            %br
            무제한 비공개 빠띠 개설
          %hr
          %span.title
            사용료
          %p
            무료
          %hr
            = link_to '빠띠 만들기', new_issue_url(subdomain: nil), class: 'btn btn-primary'
      .service-card-wrapper
        .service-card.group
          .price-header
            그룹
          .price-desc
            무제한 공개 빠띠 개설
            %br
            최대 5개 비공개 빠띠 개설
          %hr
          %span.title
            사용료
          %p
            무료
          %hr
            = link_to '그룹 만들기', new_group_configuration_url(subdomain: nil), class: 'btn btn-primary'
      .service-card-wrapper
        .service-card.premium-group
          .price-header
            프리미엄 그룹
          .price-desc
            무제한 공개 빠띠 개설
            %br
            %strong 무제한 비공개 빠띠 개설
          %hr
          %span.title
            사용료
          %p
            인당 5,000원 / 월
            %br
          %hr
            = link_to '문의하기', 'mailto:help@parti.xyz', class: 'btn btn-primary'
    .contact{ style: 'margin-top: 20px; text-align:center' }
      .help-text
        %p
          %span.text-nowrap 운영 계획이 있으신가요?
          %span.text-nowrap 지금 바로 문의해 보세요
        %p
          = link_to 'mailto:help@parti.xyz' do
            %span.text-primary.text-nowrap
              %i.fa.fa-envelope-o
              help@parti.xyz
          &nbsp;
          = link_to 'mailto:https://m.me/PartiUnion' do
            %span.text-primary.text-nowrap
              %i.fa.fa-comment-o
              메신저

