%section#form
  .container
    %h2.page-header 초대링크 주소

    .well.clearfix
      .row
        .col-xs-12.col-sm-9{ style: 'line-height: 2.3em' }
          - if current_group.magic_key.present?
            .input-group
              - copy_id = "copy-#{SecureRandom.uuid}"
              %input.form-control{ type: "text", value: magic_form_group_members_url(key: current_group.magic_key), id: copy_id }
              %span.input-group-btn
                %button.btn.btn-default.js-clipboard{ 'data-clipboard-target': "##{copy_id}", 'data-toggle': 'tooltip', 'data-trigger': 'manual', 'data-title': '복사완료!' }
                  %i.fa.fa-clipboard
          - else
            주소가 없습니다.
        .col-xs-12.col-sm-3.text-right.margin-top-xs
          - if current_group.magic_key.present?
            = link_to '링크 삭제하기', delete_magic_link_group_members_path, method: :delete, class: 'btn btn-primary', data: { confirm: '현재 링크를 삭제하시겠습니까? 계속하시면 현재 링크는 더이상 작동하지 않습니다' }
          - else
            = link_to '링크 만들기', magic_link_group_members_path, method: :post, class: 'btn btn-primary'

    - if current_group.magic_key.present?
      .help-block
        위 주소를 복사해서 #{current_group.title} 그룹에 초대할 멤버에게 보내세요.
        .text-danger
          %strong 이 링크가 외부에 노출되지 않도록 조심해 주세요.


