%section#issue-users
  .container
    .row
      .col-sm-8.col-xs-12
        - if can?(:admit, current_group) or can?(:magic_link, current_group)
          %ul.list-inline.controls-group-members<>
            - if can? :admit, current_group
              %li<>
                .well
                  %p 이 그룹에 멤버를 추가합니다.
                  =link_to '멤버 추가하기', new_admit_group_members_path, class: 'btn btn-primary'
            - if can? :magic_link, current_group
              %li<>
                .well
                  %p 그룹의 초대링크를 관리합니다.
                  =link_to '초대링크 관리', edit_magic_link_group_members_path, class: 'btn btn-primary'
        - if (current_user.try(:admin?) or current_group.organized_by?(current_user)) and current_group.invitations.any?
          %section#content-tab-section
            .nav-tabs.message-tab
              %h4
                초대 중
                .count-label-wrapper
                  .count-label= current_group.invitations.count
            %ul.request-card-wrapper.list-unstyled.clearfix
              - current_group.invitations.each do |invitation|
                %li.user-card[invitation]
                  .user-card__thumb
                    - if invitation.recipient.present?
                      = link_to smart_user_gallery_path(invitation.recipient) do
                        .thumb.img-circle{style: "background-image: url(#{invitation.recipient.image.md.url});"}
                        %p= invitation.recipient.nickname
                    - else
                      .thumb.img-circle
                      %p= invitation.recipient_email
                  .user-card__chevron_buttons
                    - invitation_chevron_dom_id = "#{dom_id(invitation)}-dropdown"
                    %button.btn.btn-link.btn-sm.dropdown-toggle{ id: invitation_chevron_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" }
                      %i.fa.fa-chevron-down
                    %ul.dropdown-menu.pull-right{ "aria-labelledby": invitation_chevron_dom_id }
                      %li
                        %a(href="mailto:#{invitation.recipient_email}") 메일보내기
                      %li
                        = link_to '초대 취소하기', invitation_path(invitation), method: :delete, data: { confirm: '정말 초대를 취소하시겠습니까?', 'disable-with': '취소 중...'},  remote: true
        - if current_group.member_request_users.any?
          %section#content-tab-section
            .nav-tabs.message-tab
              %h4
                가입신청
                .count-label-wrapper
                  .count-label= current_group.member_requests.count
            %ul.request-card-wrapper.list-unstyled.clearfix
              - current_group.member_request_users.each do |user|
                = render 'users/user', user: user, group: current_group, additional_buttons_partial: 'group/member_requests/accept_buttons', chevron_buttons_partial: 'users/chevron_buttons'

        %section#content-tab-section
          .nav-tabs.message-tab
            %h4
              가입멤버
              .count-label-wrapper
                .count-label= current_group.members.count
          %ul.user-card-wrapper.list-unstyled.clearfix{data: {last_id: @current_last.try(:id), is_last: @is_last_page.to_s}}
            = render 'members/members_page', users: ([@myself] + @users.to_a).compact  , group: current_group
          .page_waypoint.text-center{'data-target': '.user-card-wrapper', 'data-url': group_members_path(format: :js)}
            .page_waypoint__loading
              %i.fa.fa-3x.fa-spinner.fa-pulse

      - unless is_small_screen?
        = render 'application/aside'
