%section#issue-users
  .container
    .row
      .col-sm-8.col-xs-12
        - if can? :admit, current_group
          .well
            이 그룹에 멤버를 추가합니다.
            =link_to '추가하기', new_admit_group_members_path, class: 'btn btn-primary'
        %section#content-tab-section
          .nav-tabs.message-tab
            %h4
              초대 중
              .count-label-wrapper
                .count-label= current_group.invitations.count
          %ul.request-card-wrapper.list-unstyled.clearfix
            - current_group.invitations.each do |invitation|
              - if invitation.recipient.present?
                = render 'users/user', user: invitation.recipient
              - else
                %li.user-card
                  .user-card__thumb
                    .thumb.img-circle
                    %p= invitation.recipient_email

        - if current_group.member_request_users.any?
          %section#content-tab-section
            .nav-tabs.message-tab
              %h4
                가입신청
                .count-label-wrapper
                  .count-label= current_group.member_requests.count
            %ul.request-card-wrapper.list-unstyled.clearfix
              - current_group.member_request_users.each do |user|
                = render 'users/user', user: user, additional_buttons_partial: 'group/member_requests/accept_buttons'

        %section#content-tab-section
          .nav-tabs.message-tab
            %h4
              가입멤버
              .count-label-wrapper
                .count-label= current_group.members.count
          %ul.user-card-wrapper.list-unstyled.clearfix{data: {last_id: @current_last.try(:id), is_last: @is_last_page.to_s}}
            = render 'users/slug_users_page', users: ([@myself] + @users.to_a).compact  , group: current_group
          .page_waypoint.text-center{'data-target': '.user-card-wrapper', 'data-url': group_members_path(format: :js)}
            .page_waypoint__loading
              %i.fa.fa-3x.fa-spinner.fa-pulse

      - unless is_small_screen?
        = render 'application/aside'
