= render 'application/group_home_sub_header', active: 'member'

- base_issue = current_user.member_issues.only_alive_of_group(current_group).not_joined_issues(@user)
%section.contents-page
  .container
    = render 'group/members/tab_menu'

    - if base_issue.empty?
      %h5 "#{@user.nickname}"님을 초대할 그룹의 채널 없습니다.

    - else
      = form_tag invite_issues_group_members_path do |f|
        = hidden_field_tag :user_id, @user.id
        .form-group
          %h5 "#{@user.nickname}"님을 초대할 채널을 선택해 주세요.

        %ul.list-unstyled.list-categories
          - exists_categories = false
          - (current_group.categories.to_a << nil).each do |category|
            - issues = base_issue.categorized_with(category).sort_by_name
            - if issues.any?
              %li
                - if category.present?
                  %span.dropdown
                    %h5.category-name
                      = category.name
                  - exists_categories = true
                - else
                  - if exists_categories
                    %h5.category-name
                      이외

                .panel.panel-default
                  .panel-body
                    %ul.list-unstyled{ class: group_category_issue_list_dom_class(category) }
                      - issues.each do |issue|
                        %label{ style: 'font-weight: normal; margin: 0;' }
                          - left_block = capture do
                            = check_box_tag :'issue_ids[]', issue.id
                          = render 'issues/issue_line', issue: issue, left_block: left_block, no_link: true


        .form-group
          = submit_tag '초대', class: 'btn btn-primary', data: { disable_with: "처리 중..." }


