- post = poll.post
- modal_data = { 'action': "parti-link", 'url': smart_post_path_or_url(post) }

- issue = post.issue
- voted = user_signed_in? && poll.voting_by?(current_user)
.poll-card[(local_assigns[:in_post] ? poll: post)]{ class: "#{dom_id(poll)} #{voted ? 'poll-card--voted' : ''} #{removable_with_post_dom_class(post)}", data: modal_data}
  - if post.private_blocked?(current_user)
    %strong 비공개 빠띠 게시글입니다.
    - if post.issue.member_requested? current_user
      %br
      %span.text-basic-wrap
        비공개 빠띠를 보시려면 먼저 가입승인 받아야합니다.
      %span.text-basic-wrap
        %strong<> 오거나이저의 가입승인
        을 기다려주세요.
  - else
    .poll-card__meta.clearfix
      .pull-left
        .poll-card__issue
          = link_to smart_issue_home_path_or_url(issue) do
            - unless post.issue.displayable_group? current_group
              .poll-card__group
                = post.issue.group.head_title
            .thumb.thumb--issue{ style: "background-image: url(#{issue.logo.sm.url})" }
              = post.issue.title.truncate(10)
      .pull-right
        .poll-card__date.date-wrapper.poll-card__date--with-issue
          %span= date_f post.created_at
    %h4.poll-card__title
      “#{poll.title}”
    = render 'votings/voting', local_assigns
  - if local_assigns[:show_decision]
    = render 'posts/decision', local_assigns.merge(post: post)
