%section
  .container
    %h2.text-keepall 계정 삭제
    .well
      %p
        %strong.text-danger 계정을 삭제합니다. 이 작업은 되돌릴 수 없습니다.

      - form_id = "form-#{SecureRandom.uuid}"
      = form_tag cancel_user_path(current_user), method: :post, id: form_id, data: { action: 'parti-form-validation', 'submit-form-control':  "##{form_id} input[type=submit]" } do
        .help-block
          %ul
            %li 계정 정보: 즉시 삭제
            %li 가입 그룹 및 채널 정보: 즉시 삭제
            %li 작성된 글 및 댓글: 유지
          %p.text-basic-wrap
            작성한 게시글의 삭제를 원하시는 경우, 탈퇴 신청 전에 삭제를 진행해주세요.
            탈퇴 처리가 완료된 후에는 작성하신 글과 댓글의 삭제를 요청할 수 없습니다.

        .form-group
          = label_tag :message, '닉네임을 한 번 더 넣어주세요'
          .input-group
            = text_field_tag :confirm, '', class: 'form-control', data: { 'rule-equalTo': "##{form_id}-nickname" }
            = hidden_field_tag :nickname, current_user.nickname, id: "#{form_id}-nickname"

        .form-group
          = submit_tag '영구 삭제', class: 'btn btn-primary btn-lg', data: { confirm: '이 작업은 되돌릴 수 없습니다. 계속하시겠습니까?', disable_with: "..." }
          = link_to root_path, class: 'btn btn-default' do
            취소
