= render 'dashboard/header', active_tab: (params[:action] == 'index' ? :messages : :mentions)

%section.contents-page{ class: ('js-content-split-container js-content-split-container-no-padding' if window_splitable?) }
  .container-fluid
    .row
      = main_column_tag_window_splitable do
        .message-list
          = render partial: 'messages/message', collection: @messages, locals: { mention_only_page: (params[:action] == 'mentions')}
        = paginate @messages, theme: 'catan'

      = aside_column_tag_window_splitable do
        %div{ id: splited_post_dom_id, 'data-post-inplace-mode': 'content-only' }
          .text-muted.text-center{ style: 'margin-top: 1em;' }
            게시글을 선택하세요.
            %br
            %i.fa.fa-reply.fa-2x.fa-flip-vertical