- issue ||= @issue
- folders = issue.folders
- current_post = local_assigns[:current_post]
- current_folder = current_post.try(:folder)
- current_wiki = current_post.try(:wiki)

= aside_column_tag(local_assigns[:additional_classes]) do
  .aside_issue#aside
    %section
      %h5.aside-title 폴더
      %ul.list-unstyled.parti-folders.threaded-folders
        - Folder.threaded(folders).each do |parent_folder, child_folders|
          - posts = parent_folder.posts.having_wiki_sorted_by_title(:active)
          %li.item-folder
            .folder-title.js-folder-item.cursor-pointer
              - if parent_folder == current_folder or child_folders.include?(current_folder)
                %i.fa.fa-folder-open.js-folder-item-icon
              - else
                %i.fa.fa-folder.js-folder-item-icon
              = parent_folder.title
              - if posts.any?
                (#{posts.count})
            %ul.list-unstyled.folder-posts.js-folder-posts{ class: ('collapse' if parent_folder != current_folder and !child_folders.include?(current_folder)) }
              - child_folders.each do |child_folder|
                - child_posts = child_folder.posts.having_wiki_sorted_by_title(:active)
                %li.item-folder
                  .folder-title.js-folder-item.cursor-pointer
                    - if child_folder == current_folder
                      %i.fa.fa-folder-open.js-folder-item-icon
                    - else
                      %i.fa.fa-folder.js-folder-item-icon
                    = child_folder.title
                    - if child_posts.any?
                      (#{child_posts.count})
                  %ul.list-unstyled.folder-posts.js-folder-posts{ class: ('collapse' if child_folder != current_folder) }
                    - child_posts.each do |post|
                      = link_to smart_post_url(post), class: "item-post-wrapper #{'active' if post == current_post}" do
                        %li.item-post
                          = post.wiki.title
              - posts.each do |post|
                = link_to smart_post_url(post), class: "item-post-wrapper #{'active' if post == current_post}" do
                  %li.item-post
                    = post.wiki.title


    = render 'application/footer'
