.wiki-line.clearfix
  - chevron_dropdown = capture do
    = render 'posts/chevron_menu', post: post
  - dropdown_dom_id = "#{dom_id(post)}__chevron-buttons"
  - if chevron_dropdown.try(:strip).present?
    .post-card__buttons
      %button.btn.btn-link.btn-sm.dropdown-toggle{ id: dropdown_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" }
        %i.fa.fa-chevron-down
      %ul.dropdown-menu.pull-right{ "aria-labelledby": dropdown_dom_id }
        = chevron_dropdown
    %ul.dropdown-menu.pull-right{ "aria-labelledby": dropdown_dom_id }
  - if post.wiki.wiki_histories.any?
    - text = post.wiki.latest_activity { |user| link_to(user_subject_word(user), smart_user_gallery_path(user)) }
  - if text.present?
    .post-card__last-stroked
      != text
      %span.date= date_f(post.wiki.latest_history.created_at)

  = link_to wiki_post_path(post), target: '_blank' do
    .wiki-line-body
      %h4.wiki-title= post.wiki.title
      .wiki-body
        - if post.wiki.read_attribute(:thumbnail).present? and !post.wiki.purged?
          = image_tag post.wiki.thumbnail.lg.url
      .shadow
      .wiki-button
        = link_to (post.issue.postable?(current_user) ? '편집' : '읽기'), [:wiki, post], class: 'btn btn-xs btn-primary btn-primary-light btn-force', style: 'border-radius: 4px'
  .wiki-authors.tooltip-no-wrap
    작성
    - post.wiki.authors.each do |user|
      = link_to smart_user_gallery_path(user) do
        .thumb.img-circle.circle-30{style: "background-image: url(#{user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{user.nickname}", :type => "button"}
