- if can? :update, post.wiki
  .wiki-form{ style: 'margin-bottom: 0' }
    - unless post.wiki.conflict?
      = render 'wikis/form', post: post
    - else
      .row
        .col-sm-12.col-lg-12
          .alert.alert-danger
            %span.hidden-xs
              @#{current_user.nickname} 님이 내용을 편집하는 도중에 @#{post.wiki.last_history.user.nickname} 님이 내용을 고쳤습니다. 오른쪽의 내용을 왼쪽 편집창에 적절히 합쳐주시기 바랍니다.
            %span.visible-xs-block
              @#{current_user.nickname} 님이 내용을 편집하는 도중에 @#{post.wiki.last_history.user.nickname} 님이 내용을 고쳤습니다. 아래쪽 내용을 위쪽 편집창에 적절히 합쳐주시기 바랍니다.
      .row
        .col-sm-12.col-lg-6
          .post-card__last-stroked
            .media
              .media-left
                = link_to smart_user_gallery_path(post.wiki.last_history.user) do
                  .thumb.img-circle.circle-30{style: "background-image: url(#{post.wiki.last_history.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{post.wiki.last_history.user.nickname}", :type => "button"}
              .media-body
                %strong.nickname
                  #{post.wiki.last_history.user.nickname}
                님이 저장한 문서입니다.
                %br
                %span.date= date_f(post.wiki.latest_history.created_at)
          .conflict-target-editor
            = render 'wikis/form', post: post
        .col-sm-12.col-lg-6
          %hr.hidden-lg
          .post-card__last-stroked
            .media
              .media-left
                = link_to smart_user_gallery_path(current_user) do
                  .thumb.img-circle.circle-30{style: "background-image: url(#{current_user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{current_user.nickname}", :type => "button"}
              .media-body
                %strong.nickname
                  #{@current_user.nickname}
                님이 방금 작성 중이었던 내용입니다. 내용이 저장되지 않았으니, 초록색 편집창에 반영한 후 저장해주세요.
          .wik-content.wiki-content--read-only.conflict-content
            = render 'wikis/read_only_wiki_content', wiki: post.wiki, for_conflict: true
          %hr.hidden-lg
