- wiki_card_dom_id = "js-wiki-card-#{SecureRandom.uuid}"
.wiki-line.clearfix{ id: wiki_card_dom_id }
  - unless local_assigns[:hide_last_stroked_for]
    - chevron_dropdown = capture do
      = render 'posts/chevron_menu', local_assigns.merge(post: post)
    - dropdown_dom_id = "#{dom_id(post)}__chevron-buttons"
    - if chevron_dropdown.try(:strip).present?
      .post-card__buttons
        %span.bookmark{ class: bookmark_post_dom_class(post) }
          = render 'posts/bookmark', post: post
        %button.btn.btn-link.btn-sm.dropdown-toggle{ id: dropdown_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" }
          %i.fa.fa-ellipsis-v
        %ul.dropdown-menu.pull-right{ "aria-labelledby": dropdown_dom_id }
          = chevron_dropdown

    - text, last_stroked_at = post.last_stroked_activity { |user| link_to(user_subject_word(user), smart_user_gallery_path(user)) }
    = render 'posts/last_stroked_for', post: post

  .wiki-line-body-container
    - if ['detail', 'preview-detail', 'edit-detail'].include? local_assigns[:mode]
      - if can?(:update, post.wiki) and 'edit-detail' == local_assigns[:mode]
        = render 'wikis/card_form', local_assigns.merge(wiki_card_dom_id: wiki_card_dom_id)
      - else
        %h4.wiki-title
          = link_to post.wiki.title, smart_post_url(post), target: '_blank'

        .wiki-line-body.wiki-line-body-full.cursor-pointer
          .wiki-body.wiki-preview
            .mce-content-body
              != post.wiki.body
          .wiki-button
            = link_to wiki_post_path(post, mode: 'preview', wiki_card_dom_id: wiki_card_dom_id, format: :js), remote: true, class: 'btn btn-default btn-force', style: 'margin-right: 4px' do
              접어보기
            - if post.issue.postable?(current_user)
              = link_to wiki_post_path(post, mode: 'edit-detail', wiki_card_dom_id: wiki_card_dom_id, format: :js), remote: true, class: "btn btn-primary btn-force", style: 'border-radius: 4px' do
                편집
    - else
      %h4.wiki-title
        = link_to post.wiki.title, smart_post_url(post), target: '_blank'

      .wiki-line-body.cursor-pointer{ 'data-action': 'parti-link', 'data-url': wiki_post_path(post, mode: :detail, wiki_card_dom_id: wiki_card_dom_id, format: :js), 'data-type': 'remote' }
        .wiki-body.wiki-preview
          .shadow
          .mce-content-body
            != smart_truncate_html(post.wiki.body, length: 1000)
        .shadow
        .wiki-button
          .btn.btn-default.btn-force{ style: 'border-radius: 4px' }
            펼쳐보기
          - if post.issue.postable?(current_user)
            = link_to wiki_post_path(post, mode: 'edit-detail', wiki_card_dom_id: wiki_card_dom_id, format: :js), remote: true, class: "btn btn-primary btn-force", style: 'border-radius: 4px;' do
              편집


  .wiki-authors.tooltip-no-wrap
    작성
    - post.wiki.authors.each do |user|
      = link_to smart_user_gallery_path(user) do
        .thumb.img-circle.circle-30{style: "background-image: url(#{user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{user.nickname}", :type => "auto-button"}
