= form_for post, url: smart_wiki_url(post.wiki), method: :patch, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#post-form-widget form input[type=submit]' } } do |f|
  - controls = capture do
    - if post.wiki.activate?
      = f.submit '저장', class: 'btn btn-primary btn-ghost', data: { disable_with: "저장 중..." }
    = chevron_dropdown
  - if post.wiki.body.length > 2000
    .submit-box{ style: 'margin-bottom: 20px' }
      = controls
  - if post.wiki.activate?
    =  render 'posts/wiki_form', f: f
  - else
    .row
      .col-xs-12
        = read_only_wiki_content
  .submit-box.clearfix{ style: 'margin-top: 12px' }
    = controls
  %hr.wiki-authors-hr
  .clearfix
    .wiki-authors.tooltip-no-wrap
      작성
      - post.wiki.authors.each do |user|
        = link_to smart_user_gallery_path(user) do
          .thumb.img-circle.circle-30{style: "background-image: url(#{user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{user.nickname}", :type => "button"}
