= form_for post, url: wiki_post_url(post, subdomain: post.issue.group.try(:subdomain)), method: :patch, html: { class: 'form-widget', style: 'padding: 0', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#post-form-widget form input[type=submit]' } } do |f|
  - controls = capture do
    - if post.wiki.activate?
      = f.submit '저장', class: 'btn btn-primary', data: { disable_with: "저장 중..." }
  - if post.wiki.body.length > 2000
    .submit-box{ style: 'margin-bottom: 12px; margin-top: 18px' }
      = controls
  - if post.wiki.activate?
    =  render 'posts/wiki_form', f: f
  - else
    .row
      .col-xs-12
        = render 'wikis/read_only_wiki_content', wiki: post.wiki
  .submit-box.clearfix{ style: 'margin-top: 12px' }
    = controls
