- if post.wiki.present?
  = link_to post, target: "_blank" do
    .landing-wiki-card.wiki-line.clearfix.cursor-pointer.js-link{ class: dom_id(post), 'data-link-url': smart_post_path_or_url(post) }
      %h4.wiki-title
        = HTML_Truncator.truncate(post.wiki.title, 4)
      .wiki-content
        .wiki-body.wiki-preview
          .mce-content-body
            != smart_truncate_html(post.wiki.body, length: 1000)
        .shadow
      .post-card__header
        .media
          .media-left
            = link_to smart_issue_home_path_or_url(post.issue) do
              .issue-logo{style: "background-image: url(#{post.issue.logo.xs.url});"}
          .media-body
            = link_to smart_issue_home_path_or_url(post.issue) do
              %span.issue-title
                = post.issue.title
                = meta_icons(post.issue)
