.card.col-xs-12.col-sm-4{ class: removable_with_post_dom_class(post) }
  .wiki-card.clearfix
    = link_to wiki_post_path(post), target: '_blank' do
      .wiki-card-body
        %h4.wiki-title= post.wiki.title
        .wiki-body
          - if post.wiki.read_attribute(:thumbnail).present? and !post.wiki.purged?
            = image_tag post.wiki.thumbnail.lg.url
        .shadow
    - if post.wiki.wiki_histories.any?
      - text = post.wiki.latest_activity { |user| link_to("@#{user.nickname}", smart_user_gallery_path(user)) }
    - if text.present?
      .post-card__last-stroked
        != text
        %span.date= date_f(post.wiki.latest_history.created_at)
