%section#wiki-edit
  .container
    = form_for @wiki do |f|
      .form-submit.visible-xs-block
        = f.submit "#{@wiki.issue.title} 위키 저장", class: 'btn btn-sm btn-primary'
        = link_to '취소', issue_wikis_path(@wiki.issue)
      .form-group
        = f.text_area :body, class: 'form-control simplemde', rows: 40, cols: 120, data: {'parti-title': @wiki.issue.title, 'parti-url': issue_wikis_path(@wiki.issue)}
        = f.hidden_field :issue_id, class: 'form-control'
