= render 'issues/issue_header', issue: @post.issue, simple: true

%section.wiki-histories-page
  .container.container-xs-full-width
    .row
      = main_column_tag do
        %h4.wiki-title{style:'padding:10px 10px 0;'}
          = link_to @post.wiki.title, smart_post_url(@post), class: 'text-primary'
        %h5{style:'padding: 5px 10px 10px;'}
          %span.text-nowrap 위키 이력
        .history-list
          = render @history_page
        = paginate @history_page, theme: 'catan'
