.bs-component
  %section#sign-up
    %h4.sign-up__title 로그인
    %h1.text-center.sign-up__txt
      수다로 정치하자,
      %br
      빠띠에서 파티하자
    .sign-up__form
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_path(:user, :facebook) }, class: 'btn-sns btn-block' do
        = image_tag 'icon_fb_color.png'
        페이스북 아이디로 빠띠하기
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_path(:user, :twitter) }, class: 'btn-sns btn-block' do
        = image_tag 'icon_tw_color.png'
        트위터 아이디로 빠띠하기
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_path(:user, :google_oauth2) }, class: 'btn-sns btn-block' do
        = image_tag 'icon_gp_color.png'
        구글플러스 아이디로 빠띠하기
      #login-form
        = form_tag nil, method: :get do
          = hidden_field_tag(:after_login)
          %label.remember_me
            = check_box_tag(:remember_me, '1', true)
            로그인 상태를 유지

      .devider
        %span 또는

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.hidden_field :provider, value: 'email'
        .form-group
          = f.email_field :email, placeholder: '이메일을 입력하세요', autofocus: true, class: 'form-control'
        .form-group
          = f.password_field :password, placeholder: '비밀번호를 입력하세요', autocomplete: "off", class: 'form-control'
        .form-group
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
            = f.label :remember_me, class: 'remember_me'
        .form-group
          = f.submit '로그인', class: 'btn btn-primary btn-block'


      = render "devise/shared/links"

/ 아이디 입력

/ .bs-component
/   %section#sign-up
/     %h4.sign-up__title 아이디
/     %h2.text-center.sign-up__txt
/       빠띠에서 당신의 이름이 될
/       %br
/       멋진 아이디를 만들어주세요.
/     .sign-up__form
/       = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/         = f.hidden_field :provider, value: 'email'
/         .form-group
/           = f.email_field :email, placeholder: '이메일을 입력하세요', autofocus: true, class: 'form-control'
/           .text-primary
/             * 알파벳, 숫자, _ 만 가능합니다.
/         .form-group
/           = f.submit '로그인', class: 'btn btn-primary btn-block'

/         = form_tag nil, method: :get do
/           = hidden_field_tag(:after_login)
/           %label.remember_me
/             = check_box_tag(:remember_me, '1', true)
/             나는
/             %a.text-primary{href: '/terms', target: '_blank'}
/               %b 이용약관
/             ,
/             %a.text-primary{href: '/privacy', target: '_blank'}
/               %b 개인정보처리
/             방침 내용을 이해하고
/             동의합니다.
