.bs-component
  %section#sign-up
    %h4.sign-up__title 민주적 협력 커뮤니티 플랫폼 '빠띠'
    %h1.text-center.sign-up__txt 로그인
    .sign-up__form
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_url(:user, :facebook, subdomain: false) }, class: 'btn-sns btn-block' do
        %i.fa.fa-facebook{style: 'font-size: 22px; color: #2a3ab0; vertical-align: top;'}
        페이스북 아이디로 로그인
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_url(:user, :twitter, subdomain: false) }, class: 'btn-sns btn-block' do
        %i.fa.fa-twitter{style: 'font-size: 22px; color: #55acee; vertical-align: top;'}
        트위터 아이디로 로그인
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_url(:user, :google_oauth2, subdomain: false) }, class: 'btn-sns btn-block' do
        %i.fa.fa-google-plus{style: 'font-size: 22px; color: #c24851; vertical-align: top;'}
        구글플러스 아이디로 로그인
      = link_to email_sign_in_users_path, class: 'btn-sns btn-block' do
        %i.fa.fa-envelope{style: 'font-size: 22px; color: #966fd6; vertical-align: top;'}
        이메일로 로그인
      #login-form.text-center
        = form_tag nil, method: :get do
          = hidden_field_tag(:after_login)
          = hidden_field_tag(:group_slug, current_group.slug) if current_group.present?
          %label.remember_me
            = check_box_tag(:remember_me, '1', true)
            로그인 상태를 유지

  %section#sign-up-links
    .text-center
      %p
        처음 오셨나요?
        = link_to '가입하기', pre_sign_up_users_path
