.bs-component
  %section#sign-up
    %h4.sign-up__title 로그인/회원가입
    %h1.text-center.sign-up__txt
      시민이 힘을 모아 이슈를 해결하는
      %br
      온라인 광장 빠띠
    .sign-up__form
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_path(:user, :facebook) }, class: 'btn-sns btn-block' do
        %i.fa.fa-facebook{style: 'font-size: 22px; color: #2a3ab0; vertical-align: top;'}
        페이스북 아이디로 빠띠하기
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_path(:user, :twitter) }, class: 'btn-sns btn-block' do
        %i.fa.fa-twitter{style: 'font-size: 22px; color: #55acee; vertical-align: top;'}
        트위터 아이디로 빠띠하기
      = link_to '#', data: {action: 'parti-form-submit', 'form-target':'#login-form form', 'form-url': omniauth_authorize_path(:user, :google_oauth2) }, class: 'btn-sns btn-block' do
        %i.fa.fa-google-plus{style: 'font-size: 22px; color: #c24851; vertical-align: top;'}
        구글플러스 아이디로 빠띠하기
      #login-form
        = form_tag nil, method: :get do
          = hidden_field_tag(:after_login)
          %label.remember_me
            = check_box_tag(:remember_me, '1', true)
            로그인 상태를 유지

      .devider
        %span 또는 이메일로 로그인

      .email-login-form.panel
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.hidden_field :provider, value: 'email'
            .form-group
              = f.email_field :email, placeholder: '이메일을 입력하세요', class: 'form-control'
            .form-group
              = f.password_field :password, placeholder: '비밀번호를 입력하세요', autocomplete: "off", class: 'form-control'
            .form-group
              - if devise_mapping.rememberable?
                = f.check_box :remember_me
                = f.label :remember_me, class: 'remember_me'
            .form-group
              = f.submit '로그인', class: 'btn btn-primary btn-block'


          = render "devise/shared/links"


