.decision-history.clearfix[decision_history]{ data: {action: 'parti-link', 'url': (decision_history_path(decision_history.id) if decision_history.has_previous?) }, class: ('cursor-pointer' if decision_history.has_previous?) }
  .media
    .media-left
      .thumb.circle-20.img-circle{style: "background-image: url(#{decision_history.user.image.sm.url});"}
    .media-body
      - if !decision_history.has_previous?
        게시했습니다.
      - elsif decision_history.diff_body_adds_count > 0 or decision_history.diff_body_removes_count > 0
        %span.help-text.text-nowrap
          - diff_count_texts = []
          - if decision_history.diff_body_adds_count > 0
            - diff_count_texts << "+#{decision_history.diff_body_adds_count}군데 추가"
          - if decision_history.diff_body_removes_count > 0
            - diff_count_texts << "-#{decision_history.diff_body_removes_count}군데 삭제"
          #{diff_count_texts.join(', ')}했습니다.
      - else
        수정했습니다.
      .decision-history__header
        .decision-history__date.date-wrapper
          = static_date_f decision_history.created_at
