%section#counts
  .container
    %h4 통계
    %p 회원 수: #{number_with_delimiter User.count}
    %p 최근 24시간 동안 가입한 회원 수 : +#{number_with_delimiter User.latest.count}
    %p 글 수 : #{number_with_delimiter Post.count}
    %p 수다 수 : #{number_with_delimiter Comment.count}

%section#counts
  .container
    %h4 빠띠 태그
    - @issue_tags.each do |tag|
      %h5= tag
      %ul.list-unstyled
        - Issue.tagged_with(tag).each do |issue|
          = render 'issues/issue_line', issue: issue
