- if current_wiki.active?
  - if local_assigns[:current_wiki_history].present?
    .alert.alert-warning.versioninfo
      .before{ class: ('invisible' unless current_wiki_history.has_previous?) }
        = link_to url_for(wiki_history_id: current_wiki_history.previous&.id), class: 'btn btn-link btn-sm' do
          %i.fa.fa-arrow-left
          이전
      .main
        %p
          %strong #{static_date_f(current_wiki_history.created_at)}
          %br
          != current_wiki_history.activity { |user| user_subject_word(user) }
        .versionlegend
          예시)
          %br
          .version-deletion
            .content @#{current_wiki_history.user.nickname}님이 추가한 내용
          .version-insertion
            .contents-header__title @#{current_wiki_history.user.nickname}님이 삭제한 내용
      .after{ class: ('invisible' unless current_wiki_history.has_afterwhile?) }
        = link_to url_for(wiki_history_id: current_wiki_history.afterwhile&.id), class: 'btn btn-link btn-sm' do
          다음
          %i.fa.fa-arrow-right
    .body.-full.-edit{ data: { controller: 'content-replacement' } }
      .version{ data: { controller: 'editor-form', 'editor-form-read-only': 'true' } }
        .d-none{ data: { target: 'editor-form.source' } }
          != current_wiki_history.body
        - if current_wiki_history.has_previous?
          .d-none{ data: { target: 'editor-form.versionSource' } }
            != current_wiki_history.previous.body
  - else
    .body.-full{ data: { controller: 'content-replacement' } }
      .article
        !~ current_wiki.body
      .buttons
        = render 'front/wikis/controls', current_wiki: current_wiki

  .author-users
    .label 작성
    - current_wiki.authors.each do |user|
      %span.user{ data: { controller: 'content-popover', 'content-popover': { url: user_front_members_path(user), options: h({ container: '.front-app' }.to_json) } } }
        .image{ style: "background-image: url(#{user.image.sm.url});", title: user.nickname }
- elsif current_wiki.purged?
  .alert-box.my-3
    .alert.alert-secondary
      %i.fa.fa-fa-info-circle
      숨겨진 위키입니다.
- else
  .alert-box.my-3
    .alert.alert-secondary
      %i.fa.fa-fa-info-circle
      아카이브된 위키입니다.
