- popover_placement = browser.device.mobile? ? 'auto' : 'right'
- class_check = post.survey.multiple_select? ? 'fa-check-square-o' : 'fa-check-circle-o'
.survey-options{ class: survey_options_dom_class(post) }
  .survey-options--body{ class: ('survey-options--body--no-checkbox' if (!post.survey.feedbacked?(current_user) or !post.survey.mvp_options.any?) and !post.survey.open?) }
    - post.survey.options.each do |option|
      .option.clearfix[option]
        - if !user_signed_in?
          .checkbox-btn
            %span.cursor-pointer{ data: { toggle: 'parti-login-overlay', 'no-parti-link': 'no' } }
              %i.fa{ class:  class_check }
        - else
          .checkbox-btn
            - if post.survey.open?
              = link_to feedbacks_path(post_id: post.id, option_id: option.id, selected: !option.selected?(current_user)), remote: true, method: :post do
                - if option.selected?(current_user)
                  %i.fa.active{ class:  class_check }
                - else
                  %i.fa{ class:  class_check }
            - else
              %span.closed
                - if option.selected?(current_user)
                  %i.fa.active{ class:  class_check }
        .body
          - if post.survey.visible_feedbacks?(current_user)
            .chart{ style: 'position: relative', class: ('active' if option.selected?(current_user)), data: { action: ('parti-popover' if option.feedbacks_count > 0), url: "##{dom_id(post.survey)}-#{dom_id(option)}-feedback-users", trigger: 'hover', placement: popover_placement } }
              .chart__bar{ style: "width: #{post.survey.percentage(option)}%; height: 20px;"}
              .chart__body{ style: "position: absolute; top: 1px; left: -1px; width: 100%;"}
                .chart__body__text
                  - option_body = capture do
                    %span.text-basic-wrap.chart__label= option.body
                  - if post.survey.open?
                    = link_to option_body, feedbacks_path(post_id: post.id, option_id: option.id, selected: !option.selected?(current_user)), remote: true, method: :post
                  - else
                    = option_body
                %span.chart__count{ class: post.survey.mvp_option?(option) ? 'chart__count--mvp' : '' }
                  #{option.feedbacks_count}명
            .webui-popover-content
              .upvoted-users{id: "#{dom_id(post.survey)}-#{dom_id(option)}-feedback-users"}
                - option.feedback_users.each do |user|
                  = link_to smart_user_gallery_path(user), target: '_blank' do
                    .user-info
                      .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                      = user.nickname
          - else
            - option_body = capture do
              .no-chart__label.text-basic-wrap
                = option.body
            - unless user_signed_in?
              %span.cursor-pointer{ data: { toggle: 'parti-login-overlay', 'no-parti-link': 'no' } }
                = option.body
            - else

              - if post.survey.open?
                = link_to option_body, feedbacks_path(post_id: post.id, option_id: option.id, selected: !option.selected?(current_user)), remote: true, method: :post
              - else
                = option_body
        .feedbacks-count
          - if can? :destroy, option
            = link_to '삭제', option, method: :delete, remote: true, 'data-confirm': '정말 삭제하시겠습니까?'
    - if post.survey.options.blank?
      - if post.survey.open? and post.issue.member?(current_user)
        .help-block
          처음으로 제안해 보세요.
      - else
        .help-block
          제안된 항목이 없습니다.
    - if post.survey.open? and post.issue.member?(current_user)
      .option.clearfix
        = form_for Option.new, remote: true do |f|
          = f.hidden_field :survey_id, value: post.survey.id
          .checkbox-btn
            %i.fa{ class:  class_check }
          .body
            .form-group
              = f.text_field :body, class: 'form-control', placeholder: 'ex. 짜장면'

          .feedbacks-count
            .form-group
              = f.submit '+ 제안추가', class: 'btn btn-link'
    .survey-options--footer.clearfix
      = post.survey.remain_time_human

      - if post.survey.open? and post.survey.feedbacks.any? and !post.survey.feedbacked?(current_user)
        %div.text-basic-wrap
          현재
          %strong.text-primary #{post.survey.feedback_users_count}
          명이 투표했습니다. 투표하면 결과를 볼 수 있습니다.
      - else
        - if post.survey.feedbacks_count > 0
          %span.hidden-xs &middot;
          %br.visible-xs-block
          %span.survey-options--count.cursor-pointer{class: "#{dom_id(post.survey)}-feedbacks-count", data: { action: ('parti-popover' if post.survey.feedbacks_count > 0), url: "##{dom_id(post.survey)}-feedback-users", trigger: 'hover', placement: popover_placement } }
            총투표 #{post.survey.feedback_users_count}명
          .webui-popover-content
            .upvoted-users{id: "#{dom_id(post.survey)}-feedback-users"}
              - post.survey.feedback_users.each do |user|
                = link_to smart_user_gallery_path(user), target: '_blank' do
                  .user-info
                    .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                    = user.nickname
          - if post.survey.multiple_select?
            %span.survey-options--mulitple-select
              &middot;
              중복 투표 가능

