.sruvey-card{ class: survey_card_dom_class(post) }
  .sruvey-card--body{ class: ('sruvey-card--body--no-checkbox' if !post.survey.feedbacked?(current_user) and !post.survey.open?) }
    - post.survey.options.each do |option|
      .option.clearfix[option]
        - if !user_signed_in?
          .checkbox-btn
            = link_to '#', data: { toggle: 'parti-login-overlay' } do
              %i.fa.fa-check-circle-o
        - else
          .checkbox-btn
            - if post.survey.open?
              = link_to feedbacks_path(post_id: post.id, option_id: option.id), remote: true, method: :post do
                - if option.selected?(current_user)
                  %i.fa.fa-check-circle-o.active
                - else
                  %i.fa.fa-check-circle-o
            - else
              %span.closed
                - if option.selected?(current_user)
                  %i.fa.fa-check.active
                - else
        .body
          - option_body = capture do
            - if post.survey.visible_feedbacks?(current_user)
              .chart{ class: ('active' if option.selected?(current_user)) }
                .chart__bar{ style: "width: #{post.survey.percentage(option)}%"}
                  %span.chart__label= option.body
            - else
              .no-chart__label
                = option.body
          - if post.survey.open?
            = link_to option_body, feedbacks_path(post_id: post.id, option_id: option.id), remote: true, method: :post
          - else
            = option_body
        .feedbacks-count
          - if post.survey.visible_feedbacks?(current_user) and option.feedbacks_count > 0
            #{option.feedbacks_count}명
          - if can? :destroy, option
            = link_to '삭제', option, method: :delete, remote: true, 'data-confirm': '정말 삭제하시겠습니까?'
    - if post.survey.options.blank?
      - if post.survey.open? and post.issue.member?(current_user)
        .help-block
          처음으로 제안해 보세요.
      - else
        .help-block
          제안된 항목이 없습니다.
    - if post.survey.open? and post.issue.member?(current_user)
      .option.clearfix
        = form_for Option.new, remote: true do |f|
          = f.hidden_field :survey_id, value: post.survey.id
          .checkbox-btn
            %i.fa.fa-check-circle-o
          .body
            .form-group
              = f.text_field :body, class: 'form-control', placeholder: 'ex. 짜장면'

          .feedbacks-count
            .form-group
              = f.submit '+ 제안추가', class: 'btn btn-link'
    .sruvey-card--footer
      - if post.survey.open?
        마감까지 #{survey_remain_time(post.survey)}
      - else
        마감
      - if post.survey.feedbacks_count > 0
        &middot;
        - popover_placement = browser.device.mobile? ? 'auto' : 'right'
        %span.sruvey-card--count{class: "#{dom_id(post.survey)}-feedbacks-count", data: { action: ('parti-popover' if post.survey.feedbacks_count > 0), url: "##{dom_id(post.survey)}-feedback-users", trigger: 'hover', placement: popover_placement } }
          총투표 #{post.survey.feedbacks_count}명
        .webui-popover-content
          .upvoted-users{id: "#{dom_id(post.survey)}-feedback-users"}
            - post.survey.feedbacks.map(&:user).each do |user|
              = link_to smart_user_gallery_path(user), target: '_blank' do
                .user-info
                  .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                  = user.nickname

