- post = survey.post
- issue = post.issue
- feedbacked = user_signed_in? && survey.feedbacked?(current_user)
.post-card.survey-card.js-link[post]{ class: "#{dom_id(survey)} #{feedbacked ? 'survey-card--feedbacked' : ''} #{removable_with_post_dom_class(post)}", "data": { 'link-url': smart_post_url(post) } }
  - if post.private_blocked?(current_user)
    %strong 비공개 채널 게시글입니다.
    - if post.issue.member_requested? current_user
      %br
      %span.text-basic-wrap
        비공개 채널을 보시려면 먼저 가입승인 받아야합니다.
      %span.text-basic-wrap
        %strong<> 오거나이저의 가입승인
        을 기다려주세요.
  - else
    .survey-card__meta.clearfix
      .survey-card__issue
        = link_to smart_issue_home_url(issue) do
          = issue_tag(post.issue, show_group: true, group_classes: 'survey-card__group', group_short: true)
      .survey-card__date.date-wrapper
        %span= date_f post.created_at
    %h4.survey-card__title{ style: "overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; line-height: 1.4em; max-height: 4.2em; word-break: keep-all; overflow-wrap: break-word;" }
      “#{survey.post.specific_desc_striped_tags(100)}”
    - if local_assigns[:compact] != true
      = render 'surveys/card', local_assigns
    - if local_assigns[:show_decision] != false
      = render 'posts/decision', local_assigns.merge(post: post)
    - if local_assigns[:show_last_stroked_for]
      .post-card__last-stroked-bottom-wrapper
        = render 'posts/last_stroked_for', local_assigns
