- post = survey.post
- modal_data = { 'action': "parti-link", 'url': smart_post_path_or_url(post) }

- issue = post.issue
- feedbacked = user_signed_in? && survey.feedbacked?(current_user)
.survey-card[post]{ class: "#{dom_id(survey)} #{feedbacked ? 'survey-card--feedbacked' : ''} #{removable_with_post_dom_class(post)}", "data": modal_data}
  - if post.private_blocked?(current_user)
    %strong 비공개 빠띠 게시글입니다.
    - if post.issue.member_requested? current_user
      %br
      %span.text-basic-wrap
        비공개 빠띠를 보시려면 먼저 가입승인 받아야합니다.
      %span.text-basic-wrap
        %strong<> 오거나이저의 가입승인
        을 기다려주세요.
  - else
    .row.survey-card__meta
      .col-sm-6.col-xs-12
        .survey-card__issue
          = link_to smart_issue_home_path_or_url(issue) do
            - unless post.issue.displayable_group? current_group
              .survey-card__group
                = post.issue.group.head_title
            .thumb.thumb--issue{ style: "background-image: url(#{issue.logo.sm.url})" }
      .col-sm-6.col-xs-12
        .survey-card__date.date-wrapper.survey-card__date--with-issue
          %span= date_f post.created_at
    %h4.survey-card__title
      “#{survey.post.specific_desc_striped_tags(50)}”

    = render 'surveys/card', local_assigns
