#content-tab-section
  %ul.nav.nav-tabs
    %li{ class: "#{('active' if current_page?('/group/managements'))}" }
      = link_to group_managements_path do
        그룹 관리 홈
    %li{ class: "#{('active' if current_page?('/group/configuration/edit') or params[:controller] == 'group/configuration')}" }
      = link_to edit_group_configuration_url(subdomain: current_group.subdomain) do
        그룹 설정
    %li{ class: "#{('active' if current_page?('/group/categories') or params[:controller] == 'group/categories')}" }
      = link_to group_categories_url(subdomain: current_group.subdomain) do
        빠띠 주제 설정
