%section.text-center
  .container
    = render 'application/easy_jumbotron' do |p|
      - p.content_for :leading do
        비밀번호 변경
      - p.content_for :guide do
        새로운 비밀번호를 입력해 주세요.

    .simple-box.-half{ style: 'padding: 3rem 0' }
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        .form-group
          = f.label :password, "새로운 비밀번호"
          = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
          %em 8글자 이상 넣어주세요
        .form-group
          = f.label :password_confirmation, "비밀번호 확인"
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

        .form-group
          = f.submit "변경하기", class: 'btn btn-primary btn-block'
