= form_for [:admin, featured_campaign] do |f|
  .panel.panel-default
    .panel-heading
      %h4.panel-title #{featured_campaign.new_record? ? '새로 만들기' : "##{local_assigns[:index]} #{featured_campaign.url}"}
    .panel-body
      .form-group
        = f.label :url
        = f.text_field :url, class: 'form-control'
      .form-group
        - if upload_file_exists?(featured_campaign.image)
          = image_tag featured_campaign.image.url, class: 'img-thumbnail'
        = f.label :image
        = f.file_field :image, class: 'form-control'
      .form-group
        - if upload_file_exists?(featured_campaign.mobile_image)
          = image_tag featured_campaign.mobile_image.url, class: 'img-thumbnail'
        = f.label :mobile_image
        = f.file_field :mobile_image, class: 'form-control'
    .panel-footer.clearfix
      = f.submit '저장', class: 'btn btn-primary'
      = f.submit '취소', type: :reset, class: 'btn btn-default'
      - if featured_campaign.persisted?
        = link_to '삭제', [:admin, featured_campaign], method: :delete, class: 'btn btn-primary btn-danger pull-right'
