- post = talk.acting_as

- modal_data = { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) }
- mention_options_data = { 'mention-nickname': post.user.nickname, 'mention-form-control': '#new_comment #comment_body' }
- mention_data = mention_options_data.merge(modal_data)

- if post.comments_count >= 10
  - template_by_post = 'best'
- elsif post.comments_count >= 5
  - template_by_post = 'popular'
- else
  - template_by_post = 'default'

- template ||= (local_assigns[:template] || template_by_post)
- if template == 'best'
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = template
- elsif template == 'popular'
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = template
- else
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = 'default'

- wrapper_class = (local_assigns[:wrapper_class] || wrapper_class)

.card{ class: wrapper_class }
  .reference-card[post]{ class: card_class, data: modal_data }
    - capture_thumb = capture do
      .thumb.thumb--reference{ style: "background-image: url(#{reference_card_image(talk)})" }
    = link_to_if (card_class == 'default'), capture_thumb, talk.reference_url, target: '_blank'
    - if local_assigns[:show_issue]
      .reference-card__group-and-issue
        - if post.issue.on_group? and current_group != post.issue.group
          .reference-card__group
            = post.issue.group.name
        .thumb.thumb--issue{ style: "background-image: url(#{talk.issue.logo.sm.url})" }
    .caption
      - capture_source = capture do
        .date= date_f talk.created_at

        %h4.title{ class: ('title--file-source' if talk.file_source?) }
          - if talk.file_source?
            %i.fa.fa-floppy-o
          - if talk.video_source?
            %i.fa.fa-play-circle
          = truncate(talk.reference_title, length: 100)

        .source-body
          %p
            = excerpt(talk.reference_body, length: 55)
            .source-url
              - if talk.link_source?
                원글보기
                %i.fa.fa-external-link
              - if talk.file_source?
                - if talk.source.image?
                  그림보기
                  %i.fa.fa-external-link
                - else
                  다운로드
                  %i.fa.fa-floppy-o
      = link_to_if (talk.link_source? and card_class == 'default'), capture_source, talk.reference.try(:url), target: '_blank', class: 'link-source'
      .body
        %p
          - max_length = 215
          = excerpt(talk.body, length: max_length)
          - if (talk.body.try(:length) || 0) > max_length
            %span.body-more
              더보기
              %i.fa.fa-angle-double-right

        .reference-info
          = link_to user_gallery_path(talk.user) do
            .thumb.user-image.img-circle{style: "background-image: url(#{talk.user.image.sm.url});"}
            %span.nickname= talk.user.nickname
          - if talk.user.mentionable?(current_user)
            %a.comment__mention{ href: '#', data: mention_data }
              %i.fa.fa-reply
      .more
        - if post.comments_count > 0
          %span.comments-count
            %sapn
              %i.fa.fa-comment-o
              %b> #{post.comments_count}개
              의 댓글
          &nbsp;|&nbsp;
          %span.link-to-more 더보기...
        - else
          - if user_signed_in?
            - mention_options_data = { 'mention-nickname': '', 'mention-form-control': '#new_comment #comment_body' }
            - mention_data = mention_options_data.merge(toggle: "parti-post-modal", target: '#post-modal', url: polymorphic_url(post.specific))
            %span.link-to-modal{ data: mention_data }
              %i.fa.fa-commenting-o
              댓글작성
          - else
            %span.link-to-login{data: { toggle: 'parti-login-overlay', label: '댓글작성' }}
              %i.fa.fa-commenting-o
              댓글작성
          &nbsp;|&nbsp;
          %span.link-to-more 자세히...
