- modal_data = { toggle: "parti-post-modal", url: modal_post_path(post) }

- if post.comments_count >= 10
  - template_by_post = 'best'
- elsif post.comments_count >= 5
  - template_by_post = 'popular'
- else
  - template_by_post = 'default'

- template ||= (local_assigns[:template] || template_by_post)
- if template == 'best'
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = template
- elsif template == 'popular'
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = template
- else
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = 'default'

- wrapper_class = (local_assigns[:wrapper_class] || wrapper_class)

.card{ class: wrapper_class }
  .reference-card[post]{ class: card_class, data: modal_data }
    - capture_thumb = capture do
      .thumb.thumb--reference{ style: "background-image: url(#{reference_card_image(post)})" }
    = link_to_if (card_class == 'default'), capture_thumb, post.reference_url, target: '_blank'
    - if local_assigns[:show_issue]
      .reference-card__group-and-issue
        - if post.issue.on_group? and current_group != post.issue.group
          .reference-card__group
            = post.issue.group.name
        .thumb.thumb--issue{ style: "background-image: url(#{post.issue.logo.sm.url})" }
    .caption
      - capture_source = capture do
        .date= date_f post.created_at

        %h4.title{ class: ('title--file-source' if post.file_source?) }
          - if post.file_source?
            %i.fa.fa-floppy-o
          - if post.video_source?
            %i.fa.fa-play-circle
          = truncate(post.reference_title, length: 100)

        .source-body
          %p
            = excerpt(post.reference_body, length: 55)
            .source-url
              - if post.link_source?
                원글보기
                %i.fa.fa-external-link
              - if post.file_source?
                - if post.reference.image?
                  그림보기
                  %i.fa.fa-external-link
                - else
                  다운로드
                  %i.fa.fa-floppy-o
      = link_to_if (post.link_source? and card_class == 'default'), capture_source, post.reference.try(:url), target: '_blank', class: 'link-source'
      .body
        %p
          - max_length = 215
          = excerpt(post.parsed_body, length: max_length)
          - if (post.parsed_body.try(:length) || 0) > max_length
            %span.body-more
              더보기
              %i.fa.fa-angle-double-right

        .reference-info
          = link_to user_gallery_path(post.user) do
            .thumb.user-image.img-circle{style: "background-image: url(#{post.user.image.sm.url});"}
            %span.nickname= post.user.nickname
      - if post.comments_count > 0
        .more
          %span.comments-count
            %sapn
              %i.fa.fa-comment-o
              %b> #{post.comments_count}개
              의 댓글
