- if post.issue.blank?
  - return
.post-card{class: "#{dom_id(post)} #{'post-card--hidden-issue' unless local_assigns[:show_issue]} #{removable_with_post_dom_class(post) if local_assigns[:mode] == 'list'}"}
  .post-card__content
    - if local_assigns[:show_issue]
      .post-card__header
        %h4
          포스트 번호: #{post.id}
        .media
          .media-left
            = link_to smart_issue_home_path_or_url(post.issue) do
              .issue-logo{style: "background-image: url(#{post.issue.logo.xs.url});"}

          .media-body
            = link_to smart_issue_home_path_or_url(post.issue) do
              = issue_tag(post.issue, group_classes: 'issue-group')

    - if post.private_blocked?(current_user)
      .post-card__post
        %strong 비공개 채널 게시글입니다.
        - if post.issue.member_requested? current_user
          %br
          비공개 채널을 보시려면 먼저 가입승인 받아야합니다.
          %span
            %strong<> 오거나이저의 가입승인
            을 기다려주세요.

    - else
      .post-card__post
        - if !post.wiki.present?
          = render 'posts/last_stroked_for', post: post

          - chevron_dropdown = capture do
            = render 'posts/chevron_menu', local_assigns.merge(post: post)
          - dropdown_dom_id = "#{dom_id(post)}__chevron-buttons"
          - if chevron_dropdown.try(:strip).present?
            .post-card__buttons
              %button.btn.btn-link.btn-sm.dropdown-toggle{ id: dropdown_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" }
                %i.fa.fa-ellipsis-v
              %ul.dropdown-menu.pull-right.js-remote-toggle-dropdown-menu{ "aria-labelledby": dropdown_dom_id }
                = chevron_dropdown
          .post-info
            = render 'users/post_byline', post: post

        = render 'posts/post_line', local_assigns
