- post ||= local_assigns[:card]
.post-card
  - if local_assigns[:show_issue]
    .post-card____issue-label
      = link_to issue_home_path(post.issue) do
        = image_tag post.issue.logo.xs.url, class: 'circle-25 img-circle'
        %span.text-primary= post.issue.title
  .post-card__title
    = link_to post.specific_desc, post.specific
  .post-card__count
    = image_tag 'icon_comment.png'
    %b= post.comments.count
  .post-card__date
    = image_tag 'icon_time.png'
    %span= date_f post.created_at
