- post ||= local_assigns[:card]
.post-card
  .post-card__title
    = link_to post.specific_desc, post.specific
  .post-card__count
    = image_tag 'icon_comment.png'
    %b= post.comments.count
  .post-card__date
    = image_tag 'icon_time.png'
    %span= date_f post.created_at
