- button_groups = []
- if post.wiki.present?
  - if post.wiki.purgeable?
    - button_groups << capture do
      %li
        = link_to '위키 이력보기', histories_wiki_post_path(post)
  - if can? :update, post.wiki
    - button_groups << capture do
      - if post.wiki.activatable?
        %li
          = link_to '다시 위키 게시하기', activate_wiki_post_path(post), method: :patch
      - if post.wiki.inactivatable?
        %li
          = link_to '위키 아카이브하기', inactivate_wiki_post_path(post), method: :patch, data: { confirm: '정말 아카이브하시겠습니까?' }
      - if post.wiki.purgeable?
        %li
          = link_to '위키 지우기', purge_wiki_post_path(post), method: :patch, data: { confirm: '정말 지우시겠습니까?' }
  - if can? :update, post.wiki and post.wiki.active?
    - button_groups << capture do
      - if post.issue.group.organized_by?(current_user)
        %li
          = render 'posts/front_wiki_buttons', post: post
          - if !post.front_wiki? and post.issue.group.front_wiki_post.present?
            .help-text
              TIP. 해당 그룹의 홈에 다른 게시물이 이미 게시 중입니다.
              = link_to '확인하기', smart_group_url(post.issue.group)
          - if post.issue.private? and !post.front_wiki?
            .help-text
              TIP. 해당 채널은 비공개입니다. 해당 채널 멤버에게만 보입니다.
- button_groups << capture do
  - if can?(:update, post) and post.wiki.blank?
    %li
      = link_to [:edit, post] do
        수정
  - elsif post.event.present? and can?(:update, post.event)
    %li
      = link_to edit_event_path(post.event), remote: true do
        일정 수정
  - if can? :destroy, post
    %li
      = link_to post_path(post), method: :delete, remote: (local_assigns[:mode] != 'detail'), data: { confirm: '정말 삭제하시겠습니까?' } do
        삭제
- button_groups << capture do
  - if post.decisionable?(current_user)
    %li
      = link_to edit_decision_post_path(post), target: '_blank' do
        함께 결정하기
  - if can? :edit_folder, post
    %li
      = link_to edit_folder_post_path(post), remote: true do
        폴더 이동
  - if can?(:move_to_issue, post)
    %li
      = link_to [:move_to_issue_form, post] do
        다른 채널로 이동
  - elsif post.issue.member?(current_user)
    - if post.private_blocked?(post.user)
      %li
        %a{ data: { trigger: 'hover', action: 'parti-popover', content: "위키를 작성한 @#{post.user.nickname}님이 이 채널을 탈퇴하였거나 접근할 수 없습니다.", style: 'inverse', target: 'messenger-balloon'} }
          %span.text-muted
            다른 채널로 이동 불가
          %i.fa.fa-ban
    - else
      %li
        %a.cursor-pointer.js-mention{ href: '#', data: { comment_form_control: new_comment_form_body_input_dom_selector(post), 'mention-nickname': post.user.nickname, 'mention-text': "게시글 이동을 부탁드려요." } }<> 채널 이동 요청
- button_groups << capture do
  - if can? :pin, post
    %li
      = render 'posts/pin_buttons', post: post
    - if post.pinned?
      %li
        = link_to [:beholders, post], target: '_blank' do
          확인한 가입멤버 보기 (#{post.beholders_count})
      %li
        = link_to [:unbeholders, post], target: '_blank' do
          확인하지 않은 가입멤버 보기

- button_groups << capture do
  - additional_buttons = capture do
    - if local_assigns[:additional_buttons_partial].present?
      = render additional_buttons_partial, local_assigns
  - if additional_buttons.try(:strip).present?
    %li= additional_buttons

- button_groups.reject { |button_group| button_group.blank? }.each_with_index do |button_group, index|
  - if index != 0
    %li.divider
  = button_group
