- if post.pinned? or can?(:pin, post)
  %li{ class: switchable_post_pin_buttons_dom_class(post) }
    %ul.sub.list-unstyled
      - if post.pinned?
        %li
          .help-text.text-basic-wrap
            공지된 게시물입니다.

      - if can?(:pin, post)
        %li
          = render 'posts/pin_buttons', post: post
        - if post.pinned?
          %li
            = link_to [:beholders, post], target: '_blank' do
              공지 확인한 멤버 보기 (#{post.beholders_count})
          -# %li
          -#   = link_to [:unbeholders, post], target: '_blank' do
          -#     확인하지 않은 가입멤버 보기

      - if post.pinned? and post.can_beholder?(current_user)
        %li.divider
        - if post.need_to_behold?(current_user)
          %li
            = link_to [:behold, post], method: :put, remote: true, data: { disable_with: '처리 중...' }, class: behold_button_dom_class(post), 'data-completed-with': '확인 표시 완료 <i class="fa fa-check"/>' do
              공지 확인함 표시
        - else
          %li
            = link_to [:unbehold, post], method: :put, remote: true, data: { disable_with: '처리 중...' }, class: unbehold_button_dom_class(post), 'data-completed-with': '확인하지 않음 표시 완료 <i class="fa fa-check"/>' do
              공지 확인하지 않음 표시