%div{ class: ('js-comments-reader' if user_signed_in?), 'data-url': comments_read_path(post_id: post.id) }
  - showing_comments = (local_assigns[:mode] == 'list' ? post.latest_comments_threaded(current_user) : post.comments_threaded)
  - has_hidden_comments = (local_assigns[:mode] == 'list' and  post.any_not_latest_comments?(current_user))
  - comment_capture = capture do
    - if has_hidden_comments
      = link_to more_comments_post_path(post, format: :js), remote: true, id: comments_more_button_dom_id(post), 'data-disable-with': '<div class="more">가져오는 중...</div>', class: 'post-card__count', rel: :nofollow do
        .more
          %span{id: comments_more_label_dom_id(post)}
            = render 'comments/more_button', label: "#{('이전 ' if showing_comments.any?)} 댓글 #{('더 ' if showing_comments.any?)}보기", hidden_comments: post.comments.where.not(id: showing_comments.flatten)
            &middot;&nbsp;
            모두&nbsp;
            %span{id: comments_count_dom_id(post)}<>
              = post.comments_count
            개
          - if user_signed_in? and post.comments.unread(current_user).any?
            %span.count-label-wrapper.small
              .count-label
                +#{post.comments.unread(current_user).count}

    .post-card__comments--threads.js-target-new-comment{ id: comments_threads_dom_id(post) }
      - showing_comments.each do |parent_comment, child_comments|
        = render 'comments/threaded_comments', local_assigns.merge(parent_comment: parent_comment, child_comments: child_comments)
    - if user_signed_in?
      = render 'comments/new_form', post: post

    - elsif post.comments.any?
      .post-card__comment-form.comment-line
  - if comment_capture.present?
    .post-card__comments
      = comment_capture

  .js-comments-reader-mark
