- if post.decision.blank?
  - if post.issue.safe_postable?(current_user) and !local_assigns[:compact]
    .decision-panel.decision-panel-blank
      .help-text
        %sapn.text-muted 어느 정도 토론이 진행되었나요?
        = link_to '토론 정리하기', edit_decision_post_path(post), class: 'text-primary text-nowrap'
- else
  .decision-panel
    %h6
      %span.text-nowrap 토론 정리
      - if post.issue.safe_postable?(current_user)
        %span.control
          &middot;
          - if post.decision_histories.any?
            - latest_history = post.decision_histories.recent.first
            - latest_history_user = latest_history.user
            %span.writer
              %span
                = link_to "@#{latest_history_user.nickname}", smart_user_gallery_path(latest_history_user), class: 'text-muted'
              - if post.decision_authors_count > 1
                외 #{post.decision_authors_count - 1}명
            &middot;
          = link_to '수정', edit_decision_post_path(post), class: 'text-primary'
          &middot;
          = link_to '이력', decision_histories_post_path(post), class: 'text-primary'

    = decision_body_format(post.decision.strip)
