.modal-content
  .modal-body
    - new_folder_form = capture do
      %hr
      .form-group
        %label 새 폴더 이름
        = text_field_tag 'new_folder[title]', nil, class: 'form-control', data: { 'rule-required': true }
      .form-group
        %label 상위 폴더
        = select_tag 'new_folder[parent_id]', options_from_collection_for_select(post.issue.folders.top_folders.sort_by_name, 'id', 'title'), include_blank: '없음', class: 'form-control'
    - update_folder_form = capture do
      - if post.folder.present?
        %hr
        .form-group
          %label 폴더 이름
          = text_field_tag 'update_folder[title]', post.folder.title, class: 'form-control', data: { 'rule-required': true }
        - if post.folder.children.empty?
          .form-group
            %label 상위 폴더
            = select_tag 'update_folder[parent_id]', options_from_collection_for_select(post.issue.folders.top_folders.sort_by_name, 'id', 'title', post.folder.parent_id), include_blank: '없음', class: 'form-control'
    - form_id = "folder-form-#{SecureRandom.uuid}"
    = form_for [:update_folder, post], remote: true, html: { id: form_id, data: {action: 'parti-form-validation', 'submit-form-control':  "##{form_id} input[type=submit]"} } do |f|
      .form-group
        %p.help-text
          %strong "#{post.specific_desc_striped_tags(25)}"
          게시글이 이동할 폴더를
          - if post.issue.folders.any?
            선택하거나
          새로 만드세요.
        - if post.issue.folders.any?
          .js-folder-selector.folder-selector
            = f.select :folder_id, [], {}, class: 'form-control icon-select js-select-picker', data: { 'show-tick': 'true' } do
              - Folder.threaded(post.issue.folders).each do |parent_folder, child_folders|
                %option.parent-folder{ value: parent_folder.id, selected: parent_folder == post.folder }
                  = parent_folder.title
                - child_folders.each do |child_folder|
                  %option.child-folder{ value: child_folder.id, selected: child_folder == post.folder }
                    %span.child-folder-title
                      = child_folder.title
              %option{ 'data-divider': "true" }
              - if post.folder.present?
                %option{ value: '', 'data-content': "<span><i class='fa fa-share fa-rotate-270'></i></i> \"#{post.folder.title}\" 폴더에서 꺼내기</span>" }
                %option{ value: '-2', 'data-content': "<span><i class='fa fa-edit'></i> \"#{post.folder.title}\" 폴더 수정</span>"  }
                %option{ 'data-divider': "true" }
              %option{ value: '-1', 'data-content': "<span><i class='fa fa-plus'></i> 새로운 폴더 만들기</span>"  }
            .js-new-folder.collapse
              = new_folder_form
            - if post.folder.present?
              .js-update-folder.collapse
                = update_folder_form
        - else
          = f.hidden_field :folder_id, value: '-1'
          = new_folder_form

      .form-group
        = f.submit '이동', class: 'btn btn-primary'
        %span.button.btn.btn-default.btn-xs{ 'data-dismiss': 'modal', 'aria-label': '닫기' } 취소
