.well
  = form_for @post do |f|
    = f.hidden_field :reference_type
    = f.hidden_field :has_poll, value: "#{ 'true' if @post.poll.present? }"
    = f.hidden_field :has_survey, value: "#{ 'true' if @post.survey.present? }"
    = f.hidden_field :is_html_body, value: is_redactorable? ? true : false

    .form-group
      = f.label :body
      = f.text_area :body, class: 'form-control redactor validate', data: {ride: 'parti-autoresize'}

    - if @post.reference_type == 'LinkSource'
      = f.fields_for :reference do |ff|
        .form-group
          = ff.label :url
          = ff.text_field :url, placeholder: 'http://로 시작하는 주소를 입력하세요', class: 'form-control'

    - if @post.reference_type == 'FileSource'
      = f.fields_for :reference do |ff|
        .form-group
          %label
            현재 파일:
            = @post.reference.name
          = ff.file_field :attachment, class: 'form-control'

    - if @post.poll.present?
      = f.fields_for :poll do |ff|
        .form-group
          = ff.label :title
          = ff.text_field :title, placeholder: '찬반토표 제목: ex. 탕수육소스는 찍어먹어야합니다', class: 'form-control'

    - if @post.survey.present?
      = f.fields_for :survey do |ff|
        %label
          선택 항목을 넣어주세요.
        = ff.fields_for :options do |fff|
          .form-group
            = fff.hidden_field :id
            = fff.text_field :body, class: 'form-control', placeholder: '* 필수입력: ex. 짜장면', 'data-rule-required': true
        .new-form-group
          = link_to_add_association '+ 선택항목 추가', ff, :options, render_options: { locals: { input_data: { placeholder: 'ex. 짬뽕' } } }
        %hr
        .form-inline
          = ff.label :duration
          = ff.select :duration, options_for_select((1...10).map { |i| [ "#{i}일", i] }, ff.object.duration), {}, class: 'form-control'
    .editor-btn.text-right
      = link_to '취소', @post, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary btn-ghost', data: { disable_with: "저장 중..." }


