.well.post-edit-form
  = form_for @post, html: { novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '.post-edit-form form input[type=submit]' } } do |f|
    = f.hidden_field :has_poll, value: "#{ 'true' if @post.poll.present? }"
    = f.hidden_field :has_survey, value: "#{ 'true' if @post.survey.present? }"

    - textarea_error_id = "widget-content-#{SecureRandom.uuid}"
    .form-group{ id: textarea_error_id }
      = f.label :body
      .js-tinymce.form-control.form-control-tinymce{ id: "post[body]", 'data-placeholder': "#{current_user.nickname}님, 무슨 이야기를 나누실래요?", class: ('js-tinymce-mobile' if is_small_screen?), 'data-content-css': asset_url('tinymce_content.css', subdomain: nil) }
        != @post.body
      = f.hidden_field :body, class: 'validate', data: { 'rule-required': true, 'msg-required': '이야기를 입력해 주세요', 'rule-maxlength': '1048576', 'msg-maxlength': '내용에 담긴 글이 너무 길거나 이미지 등이 너무 큽니다. 위키를 열거나 사진 업로드를 이용하세요.', 'error-popover-target': "##{textarea_error_id}" }
      = f.hidden_field :is_html_body, value: true

    - if @post.poll.present?
      = f.fields_for :poll do |ff|
        .form-group
          = ff.label :title
          = ff.text_field :title, placeholder: '찬반투표 제목: ex. 탕수육소스는 찍어먹어야합니다', class: 'form-control'

    - elsif @post.survey.present?
      = f.fields_for :survey do |ff|
        .form-group
          = ff.label :duration_days do
            진행 기간을 선택하세요
          %div
            - survey_durationsoptions = [1, 3, 7].map { |i| [ "지금부터 #{i}일 동안", i] } + [['지금부터 계속', 0]] + [['바로 종료', -1]]
            - survey_durationsoptions = [["기간 변경없이 #{l @post.survey.expires_at.to_date}까지 진행", '']] + survey_durationsoptions if @post.survey.expires_at.present?
            = ff.select :duration_days, options_for_select(survey_durationsoptions, (@post.survey.expires_at.present? ? '' : '0')), {}, class: 'form-control'
        - if @post.survey.changable_multiple_select?
          .form-group
            .form-inline
              .checkbox
                %label.text-muted
                  = ff.check_box :multiple_select
                  제안 항목을 여러개 선택할 수 있습니다.

    - else
      - form_group_images_dom_id = "js-form-group-images-#{SecureRandom.uuid}"
      .form-widget-file-sources
        .post-file-field
          .help-block.clearfix
            %span.label.label-default TIP
            최대 10M까지 업로드됩니다. 이미지는 드래그해서 순서를 조정할 수 있습니다.
          .form-groups.js-post-editor-file_sources-wrapper<>
            .js-form-group-images.form-group-images{ id: form_group_images_dom_id, class: ('js-any' if @post.file_sources.only_image.any?) }<>
              - @post.file_sources.only_image.sort_by_seq_no.each do |file_source|
                = f.fields_for :file_sources, file_source do |ff|
                  = render 'posts/file_source_fields', f: ff
              .js-last-position
            .js-form-group-files.form-group-files{ class: ('js-any' if @post.file_sources.only_doc.any?) }<>
              - @post.file_sources.only_doc.sort_by_seq_no.each do |file_source|
                = f.fields_for :file_sources, file_source do |ff|
                  = render 'posts/file_source_fields', f: ff
          .add-form-group-btn.js-post-editor-file_sources-add-btn
            = link_to_add_association '+ 추가', f, :file_sources, partial: 'posts/file_source_fields', 'data-association-insertion-node': "##{form_group_images_dom_id} .js-last-position"
            %span.count
              (
              %span.js-current-count<>= @post.file_sources.count
              \/20)


    .editor-btn.text-right
      = link_to '취소', @post, class: 'btn btn-default'
      = f.submit '저장', class: 'btn btn-primary', data: { disable_with: "저장 중..." }
