.parti-select
  %select.js-parti-editor-selector.collapse(data-live-search="true" data-width="100%" title="게시할 빠띠를 골라 주세요")
    - latest_issue_ids = current_user.latest_posted_issues(5)
    - if latest_issue_ids.any?
      %optgroup{label: '최근 게시한 빠띠'}
        - latest_issue_ids.each do |issue|
          - issue_content = capture do
            .parti-option.clearfix<>
              %span.issue-line__thumb<>
                .parti-thumb{ style: "background-image: url(#{issue.logo.sm.url});" }<>
              %span.issue-line__title<>
                = issue_tag_ignored_current_group(issue, show_group: !issue.group.indie?)
          %option{ value: issue.id, 'data-content': h(issue_content), 'data-tokens': ' ' }<>
            = issue.title

    - all_issues = Issue.postable(current_user).alive.sort_by_name.to_a
    - groups = [Group.indie] + current_user.member_groups.sort_by_name
    - groups.each do |group|
      - issues = all_issues.select { |issue| issue.group_slug == group.slug }
      - if issues.any?
        %optgroup{label: group.title_basic_format}
          - issues.each do |issue|
            - issue_content = capture do
              .parti-option.clearfix<>
                %span.issue-line__thumb<>
                  .parti-thumb{ style: "background-image: url(#{issue.logo.sm.url});" }<>
                %span.issue-line__title<>
                  = issue_tag_ignored_current_group(issue,  show_group: !issue.group.indie?, group_classes: 'group-title', divider_classes: 'group-title')
            %option.hidden-group-title{value: issue.id, 'data-content': issue_content, 'data-tokens': issue.title }
              = issue.title
