.parti-select.parti-select-form-padding{ id: local_assigns[:dom_id] }
  %select.js-parti-editor-selector.collapse{ 'data-live-search': "true", 'data-width': "100%", title: (local_assigns[:placeholder_text] || "게시할 채널을 골라 주세요") }
    - unless local_assigns[:hide_latest_issues]
      - latest_issue_ids = current_user.latest_posted_issues(5)
      - if latest_issue_ids.any?
        %optgroup{label: '최근 게시한 채널'}
          - latest_issue_ids.each do |issue|
            - issue_content = capture do
              .parti-option.clearfix<>
                %span.issue-line__thumb<>
                  .parti-thumb{ style: "background-image: url(#{issue.logo.sm.url});" }<>
                %span.issue-line__title<>
                  = issue_tag_ignored_current_group(issue, show_group: true)
            %option{ value: issue.id, 'data-content': h(issue_content.to_str), 'data-tokens': ' ', 'data-can-pin': can?(:pin, issue).to_s, 'data-can-experiment': issue.experimental?.to_s }<>
              = issue.title

    - all_issues = Issue.postable(current_user).alive.sort_by_name.to_a
    - groups = current_user.member_groups.sort_by_name
    - groups.each do |group|
      - issues = all_issues.select { |issue| issue.group_slug == group.slug }
      - if issues.any?
        %optgroup{label: group.title_basic_format}
          - issues.each do |issue|
            - issue_content = capture do
              .parti-option.clearfix<>
                %span.issue-line__thumb<>
                  .parti-thumb{ style: "background-image: url(#{issue.logo.sm.url});" }<>
                %span.issue-line__title<>
                  = issue_tag_ignored_current_group(issue,  show_group: true, group_classes: 'group-title', divider_classes: 'group-title')
            %option.hidden-group-title{value: issue.id, 'data-content': h(issue_content.to_str), 'data-tokens': issue.title, 'data-can-pin': can?(:pin, issue).to_s, 'data-can-experiment': issue.experimental?.to_s }
              = issue.title
