.post-card.cursor-pointer{class: "#{dom_id(post)} #{('survey' if post.survey.present?)}", 'data-action': "parti-link", 'data-url': smart_post_path_or_url(post) }
  .post-card__content
    .post-card__post
      - if post.poll.present?
        .post-card__header{ style: "border-top: 0px;"}
          .media
            .media-left
              = link_to smart_issue_home_path_or_url(post.issue) do
                .issue-logo{style: "background-image: url(#{post.issue.logo.xs.url});"}
            .media-body
              = link_to smart_issue_home_path_or_url(post.issue) do
                %span.issue-title
                  = post.issue.title
                  = meta_icons(post.issue)
        %h4.poll-card__title
          %span.wrapper
            %span #{post.poll.title}
        .voting-area
          = render 'votings/voting', compact: true, poll: post.poll
      - elsif post.survey.present?
        .row
          .col-md-6
            .post-card__header{ style: "border-top: 0px;"}
              .media
                .media-left
                  = link_to smart_issue_home_path_or_url(post.issue) do
                    .issue-logo{style: "background-image: url(#{post.issue.logo.xs.url});"}
                .media-body
                  = link_to smart_issue_home_path_or_url(post.issue) do
                    %span.issue-title
                      = post.issue.title
                      = meta_icons(post.issue)
            = link_to post do
              %h4.survey-card__title
                != smart_truncate_html(post.body, length: 100, offset: 0, ellipsis: "...")
          .col-md-6
            - popover_placement = is_small_screen? ? 'auto' : 'right'
            - class_check = post.survey.multiple_select? ? 'fa-check-square-o' : 'fa-check-circle-o'
            .survey-options{ class: survey_options_dom_class(post) }
              .survey-options--body{ class: ('survey-options--body--no-checkbox' if (!post.survey.feedbacked?(current_user) or !post.survey.mvp_options.any?) and !post.survey.open?) }
                - !post.survey.options.order(feedbacks_count: :desc).limit(3).each do |option|
                  .option.clearfix[option]
                    - if !user_signed_in?
                      .checkbox-btn
                        %span.cursor-pointer{ data: { toggle: 'parti-login-overlay', 'no-parti-link': 'no' } }
                          %i.fa{ class:  class_check }
                    - else
                      .checkbox-btn
                        - if post.survey.open?
                          = link_to post, target: "_blank" do
                            - if option.selected?(current_user)
                              %i.fa.active{ class:  class_check }
                            - else
                              %i.fa{ class:  class_check }
                        - else
                          %span.closed
                            - if option.selected?(current_user)
                              %i.fa.active{ class:  class_check }
                    .body
                      - if post.survey.visible_feedbacks?(current_user)
                        - option_body = capture do
                          %span.text-basic-wrap.chart__label= option.body
                        - if post.survey.open?
                          = link_to option_body, post, target: "_blank"
                        - else
                          = option_body
                        .webui-popover-content
                          .upvoted-users{id: "#{dom_id(post.survey)}-#{dom_id(option)}-feedback-users"}
                            - option.feedback_users.each do |user|
                              = link_to smart_user_gallery_path(user), target: '_blank' do
                                .user-info
                                  .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                                  = user.nickname
                      - else
                        - option_body = capture do
                          .no-chart__label.text-basic-wrap
                            = option.body
                        - unless user_signed_in?
                          %span.cursor-pointer{ data: { toggle: 'parti-login-overlay', 'no-parti-link': 'no' } }
                            = option.body
                        - else
                          - if post.survey.open?
                            = link_to option_body, post, target: "_blank"
                          - else
                            = option_body
                .survey-options--footer.clearfix
                  = post.survey.remain_time_human

                  - if post.survey.open? and post.survey.feedbacks.any? and !post.survey.feedbacked?(current_user)
                    %div.text-basic-wrap
                      현재
                      %strong.text-primary #{post.survey.feedback_users_count}
                      명이 투표했습니다.
                  - else
                    - if post.survey.feedbacks_count > 0
                      %span.hidden-xs &middot;
                      %br.visible-xs-block
                      %span.survey-options--count.cursor-pointer{class: "#{dom_id(post.survey)}-feedbacks-count", data: { action: ('parti-popover' if post.survey.feedbacks_count > 0), url: "##{dom_id(post.survey)}-feedback-users", trigger: 'hover', placement: popover_placement } }
                        총투표 #{post.survey.feedback_users_count}명
                      .webui-popover-content
                        .upvoted-users{id: "#{dom_id(post.survey)}-feedback-users"}
                          - post.survey.feedback_users.each do |user|
                            = link_to smart_user_gallery_path(user), target: '_blank' do
                              .user-info
                                .thumb.user-image.img-circle{style: "background-image: url(#{user.image.sm.url});"}
                                = user.nickname
                      - if post.survey.multiple_select?
                        %span.survey-options--mulitple-select
                          &middot;
                          중복 투표 가능





