- if post.issue.blank?
  - return
- if post.file_sources.only_image.empty? and post.link_source.blank? and !post.link_source.try(:has_image?)
  - return

.post-card.post-card-recent.cursor-pointer{ class: dom_id(post), 'data-action': "parti-link", 'data-url': smart_post_path_or_url(post) }
  .post-card__post
    - post = post
    - issue = post.issue
    .post-line.post-line[post]
      .post-body
        - if post.file_sources.only_image.any?
          - multi = post.file_sources.count > 1
          .post-reference-line-file-content-wrapper--image<>
            - previous_style = nil
            - post.file_sources.only_image.sort_by_seq_no.limit(2).each_with_index do |file_source, index|
              - if index == 0 and multi == false
                - current_style = 'single'
              - elsif previous_style == 'left'
                - current_style = 'right'
              - else
                - current_style = 'left'
              - if current_style == 'single'
                %span.post-reference-line__file-content--image{ class: current_style, style: "background-image: url(#{file_source.attachment.md.url})" }<>
              - else
                %span.post-reference-line__file-content--image{ class: current_style, style: "background-image: url(#{file_source.attachment.md.url})" }<>
              - previous_style = current_style
        - elsif post.link_source.present?
          .post-reference-line-file-content-wrapper--image<>
            %span.post-reference-line__file-content--image{ class: 'single', style: "background-image: url(#{post.link_source.image.md.url})" }

        .post-parsed-body
          != smart_truncate_html(post.parsed_body, length: 85)

      .post-card__meta
        = link_to smart_issue_home_path_or_url(post.issue) do
          = issue_tag(post.issue, show_group: true, group_classes: 'issue-group', group_short: true)


