- if post.last_stroked_at > 24.hours.ago
  - if %w(voting feedback).include? post.last_stroked_for
    .post-card__last-strocked
      #{link_to "@#{post.last_stroked_user.nickname}", smart_user_gallery_path(post.last_stroked_user)}님이 투표했습니다.
      %span.date= date_f(post.last_stroked_at)
  - elsif 'option' == post.last_stroked_for
    .post-card__last-strocked
      #{link_to "@#{post.last_stroked_user.nickname}", smart_user_gallery_path(post.last_stroked_user)}님이 새 제안을 올렸습니다.
      %span.date= date_f(post.last_stroked_at)
