- if user_signed_in?
  #post-form-widget.form-widget-container
    = form_for Post.new, format: :js, remote: true, html: { class: 'form-widget js-parti-editor-selector-form', novalidate: true, data: { action: 'parti-form-validation' } } do |f|
      - textarea_error_id = "widget-content-#{SecureRandom.uuid}"
      .form-widget-content{ id: textarea_error_id }
        .user-info
          = render 'users/post_byline', user: current_user
        = hidden_field_tag :back_url, @list_url || request.original_url
        = f.hidden_field :has_poll, value: false
        = f.hidden_field :has_survey, value: false

        .form-group.textarea-box
          .js-tinymce{ id: "post[body]", 'data-placeholder': "#{current_user.nickname}님, 무슨 이야기를 나누실래요?", class: ('js-tinymce-mobile' if is_small_screen?), 'data-content-css': asset_url('tinymce_content.css', subdomain: nil) }
          = f.hidden_field :body, class: 'validate', data: { 'rule-required': true, 'msg-required': '이야기를 입력해 주세요', 'error-popover-target': "##{textarea_error_id}" }

          = f.hidden_field :is_html_body, value: true

          - cancel_btn_data = {action: 'parti-post-cancel-subform', 'show-target': '.post-reference-btns', 'has-poll': '#post_has_poll', 'has-survey': '#post_has_survey', 'file_sources': '#post-form-widget .js-post-editor-file_sources-wrapper .nested-fields'}

      .form-widget-file-sources
        .post-file-field.hidden
          .help-block.clearfix
            %span.label.label-default TIP
            최대 10M까지 업로드되며 이미지는 드래그해서 순서를 조정할 수 있습니다.
            .pull-right
              %a.btn.btn-flatten-default.btn-xs{href: '#', data: cancel_btn_data.merge('reference-field': '.post-file-field') } 업로드 취소
          - form_group_images_dom_id = "js-form-group-images-#{SecureRandom.uuid}"
          .form-groups.js-post-editor-file_sources-wrapper<>
            .js-form-group-images.form-group-images{ id: form_group_images_dom_id }<>
              / = f.fields_for :file_sources, FileSource.new do |ff|
              /   = render 'posts/file_source_fields', f: ff
              .js-last-position
            .js-form-group-files.form-group-files<>
          .add-form-group-btn.js-post-editor-file_sources-add-btn
            = link_to_add_association '+ 추가', f, :file_sources, partial: 'posts/file_source_fields', 'data-association-insertion-node': "##{form_group_images_dom_id} .js-last-position"
            %span.count
              (
              %span.js-current-count<> 0
              \/20)

        .post-poll-field.hidden
          .help-block.clearfix
            .pull-right
              %a.btn.btn-flatten-default.btn-xs{href: '#', data: cancel_btn_data.merge('reference-field': '.post-poll-field') } 찬반투표 취소
          .form-groups
            = f.fields_for :poll, Poll.new do |ff|
              .form-group
                = ff.label :title do
                  찬반투표 제목
                = ff.text_field :title, maxlength: 100, class: 'form-control', placeholder: 'ex. 탕수육소스는 찍어먹어야합니다', data: { 'rule-required': true }
        .post-survey-field.hidden
          .help-block.clearfix
            .pull-right
              %a.btn.btn-flatten-default.btn-xs{href: '#', data: cancel_btn_data.merge('reference-field': '.post-survey-field') } 설문 취소
          = f.fields_for :survey, Survey.new do |ff|
            .form-groups
              %label 제안이 있으시면 넣어주세요.
              - 2.times do |i|
                = ff.fields_for :options, Option.new do |fff|
                  = render 'posts/option_fields', f: fff, static: true, input_data: { placeholder: "ex. 제안#{i + 1}" }
              .new-form-group
                = link_to_add_association '+ 선택항목 추가', ff, :options, partial: 'posts/option_fields', render_options: { locals: { input_data: { placeholder: 'ex. 추가 제안' } } }
            .form-groups
              .form-inline
                %label 진행 기간을 선택해 주세요
                %div
                  %span 지금부터 &nbsp;
                  = ff.select :duration_days, options_for_select([0, 1, 3, 7].map { |i| [ (i == 0 ? "계속" : "#{i}일 동안"), i] }, ff.object.duration_days), {}, class: 'form-control', style: 'width: 50%; display: inline-block'
            .form-groups
              .form-inline
                .checkbox
                  %label
                    = ff.check_box :multiple_select
                    제안 항목을 여러개 선택할 수 있습니다.
      .form-widget-btns.clearfix
        .post-reference-btns
          - open_btn_data = {action: 'parti-post-select-subform', 'hidden-target': '.post-reference-btns', 'has-poll': '#post_has_poll', 'has-survey': '#post_has_survey'}
          %button{ class: 'btn btn-xs btn-link editor-btn post-file-btn', data: open_btn_data.merge('reference-field': '.post-file-field') }
            %i.fa.fa-cloud-upload
            = t('labels.new_post_file_source_button')
          %button{ class: 'btn btn-xs btn-link editor-btn post-poll-btn', data: open_btn_data.merge('reference-field': '.post-poll-field') }
            %i.fa.fa-fire
            = t('labels.new_post_poll_button')
          %button{ class: 'btn btn-xs btn-link editor-btn post-survey-btn', data: open_btn_data.merge('reference-field': '.post-survey-field') }
            %i.fa.fa-list-ul
            = t('labels.new_post_survey_button')
          = link_to new_wiki_posts_path, target: '_blank', class: 'btn btn-xs btn-link editor-btn post-wiki-btn js-post-wiki-btn', 'data-wiki-issue-param-name': 'issue_id' do
            %i.fa.fa-file-word-o
            = t('labels.new_post_wiki_button')
        .submit-box
          = f.hidden_field :issue_id, data:{ 'rule-required': true, 'error-popover-target': '.js-post-editor.js-parti-editor-selector-wrapper .bootstrap-select.js-parti-editor-selector' }, class: 'validate', value: (issue.id if issue.present?)
          = f.submit '게시', class: 'btn btn-primary', data: { disable_with: "게시 중..." }

