- issue ||= Issue::OF_ALL
- if user_signed_in?
  - base_button_data = {'switch-target-base': ".form-widget-container", 'switch-source-base': '#editors-tab.editors-tab a[data-action=parti-switch]', action: "parti-switch", type: 'button'}
  - article_button_data = {'switch-target': '#article-form-widget', focus: ( !issue.is_all? ? 'input#article_link' : 'select#article_issue_id')}.update(base_button_data)
  - talk_button_data = {'switch-target': '#talk-form-widget', focus: ( !issue.is_all? ? 'input#talk_title' : 'select#talk_issue_id')}.update(base_button_data)
  - opinion_button_data = {'switch-target': '#opinion-form-widget', focus: ( !issue.is_all? ? 'input#opinion_title' : 'select#opinion_issue_id')}.update(base_button_data)
- else
  - article_button_data = opinion_button_data = talk_button_data = {toggle: "parti-login-overlay"}

.post-form.bg-line
  #editors-tab.editors-tab.clearfix
    = link_to '', data: article_button_data, class: 'col-xs-4 boder-none' do
      %span
        = image_tag 'img_link.png'
        링크 걸기
    = link_to '', data: talk_button_data, class: 'col-xs-4' do
      %span
        = image_tag 'img_talk.png'
        톡 열기
    = link_to '#', data: opinion_button_data, class: 'col-xs-4' do
      %span
        = image_tag 'img_opinion.png', class: 'img_opinion'
        투표 열기


- if user_signed_in?
  #article-form-widget.form-widget-container.bg-line
    = form_for Article.new, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#article-form-widget form input[type=submit]' } } do |f|
      = hidden_field_tag :back_url, @list_url || request.original_url
      - if !issue.is_all?
        = f.hidden_field :issue_id, value: issue.id
      - else
        .form-group
          = f.select :issue_id, current_user.editable_issues_continents, {prompt: '빠띠를 선택해 주세요.'}, {class: 'form-control', style: 'width: 99%', data: { 'rule-required': true, 'action': 'parti-select-parti'}}
      .form-group
        = f.text_field :link, placeholder: '링크를 입력해주세요.', class: 'form-control', data: {'rule-required': true}
      %hr
      .form-group.textarea-box
        = image_tag current_user.image.xs.url, class: 'img-circle circle-50 border-2-primary'
        = image_tag 'icon_tooltip_left.png', class: 'icon-tooltip'
        = text_area_tag :comment_body, '', placeholder: '이 링크에 대해 어떻게 생각하시나요?', class: 'form-control', data: { ride: 'parti-autoresize', 'rule-required': true}
      .form-group.clearfix
        .pull-right
          = f.submit '게시', class: 'btn btn-primary btn-ghost btn-border'
        .pull-right
          %a.btn.btn-default.btn-border{href: '#', data: {'hide-target': "#article-form-widget", 'inactive-target': '#editors-tab.editors-tab a[data-action=parti-switch]', action: "parti-hide", type: "button", 'disabled-typeahead-validation': 'true'}} 취소

  #talk-form-widget.form-widget-container.bg-line
    = form_for Talk.new, html: { class: 'form-widget', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#talk-form-widget form input[type=submit]' } } do |f|
      = hidden_field_tag :back_url, @list_url || request.original_url
      - if !issue.is_all?
        = f.hidden_field :issue_id, value: issue.id
      - else
        .form-group
          = f.select :issue_id, current_user.editable_issues_continents, {prompt: '빠띠를 선택해 주세요.'}, {class: 'form-control', style: 'width: 99%', data: { 'rule-required': true, 'action': 'parti-select-parti'}}
      .form-group
        = f.text_field :title, placeholder: '톡 주제를 써주세요.', class: 'form-control', data: {'rule-required': true}
      %hr
      .form-group.textarea-box
        = image_tag current_user.image.xs.url, class: 'img-circle circle-50 border-2-primary'
        = image_tag 'icon_tooltip_left.png', class: 'icon-tooltip'
        = text_area_tag :comment_body, '', placeholder: '이 톡 주제에 대해 어떻게 생각하시나요?', class: 'form-control', data: {ride: 'parti-autoresize', 'rule-required': true}
      .form-group.clearfix
        .pull-right
          = f.submit '게시', class: 'btn btn-primary btn-ghost btn-border'
        .pull-right
          %a.btn.btn-default.btn-border{href: '#', data: {'hide-target': "#talk-form-widget", 'inactive-target': '#editors-tab.editors-tab a[data-action=parti-switch]', action: "parti-hide", type: "button", 'disabled-typeahead-validation': 'true'}} 취소

  = render 'opinions/new_form', local_assigns
