- issue ||= Issue::OF_ALL
- if user_signed_in?
  - base_button_data = {'switch-target-base': ".form-widget-container", 'switch-source-base': '#editors-tab.editors-tab a[data-action=parti-switch]', action: "parti-switch", type: 'button'}
  - article_button_data = {'switch-target': '#article-form-widget', focus: ( 'input#article_link' if !issue.is_all? ) }.update(base_button_data)
  - talk_button_data = {'switch-target': '#talk-form-widget', focus: ( 'input#talk_title' if !issue.is_all? )}.update(base_button_data)
  - opinion_button_data = {'switch-target': '#opinion-form-widget', focus: ( 'input#opinion_title' if !issue.is_all? )}.update(base_button_data)
- else
  - article_button_data = opinion_button_data = talk_button_data = {toggle: "parti-login-overlay"}

#editors-tab.editors-tab.clearfix
  .btn-group.btn-group-justified
    = link_to '', data: article_button_data, class: 'btn btn-primary btn-lg btn-shadow editor-btn' do
      %i.icon-article
      %div
        링크걸기
    = link_to '', data: talk_button_data, class: 'btn btn-primary btn-lg btn-shadow editor-btn' do
      %i.icon-talk
      %div
        톡 열기
    = link_to '#', data: opinion_button_data, class: 'btn btn-primary btn-lg btn-shadow editor-btn' do
      %i.icon-opinion
      %div
        투표 열기

- if user_signed_in?
  = render 'articles/new_form', local_assigns

  = render 'talks/new_form', local_assigns

  = render 'opinions/new_form', local_assigns
