- before_post = @previous_last_post
- disabled_push_notification_period = current_user.try(:disabled_push_notification_period)
- posts.each do |post|
  - if !post.blinded?(current_user) and !post.private_blocked?(current_user)

    - if disabled_push_notification_period.present?
      - started_at, ended_at = disabled_push_notification_period

      - divider_notification_up = capture do
        - if started_at > post.last_stroked_at and (before_post.blank? or started_at <before_post.last_stroked_at)
          .post-data-divider.post-data-divider-notification
            %span.divider-text
              앱 알람이 꺼진 동안 업데이트된 게시글
              %i.fa.fa-arrow-up

      - divider_notification_down = capture do
        - if ended_at > post.last_stroked_at and (before_post.blank? or ended_at <before_post.last_stroked_at)
          .post-data-divider.post-data-divider-notification
            %span.divider-text
              앱 알람이 꺼진 동안 업데이트된 게시글
              %i.fa.fa-arrow-down

      - if divider_notification_up.present? and divider_notification_down.present?
        - divider_notification_up = nil
        - divider_notification_down = nil

    = divider_notification_up

    - if local_assigns[:show_day_section] and post.last_stroked_at.present? and before_post.try(:last_stroked_at).try(:to_date) != post.last_stroked_at.to_date
      .post-data-divider.js-post-data-divider
        - if local_assigns[:first_today_text].present? and before_post.blank?
          = local_assigns[:first_today_text]
        - else
          #{post.last_stroked_at.to_date.today? ? '오늘' : (post.last_stroked_at.to_date == (Time.current - 1.day).to_date ? "어제" : static_day_f(post.last_stroked_at))} 업데이트된 게시글

    = divider_notification_down

    .post-card__content
      - post_card_dom_id = "post-card-#{SecureRandom.uuid}"
      .post-card.js-lazy-partal-load{ id: post_card_dom_id, data: { url: post_url(post, subdomain: current_group.try(:subdomain), dom_id: post_card_dom_id, assigns: to_json_primitive_only(local_assigns.merge(mode: 'list')), format: :js) } }
        .skeletons
          .skeleton-user
            .skeleton-user-icon
            .skeleton-user-meta
              .skeleton-user-nickname
              .skeleton-post-date
          %ul.list-unstyled
            - 4.times do
              %li.skeleton-item{ style: "width: #{[70, 100, 80].sample}%;" }

    - before_post = post
