!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag asset_data_base64('application_default.css')
    = stylesheet_link_tag asset_data_base64('vendors.css')
    %link{href: "http://fonts.googleapis.com/earlyaccess/notosanskr.css", rel: "stylesheet"}
  %body(style='padding: 0;')
    %section.poll-social-card-section{ style: "background-image: url(#{asset_data_base64('share_poll.png')});" }
      .card
        .info
          #{@post.issue.title}
          %br
          @#{@post.user.nickname}
