- issue = post.issue
- single_image_breakpoint = 700
- if is_small_screen?
  - single_image_breakpoint = 270
- secondary_image_breakpoint = 400
- if is_small_screen?
  - secondary_image_breakpoint = 120
.post-line[post]
  .post-body
    .post-parsed-body.mce-content-body{'data-action': 'parti-link-target-blank'}
      - if local_assigns[:mode] == 'detail'
        = post_body_format post.issue, post.body
      - else
        .truncated-body
          - more_button = capture do
            %button.btn-more.btn-link{ 'data-action': 'parti-show-more', 'data-more-wrapper': "##{dom_id(post)}.post-line" } ... 더 보기
          - body_length_limit = (post.reviewed_by?(current_user) ? 200 : 500)
          - body_length_offset = (post.reviewed_by?(current_user) ? 80 : 150)
          != smart_truncate_html(post_body_format(post.issue, post.body), length: body_length_limit, offset: body_length_offset, ellipsis: more_button)
        .original-body{ style: 'display: none;' }
          = post_body_format post.issue, post.body
    - if post.video_source?
      .post-reference-line.post-line
        .post-reference-line__link-content.post-reference-line__link-content--video
          .post-reference-line__video-container
            .post-reference-line__video-content
              = video_embed_code(post)
          .post-reference-line__site-name
            %a{href: post.link_source.url, target: '_blank'}
              = post.link_source.site_name.try(:upcase)
              원글보기
              %i.fa.fa-external-link
    - elsif post.file_sources.any?
      - if post.file_sources.only_image.any?
        - odd = post.file_sources.only_image.count.odd?
        .clearfix
          .post-reference-line-file-content-wrapper--image.js-photoswipe.js-image-mosaic<>
            - previous_style = nil
            - post.file_sources.only_image.sort_by_seq_no.each_with_index do |file_source, index|
              - image_photoswipe_url = file_source.attachment.lg.url

              - image_photoswipe_width = file_source.image_width_lg
              - image_photoswipe_heigh = file_source.image_height_lg

              - if file_source.image_width < single_image_breakpoint
                - image_photoswipe_url = file_source.attachment.url
                - image_photoswipe_width = file_source.image_width
                - image_photoswipe_heigh = file_source.image_height


              - action_options = { width: file_source.image_width_lg, height: file_source.image_height_lg, 'data-url': image_photoswipe_url, 'data-original-url': (download_file_source_url(file_source) unless is_small_screen?), 'data-width': image_photoswipe_width, 'data-height': image_photoswipe_heigh, 'data-title': post.specific_desc_striped_tags(100), 'data-index': index, class: 'js-photoswipe-image cursor-pointer' }
              = image_tag file_source.attachment.lg.url, action_options

      - post.file_sources.only_doc.sort_by_seq_no.each do |file_source|
        .post-reference-line.post-line
          .post-reference-line__file-content
            %a.cursor-pointer.js-download{ href: file_source.url, 'data-url': file_source.url, 'data-post-id': post.id, 'data-file-source-id': file_source.id, 'data-file-name': file_source.name }
              .media.media-flex
                .media-left.hidden-xs
                  %i.fa.fa-floppy-o
                .media-body
                  %span
                    = file_source.name
                  %br.visible-xs
                  %span.post-reference-line__file-content__file-size
                    = number_to_human_size(file_source.file_size)
                .media-right
                  .post-reference-line__file-content__download.text-nowrap
                    다운로드
    - elsif post.link_source.present?
      .post-reference-line.post-reference-line-link-source.post-line
        %a{href: post.link_source.url, target: '_blank'}
          .post-reference-line__link-content
            - if post.link_source.has_image?
              .post-reference-line__link-content__big-thumb.visible-xs-block{style: "background-image: url(#{post.link_source.image.md.url});", class: ('webp' if is_webp?(post.link_source.image.url))}
            .media.media-flex
              .media-body
                %h4.post-line-reference__title{ class: ('post-line-reference__url' if post.link_source.no_title?) }= post.link_source.title_or_url
                .post-reference-line__source-body= excerpt(post.link_source.body, length: (is_small_screen? ? 45 : 130))
                .post-reference-line__site-name
                  %a{href: post.link_source.url, target: '_blank'}
                    = post.link_source.site_name.try(:upcase)
                    원글보기
                    %i.fa.fa-external-link
              - if (post.link_source.has_image?)
                .media-right.hidden-xs.post-reference-line__link-content__thumb{style: "background-image: url(#{post.link_source.image.md.url})", 'data-action': 'parti-link', 'data-url': post.link_source.url, 'data-link-target': '_blank', class: ('webp' if is_webp?(post.link_source.image.url)) }
    - if post.poll.present?
      .post-poll-card
        = render 'polls/poll', local_assigns.merge(poll: post.poll, in_post: true, show_decision: false)
    - elsif post.survey.present?
      = render 'surveys/card', local_assigns
    - elsif post.wiki.present?
      = render 'wikis/card', local_assigns
    - elsif post.event.present?
      = render 'events/card', local_assigns
    = render 'posts/decision', local_assigns.merge(in_post: true)
