- post = post_in_email
- default_postable_type_image = 'fa-link.png'
- postable_type_image_map = {'Post' => 'fa-bar-chart.png'}
- hide_parti_button ||= hide_parti_button
- hide_issue_title ||= hide_issue_title

= link_to smart_post_url(post), target: '_blank', style: 'color: rgb(51, 51, 51); text-decoration: none' do
  %div{:style => "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}
    %div{:style => "background: rgb(255, 255, 255); padding: 15px 0px; text-align: left; line-height: 1.8; border-style: solid; border-width: 0px; border-color: rgb(255, 255, 255);"}
      %div{:style => "padding: 0px 5px;"}
        %div{:style => "padding: 0 10px;"}
          %div{:style => "font-size: 14px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; color: rgb(51, 51, 51); padding: 0px; margin: 0px; text-align: left;"}
            - unless hide_issue_title
              %span{:style => "color: rgb(150, 111, 214); font-size: 14px;"} #{post.issue.title} 빠띠
            %div
              .user-image{style: "background-image: url(#{post.user.image.sm.url}); width: 16px; height: 16px; display: inline-block; vertical-align: sub; border-radius: 50%; background-size: cover; background-position: center; background-repeat: no-repeat;"}
              %span{:style => "font-weight: bold;"}
                = post.user.nickname
              %span{:style => "font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; font-style: normal; color: rgb(119, 119, 119);"}
                = l(post.created_at.to_date, format: :email)
              %br/
            %div
              = post.specific_desc_striped_tags(100)

  - unless hide_parti_button
    %div{:style => "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}
      %div{:style => "background: rgb(255, 255, 255); padding: 5px 0px; text-align: center; line-height: 1.8; border-style: solid; border-width: 0px; border-color: rgb(150, 111, 214);"}
        %div{:style => "padding: 0px 5px;"}
          %div{:style => "padding: 16px 0px; margin: 0px 10px;"}
            %p{:style => "margin: 0px;"}
              %a{:href => smart_post_url(post), :style => "font-size: 14px; display: inline-block; color: rgb(150, 111, 214); background: none; border-radius: 3px; padding: 12px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: rgb(150, 111, 214);_display:inline", :target => "_blank"} 빠띠에서 확인하기

  %div{:style => "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}
    %div{:style => "padding: 5px 0px; text-align: left; line-height: 1.8; border-style: solid; border-width: 0px;"}
      %div{:style => "padding: 0px 5px;"}
        %div
          %div{:style => "height: 1px; background: none; display: block; margin: 0px 10px; padding: 0px; border-top: 1px solid rgb(249, 249, 249);"}
