.post-card__post.clearfix.cursor-pointer{ class: "#{pinned_post_dom_class(post)} #{('js-posts-pinned-and-behold collapse' if local_assigns[:collapse])} #{'need-to-behold' if post.need_to_behold?(current_user)} #{'unpinned' unless post.pinned?}", 'data-action': "parti-link", 'data-url': smart_post_url(post) }
  .desc
    .body<>
      = link_to smart_post_url(post), 'aria-label': only_mobile_app(request, "post-pinned") do
        = post.specific_desc_striped_tags(120)

    .issue-meta.issue-meta-footer
      = link_to "@#{post.user.nickname}", smart_user_gallery_url(post.user)
      &nbsp;
      = link_to smart_post_url(post) do
        - created_at = local_assigns[:post].try(:created_at)
        %span.date= created_at.nil? ? '지금' : date_f(created_at)

      - if post.pinned?
        - if can? :pin, post
          %span.action-btn
            &nbsp;
            = link_to [:unpin, post], method: :delete, remote: true, data: { disable_with: '처리 중...', confirm: '이 공지를 내리시겠습니까?' } do
              공지 내리기

        - if post.need_to_behold?(current_user)
          %span.action-btn
            &nbsp;
            = link_to [:behold, post], method: :put, remote: true, data: { disable_with: '처리 중...' }, class: "#{behold_button_dom_class(post)} primary", 'data-completed-with': '읽음 표시 완료 <i class="fa fa-check"/>' do
              읽음 표시하기

  - pin_buttons = capture do
    - if can? :pin, post
      %li
        = render 'posts/pin_buttons', post: post
    - if post.pinned?
      - if post.pinned? and can?(:beholders, post)
        %li
          = link_to [:beholders, post], target: '_blank' do
            확인한 멤버 보기 (#{post.beholders_count})
        -# %li
        -#   = link_to [:unbeholders, post], target: '_blank' do
        -#     확인하지 않은 가입멤버 보기
      - if post.can_beholder?(current_user)
        - if post.need_to_behold?(current_user)
          %li
            = link_to [:behold, post], method: :put, remote: true, data: { disable_with: '처리 중...' }, class: behold_button_dom_class(post), 'data-completed-with': '읽음 표시 완료 <i class="fa fa-check"/>' do
              읽음 표시
        - else
          %li
            = link_to [:unbehold, post], method: :put, remote: true, data: { disable_with: '처리 중...' }, class: unbehold_button_dom_class(post), 'data-completed-with': '읽지 않은 상태로 표시 완료 <i class="fa fa-check"/>' do
              읽지 않은 상태로 표시

  - if pin_buttons.try(:strip).present?
    - dropdown_dom_id = "#{dom_id(post)}__pinned_chevron-buttons"
    .pin-buttons
      %button.btn.btn-link.btn-sm.dropdown-toggle{ id: dropdown_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" }
        %i.fa.fa-ellipsis-v
      %ul.dropdown-menu.pull-right{ "aria-labelledby": dropdown_dom_id }
        = pin_buttons
