.post-card-with-comments{class: dom_id(post), data: { 'parti-comment-style': 'in-list' }}
  .post-card-with-comments__header
    = link_to issue_home_path(post.issue), class: 'issue-logo' do
      = image_tag post.issue.logo.xs.url
      %span.issue-title= post.issue.title
    %span.post-type
      &middot;
      #{post.specific.class.model_name.human}

    %span.date-wrapper= date_f post.created_at

  .post-card-with-comments__post
    = render customize_partial_path(post.specific, ->(model) { "#{model.class.model_name.plural}/#{model.class.model_name.singular}_line" }), show_issue: local_assigns[:show_issue]

  - if post.latest_comments.any?
    .post-card-with-comments__comments
      - if post.comments_count > 0
        .more{data: { toggle: "parti-post-modal", target: '#post-modal', url: polymorphic_url(post.specific) }}
          %b>
            %i.icon-comment
            총 #{post.comments_count}개
          %span.hidden-xs 의 수다
          \|
          %span.text-primary 이전 수다 더보기...
      - post.latest_comments.each do |comment|
        = render 'comments/comment_line', comment: comment
