- post = post
- issue = post.issue
- single_image_breakpoint = 700
- if is_small_screen?
  - single_image_breakpoint = 270
- secondary_image_breakpoint = 400
- if is_small_screen?
  - secondary_image_breakpoint = 120
.post-line.post-line[post]
  .post-body
    - if local_assigns[:post_line]
      - if post.file_sources.only_image.any?
        .post-reference-line-file-content-wrapper--image<>
          - post.file_sources.only_image.sort_by_seq_no.each_with_index do |file_source, index|
            - image_url = file_source.attachment.md.url
            - if file_source.image_width < single_image_breakpoint
              - image_url = file_source.attachment.url

            - if file_source.image_width < 400
              .post-reference-line__small-image-wrapper<>
                .post-reference-line__file-content--image.js-download{ 'data-url': file_source.url, 'data-post-id': post.id, 'data-file-source-id': file_source.id, 'data-file-name': file_source.name, 'data-link-target': '_blank', class: 'single' }<>
                  = image_tag image_url
            - else
              .post-reference-line__file-content--image.js-download{ 'data-url': file_source.url, 'data-post-id': post.id, 'data-file-source-id': file_source.id, 'data-file-name': file_source.name, 'data-link-target': '_blank', class: 'single' }<>
                = image_tag image_url
    - else
      .post-parsed-body{'data-action': 'parti-link-target-blank'}
        - if local_assigns[:mode] == 'detail'
          = post_body_format post.issue, post.body
        - else
          .truncated-body
            - more_button = capture do
              %button.btn-more.btn-link{ 'data-action': 'parti-show-more', 'data-more-wrapper': "##{dom_id(post)}.post-line" } ... 더 보기
            - body_length_limit = (post.reviewed_by?(current_user) ? 200 : 500)
            != smart_truncate_html(post_body_format(post.issue, post.body), length: body_length_limit, ellipsis: more_button)
          .original-body{ style: 'display: none;' }
            = post_body_format post.issue, post.body
      - if post.video_source?
        .post-reference-line.post-line
          .post-reference-line__link-content.post-reference-line__link-content--video
            .post-reference-line__video-container
              .post-reference-line__video-content
                = video_embed_code(post)
            .post-reference-line__site-name
              %a{href: post.link_source.url, target: '_blank'}
                = post.link_source.site_name.try(:upcase)
                원글보기
                %i.fa.fa-external-link
      - elsif post.file_sources.any?
        - if post.file_sources.only_image.any?
          - odd = post.file_sources.only_image.count.odd?
          - image_id = "image-#{SecureRandom.uuid}"
          .post-reference-line-file-content-wrapper--image<>
            - previous_style = nil
            - post.file_sources.only_image.sort_by_seq_no.each_with_index do |file_source, index|
              - if is_small_screen?
                - action_options = { 'data-action': 'parti-link', 'data-url': images_post_path(post), 'data-link-target': '_blank' }
              - else
                - action_options = { href: file_source.attachment.lg.url, 'data-lightbox': "image-#{image_id}", 'data-title': post.specific_desc_striped_tags(100) }
              - if index == 0 and odd == true
                - current_style = 'single'
              - elsif previous_style == 'left'
                - current_style = 'right'
              - else
                - current_style = 'left'

              - image_url = file_source.attachment.md.url
              - if file_source.image_width < single_image_breakpoint
                - image_url = file_source.attachment.url

              - if current_style == 'single'
                - if file_source.image_width < 400
                  .post-reference-line__small-image-wrapper<>
                    %a.post-reference-line__file-content--image{ action_options, class: current_style }<>= image_tag image_url
                - else
                  %a.post-reference-line__file-content--image{ action_options, class: current_style }<>= image_tag image_url, style: 'display: block'
              - else
                %a.post-reference-line__file-content--image{ action_options, class: current_style, style: "background-image: url(#{file_source.attachment.md.url}); #{("background-size: #{file_source.image_width}px;") if file_source.image_width < secondary_image_breakpoint}" }<>
              - previous_style = current_style

        - post.file_sources.only_doc.sort_by_seq_no.each do |file_source|
          .post-reference-line.post-line
            .post-reference-line__file-content
              .cursor-pointer.js-download{ 'data-url': file_source.url, 'data-post-id': post.id, 'data-file-source-id': file_source.id, 'data-file-name': file_source.name }
                .media
                  .media-left.hidden-xs
                    %i.fa.fa-floppy-o
                  .media-body
                    %span
                      = file_source.name
                    %br.visible-xs
                    %span.post-reference-line__file-content__file-size
                      = number_to_human_size(file_source.file_size)
                  .media-right
                    .post-reference-line__file-content__download
                      다운로드
      - elsif post.link_source.present?
        .post-reference-line.post-line
          %a{href: post.link_source.url, target: '_blank'}
            .post-reference-line__link-content
              - if (post.link_source.has_image?)
                .post-reference-line__link-content__big-thumb.visible-xs-block{style: "background-image: url(#{post.link_source.image.md.url});", class: ('webp' if is_webp?(post.link_source.image.url))}
              .media
                .media-body
                  %h4.post-line-reference__title= post.link_source.title_or_url
                  .post-reference-line__source-body= excerpt(post.link_source.body, length: (is_small_screen? ? 45 : 130))
                  .post-reference-line__site-name
                    %a{href: post.link_source.url, target: '_blank'}
                      = post.link_source.site_name.try(:upcase)
                      원글보기
                      %i.fa.fa-external-link
                - if (post.link_source.has_image?)
                  .media-right.hidden-xs.post-reference-line__link-content__thumb{style: "background-image: url(#{post.link_source.image.md.url})", 'data-action': 'parti-link', 'data-url': post.link_source.url, 'data-link-target': '_blank', class: ('webp' if is_webp?(post.link_source.image.url)) }
      - elsif post.poll.present?
        = render 'polls/poll', local_assigns.merge(poll: post.poll, in_post: true)
        = render 'posts/decision', local_assigns.merge(in_post: true)
      - elsif post.survey.present?
        = render 'surveys/card', local_assigns
        = render 'posts/decision', local_assigns.merge(in_post: true)
      - elsif post.wiki.present?
        = render 'wikis/card', local_assigns
