- if bookmark.present?
  .bookmark-memo{ class: "#{bookmark_memo_post_dom_class(bookmark)} #{'collapse' unless bookmark.memo.present?}", 'data-no-parti-link': 'no' }
    - if bookmark.memo.present?
      .bookmark-memo-body{ class: ('collapse' unless params[:mode].blank?) }
        != memo_format(post.issue, bookmark.memo)
    = form_for bookmark, remote: true, html: { class: "bookmark-memo-form #{'collapse' unless params[:mode] == 'form'}" } do |f|
      %hr.dropdown-memo-hr{ style: 'margin-top: 10px' }
      .form-group
        = f.text_area :memo, class: 'form-control js-autoresize bookmark-memo-form-body', rows: 1
      .clearfix
        .pull-right
          %span.bookmark-memo-form-cancel
            = link_to memo_bookmark_path(bookmark), remote: true, data: { disable_with: '...' } do
              취소
          = f.submit '저장', class: 'btn btn-primary bookmark-memo-form-submit'
