.post-card__post.clearfix.cursor-pointer{ 'data-action': "parti-link", 'data-url': smart_post_url(post) }
  .desc
    .body<>
      = link_to smart_post_url(post) do
        = post.specific_desc_striped_tags(120)

    .issue-meta.issue-meta-footer
      = link_to "@#{post.user.nickname}", smart_user_gallery_url(post.user)
      &nbsp;
      = link_to smart_post_url(post) do
        - created_at = local_assigns[:post].try(:created_at)
        %span.date= created_at.nil? ? '지금' : date_f(created_at)

  .bookmark-buttons
    %span.bookmark{ class: bookmark_post_dom_class(post) }
      = render 'posts/bookmark', post: post
