%div.post-section__header
  .post-section__header__meta
    .clearfix
      .pull-right
        - unless local_assigns[:only_buttons]
          = link_to user_gallery_path(post.user) do
            = post.user.nickname
          %br
        %span
          - unless local_assigns[:only_buttons]
            = date_f post.created_at
          - if can? :update, post.specific
            = link_to '수정', [:edit, post.specific]
          - if can? :destroy, post.specific
            = link_to '삭제', post.specific, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
      - unless local_assigns[:only_buttons]
        .pull-left{style: 'margin-right: 10px'}
          = link_to user_gallery_path(post.user) do
            = image_tag post.user.image_url, class: 'user-image img-circle'


  .post-section__header__share-box
    = render 'posts/share', post: post

