- if post.issue.blank?
  - return
.post-card{class: "#{dom_id(post)} #{'post-card--hidden-issue' unless local_assigns[:show_issue]} #{removable_with_post_dom_class(post) if local_assigns[:mode] == 'list'}"}
  .post-card__content
    - if local_assigns[:show_issue]
      .post-card__header
        .media
          .media-left
            = link_to smart_issue_home_path_or_url(post.issue) do
              .issue-logo{style: "background-image: url(#{post.issue.logo.xs.url});"}
          .media-body
            = link_to smart_issue_home_path_or_url(post.issue) do
              - unless post.issue.displayable_group? current_group
                %span.issue-group
                  = post.issue.group.title_basic_format
                  = meta_icons(post.issue.group)
                %span.issue-separator /
              %span.issue-title
                = post.issue.title
                = meta_icons(post.issue)

    - if post.private_blocked?(current_user)
      .post-card__post
        %strong 비공개 빠띠 게시글입니다.
        - if post.issue.member_requested? current_user
          %br
          비공개 빠띠를 보시려면 먼저 가입승인 받아야합니다.
          %span
            %strong<> 오거나이저의 가입승인
            을 기다려주세요.

    - else
      .post-card__post
        - if !post.wiki.present?
          = render 'posts/last_stroked_for', post: post

          - chevron_dropdown = capture do
            = render 'posts/chevron_menu', local_assigns.merge(post: post)
          - dropdown_dom_id = "#{dom_id(post)}__chevron-buttons"
          - if chevron_dropdown.try(:strip).present?
            .post-card__buttons
              %button.btn.btn-link.btn-sm.dropdown-toggle{ id: dropdown_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" }
                %i.fa.fa-chevron-down
              %ul.dropdown-menu.pull-right{ "aria-labelledby": dropdown_dom_id }
                = chevron_dropdown
          .post-info
            = render 'users/post_byline', post: post

        = render 'posts/post_line', local_assigns

      - share_content = { 'share-url': smart_post_url(post), 'share-text': "#{post.specific_desc_striped_tags(100)} | #{post.issue.group.try(:title_share_format) || "빠띠"}" }
      - share_partial = capture do
        = render 'application/share', providers: %w(facebook twitter telegram kakao-link kakao-story copy), share_map: {action: 'parti-share', 'share-image': "#{post.meta_tag_image}" }.merge(share_content)
      .post-card__footer.clearfix
        %span.post-card__footer__upvote
          .post-upvote
            = render 'upvotes/upvote', upvotable: post

        - if user_signed_in?
          %span.post-card__footer__link-to-modal.cursor-pointer{data: { action: 'parti-focus', 'focus-target': new_comment_form_body_input_dom_selector(post)}}
            댓글달기
        - else
          %span.post-card__footer__link-to-login.cursor-pointer{data: { toggle: 'parti-login-overlay', label: '댓글달기' }}
            댓글달기
        %span.post-card__footer__share-modal.cursor-pointer{ data: { url: "#share-partial-#{dom_id(post)}", action: "parti-share-popover", placement: "top" }.merge(share_content) }
          공유하기
        %span.post-card__footer__upvote-count
          = render 'upvotes/upvote_count', upvotable: post
        .hidden
          .share-partial{id: "share-partial-#{dom_id(post)}"}
            = share_partial
      .post-reaction{class: "#{dom_id(post)}-post-reaction"}
        = render 'posts/comments', local_assigns


