- bookmark = post.bookmark_by(current_user)
- bookmark_tag_form_container_class_name = "uid-#{SecureRandom.uuid}"
- card_attr = { class: bookmarked_post_dom_class(post), 'data-link-url': smart_post_url(post, assigns: to_json_primitive_only(show_group: local_assigns[:show_group], show_issue: local_assigns[:show_issue]), dom_id: splited_post_dom_id, format: ('js' if window_splitable?)), 'data-post-link-selector-active-class': 'selected' }
- if window_splitable?
  - card_attr.merge!('data-link-type': 'remote', 'data-link-parti-remote-loading': "##{splited_post_dom_id}")

.post-card__post.post-card__post-bookmarked.clearfix.cursor-pointer.js-link.js-post-link-selector{ card_attr }
  .desc
    .body<>
      = post.specific_desc_striped_tags(120)

    .issue-meta.issue-meta-footer
      = link_to "@#{post.user.nickname}", smart_user_gallery_url(post.user)
      &nbsp;
      = link_to smart_post_url(post) do
        - created_at = local_assigns[:post].try(:created_at)
        %span.date= created_at.nil? ? '지금' : date_f(created_at)
      &nbsp;
      - add_button = capture do
        %a.bookmark-tag-toggle-form-btn.js-bookmark-tag-show-form.cursor-pointer{ href: '#', class: ('collapse' if local_assigns[:show_form]), 'data-bookmark-tag-show-form-container-class-name': bookmark_tag_form_container_class_name, 'data-bookmark-tag-show-form-toggle-button': 'true' }
          태그 추가
      = render 'bookmarks/bookmark_tags', bookmark: bookmark, container_class_name: bookmark_tag_form_container_class_name, add_button: add_button

  .bookmark-buttons
    %span.bookmark
      = render 'bookmarks/bookmark_button', post: post, mode: 'simple', container_class_name: bookmark_tag_form_container_class_name

