= hidden_field_tag :back_url, @list_url || request.original_url
- if f.object.wiki.present?
  = hidden_field_tag :updated_at_timestamp, f.object.wiki.updated_at.to_i
= f.hidden_field :has_poll, value: false
= f.hidden_field :has_survey, value: false
.row
  .col-xs-12
    = f.fields_for :wiki do |ff|
      = ff.text_field :title, placeholder: '제목을 넣어주세요...', class: "form-control", data: { 'rule-required': true }
      .js-tinymce.form-control.form-control-tinymce{ id: "post[wiki_attributes][body]", 'data-placeholder': ("내용..." if ff.object.body.blank?), 'data-tinymce-setting': 'wiki' }
        != ff.object.body
      = ff.hidden_field :body, class: 'validate', data: { 'rule-required': true }
