= render 'issues/issue_header', issue: @post.issue, simple: true

%section#decision-histories
  .container.container-xs-full-width
    .row
      = main_column_tag do
        .contents-header.xs-horizontal-padding
          %h4.contents-header__title
            = link_to @post.specific_desc_striped_tags(20), smart_post_url(@post), class: 'text-primary'
          %h5
            토론 정리 이력

        .decision-history-page
          .history-list
            = render @history_page
          = paginate @history_page, theme: 'catan'
