%section.contents-page
  .container.container-xs-full-width
    .contents-header.xs-horizontal-padding
      %h4.contents-header__title
        #{Post.model_name.human} 이동하기
    .post-move-form#post-move-form.js-parti-editor-selector-wrapper
      = form_for [:move_to_issue, @post], method: :patch, html: { class: 'form-widget js-parti-editor-selector-form', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#post-move-form form input[type=submit]' } } do |f|
        = render 'posts/issue_selector'
        = f.hidden_field :issue_id, data:{ 'rule-required': true }, value: @post.issue.id

        .editor-btn.text-right
          = link_to '취소', @post, class: 'btn btn-default'
          = f.submit '저장', class: 'btn btn-primary', data: { disable_with: "저장 중..." }
    %hr
    = render @post, show_issue: true
