- if @post.issue.present?
  = render 'issues/issue_header', simple: true, issue: @post.issue

%section.contents-page
  .container
    .row
      = main_column_tag do
        .posts-header.horizontal-padding
          %h4.posts-header__title.vertical-shrinking
            #{Wiki.model_name.human} 작성
            %small
              협업을 통해 문서를 함께 만들어 보세요
        #post-form.wiki-form.wiki-form-new.js-parti-editor-selector-wrapper
          = form_for @post, html: { class: 'form-widget js-parti-editor-selector-form', novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#post-form form input[type=submit]' } } do |f|
            - controls = capture do
              = f.hidden_field :issue_id, data:{ 'rule-required': true }, class: 'validate', value: (@issue.id if @issue.present?)
              = f.submit '게시', class: 'btn btn-primary', data: { disable_with: "게시 중..." }
            - if @post.issue.blank?
              .wiki-issue-selector
                .row
                  .col-xs-12.col-sm-6
                    = render 'posts/issue_selector'
            =  render 'posts/wiki_form', f: f
            %div{ style: 'margin-top: 12px' }
              = controls
      - unless is_small_screen?
        - if @post.issue.present?
          = render 'issues/aside'
        - else
          = render 'application/aside'
