%section.contents-page
  .container
    .row
      = main_column_tag do
        = render 'application/my_home_tab'

        %ul.list-inline.post-data-divider.post-data-divider-filter
          %li
            = link_to pinned_posts_path(mode: :unbehold), class: ('active' if params[:mode].blank? or params[:mode] == 'unbehold') do
              확인하지 않은 공지
          %li
            = link_to pinned_posts_path(mode: :all), class: ('active' if params[:mode] == 'all') do
              모든 공지
        - @pinned_posts.each do |issue, posts|
          .post-data-divider
            = link_to smart_issue_home_url(issue) do
              = issue_tag(issue)
          .post-card.summary.pinned
            - posts.each do |post|
              = render 'posts/post_pinned', post: post
        - if @pinned_posts.empty?
          .text-center.alert
            %i.fa.fa-info-circle
            - if params[:mode].blank? or params[:mode] == 'unbehold'
              확인할 공지 사항이 없습니다.
            - else
              공지 사항이 없습니다.
      = render 'application/aside'