%section.contents-page
  .container
    .row
      = main_column_tag do
        = render 'application/my_home_tab'

        - if @unread_pinned_posts.any?
          .post-data-divider.primary
            새 공지
          .post-card.summary.pinned
            - @unread_pinned_posts.each do |post|
              = render 'posts/post_pinned', post: post, show_issue: true

        - @pinned_posts.each do |issue, posts|
          .post-data-divider
            = link_to smart_issue_home_url(issue) do
              = issue_tag(issue)
          .post-card.summary.pinned
            - posts.each do |post|
              = render 'posts/post_pinned', post: post
        - if @pinned_posts.empty?
          .text-center.alert
            %i.fa.fa-info-circle
              공지된 게시물이 없습니다.
      .hidden-xs
        = render 'application/aside'
