= render 'issues/issue_header', simple: true

%section.posts-page#posts
  .container
    .row
      .col-xs-12.col-sm-8
        .posts
          - if @post.blinded?(current_user)
            .alert.alert-danger
              %p
                = t('labels.post_blind_info')
          - else
            = render @post, mode: 'detail', additional_buttons_partial: 'posts/modal_buttons'
        .another-post
          - anothers = @post.issue.not_blind_hottest_posts(10, current_user).reject { |post| @post == post or @post.private_blocked?(current_user) }
          - if anothers.empty?
            - anothers = @post.issue.not_blind_recent_posts(20, current_user).reject { |post| @post == post or @post.private_blocked?(current_user) }
          - if anothers.any?
            %p.title
              %strong #{@post.issue.title}
              빠띠의 다른글
              = render 'posts/card', post: anothers.sample(1).first
      - unless is_small_screen?
        = render 'issues/aside'
