= render 'issues/issue_header', simple: true, issue: @post.issue

%section.contents-page
  .container.container-xs-full-width
    .row
      = main_column_tag(('col-lg-12' if @post.try(:wiki).try(:conflict?))) do
        .posts
          - if @post.blinded?(current_user)
            .alert.alert-danger
              %p
                = t('labels.post_blind_info')
          - else
            - if @post.wiki.blank?
              = render @post, mode: 'detail', additional_buttons_partial: 'posts/modal_buttons'
            - else
              = render 'posts/post_wiki', post: @post, mode: 'detail'
        - if !@post.issue.frozen?
          .another-post
            - anothers = @post.issue.not_blind_hottest_posts(10, current_user).reject { |post| @post == post or @post.private_blocked?(current_user) }
            - if anothers.empty?
              - anothers = @post.issue.not_blind_recent_posts(20, current_user).reject { |post| @post == post or @post.private_blocked?(current_user) }
            - if anothers.any?
              %h5.title
                = link_to smart_issue_home_url(@post.issue) do
                  %span.text-primary #{@post.issue.title}
                  빠띠의 다른 게시글
                  %small.text-muted
                    더 보기
                    %i.fa.fa-angle-double-right
              = render 'posts/page', posts: anothers.sample(3)
              .post-card
                .post-card__post.text-center.text-basic-wrap
                  = link_to smart_issue_home_url(@post.issue), class: 'text-muted' do
                    #{@post.issue.title}
                    빠띠의 다른 게시글
                    %span.text-nowrap
                      더 보기
                      %i.fa.fa-angle-double-right


            - if @post.issue.body.present?
              .another-post
                %h5.title
                  = link_to smart_issue_home_url(@post.issue) do
                    %span.text-primary #{@post.issue.title}
                    빠띠는?
                    %small.text-muted
                      자세히 보기
                      %i.fa.fa-angle-double-right
                .post-card
                  .post-card__post
                    = link_to smart_issue_home_url(@post.issue) do
                      = @post.issue.body

      - unless is_small_screen?
        = render 'issues/aside', additional_classes: (%w(visible-block-md hidden-lg) if @post.try(:wiki).try(:conflict?))

= render 'issues/bottom_banner', issue: @post.issue
