= render 'issues/issue_header', issue: @post.issue

%section.contents-page
  .container.container-xs-full-width.container-left
    .row
      = main_column_tag do
        .posts
          - if @post.blinded?(current_user)
            .alert.alert-danger
              %p
                = t('labels.post_blind_info')
          - else
            = render @post, mode: 'detail', additional_buttons_partial: 'posts/modal_buttons'
        - if !@post.issue.iced?
          .another-post
            - anothers = @post.issue.not_blind_hottest_posts(10, current_user).reject { |post| @post == post or @post.private_blocked?(current_user) }
            - if anothers.empty?
              - anothers = @post.issue.not_blind_recent_posts(20, current_user).reject { |post| @post == post or @post.private_blocked?(current_user) }
            - if anothers.any?
              %h5.title
                = link_to smart_issue_home_url(@post.issue) do
                  %span.text-primary #{@post.issue.title}
                  채널의 다른 게시글
                  %small.text-muted
                    더 보기
                    %i.fa.fa-angle-double-right
              = render 'posts/page', posts: anothers.sample(3)
              .post-card
                .post-card__post.text-center.text-basic-wrap
                  = link_to smart_issue_home_url(@post.issue), class: 'text-muted' do
                    #{@post.issue.title}
                    채널의 다른 게시글
                    %span.text-nowrap
                      더 보기
                      %i.fa.fa-angle-double-right


            - if @post.issue.body.present?
              .another-post
                %h5.title
                  = link_to smart_issue_home_url(@post.issue) do
                    %span.text-primary #{@post.issue.title}
                    채널은?
                    %small.text-muted
                      자세히 보기
                      %i.fa.fa-angle-double-right
                .post-card
                  .post-card__post
                    = link_to smart_issue_home_url(@post.issue) do
                      = @post.issue.body

      = render 'issues/aside', issue: @post.issue

= render 'issues/bottom_banner', issue: @post.issue
