= render 'issues/issue_header', issue: @issue

%section#post-beholders
  .container
    .row
      = main_column_tag do
        %section.content-tab-section
          .nav-tabs.message-tab
            %h4
              게시글을 확인하지 않은 가입멤버
              .count-label-wrapper
                .count-label= (@issue.members_count - @post.beholders_count)
        %ul.user-card-wrapper.list-unstyled.clearfix{data: {last_id: @current_last.try(:id), is_last: @is_last_page.to_s}}
          = render 'members/members_page', members: @members, issue: @post.issue
        = paginate @members, theme: 'catan', params: { controller: 'posts', action: 'unbeholders' }
      = render 'issues/aside', issue: @post.issue