= render 'issues/issue_header', simple: true, issue: @post.issue

%section#post-form.wiki-form
  .container
    - if @post.private_blocked?(current_user)
      .post-card
        .post-card__content
          .post-card__post
            %strong 비공개 빠띠 게시글입니다.
            - if @post.issue.member_requested? current_user
              %br
              비공개 빠띠를 보시려면 먼저 가입승인 받아야합니다.
              %span
                %strong<> 오거나이저의 가입승인
                을 기다려주세요.
    - else
      .row
        .col-xs-12.col-sm-8{ class: ('col-lg-12' if @post.wiki.conflict?) }
          - dropdown_dom_id = "#{dom_id(@post)}__chevron-buttons"
          - chevron_dropdown = capture do
            .post-card__buttons
              %button.btn.btn-link.btn-sm.dropdown-toggle{ id: dropdown_dom_id, "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", style: 'color: #ccc;' }
                관리
                %i.fa.fa-chevron-down
              %ul.dropdown-menu.pull-right{ "aria-labelledby": dropdown_dom_id }
                = render 'posts/chevron_menu', post: @post
          - read_only_wiki_content = capture do
            %h4.wiki-title
              = @post.wiki.title
              - if !@post.wiki.status.active?
                %span.label.label-default= @post.wiki.status_text
            .wiki-body
              - if @post.wiki.purged?
                .text-muted 삭제되었습니다
              - else
                != @post.wiki.body

          - if @post.wiki.wiki_histories.any? and !@post.wiki.conflict?
            - last_history_text = @post.wiki.latest_activity { |user| link_to(user_subject_word(user), smart_user_gallery_path(user)) }
            - if last_history_text.present?
              .post-card__last-stroked
                != last_history_text
                %span.date= date_f(@post.wiki.latest_history.created_at)
          - if can? :update, @post.wiki
            - unless @post.wiki.conflict?
              = render 'wikis/form', post: @post, chevron_dropdown: chevron_dropdown
            - else
              .row
                .col-sm-12.col-lg-6
                  .post-card__last-stroked
                    %stong 방금 내가 고치던 내용입니다. 아직 저장 전입니다.
                  = render 'wikis/form', post: @post, chevron_dropdown: chevron_dropdown
                .col-sm-12.col-lg-6
                  %hr.hidden-lg
                  .post-card__last-stroked
                    %stong @#{user_subject_word(@post.wiki.last_history.user)} 고친 내용입니다.
                    %span.date= date_f(@post.wiki.latest_history.created_at)
                  .wik-content.wiki-content--read-only
                    = read_only_wiki_content
                  %hr.hidden-lg
          - else
            .wik-content.wiki-content--read-only
              = read_only_wiki_content
              .clearfix
                .wiki-authors.tooltip-no-wrap
                  작성
                  - @post.wiki.authors.each do |user|
                    = link_to smart_user_gallery_path(user) do
                      .thumb.img-circle.circle-30{style: "background-image: url(#{user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{user.nickname}", :type => "button"}
          .post-card
            .post-card__content
              .post-card__footer.clearfix
                %span.post-card__footer__upvote
                  .post-upvote
                    = render 'upvotes/upvote', upvotable: @post

                - if user_signed_in?
                  %span.post-card__footer__link-to-modal.cursor-pointer{data: { action: 'parti-focus', 'focus-target': new_comment_form_body_input_dom_selector(@post)}}
                    댓글달기
                - else
                  %span.post-card__footer__link-to-login.cursor-pointer{data: { toggle: 'parti-login-overlay', label: '댓글달기' }}
                    댓글달기
                %span.post-card__footer__share-modal.cursor-pointer{"data-url": "#share-partial-#{dom_id(@post)}", "data-action": "parti-popover", "data-placement": "top"}
                  공유하기
                %span.post-card__footer__upvote-count
                  = render 'upvotes/upvote_count', upvotable: @post
                .hidden
                  .share-partial{id: "share-partial-#{dom_id(@post)}"}
                    = render 'application/share', providers: %w(facebook twitter telegram kakao-link kakao-story copy), share_map: {action: 'parti-share', 'share-url': polymorphic_url(@post, subdomain: @post.issue.group_subdomain), 'share-text': "#{@post.specific_desc_striped_tags(100)} | #{@post.issue.group.try(:title_share_format) || "빠띠"}", 'share-image': "#{@post.meta_tag_image}" }
              .post-reaction{class: "#{dom_id(@post)}-post-reaction"}
                = render 'posts/comments', local_assigns.merge(post: @post)
        - unless is_small_screen?
          = render 'issues/aside', wrapper_class: "col-sm-4 #{'hidden-xs visible-block-md hidden-lg' if @post.wiki.conflict?}"
