= render 'form'

%table.table
  %thead
    %tr
      %th.text-nowrap 슬러그
      %th.text-nowrap 이름
      %th.text-nowrap 사이트 제목
      %th.text-nowrap 페이지 제목
      %th.text-nowrap 사이트 설명
      %th.text-nowrap 사이트 키워드
      %th.text-nowrap 로고 이미지
      %th.text-nowrap 커버 이미지
      %th.text-nowrap 비밀 여부
      %th #
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.slug
        %td= group.name
        %td= group.site_title
        %td= group.head_title
        %td= group.site_description
        %td= group.site_keywords
        %td= image_tag group.logo.sm.url if group.logo.present?
        %td= image_tag group.cover.sm.url if group.cover.present?
        %td= '비밀' if group.private?
        %td.text-nowrap
          = link_to '수정', admin_groups_path(id: group.id), class: 'btn btn-default'
          = link_to '삭제', [:admin, group], method: :delete, data: { confirm: '정말 지우시겠습니까?' }, class: 'btn btn-default'


