- campaign ||= local_assigns[:card]
%li.campaign-card
  = link_to campaign_home_path(campaign) do
    .campaign-card__thumb.img-circle{ style: "background-image: url(#{campaign.logo.sm.url});" }
    %span.campaign-card__title= campaign.title
    .campaign-card__meta
      %span.user-count
        %i.icon-user
        %b= campaign.watches.count
      %span.comment-count
        %i.icon-comment
        %b= campaign.comments.count
  .campaign-card__btn
    = render 'watches/watch', campaign: campaign, cancel_btn_class: 'btn btn-ghost btn-sm btn-white', watch_btn_class: 'btn btn-primary btn-ghost btn-sm', maker_class: 'btn btn-ghost btn-sm btn-label'

