#site-header
  %nav.navbar.navbar-default.navbar-top.clearfix
    .container
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to dashboard_path, class: "#{'active' if current_page?(controller: '/dashboard', action: :index)}" do
              .thumb.circle-20.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
              = t('labels.dashboard')
          %li.notification
            = link_to messages_path, class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
              - if current_user.unread_messages_count > 0
                %span.fa-stack
                  %i.fa.fa-bell.fa-stack-1x
                  %i.icon-dot-corner
              - else
                %i.fa.fa-bell
          %li
            = link_to destroy_user_session_path, method: :delete do
              로그아웃

        - else
          %li.sign-up
            = link_to '로그인/회원가입', new_user_session_path
