:scss
  #campaign-header-section:before {
      background-image: url(#{@campaign.cover.url});
  }
- content_for :header do
  %section#campaign-header-section
    .container
      = render 'campaigns/header'
      .campaign-logo
        .thumb{style: "background-image: url(#{@campaign.logo.md.url})"}
      %p.campaign-body= simple_format(@campaign.body, {}, wrapper_tag: "span")
      .text-center
        - if can? :update, @campaign
          = link_to '수정', [:edit, @campaign], class: 'btn btn-primary'
        - if can? :destroy, @campaign
          = link_to '삭제', @campaign, method: :delete, class: 'btn btn-primary'
      .campaign-share
        - data = {action: 'parti-share', 'share-url': campaign_home_url(@campaign), 'share-text': "#{@campaign.title}" }
        - map = { facebook: data }
        - map.update twitter: data, 'kakao-link': data, 'kakao-story': data
        = render 'application/share', map: map
      .campaign-issues
        .campaign-issues-list

          - if @campaign.issues.count > (is_small_screen? ? 2 : 3)
            %i.fa.fa-angle-double-left.arrow-nav-left.arrow-nav

          - if @campaign.issues.count == 1
            = render 'slider', slider_count: 1, slider_count_mobile: 1
          - elsif @campaign.issues.count == 2
            = render 'slider', slider_count: 2, slider_count_mobile: 2
          - else
            = render 'slider', slider_count: 3, slider_count_mobile: 2

          - if @campaign.issues.count > (is_small_screen? ? 2 : 3)
            %i.fa.fa-angle-double-right.arrow-nav-right.arrow-nav

- if @campaign.best_articles.any?
  %section#campaign-articles
    .container
      %h2.campaign-section-title 베스트 #{t('activerecord.models.article')}
      .campaign-best-articles
        .row.masonry-container
          - @campaign.best_articles.each do |article|
            = render article, show_issue: true

- if @campaign.best_talks.any?
  %section#campaign-talks
    .container
      %h2.campaign-section-title 베스트 #{t('activerecord.models.talk')}
      .campaign-best-talks
        - @campaign.best_talks.each do |talk|
          = render talk, show_issue: true

- if @campaign.best_opinions.any?
  %section#campaign-opinions
    .container
      %h2.campaign-section-title 베스트 #{t('activerecord.models.opinion')}
      .campaign-best-opinions
        .row.masonry-container
          - @campaign.best_opinions.each do |opinion|
            .col-xs-12.col-sm-4.card.card--hover-grow
              = render opinion, show_issue: true

%section#campaign-footer
  .container
    .campaign-powered-by
      Powered by
      %br
      = link_to root_path do
        = image_tag 'parti_logo_gray.png'


