- member_request = message.messagable
- if ['create_issue_member_request', 'create_group_member_request'].include? message.action.to_s
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member_request.joinable.title} #{member_request.joinable.model_name.human}에
  가입요청합니다.
- if ['accept_issue_member_request', 'accept_group_member_request'].include? message.action.to_s
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member_request.joinable.title} #{member_request.joinable.model_name.human}에
  가입요청을 승인합니다.
- if ['reject_issue_member_request', 'reject_group_member_request'].include? message.action.to_s
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member_request.joinable.title} #{member_request.joinable.model_name.human}에
  가입요청을 거절합니다.
