- member = message.messagable
- if message.action.to_s == 'ban'
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이 회원님을
  #{member.joinable.title}
  #{member.joinable.model_name.human}에서
  탈퇴시켰습니다
- elsif message.action.to_s == 'admit'
  #{member.joinable.title}
  #{member.joinable.model_name.human}에
  가입되었습니다
- else
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이
  #{member.joinable.title}
  #{member.joinable.model_name.human}에
  #{('초대링크로 ' if member.is_magic?)}
  가입했습니다.
