- modal_data = { 'action': "parti-link", 'url': smart_post_path_or_url(post) }

.reference-card[post]{ class: 'default', data: modal_data }
  - if post.link_source.has_image?
    - capture_thumb = capture do
      .thumb.thumb--reference{ style: "background-image: url(#{post.link_source.image.md.url})" }
    = link_to capture_thumb, post.link_source.url, target: '_blank', class: 'thumb-link'
  .caption.caption-link
    - capture_source = capture do
      %h4.title
        - if post.video_source?
          %i.fa.fa-play-circle
        = truncate(post.link_source.title_or_url, length: 100)

      .source-body
        - if local_assigns[:compact] != true
          %p= excerpt(post.link_source.body, length: 55)
        .source-url
          원글보기
          %i.fa.fa-external-link
    = link_to capture_source, post.link_source.url, target: '_blank', class: 'link-source'

  .reference-card__meta.clearfix
    .reference-card__issue
      = link_to smart_issue_home_path_or_url(post.issue) do
        = issue_tag(post.issue, show_group: true, group_classes: 'reference-card__group', group_short: true)
    .reference-card__date.date-wrapper.reference-card__date--with-issue
      %span= date_f post.created_at
  .caption
    .body
      %p
        - if local_assigns[:compact]
          = post.specific_desc_striped_tags(100)
        - else
          = post.specific_desc_striped_tags(215)

      .reference-info
        = link_to smart_user_gallery_path(post.user) do
          .thumb.user-image.img-circle{style: "background-image: url(#{post.user.image.sm.url});"}
          %span.nickname= post.user.nickname
      - if post.comments_count > 0
        .more
          %span.comments-count
            %sapn
              %i.fa.fa-comment-o
              #{post.comments_count}개의 댓글
      - if local_assigns[:show_decision] != false
        = render 'posts/decision', local_assigns.merge(post: post)
      - if local_assigns[:show_last_stroked_for]
        .post-card__last-stroked-bottom-wrapper
          = render 'posts/last_stroked_for', local_assigns
