- modal_data = { toggle: "parti-post-modal", url: modal_post_path(post) }

- if post.comments_count >= 10
  - template_by_post = 'best'
- elsif post.comments_count >= 5
  - template_by_post = 'popular'
- else
  - template_by_post = 'default'

- template ||= (local_assigns[:template] || template_by_post)
- if template == 'best'
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = template
- elsif template == 'popular'
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = template
- else
  - wrapper_class = 'col-xs-12 col-sm-4'
  - card_class = 'default'

- wrapper_class = (local_assigns[:wrapper_class] || wrapper_class)

.card{ class: "#{wrapper_class} #{removable_with_post_dom_class(post)}" }
  .reference-card[post]{ class: card_class, data: modal_data }
    - capture_thumb = capture do
      .thumb.thumb--reference{ style: "background-image: url(#{link_source_card_image(post)})" }
    = link_to_if (card_class == 'default'), capture_thumb, post.link_source.url, target: '_blank'
    - if local_assigns[:show_issue]
      .reference-card__group-and-issue
        - unless post.issue.displayable_group? current_group
          .reference-card__group
            = post.issue.group.title
            = security_icon(post.issue.group)
        .thumb.thumb--issue{ style: "background-image: url(#{post.issue.logo.sm.url})" }
    .caption
      - capture_source = capture do
        .date= date_f post.created_at

        %h4.title
          - if post.video_source?
            %i.fa.fa-play-circle
          = truncate(post.link_source.title_or_url, length: 100)

        .source-body
          %p
            = excerpt(post.link_source.body, length: 55)
            .source-url
              원글보기
              %i.fa.fa-external-link
      = link_to_if (card_class == 'default'), capture_source, post.link_source.url, target: '_blank', class: 'link-source'
      .body
        %p
          - max_length = 215
          = excerpt(post.parsed_body, length: max_length)
          - if (post.parsed_body.try(:length) || 0) > max_length
            %span.body-more
              더보기
              %i.fa.fa-angle-double-right

        .reference-info
          = link_to smart_user_gallery_path(post.user) do
            .thumb.user-image.img-circle{style: "background-image: url(#{post.user.image.sm.url});"}
            %span.nickname= post.user.nickname
      - if post.comments_count > 0
        .more
          %span.comments-count
            %sapn
              %i.fa.fa-comment-o
              %b> #{post.comments_count}개
              의 댓글
