= link_to front_post_path(comment.post, anchor: comment_line_anchor_dom_id(comment)) do
  - unless local_assigns[:mention_only_page]
    %strong
      - if comment.mentioned?(message.user)
        #{message.sender.nickname}님이 댓글에서 나를 멘션했습니다.
      - else
        #{message.sender.nickname}님이 댓글을 남겼습니다.
    %small.text-muted.text.ml-1
      = date_f message.created_at
  %div
    = excerpt(comment.body_striped_tags, length: 100)
  - if comment.parent.present?
    .text-muted{ style: 'margin-top: 1em; font-size: 12px;' }
      %strong @#{comment.parent.user.nickname}
      = excerpt(comment.parent.body_striped_tags, length: 100)
