- if message.action.to_s == 'pin_post'
  = link_to front_post_path(post) do
    %strong
      #{message.sender.nickname}님이 게시글을 고정했습니다.
    %small.text-muted.text.ml-1
      = date_f message.created_at
- elsif message.action.to_s == 'create_post'
  = link_to front_post_path(post) do
    %strong
      #{post.user.nickname}님이 게시글을 올렸습니다.
    %small.text-muted.text.ml-1
      = date_f message.created_at
- elsif message.action.to_s == 'mention'
  = link_to front_post_path(post) do
    %strong
      #{post.user.nickname}님이 게시글에서
      나를 멘션했습니다.
    %small.text-muted.text.ml-1
      = date_f message.created_at
