.col-sm-4.hidden-xs
  #aside
    .aside_user
      = render 'users/user_panel', user: current_user
    - if user_signed_in?
      .aside_issue
        .aside_issue_btn
          = link_to "#{ current_group and "#{current_group.title}" } 빠띠만들기", new_issue_path, class: 'btn btn-primary btn-block'

        - if host_group.comprehensive_joined_by?(current_user)
          %h5.aside-title= host_group.title_basic_format
        - if current_user.member_issues.only_group(host_group).any?
          %ul.list-unstyled.aside-issues
            - current_user.member_issues.only_group(host_group).each do |issue|
              = render '/issues/issue_line', issue_line: issue

        - Group.comprehensive_joined_by(current_user).but(host_group).each do |group|
          %h5.aside-title
            = link_to group.title_basic_format, smart_group_url(group)
          %ul.list-unstyled.aside-issues
            - current_user.member_issues.only_group(group).each do |issue|
              = render '/issues/issue_line', issue_line: issue

    = render 'application/footer'
