#aside.col-sm-3.hidden-xs
  .aside_issue
    / %h4.aside_title 구독하는 빠띠 (#{@user.watched_issues.count})
    / = render customize_partial_path(@user.watched_issues, 'card')
  %footer.footer
    .footer-logo.clearfix
      %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
      %span.footer-logo__txt
        수다로 정치하자
        %br
        빠띠에서 파티하자
    %ul.footer-link.list-unstyled
      %li= link_to '빠띠 소개', '#'
      %li= link_to '이용약관', '#'
      %li= link_to '개인정보취급정책', '#'
      %li
        %a(href='mailto:help@parti.xyz')
          오류 및 버그 신고
      %li
        = link_to slug_issue_path(slug: Issue::SLUG_OF_ASK_PARTI) do
          제안 및 의견
    .footer-sns
      %a{:href => '#'}
        = image_tag 'icon_fb.png', alt: 'btn-facebook'
      %a{:href => '#'}
        = image_tag 'icon_tw.png', alt: 'btn-twitter'
      %a{:href => '#'}
        = image_tag 'icon_me.png', alt: 'btn-medium'
    = image_tag 'icon_cc.png', alt: 'icon-cc', class: 'footer-cc'

/ issues / _aside
/ %h4
/   = link_to issue_users_path(issue) do
/     %i.fa.fa-user
/     구독회원
/     %small (#{issue.watches.count})

/ %hr

/ = render 'issues/issue_relateds', issue: issue