.col-sm-4.hidden-xs
  #aside
    .aside_user
      = render 'users/user_panel', user: current_user
    - if user_signed_in?
      .aside_issue
        .aside_issue_btn
          = link_to '빠띠만들기', parties_new_intro_path, class: 'btn btn-primary btn-lg btn-block btn-shadow'

        - if current_user.organizing_issues.displayable_in_current_group(current_group).any?
          %h5.aside-title 오거나이저인 빠띠
          %ul.list-unstyled.aside-issues
            - current_user.organizing_issues.displayable_in_current_group(current_group).each do |issue|
              = render '/issues/issue_line', issue_line: issue
        - if current_user.only_member_issues(current_group).any?
          %h5.aside-title 가입한 빠띠
          %ul.list-unstyled.aside-issues
            - current_user.only_member_issues(current_group).each do |issue|
              = render '/issues/issue_line', issue_line: issue

        - Group.all_but(current_group).each do |group|
          - if current_user.organizing_issues.displayable_in_current_group(group).any?
            %h5.aside-title 오거나이저인 #{group.title} 빠띠
            %ul.list-unstyled.aside-issues
              - current_user.organizing_issues.displayable_in_current_group(group).each do |issue|
                = render '/issues/issue_line', issue_line: issue
          - if current_user.only_member_issues(group).any?
            %h5.aside-title 가입한 #{group.title} 빠띠
            %ul.list-unstyled.aside-issues
              - current_user.only_member_issues(group).each do |issue|
                = render '/issues/issue_line', issue_line: issue

    = render 'application/footer'
