.col-sm-4.hidden-xs
  #aside
    .aside_user
      = render 'users/user_panel', user: current_user
    - if user_signed_in?
      .aside_issue
        .aside_issue_btn
          = link_to '빠띠만들기', parties_new_intro_path, class: 'btn btn-primary btn-block'

        - if current_user.member_issues.only_group(current_group).any?
          %h5.aside-title= current_group(fallback: Group.indie).aside_title
          %ul.list-unstyled.aside-issues
            - current_user.member_issues.only_group(current_group).each do |issue|
              = render '/issues/issue_line', issue_line: issue

        - Group.all_but(current_group).each do |group|
          - if current_user.member_issues.only_group(group).any?
            %h5.aside-title
              = link_to group.aside_title, smart_group_url(group)
            %ul.list-unstyled.aside-issues
              - current_user.member_issues.only_group(group).each do |issue|
                = render '/issues/issue_line', issue_line: issue

    = render 'application/footer'
