= aside_column_tag do
  #aside
    .aside_user
      = render 'users/user_panel', user: current_user
    - if user_signed_in?
      .aside_issue{ style: 'color: #777;' }
        .aside_issue_btn.text-basic-wrap.clearfix{ style: 'font-size: 12px;' }
          %div{ style: 'float: left; width: 180px;' }
            = link_to new_issue_path, class: 'a-gray' do
              %strong 빠띠 만들기
            %div
              나누고 싶은 이슈나 관심사가 있나요?
              - if current_group.blank?
                팀과 커뮤니티를 위한
              - else
                = current_group.title_short_format
                그룹의
              %span
                %u<> 빠띠
                를
              만드세요.
          %div{ style: 'float: right;' }
            = link_to new_issue_path, class: 'btn btn-lg btn-primary', style: 'border-radius: 50%; width: 50px; height: 50px;' do
              %i.fa.fa-magic
        - if current_group.blank?
          .aside_issue_btn.text-basic-wrap.clearfix{ style: 'font-size: 12px; margin-top: 12px;' }
            %div{ style: 'float: left; width: 180px;' }
              = link_to new_group_configuration_url(subdomain: nil), class: 'a-gray' do
                %strong 그룹 만들기
              %div
                하나의 빠띠로 다루기에는 너무 다양한 주제가 있나요? 여러 빠띠를 묶어주는
                %span
                  %u<> 그룹
                  을
                만드세요.
            %div{ style: 'float: right;' }
              = link_to new_group_configuration_url(subdomain: nil), class: 'btn btn-lg btn-default', style: 'border-radius: 50%; width: 50px; height: 50px;' do
                %i.fa.fa-cube


        - if params[:controller] == 'dashboard' and params[:action] == 'index'
          .aside_search
            = form_tag dashboard_path, method: :get do
              .form-group.has-feedback
                = search_field_tag :q, (@search_q || ("##{@hashtag}" if @hashtag.present?)), placeholder: '내 피드에서 게시글 찾기...', class: 'form-control'
                %span.form-control-feedback{ style: 'pointer-events: initial;' }
                  = button_tag class: 'btn btn-link btn-xs' do
                    %i.fa.fa-search.text-muted

    = render 'application/footer'
