%ul.nav.nav-tabs{role: 'tablist'}
  %li{role: 'presentation', class: ('active' if active_tab == :comments)}
    = link_to comments_tab_path do
      .nav-tabs__count{style: 'left: 100px;'}
        %small<>= counts_container.comments_count
        - if counts_container.latest_comments_count > 0
          %small.text-primary<>
            +#{counts_container.latest_comments_count}
      %h4 실시간 댓글
  - if local_assigns[:articles_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :articles)}
      = link_to articles_tab_path do
        .nav-tabs__count
          %small<>= counts_container.articles_count
          - if counts_container.latest_articles_count > 0
            %small.text-primary<>
              +#{counts_container.latest_articles_count}
        %h4= Article.model_name.human
  - if local_assigns[:talks_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :talks)}
      = link_to talks_tab_path do
        .nav-tabs__count{style: 'left: 35px;'}
          %small<>= counts_container.talks_count
          - if counts_container.latest_talks_count > 0
            %small.text-primary<>
              +#{counts_container.latest_talks_count}
        %h4= Talk.model_name.human
  - if local_assigns[:opinions_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :opinions)}
      = link_to opinions_tab_path do
        .nav-tabs__count
          %small<>= counts_container.opinions_count
          - if counts_container.latest_opinions_count > 0
            %small.text-primary<>
              +#{counts_container.latest_opinions_count}
        %h4= Opinion.model_name.human

