%ul.nav.nav-tabs{role: 'tablist', style: 'margin-bottom: 20px;'}
  %li{role: 'presentation', class: ('active' if active_tab == :comments)}
    = link_to comments_tab_path do
      %h4
        타임라인
        %small.count.hidden-xs
          %span<>= counts_container.comments_count
        %small.count
          - if counts_container.latest_comments_count > 0
            %span.text-primary<>
              +#{counts_container.latest_comments_count}
  - if local_assigns[:articles_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :articles)}
      = link_to articles_tab_path do
        %h4
          %span.hidden-xs
            = Article.model_name.human
          %span.visible-xs-inline
            %i.fa.fa-link
          %small.count.hidden-xs
            %span<>= counts_container.articles_count
          %small.count
            - if counts_container.latest_articles_count > 0
              %span.text-primary<>
                +#{counts_container.latest_articles_count}
  - if local_assigns[:talks_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :talks)}
      = link_to talks_tab_path do
        %h4
          %span.hidden-xs
            = Talk.model_name.human
          %span.visible-xs-inline
            %i.fa.fa-wechat
          %small.count.hidden-xs
            %span<>= counts_container.talks_count
          %small.count
            - if counts_container.latest_talks_count > 0
              %span.text-primary<>
                +#{counts_container.latest_talks_count}
  - if local_assigns[:opinions_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :opinions)}
      = link_to opinions_tab_path do
        %h4
          %span.hidden-xs
            = Opinion.model_name.human
          %span.visible-xs-inline
            %i.fa.fa-microphone
          %small.count.hidden-xs
            %span<>= counts_container.opinions_count
          %small.count
            - if counts_container.latest_opinions_count > 0
              %span.text-primary<>
                +#{counts_container.latest_opinions_count}

