- if Group.comprehensive_joined_by(current_user).any?
  - if current_user.member_issues.only_alive_of_group(host_group).any?
    %li.group-line
      = link_to (host_group.indie? ? indies_issues_url(subdomain: nil) : root_path) do
        #{group_parties_section_title(host_group)}
  - current_user.member_issues.only_alive_of_group(host_group).each do |issue|
    = render 'issues/issue_line', issue: issue
  - if current_group.present? and current_group.categories.try(:any?) and current_group.member?(current_user)
    %li.category-line
      주제별 빠띠
    - current_group.categories.each do |category|
      %li.issue-line
        = link_to issues_path(category_slug: category.slug) do
          = category.name
  - Group.comprehensive_joined_by(current_user).but(host_group).each_with_index do |group, index|
    %li.group-line{ class: ('group-line-starter' if index == 0) }
      = link_to smart_group_url(group) do
        #{group_parties_section_title(group)}
    - current_user.member_issues.only_alive_of_group(group).each do |issue|
      = render 'issues/issue_line', issue: issue
