.drawer-list
  %i.fa.fa-times.drawer-list__close{style:"color:#ffffff"}
  - if user_signed_in?
    .drawer-list__profile
      = byline current_user
  - else
    .drawer-list__profile
      = image_tag 'img_default_profile.png', class: 'default-profile'
      .btn-new-user
        = link_to '회원가입', pre_sign_up_users_path
        \|
        = link_to '로그인', new_user_session_path
  %ul.drawer-list__menu.list-unstyled
    - if user_signed_in?
      %li#parties-all{ style: "margin-top: 10px; padding: 0px 10px;"}
        .parties-all
          .parties-filter
            .parties-search-form
              = form_tag issues_url(subdomain: nil), method: :get, id: 'js-search-parties-form' do
                = hidden_field_tag :sort
                .input-group.input-group-lg.input-group-keyword
                  %input.form-control{name: "keyword", placeholder: "빠띠 찾기", value: params[:keyword], type: "search", 'data-action': 'parti-clearable-search'}
                  %span.input-group-btn
                    %button.btn.btn-group-default
                      %i.fa.fa-search
      - if Group.comprehensive_joined_by(current_user).any?
        - if current_user.member_issues.only_alive_of_group(host_group).any?
          %li.group-line
            = link_to (current_group.present? ? root_path : indies_issues_url(subdomain: nil)) do
              #{host_group.title_basic_format}
        - current_user.member_issues.only_alive_of_group(host_group).each do |issue|
          = render 'issues/issue_line', issue: issue
        - if current_group.present? and current_group.categories.try(:any?) and current_group.member?(current_user)
          %li.category-line
            주제별 빠띠
          - current_group.categories.each do |category|
            %li.issue-line
              = link_to issues_path(category_slug: category.slug) do
                = category.name
        - Group.comprehensive_joined_by(current_user).but(host_group).each_with_index do |group, index|
          %li.group-line{ class: ('group-line-starter' if index == 0) }
            = link_to smart_group_url(group) do
              #{group.title_basic_format}
          - current_user.member_issues.only_alive_of_group(group).each do |issue|
            = render 'issues/issue_line', issue: issue

    - else
      %li{ style: "margin-top: 10px;"}
        = link_to issues_url(subdomain: nil), class: 'action-link' do
          %i.fa.fa-search
          관심있는 빠띠를 찾아보세요
      %li.group-line
        %span{ style: "color: #271f44; line-height: 30px; font-weight: bold" }
          지금 가장 인기있는 빠띠
        - @hottest_issues = Issue.only_public_hottest(5)
        - @hottest_issues.each do |hottest_issue|
          = render 'issues/issue_line', issue: hottest_issue
        %br
    %li{style:"padding-left: 0;"}
      %hr
    %li
      = link_to root_path do
        %div
          %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
        %span{style:"font-size:12px;color:dimgray;font-weight:bold;line-height:30px;"}
          민주적 일상 커뮤니티 '빠띠'
    %li= link_to '빠띠 소개', '/about'
    %li= link_to '이용약관', '/terms'
    %li= link_to '그룹 개설 안내', '/service'
    %li= link_to '개인정보취급정책', '/privacy'
    %li
      %a(href='mailto:help@parti.xyz')
        오류 및 버그 신고
    %li
      = link_to smart_issue_home_url(Issue.parti_parti) do
        제안 및 의견 &middot; 빠띠만든당

  - if is_kakao_talkable?
    .drawer-list__yellow
      %a{href: 'http://plus.kakao.com/home/@parti_xyz', target: '_blank'}
        = image_tag 'icon_yellow.png', alt: 'btn-yellow'


