.drawer-list#js-drawer
  %ul.drawer-list__menu.list-unstyled.js-drawer-filter-container{ class: ("drawer-list__menu-user-signed-in" if user_signed_in?) }
    = render 'application/drawer_issues_lazy'
    %li.divider.divider-small
    = render 'application/drawer_base_menus'

    %li.divider.divider-small
    %li.logo
      = link_to root_url(subdomain: nil) do
        %div
          %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
        %span.slogan
          팀과 커뮤니티를 위한 민주주의 플랫폼
          %br
          #{I18n.t('labels.app_name_human')}
    %li.menu-line= link_to '이용 약관', terms_url(subdomain: nil)
    %li.menu-line= link_to '개인정보처리방침', privacy_url(subdomain: nil)
    %li.menu-line
      %a(href='mailto:help@parti.coop')
        오류 및 버그 신고
    %li.menu-line
      = link_to smart_issue_home_url(Issue.parti_parti) do
        제안 및 의견
    %li.menu-line
      %a{ 'data-toggle': 'modal', href: "#subscribe-newsletter-modal" }
        빠띠 민주주의 리포트 받아보기

  .footer-sns
    %a{href: 'http://partiunion.org', target: '_blank'}
      = image_tag 'icon_parti.png', alt: 'btn-facebook'
    %a{href: 'https://facebook.com/PartiUnion', target: '_blank'}
      = image_tag 'icon_fb.png', alt: 'btn-facebook'
    %a{href: 'https://twitter.com/parti_coop', target: '_blank'}
      = image_tag 'icon_tw.png', alt: 'btn-twitter'
    %a{href: 'https://medium.com/parti-xyz-developers', target: '_blank'}
      = image_tag 'icon_me.png', alt: 'btn-medium'

