- menu_groups = if local_assigns[:target_issue].present?
  - [target_issue.group]
- elsif local_assigns[:target_group].present?
  - [target_group]
- else
  - Group.sort_by_name.joined_groups(current_user).includes(:categories).to_a
- all_issues = current_user&.member_issues&.alive&.sort_by_name.to_a
- menu_groups.each do |menu_group|
  - if menu_group.private_blocked?(current_user)
    - next
  %li.js-group-issues-line.group-issues-container.js-drawer-filter-item.js-drawer-filter-group.js-sidemenu-toggle-group{ 'data-sidemenu-toggle-group-id': menu_group.id, 'data-sidemenu-toggle-group-subdomain': menu_group.subdomain }
    - issues = all_issues.select{ |issue| issue.group_slug == menu_group.slug }
    - if issues.blank?
      - issues = menu_group.issues.searchable_issues.to_a

    - unread = false
    - if local_assigns[:members_for_issues].present?
      - members = members_for_issues.values_at(*issues.map(&:id))
      - unread = members.any?{ |member| member&.unread_issue? }

    .group-line.cursor-pointer.js-drawer-filter-group-title.js-sidemenu-toggle.only-clickable{ class: "js-sidemenu-highlight-menu-group js-sidemenu-highlight-menu-group-#{menu_group.id} #{'unread' if unread}" }
      .title-btn-folding
        %i.fa.fa-fw.js-sidemenu-toggle-icon{ class: "#{sidebar_group_opened?(menu_group) ? 'fa-caret-down' : 'fa-caret-right'}" }
      .title-content
        %span.group-parties-section-title-wrapper
          #{group_sidemenu_title(menu_group)}


    .group-issues-list.js-sidemenu-toggle-issues-container.js-drawer-link{ class: "#{'sidemenu-toggle-issues-fold-in-advance' unless sidebar_group_opened?(menu_group)} #{sidebar_group_opened?(menu_group) ? 'js-sidemenu-toggle-issues-unfold' : 'js-sidemenu-toggle-issues-fold'}" }
      %ul.sub.list-unstyled
        %li.cursor-pointer.issue-line.group-home-line.js-drawer-filter-ignored.js-sidemenu-toggle-issues-container-underling{ class: "js-sidemenu-highlight-menu-group js-sidemenu-highlight-menu-group-home-#{menu_group.id} #{'collapse' unless sidebar_group_opened?(menu_group)}", "data-action": "parti-issue-link", "data-link-url": smart_group_url(menu_group) }
          .media
            .media-left
              .issue-line__thumb.text-center
                %i.fa.fa-home
            .media-body
              그룹 홈

      - if issues.any?
        - if menu_group.categories.any?
          - (menu_group.categories.sort_by_name.to_a << nil).each do |category|
            - categorized_issues = issues.select{ |issue| issue.category_id == category&.id }
            - next if categorized_issues.empty?
            = render 'application/drawer_issues_list', group: menu_group, issues: categorized_issues, members_for_issues: local_assigns[:members_for_issues], category: (category || true), collapse: !sidebar_group_opened?(menu_group)
        - else
          = render 'application/drawer_issues_list', group: menu_group, issues: issues, members_for_issues: local_assigns[:members_for_issues], collapse: !sidebar_group_opened?(menu_group)

      %ul.sub.list-unstyled.js-sidemenu-toggle-issues-container-underling{ class: ('collapse' unless sidebar_group_opened?(menu_group)) }
        %li.js-drawer-filter-ignored.issue-more.clearfix
          = link_to issues_url(subdomain: menu_group.subdomain) do
            모든 채널
            - latest_issues_count = menu_group.visiable_latest_issues_count
            - any_latest_issues = (!latest_issues_count.nil? and latest_issues_count > 0)
            - if any_latest_issues
              %span.parties-count
                +#{latest_issues_count}
            %i.fa.fa-angle-right
