.drawer-list.drawer-list-mobile#js-drawer
  - if user_signed_in?
    .drawer-list__profile
      = byline current_user
  - else
    .drawer-list__profile
      = image_tag 'img_default_profile.png', class: 'default-profile'
      .btn-new-user
        = link_to '회원가입', pre_sign_up_users_path
        \|
        = link_to '로그인', new_user_session_path
  %ul.drawer-list__menu.list-unstyled
    - if user_signed_in?
      = render 'application/drawer_search'
      = render 'application/drawer_issues'
      %li.divider
    - if user_signed_in?
      %li.menu-line= byline current_user, hide_image: true
      %li.menu-line= link_to '프로필 수정', edit_user_registration_path
      %li.menu-line= link_to '로그아웃', destroy_user_session_path, class: 'user-link', method: :delete
    - else
      %li.menu-line.large-menu-line
        = link_to issues_url(subdomain: nil), class: 'action-link' do
          %i.fa.fa-search
          관심있는 빠띠를 찾아보세요
      %li.divider
      %li.group-issues-line
        .title 지금 가장 인기있는 빠띠
        %ul.sub.list-unstyled
          - @hottest_issues = Issue.only_public_hottest(5)
          - @hottest_issues.each do |hottest_issue|
            = render 'issues/issue_line', issue: hottest_issue
    %li.divider
    %li.logo
      = link_to root_url(subdomain: nil) do
        %div
          %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
        .slogan
          민주적 일상 커뮤니티 '빠띠'
    %li.menu-line= link_to '빠띠 소개', about_url(subdomain: nil)
    %li.menu-line= link_to '이용약관', terms_url(subdomain: nil)
    %li.menu-line= link_to '그룹 개설 안내', service_url(subdomain: nil)
    %li.menu-line= link_to '개인정보취급정책', privacy_url(subdomain: nil)
    %li.menu-line
      %a(href='mailto:help@parti.xyz')
        오류 및 버그 신고
    %li.menu-line
      = link_to smart_issue_home_url(Issue.parti_parti) do
        제안 및 의견 &middot; 빠띠만든당
  - if is_kakao_talkable?
    .drawer-list__yellow
      %a{href: 'http://plus.kakao.com/home/@parti_xyz', target: '_blank'}
        = image_tag 'icon_yellow.png', alt: 'btn-yellow'
