%li.menu-line
  = link_to dashboard_url(subdomain: ''), class: "#{'active' if current_page?('/') or current_page?('/dashboard')}" do
    %i.fa.fa-th-list
    내 피드
- if current_user.member_groups.any?
  %li.menu-line
    %a.dropdown-toggle.title{"data-toggle" => "collapse", :href => "#", :"data-target" => "#drawer-my-groups"}
      %i.fa.fa-cube
      내 그룹
      %i.fa.fa-caret-down
    %ul#drawer-my-groups.sub.list-unstyled.collapse
      - current_user.member_groups.each do |group|
        %li.group-line= link_to group.title_short_format, smart_group_url(group)

- if Group.comprehensive_joined_by(current_user).any?
  - any_content = false
  - if current_user.member_issues.only_alive_of_group(host_group).any?
    - any_content = true
    %li.divider.divider-thick
    %li.group-issues-line
      .title
        = link_to (host_group.indie? ? indies_issues_url(subdomain: nil) : root_path) do
          #{group_parties_section_title(host_group)}
      %ul.sub.list-unstyled
        - current_user.member_issues.only_alive_of_group(host_group).each do |issue|
          = render 'issues/issue_line', issue: issue
  - if current_group.present? and current_group.categories.try(:any?) and current_group.member?(current_user)
    %li.divider.divider-light
    %li.category-line
      = link_to issues_path, class: 'title' do
        = group_category_section_title(current_group)
      %ul.sub.list-unstyled
        - current_group.categories.each do |category|
          %li.issue-line
            = link_to issues_path(category_slug: category.slug) do
              = category.name
  - Group.comprehensive_joined_by(current_user).but(host_group).each_with_index do |group, index|
    %li.divider
    %li.group-issues-line
      .title
        = link_to smart_group_url(group) do
          #{group_parties_section_title(group)}
      %ul.sub.list-unstyled
        - current_user.member_issues.only_alive_of_group(group).each do |issue|
          = render 'issues/issue_line', issue: issue
