.drawer-list.drawer-list-mobile#js-drawer.js-show-less-sidemenu-scroll
  - if user_signed_in?
    .drawer-list__profile
      .user-byline
        = link_to smart_user_gallery_url(current_user) do
          .thumb.user-image.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
          .nickname
            = current_user.nickname
  - else
    .drawer-list__profile
      .btn-new-user
        = link_to '회원가입', pre_sign_up_users_path
        \|
        = link_to '로그인', new_user_session_path
  %ul.drawer-list__menu.list-unstyled.js-drawer-filter-container
    = render 'application/drawer_issues_lazy'
    %li.divider.divider-small
    = render 'application/drawer_base_menus'
    - if !user_signed_in? or !current_user.member_issues.any?
      - hot_issues = Issue.only_public_hottest(5).where.not(group_slug: current_group&.slug).to_a.group_by{ |issue| issue.group_slug }
      - if hot_issues.any?
        %li.divider.divider-small
        %li.menu-line
          = link_to issues_url(subdomain: nil), class: "#{'active' if current_page?('/parties')}" do
            %i.fa.fa-flash.fa-fw
            인기 그룹
        - hot_issues.each do |group_slug, issues|
          = render 'application/drawer_issues', target_group: Group.find_by(slug: group_slug)

    %li.divider.divider-small
    - if user_signed_in?
      %li.menu-line= byline current_user, hide_image: true
      %li.menu-line= link_to '프로필 수정', edit_user_registration_path
      %li.menu-line= link_to '로그아웃', destroy_user_session_path, class: 'user-link', method: :delete
      %li.divider.divider-small

    %li.logo
      = link_to root_url(subdomain: nil) do
        %div
          %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
        .slogan
          팀과 커뮤니티를 위한 민주주의 플랫폼, 빠띠
    %li.menu-line= link_to '빠띠 소개', about_url(subdomain: nil)
    %li.menu-line= link_to '이용 약관', terms_url(subdomain: nil)
    %li.menu-line= link_to '개인정보취급정책', privacy_url(subdomain: nil)
    %li.menu-line
      %a(href='mailto:help@parti.xyz')
        오류 및 버그 신고
    %li.menu-line
      = link_to smart_issue_home_url(Issue.parti_parti) do
        제안 및 의견 &middot; 빠띠만든당
    %li.menu-line
      %a{ 'data-toggle': 'modal', href: "#subscribe-newsletter-modal" }
        빠띠 민주주의 리포트 받아보기
  .footer-sns
    %a{href: 'http://partiunion.org', target: '_blank'}
      = image_tag 'icon_parti.png', alt: 'btn-facebook'
    %a{href: 'https://facebook.com/PartiUnion', target: '_blank'}
      = image_tag 'icon_fb.png', alt: 'btn-facebook'
    %a{href: 'https://twitter.com/parti_coop', target: '_blank'}
      = image_tag 'icon_tw.png', alt: 'btn-twitter'
    %a{href: 'https://medium.com/parti-xyz-developers', target: '_blank'}
      = image_tag 'icon_me.png', alt: 'btn-medium'

