= render 'application/drawer_search'
%li.menu-line.menu-line-all-folding
  %span.cursor-pointer.js-sidemenu-toggle-all-unfold 모두 펼치기
  &middot;
  %span.cursor-pointer.js-sidemenu-toggle-all-fold 모두 접기
- if Group.comprehensive_joined_by(current_user).any?
  - ([host_group] + Group.sort_by_name.comprehensive_joined_by(current_user).but(host_group).to_a).each do |menu_group|
    %li.group-issues-line.js-drawer-filter-item.js-drawer-filter-group.js-sidemenu-toggle-group{ 'data-sidemenu-toggle-group-id': menu_group.id }
      .title.cursor-pointer.js-drawer-filter-group-title.js-sidemenu-toggle{ class: "#{(sidebar_group_opened?(menu_group) ? 'js-sidemenu-toggle-issues-unfold' : 'js-sidemenu-toggle-issues-fold')} js-sidemenu-highlight-menu-group js-sidemenu-highlight-menu-group-#{menu_group.id}" }
        - latest_issues_count = menu_group.visiable_latest_issues_count
        - latest_stroked_posts_count = menu_group.visiable_latest_stroked_posts_count
        - any_latest_issues = (!latest_issues_count.nil? and latest_issues_count > 0)
        - any_latest_stroked_posts = (!latest_stroked_posts_count.nil? and latest_stroked_posts_count > 0)

        .title-content
          = link_to smart_group_url(menu_group), 'aria-label': only_mobile_app(request, "drawer-group-#{menu_group.slug}") do
            %span.group-parties-section-title-wrapper
              #{group_sidemenu_title(menu_group)}
              - if any_latest_issues
                %span.parties-count
                  %i.fa.fa-flag(title='최근 빠띠')
                  = latest_issues_count
              - unless menu_group.indie?
                - if any_latest_stroked_posts
                  %span.posts-count
                    %i.fa.fa-file-text(title='최근 업데이트')
                    = latest_stroked_posts_count
        .title-btn-folding
          %i.fa.fa-caret-down

      - issues = current_user.member_issues.only_alive_of_group(menu_group)
      - if issues.any?
        .group-issues-list.js-sidemenu-toggle-issues{ class: ('sidemenu-toggle-issues-fold-in-advance' unless sidebar_group_opened?(menu_group)) }
          - if menu_group.categories.any?
            - (menu_group.categories.to_a << nil).each do |category|
              - categorized_issues = issues.categorized_with(category)
              - next if categorized_issues.empty?

              .title.title-category.js-drawer-filter-ignored= (category.try(:name) || '미분류')
              = render 'application/drawer_issues_list', group: menu_group, issues: categorized_issues

          - else
            = render 'application/drawer_issues_list', group: menu_group, issues: issues

          %ul.sub.list-unstyled
            %li.js-drawer-filter-ignored.issue-more.clearfix
              = link_to issues_url(subdomain: menu_group.subdomain) do
                더 보기
                %i.fa.fa-angle-right
      - else
        %ul.sub.list-unstyled
          %li.js-issue-line.js-drawer-filter-ignored
            = link_to smart_group_issues_url(menu_group), style: 'color: #c0c0c2' do
              %span.text-nowrap
                내 빠띠가 없습니다.
              %span.text-nowrap
                가입하기
                %i.fa.fa-arrow-right

