- menu_groups = if local_assigns[:target_issue].present?
  - [target_issue.group]
- elsif local_assigns[:target_group].present?
  - [target_group]
- else
  - ([host_group] + Group.sort_by_name.joined_groups(current_user).but(host_group).includes(:categories).to_a)
- all_issues = current_user&.member_issues.sort_by_name.to_a
- menu_groups.each do |menu_group|
  %li.js-group-issues-line.group-issues-line.js-drawer-filter-item.js-drawer-filter-group.js-sidemenu-toggle-group{ 'data-sidemenu-toggle-group-id': menu_group.id }
    .title.cursor-pointer.js-drawer-filter-group-title.js-sidemenu-toggle{ class: "js-sidemenu-highlight-menu-group js-sidemenu-highlight-menu-group-#{menu_group.id}" }
      .title-btn-folding
        %i.fa.fa-fw.js-sidemenu-toggle-icon{ class: "#{sidebar_group_opened?(menu_group) ? 'fa-caret-down' : 'fa-caret-right'}" }
      .title-content
        %span.group-parties-section-title-wrapper
          #{group_sidemenu_title(menu_group)}

    - issues = all_issues.select{ |issue| issue.group_slug == menu_group.slug }
    - if issues.blank?
      - issues = menu_group.issues.to_a
    - if issues.any?
      .group-issues-list.js-sidemenu-toggle-issues{ class: "#{'sidemenu-toggle-issues-fold-in-advance' unless sidebar_group_opened?(menu_group)} #{sidebar_group_opened?(menu_group) ? 'js-sidemenu-toggle-issues-unfold' : 'js-sidemenu-toggle-issues-fold'}" }
        %ul.sub.list-unstyled
          %li.cursor-pointer.issue-line.group-home-line.js-drawer-filter-ignored{ class: "js-sidemenu-highlight-menu-group js-sidemenu-highlight-menu-group-home-#{menu_group.id}", "data-action": "parti-link", "data-url": smart_group_url(menu_group) }
            .media
              .media-left
                .fa-box.issue-line__thumb.text-center
                  %i.fa.fa-home
              .media-body
                그룹 홈
        - if menu_group.categories.any?
          - (menu_group.categories.to_a << nil).each do |category|
            - categorized_issues = issues.select{ |issue| issue.category_id == category&.id }
            - next if categorized_issues.empty?

            .title.title-category.js-drawer-filter-ignored= (category.try(:name) || '미분류')
            = render 'application/drawer_issues_list', group: menu_group, issues: categorized_issues, members_for_issues: local_assigns[:members_for_issues]

        - else
          = render 'application/drawer_issues_list', group: menu_group, issues: issues, members_for_issues: local_assigns[:members_for_issues]

        %ul.sub.list-unstyled
          %li.js-drawer-filter-ignored.issue-more.clearfix
            = link_to issues_url(subdomain: menu_group.subdomain) do
              더 보기
              - latest_issues_count = menu_group.visiable_latest_issues_count
              - any_latest_issues = (!latest_issues_count.nil? and latest_issues_count > 0)
              - if any_latest_issues
                %span.parties-count
                  +#{latest_issues_count}
              %i.fa.fa-angle-right
    - else
      %ul.sub.list-unstyled
        %li.js-issue-line.js-drawer-filter-ignored
          = link_to smart_group_issues_url(menu_group), style: 'color: #c0c0c2' do
            %span.text-nowrap
              내 채널이 없습니다.
            %span.text-nowrap
              가입하기
              %i.fa.fa-arrow-right

