.drawer-list.drawer-list-mobile#js-drawer.js-show-less-sidemenu-scroll
  - if user_signed_in?
    .drawer-list__profile
      .user-byline
        = link_to smart_user_gallery_url(current_user) do
          .thumb.user-image.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
          .nickname
            = current_user.nickname
  - else
    .drawer-list__profile
      .btn-new-user
        = link_to '회원가입', pre_sign_up_users_path
        \|
        = link_to '로그인', new_user_session_path
  %ul.drawer-list__menu.list-unstyled.js-filterable-by-drawer-filter
    - if user_signed_in?
      - if current_user.member_issues.any?
        = render 'application/drawer_search'
        = render 'application/drawer_issues_lazy'
        %li.divider.divider-small
      %li.menu-line= byline current_user, hide_image: true
      %li.menu-line= link_to '프로필 수정', edit_user_registration_path
      %li.menu-line= link_to '로그아웃', destroy_user_session_path, class: 'user-link', method: :delete
      %li.divider.divider-small
    - else
      %li.menu-line.large-menu-line
        = link_to issues_url(subdomain: nil), class: "#{'active' if current_page?('/parties')}" do
          %i.fa.fa-search
          빠띠 찾기
      %li.menu-line
        = link_to discover_url(subdomain: nil), 'aria-label': only_mobile_app(request, 'drawer-discover'), class: "#{'active' if current_page?('/discover')}" do
          %i.fa.fa-fort-awesome
          새로운 발견
      %li.divider
      %li.group-issues-line
        .title.cursor-pointer{ data: { 'action': "parti-link", 'url': issues_url(subdomain: nil) } }
          .group-parties-section-title
            %i.fa.fa-flash
            지금 가장 인기있는 빠띠
        %ul.sub.list-unstyled
          - Issue.only_public_hottest(5).each do |issue|
            = render 'issues/issue_line', issue: issue, link_whole_line: true, show_after_block: false
      %li.divider

    %li.logo
      = link_to root_url(subdomain: nil) do
        %div
          %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
        .slogan
          팀과 커뮤니티를 위한 민주주의 플랫폼, 빠띠
    %li.menu-line= link_to '빠띠 소개', about_url(subdomain: nil)
    %li.menu-line= link_to '이용 약관', terms_url(subdomain: nil)
    %li.menu-line= link_to '개인정보취급정책', privacy_url(subdomain: nil)
    %li.menu-line
      %a(href='mailto:help@parti.xyz')
        오류 및 버그 신고
    %li.menu-line
      = link_to smart_issue_home_url(Issue.parti_parti) do
        제안 및 의견
    %li.menu-line.subscribe-button-mobile{'data-toggle': "modal", 'data-target': "#subscribe-email-modal"} 빠띠 민주주의 리포트 받아보기

#subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.subscribe-modal
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %form.text-center{:action => "https://stibee.com/api/v1.0/lists/SZBNbO-_brk8tbU-Xf-LI30WjGA=/public/subscribers", :method => "POST"}
          %h4.email-guide
            빠띠의 민주주의 리포트를
            %br.visible-xs
            월간 뉴스레터로 받아보세요.
          .email-input
            %label{:for => "email", class: ''} 이메일 주소
            %input#email{:name => "email", :id => "email", :type => "email", class: 'form-control'}/
            %button{class: 'btn btn-wire device-bloc-button btn-primary', :type => "submit"} 구독신청
