- if user_signed_in?
  %li.menu-line
    = link_to discover_url(subdomain: nil), 'aria-label': only_mobile_app(request, 'drawer-discover'), class: "#{'active' if current_page?('/discover')}" do
      %i.fa.fa-fort-awesome
      새로운 발견
%li.menu-line
  = link_to dashboard_url(subdomain: ''), class: "#{'active' if (current_page?('/') and current_group.nil?) or current_page?('/dashboard') or current_page?('/messages') or current_page?('/posts/pinned')}" do
    %i.fa.fa-home
    내 홈

- if Group.comprehensive_joined_by(current_user).any?
  - ([host_group] + Group.sort_by_name.comprehensive_joined_by(current_user).but(host_group).to_a).each do |menu_group|
    - if current_user.member_issues.only_alive_of_group(menu_group).any?
      %li.divider.divider-small
      %li.group-issues-line.js-drawer-filter-item.js-drawer-filter-group
        .title
          = link_to smart_group_url(menu_group), 'aria-label': only_mobile_app(request, "drawer-group-#{menu_group.slug}") do
            #{group_my_parties_section_title(menu_group)}
        %ul.sub.list-unstyled
          - magic_count = 2
          - issues = current_user.member_issues.only_alive_of_group(menu_group)

          - if issues.count < magic_count * 2
            - issues.sort_by_name.each do |issue|
              = render 'issues/issue_line', issue: issue
          - else
            - fixed_issues = []

            - fixed_issues = issues.bookmarked_by(current_user).to_a
            - issues = issues.where.not(id: fixed_issues)

            - if fixed_issues.count < magic_count
              - recent_joined_issues = issues.where(id: current_user.issue_members.past_week.recent.limit(magic_count).to_a)
              - fixed_issues = fixed_issues + recent_joined_issues.to_a
              - issues = issues.where.not(id: recent_joined_issues)

            - if fixed_issues.count < magic_count
              - hot_issues = issues.hottest.limit(magic_count)
              - fixed_issues = fixed_issues + hot_issues.to_a
              - issues = issues.where.not(id: hot_issues.to_a)

            - Issue.where(id: fixed_issues).sort_by_name.each do |issue|
              = render 'issues/issue_line', issue: issue

            - if issues.any?
              %li.js-issue-line.js-issue-line-control.issue-more
                %a.js-show-more-sidemenu-issues(href="#")
                  %i.fa.fa-caret-down
                  더 보기
                &middot;
                = link_to bookmarks_issues_url(subdomain: nil, group_slug: menu_group.slug) do
                  %i.fa.fa-gear
                  설정

              - issues.sort_by_name.each do |issue|
                = render 'issues/issue_line', issue: issue, collapse: true
