%footer.footer.hidden-xs
  .footer-logo.footer-logo.clearfix
    = link_to root_path do
      %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
      %span.footer-logo__txt
        팀과 커뮤니티를 위한
        %br
        민주주의 플랫폼, 빠띠
  %ul.footer-link.list-unstyled
    %li= link_to '빠띠 소개', about_url(subdomain: nil)
    %li= link_to '이용약관', terms_url(subdomain: nil)
    %li= link_to '개인정보취급정책', privacy_url(subdomain: nil)
    %li
      %a(href='mailto:help@parti.xyz')
        오류 및 버그 신고
    %li
      = link_to smart_issue_home_url(Issue.parti_parti) do
        제안 및 의견
    %li{class: "subscribe-button", 'data-toggle': "modal", 'data-target': "#js-subscribe-email-modal"}
      빠띠 민주주의 리포트 받아보기
    .modal-placeholder
      #js-subscribe-email-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document", style: 'max-width: 1000px'}
          .modal-content.subscribe-modal
            .modal-body
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} &#215;
              %form.text-center.form-inline{:action => "https://stibee.com/api/v1.0/lists/SZBNbO-_brk8tbU-Xf-LI30WjGA=/public/subscribers", :method => "POST"}
                %h4.email-guide{ style: 'margin: 2rem 0 3rem'}
                  빠띠의 민주주의 리포트를
                  %br.visible-xs
                  월간 뉴스레터로 받아보세요.
                .email-input.form-group
                  %label{:for => "email", class: ''} 이메일 주소
                  %input#email{:name => "email", :id => "email", :type => "email", class: 'form-control'}/
                .form-submit
                  %button{class: 'btn btn-wire device-bloc-button btn-primary', :type => "submit"} 구독신청
  .footer-sns
    %a{href: 'http://partiunion.org', target: '_blank'}
      = image_tag 'icon_parti.png', alt: 'btn-facebook'
    %a{href: 'https://facebook.com/PartiUnion', target: '_blank'}
      = image_tag 'icon_fb.png', alt: 'btn-facebook'
    %a{href: 'https://twitter.com/parti_coop', target: '_blank'}
      = image_tag 'icon_tw.png', alt: 'btn-twitter'
    %a{href: 'https://medium.com/parti-xyz-developers', target: '_blank'}
      = image_tag 'icon_me.png', alt: 'btn-medium'
    - if is_kakao_talkable?
      %a{href: 'http://plus.kakao.com/home/@parti_xyz', target: '_blank'}
        = image_tag 'icon_yellow.png', alt: 'btn-yellow', class: 'footer-sns--yellow'
