%footer.footer
  .footer-logo.clearfix
    = link_to root_path do
      %img.footer-logo__img{ alt: 'parti', src: asset_path('parti_logo_footer.png') }
      %span.footer-logo__txt
        수다로 정치하자
        %br
        빠띠에서 파티하자
  %ul.footer-link.list-unstyled
    / %li= link_to '빠띠 소개', '#'
    %li= link_to '이용약관', '/terms'
    %li= link_to '개인정보취급정책', '/privacy'
    %li
      %a(href='mailto:help@parti.xyz')
        오류 및 버그 신고
    %li
      = link_to slug_issue_path(slug: Issue::SLUG_OF_ASK_PARTI) do
        제안 및 의견
  .footer-sns
    %a{href: 'https://facebook.com/parti.xyz', target: '_blank'}
      = image_tag 'icon_fb.png', alt: 'btn-facebook'
    %a{href: 'https://twitter.com/parti_xyz', target: '_blank'}
      = image_tag 'icon_tw.png', alt: 'btn-twitter'
    %a{href: 'https://medium.com/parti-xyz-developers', target: '_blank'}
      = image_tag 'icon_me.png', alt: 'btn-medium'
    - if request.variant.try(:include?, :mobile)
      %a{href: 'http://plus.kakao.com/home/@parti_xyz', target: '_blank'}
        = image_tag 'icon_yellow.png', alt: 'btn-yellow', class: 'footer-sns--yellow'
  %a{href: 'http://creativecommons.org/licenses/by-nc/4.0/deed.ko', target: '_blank'}
    = image_tag 'icon_cc.png', alt: 'icon-cc', class: 'footer-cc'

%hr

.fb-page{"data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/parti.xyz/", "data-show-facepile" => "true", "data-small-header" => "true", "data-tabs" => "timeline"}
  .fb-xfbml-parse-ignore
    %blockquote{:cite => "https://www.facebook.com/parti.xyz/"}
      %a{:href => "https://www.facebook.com/parti.xyz/"} 빠띠 parti.xyz
