#site-header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target": "#collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      #collapsable.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to root_path, class: "group-title #{'active' if current_page?('/')}" do
              %h4 #{current_group.head_title}

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            - if current_user.members.any?
              %li.dropdown.member-parties
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  내 빠띠
                  %span.caret
                %ul.dropdown-menu{data: {'filter': (current_user.member_issues.count > 12), 'filter-label': '찾으려는 빠띠 이름을 넣어주세요.'}}

                  - if current_user.making_issues.only_group(current_group).any?
                    %li.dropdown-header
                      메이커인 빠띠
                      #{current_user.making_issues.only_group(current_group).count}
                  - current_user.making_issues.only_group(current_group).each do |issue|
                    = render 'issues/issue_line', issue: issue
                  - if current_user.only_member_issues(current_group).any?
                    %li.dropdown-header
                      #{current_group.try(:membership?) ? '가입한' : '구독 중인'} 빠띠
                      #{current_user.only_member_issues(current_group).count}
                  - current_user.only_member_issues(current_group).each do |issue|
                    = render 'issues/issue_line', issue: issue

                  - Group.all_with_indie_and_exclude(current_group).each do |group|
                    - if current_user.making_issues.only_group(group).any?
                      %li.dropdown-header
                        메이커인 #{group.name} 빠띠
                        #{current_user.making_issues.only_group(group).count}
                    - current_user.making_issues.only_group(group).each do |issue|
                      = render 'issues/issue_line', issue: issue
                    - if current_user.only_member_issues(group).any?
                      %li.dropdown-header
                        #{group.try(:membership?) ? '가입한' : '구독 중인'} #{group.name} 빠띠
                        #{current_user.only_member_issues(group).count}
                    - current_user.only_member_issues(group).each do |issue|
                      = render 'issues/issue_line', issue: issue
            %li.notification
              = link_to messages_path, class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
                - if current_user.unread_messages_count > 0
                  %span.icon-bell-stack
                    %i.fa.fa-circle.fa-stack-1x
                    %i.fa.fa-bell.fa-stack-1x.fa-inverse
                - else
                  %i.fa.fa-bell
                알림

          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                .thumb.circle-20.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to user_gallery_path(current_user) do
                    %strong= current_user.nickname
                    프로필
                %li.divider
                %li= link_to '설정', edit_user_registration_path
                %li= link_to '로그아웃', destroy_user_session_path, method: :delete
          - else
            %li.sign-up
              = link_to '로그인/회원가입', new_user_session_path

        %ul.nav.navbar-nav.navbar-bottom
          %li= link_to '전체', home_path
          - if current_group.categories.try(:any?)
            - current_group.categories.each do |category|
              %li= link_to "#{category.name}", category_path(slug: category.slug), class: "#{'active' if current_page?(category_path(slug: category.slug))}"
          %li.dropdown.all-posts
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              베스트
              %span.caret
            %ul.dropdown-menu
              %li= link_to '찬반투표', polls_path, class: "#{'active' if current_page?(controller: "/polls", action: :index)}"
              %li= link_to '자료' ,references_path, class: "#{'active' if current_page?(controller: "/references", action: :index)}"
