%section#group-home-submenu
  .container
    %nav.clearfix
      %ul.list-inline.list-inline-left
        %li.hidden-xs{ class: ('active' if local_assigns[:active] == 'home') }
          = link_to '홈', root_path
        %li{ class: ('active' if local_assigns[:active] == 'issues') }
          = link_to '빠띠', issues_path
        %li{ class: ('active' if local_assigns[:active] == 'polls_or_surveys') }
          = link_to '토론', polls_or_surveys_path
        %li{ class: ('active' if local_assigns[:active] == 'wikis') }
          = link_to '위키', wikis_path
        %li{ class: ('active' if local_assigns[:active] == 'links_or_files') }
          = link_to t('labels.links_or_files'), links_or_files_path
        %li{ class: ('active' if current_page?('/group/members')) }
          = link_to '멤버', group_members_path
        - if user_signed_in? and current_group.member?(current_user)
          %li{ class: ('active' if local_assigns[:active] == 'me') }
            = link_to '내 정보', me_group_members_path
        - if current_group.organized_by?(current_user)
          %li{ class: ('active' if local_assigns[:active] == 'management') }
            = link_to '그룹 관리', group_managements_path
      - if current_group.creatable_issue?(current_user)
        %ul.list-inline.list-inline-right
          %li
            = link_to new_issue_path do
              %i.fa.fa-magic
              빠띠 만들기
