#site-header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target": "#collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.hidden.navbar-brand{ href: root_url(subdomain: false) }
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}

      #collapsable.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to '모든 빠띠', root_url(subdomain: false), class: "#{'active' if current_page?('/')}"
          %li= link_to '빠띠만든당', slug_issue_url(slug: Issue::SLUG_OF_PARTI_PARTI, subdomain: false)
          - if user_signed_in? and current_user.watches.any?
            %li= link_to "·"
            %li.dropdown.watch-parties
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                내 빠띠
                %span.caret
              %ul.dropdown-menu{data: {'filter': (current_user.watched_issues.count > 12), 'filter-label': '찾으려는 빠띠 이름을 넣어주세요.'}}
                - if current_user.making_issues.any?
                  %li.dropdown-header
                    메이커인 빠띠
                    #{current_user.making_issues.count}
                - current_user.making_issues.each do |issue|
                  = render 'issues/issue_line', issue: issue
                - if current_user.only_watched_issues.any?
                  %li.dropdown-header
                    구독 중인 빠띠
                    #{current_user.only_watched_issues.count}
                - current_user.only_watched_issues.each do |issue|
                  = render 'issues/issue_line', issue: issue

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to dashboard_url(subdomain: false), class: "#{'active' if current_page?(controller: '/dashboard', action: :index)}" do
                .thumb.circle-20.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
                = t('labels.dashboard')
            %li.notification
              = link_to messages_url(subdomain: false), class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
                - if current_user.unread_messages_count > 0
                  %span.fa-stack
                    %i.fa.fa-bell.fa-stack-1x
                    %i.icon-dot-corner
                - else
                  %i.fa.fa-bell
            %li
              = link_to destroy_user_session_url(subdomain: false), method: :delete do
                로그아웃

          - else
            %li.sign-up
              = link_to '로그인/회원가입', new_user_session_url(subdomain: false)
