%nav#site-header.navbar.navbar-default.navbar-fixed-top.js-fixed-header
  .container.clearfix
    .navbar-header.navbar-header-center
      %a.navbar-brand{ href: root_path }
        - if host_group.indie?
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}
        - else
          #{host_group.head_title}

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li.notification
          = link_to messages_url(subdomain: nil), class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
            %span.js-active-bell{ class: ('collapse' if current_user.unread_messages_count <= 0) }
              %span.icon-bell-stack
                %i.fa.fa-circle.fa-stack-1x
                %i.fa.fa-bell.fa-stack-1x.fa-inverse
              %span.label.label-danger= trim_count current_user.unread_messages_count
            %span.js-inactive-bell{ class: ('collapse' if current_user.unread_messages_count > 0) }
              %i.fa.fa-bell
      - else
        %li.sign-up
          = link_to new_user_session_path do
            %i.fa.fa-sign-in

    %ul.nav.navbar-nav.navbar-left
      - if history_backable_in_mobile?
        %li.history-back
          %a.js-history-back(href="#")
            %i.fa.fa-chevron-left
            뒤로
      - else
        %li.btn-drawer
          %a.btn-drawer-menu.js-slideout-toggle
            - if host_group.try(:is_light_theme?)
              = image_tag 'btn_mobile_menu.png'
            - else
              = image_tag 'btn_mobile_menu_white.png'
= render 'application/drawer_menu.mobile'
