%nav#site-header.navbar.navbar-default.navbar-fixed-top.js-fixed-header.js-stickytoolbar-offset
  .container.clearfix
    .navbar-header.navbar-header-center.js-navbar-header
      .navbar-brand.navbar-brand-mobile
        - back_buttons = capture do
          - if history_backable_in_mobile_app?
            %a.history-back.js-btn-history-back-in-mobile-app{ href: "#", 'aria-label': only_mobile_app(request, 'header-back') }
              %i.fa.fa-angle-left
          %a.history-back.js-close-editor-in-mobile-app.hidden{ href: '#' }
            %i.fa.fa-angle-left
        .js-navbar-header-title-default
          = back_buttons
          %a{ href: root_path, 'aria-label': only_mobile_app(request, 'header-brand') }
            - if current_group.blank?
              %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}
            - else
              = host_group.head_title
        - if mobile_navbar_title.present?
          .js-navbar-header-title-page.collapse
            = back_buttons
            .js-scroll-top.navbar-header-title= mobile_navbar_title


    %ul.nav.navbar-nav.navbar-right
      %li.search-menu
        = link_to search_url(subdomain: nil) do
          %i.fa.fa-search
      - if user_signed_in?
        %li.notification-menu.js-notification-menu
          = render 'application/notification_menu.mobile'
        %li.notification-setting.dropdown.js-notification-setting
          = render 'application/notification_setting.mobile'
      - else
        %li.sign-up
          = link_to new_user_session_path, 'aria-label': only_mobile_app(request, 'header-login') do
            로그인
            %i.fa.fa-sign-in

    %ul.nav.navbar-nav
      %li.js-btn-drawer
        %a.btn-header.js-slideout-toggle{ style: 'float: left' }
          - if current_group.blank? or current_group.is_light_theme?
            = image_tag 'btn_mobile_menu.png', 'aria-label': only_mobile_app(request, 'header-slideout-toggle')
          - else
            = image_tag 'btn_mobile_menu_white.png', 'aria-label': only_mobile_app(request, 'header-slideout-toggle')
      %li.my-home-menu
        = link_to dashboard_url(subdomain: ''), class: 'btn-header', style: 'float: left' do
          %i.fa.fa-home{ style: 'font-size: 28px; top: -4px; position: relative;' }
= render 'application/drawer_menu.mobile'
