#new-theme-site-header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header.navbar-header-center
        %button.navbar-toggle.collapsed{"data-target": "#collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: root_path }
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}

      #collapsable.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-left
          - if user_signed_in?
            %li
              = link_to root_path, class: "#{'active' if current_page?('/')}" do
                홈
          - if user_signed_in?
            - if current_user.members.any?
              %li.dropdown.member-parties
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  내 빠띠
                  %span.caret
                %ul.dropdown-menu{data: {'filter': (current_user.member_issues.count > 12), 'filter-label': '찾으려는 빠띠 이름을 넣어주세요.'}}

                  - if current_user.making_issues.only_group(current_group).any?
                    %li.dropdown-header
                      메이커인 빠띠
                      #{current_user.making_issues.only_group(current_group).count}
                  - current_user.making_issues.only_group(current_group).each do |issue|
                    = render 'issues/issue_line', issue: issue
                  - if current_user.only_member_issues(current_group).any?
                    %li.dropdown-header
                      가입한 빠띠
                      #{current_user.only_member_issues(current_group).count}
                  - current_user.only_member_issues(current_group).each do |issue|
                    = render 'issues/issue_line', issue: issue

                  - Group.all_with_indie_and_exclude(current_group).each do |group|
                    - if current_user.making_issues.only_group(group).any?
                      %li.dropdown-header
                        메이커인 #{group.title} 빠띠
                        #{current_user.making_issues.only_group(group).count}
                    - current_user.making_issues.only_group(group).each do |issue|
                      = render 'issues/issue_line', issue: issue
                    - if current_user.only_member_issues(group).any?
                      %li.dropdown-header
                        가입한 #{group.title} 빠띠
                        #{current_user.only_member_issues(group).count}
                    - current_user.only_member_issues(group).each do |issue|
                      = render 'issues/issue_line', issue: issue
          %li= link_to '빠띠 찾기', home_path, class: "#{'active' if current_page?('/home')}"

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li.notification
              = link_to messages_path, class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
                - if current_user.unread_messages_count > 0
                  %span.icon-bell-stack
                    %i.fa.fa-circle.fa-stack-1x
                    %i.fa.fa-bell.fa-stack-1x.fa-inverse
                - else
                  %i.fa.fa-bell
                알림

          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                .thumb.circle-20.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to user_gallery_path(current_user) do
                    %strong= current_user.nickname
                    프로필
                %li.divider
                %li= link_to '설정', edit_user_registration_path
                %li= link_to '로그아웃', destroy_user_session_path, method: :delete
          - else
            %li.sign-up
              = link_to '로그인/회원가입', new_user_session_path
