%nav#site-header.navbar.navbar-default.navbar-fixed-top.js-fixed-header
  .container.clearfix
    .navbar-header.navbar-header-center
      %a.navbar-brand{ href: root_path }
        - if host_group.indie?
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}
        - else
          #{host_group.head_title}

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li.notification
          = link_to messages_url(subdomain: nil), class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
            %span.active-bell.js-active-bell{ class: ('collapse' if current_user.unread_messages_count <= 0) }
              %i.fa.fa-bell
              %span.label.label-danger{ style: 'width: 10px; height: 10px; position: absolute; padding: 0; border-radius: 5px; right: 5px; top: 5px;'}
            %span.js-inactive-bell{ class: ('collapse' if current_user.unread_messages_count > 0) }
              %i.fa.fa-bell
      - else
        %li.sign-up
          = link_to new_user_session_path do
            %i.fa.fa-sign-in

    %ul.nav.navbar-nav.navbar-left
      - if history_backable_in_mobile?
        %li.history-back.js-btn-history-back.hide
          %a.js-history-back(href="#")
            %i.fa.fa-chevron-left
            뒤로
      %li.btn-drawer.js-btn-drawer{ class: ('hide' if history_backable_in_mobile? ) }
        %a.btn-drawer-menu.js-slideout-toggle
          - if host_group.try(:is_light_theme?)
            = image_tag 'btn_mobile_menu.png'
          - else
            = image_tag 'btn_mobile_menu_white.png'
= render 'application/drawer_menu.mobile'
