%nav#site-header.navbar.navbar-default.navbar-fixed-top.root-site-header.js-fixed-header.js-stickytoolbar-offset
  .container-fluid
    .navbar-header.navbar-header-center
      %a.navbar-brand{ href: issues_path }
        - if current_group.blank?
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}
        - else
          #{current_group.site_title}
          = meta_icons(current_group)
    #collapsable.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        - if sidebar_openable?
          %li.visible-sm-sidbar-inline
            %a.js-slideout-toggle.cursor-pointer
              %i.fa.fa-bars{style:"font-size: 18px;"}

        %li.my-home-menu
          = link_to dashboard_url(subdomain: nil), class: "#{'active' if (current_page?('/') and current_group.nil?) or current_page?('/dashboard')}" do
            %i.fa.fa-home{style:"font-size: 18px;"}
            내 홈

          - if user_signed_in?
            - if current_user.messages.empty?
              %li.notification-menu
                = link_to messages_url(subdomain: nil), class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
                  %i.fa.fa-bell
                  알림
            - else
              %li.notification-menu.dropdown#js-notification{ 'data-url': messages_path(format: :js) }
                %a.dropdown-toggle.js-notification-dropdown{ :href => "#", class: "#{'active' if current_page?(controller: '/messages', action: :index)}" }
                  %span.active-bell.js-active-bell{ class: ('collapse' if current_user.cached_important_messages_count <= 0) }
                    %span.icon-bell-stack
                      %i.fa.fa-circle.fa-stack-1x
                      %i.fa.fa-bell.fa-stack-1x.fa-inverse
                    %span.label.label-danger= trim_count current_user.cached_important_messages_count
                  %span.js-inactive-bell{ class: ('collapse' if current_user.cached_important_messages_count > 0) }
                    %i.fa.fa-bell
                  알림

                %ul.dropdown-menu.js-notification-dropdown-menu
                  %li.loading.js-notification-dropdown-loading
                    로딩 중...

      %ul.nav.navbar-nav.navbar-right
        %li.search-menu
          = form_tag search_url(subdomain: nil), method: :get, class: 'form-inline js-header-search' do
            = hidden_field_tag :group_id
            = hidden_field_tag :issue_id
            = hidden_field_tag :search_type
            .form-group.form-group-q.dropdown
              %input.form-control.form-control-q.js-header-search-input.fontawesome-placeholder{ name: "nav_q", value: params[:nav_q] || (tagify(params[:hashtag]) if params[:hashtag].present?), placeholder: raw('&#xf002; 검색'), type: "search", autocomplete: "off" }
              %ul.dropdown-menu.dropdown-menu-right.js-header-search-dropdown.collapse
                %li.js-header-search-dropdown-item.collapse{ 'data-header-search-type': 'issue' }
                  .dropdown-item-content.only-clickable
                    %span.dropdown-item-q.js-header-search-dropdown-value
                    %span.dropdown-item-scope 채널 내 검색
                %li.js-header-search-dropdown-item.collapse{ 'data-header-search-type': 'group' }
                  .dropdown-item-content.only-clickable
                    %span.dropdown-item-q.js-header-search-dropdown-value
                    %span.dropdown-item-scope 그룹 내 검색
                %li.js-header-search-dropdown-item.collapse{ 'data-header-search-type': 'all' }
                  .dropdown-item-content.only-clickable
                    %span.dropdown-item-q.js-header-search-dropdown-value
                    %span.dropdown-item-scope 전체 검색

        - if user_signed_in?
          %li.write-menu
            = link_to new_group_configuration_url(subdomain: nil) do
              %i.fa.fa-magic{style:"font-size: 18px;"}
              그룹 만들기
          %li.profile-menu.dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
              #my-profile-image.thumb.circle-24.img-circle{ style: "background-image: url(#{current_user.image.sm.url});" }
            %ul.dropdown-menu
              %li
                = link_to smart_user_gallery_path(current_user) do
                  %strong= current_user.nickname
              %li.divider
              %li= link_to '설정', edit_user_registration_path
              %li= link_to '로그아웃', destroy_user_session_path, method: :delete
        - else
          %li.sign-up
            = link_to '회원가입', pre_sign_up_users_path
          %li.sign-up
            = link_to '로그인', new_user_session_path

- if current_group.present?
  %span.js-sidemenu-highlight-current-group-source{ 'data-sidemenu-highlight-current-group-id': current_group.id, 'data-sidemenu-highlight-current-group-slug': current_group.slug }
