%nav.navbar.navbar-default.navbar-fixed-top
  .container.clearfix
    .navbar-header.pull-left{ style: 'position: relative' }
      %a.navbar-brand{ href: root_path }
        %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}
      %a{ href: dashboard_path, class: 'btn btn-default btn-link navbar-btn pull-left'}
        %b
          내 빠띠

    .navbar-sign
      - if user_signed_in?
        .navbar-sign__in
          .user-profile= byline current_user
          = link_to destroy_user_session_path, class: 'user-link', method: :delete do
            = image_tag 'icon_logout.png'
          = link_to messages_path, class: 'user-link' do
            = image_tag 'icon_bell.png'
      - else
        .navbar-sign__up= link_to '로그인/회원가입', new_user_session_path

