#site-header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target": "#collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: root_path }
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}

      #collapsable.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to '모든 빠띠', root_path, class: "#{'active' if current_page?('/')}"
          %li.dropdown.watch-parties
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              대표 빠띠
              %span.caret
            %ul.dropdown-menu
              - %w(politics economy society nculture education environment labor media).each do |slug|
                = render 'issues/issue_line', issue: Issue.of_slug(slug)
              %li.divider
              = render 'issues/issue_line', issue: Issue.of_slug('parti')
          - if user_signed_in? and current_user.watches.any?
            %li.dropdown.watch-parties
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                내 빠띠
                %span.caret
              %ul.dropdown-menu{data: {'filter': (current_user.watched_issues.count > 12), 'filter-label': '찾으려는 빠띠 이름을 넣어주세요.'}}
                - if current_user.making_issues.any?
                  %li.dropdown-header
                    메이커인 빠띠
                    #{current_user.making_issues.count}
                - current_user.making_issues.each do |issue|
                  = render 'issues/issue_line', issue: issue
                - if current_user.only_watched_issues.any?
                  %li.dropdown-header
                    구독 중인 빠띠
                    #{current_user.only_watched_issues.count}
                - current_user.only_watched_issues.each do |issue|
                  = render 'issues/issue_line', issue: issue
            %li= link_to "·"
            %li= link_to Note.model_name.human, notes_path, class: "#{'active' if current_page?(controller: '/notes', action: :index)}"
            %li= link_to Talk.model_name.human, talks_path, class: "#{'active' if current_page?(controller: '/talks', action: :index)}"
            %li= link_to Opinion.model_name.human, opinions_path, class: "#{'active' if current_page?(controller: '/opinions', action: :index)}"
            %li= link_to Article.model_name.human, articles_path, class: "#{'active' if current_page?(controller: '/articles', action: :index)}"
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to dashboard_path, class: "#{'active' if current_page?(controller: '/dashboard', action: :index)}" do
                .thumb.circle-20.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
                = t('labels.dashboard')
            %li.notification
              = link_to messages_path, class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
                - if current_user.unread_messages_count > 0
                  %span.fa-stack
                    %i.fa.fa-bell.fa-stack-1x
                    %i.icon-dot-corner
                - else
                  %i.fa.fa-bell
            %li
              = link_to destroy_user_session_path, method: :delete do
                로그아웃

          - else
            %li.sign-up
              = link_to '로그인/회원가입', new_user_session_path
