#site-header
  %nav.navbar.navbar-default.navbar-fixed-top
    - if request.path=='/'
      .top-banner
        %span.count> 시민
        이 힘을 모아
        %span
        %span.count> 이슈
        를 해결하는
        %span.count 온라인 광장
        빠띠
        = link_to about_path, class: 'top-banner-btn' do
          빠띠란 무엇일까요?
    .container.clearfix
      .navbar-header
        %a.navbar-brand{ href: root_path }
          %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}

      %div
        %ul.nav.navbar-nav
          %li
            = link_to issues_path, class: 'btn' do
              모든 빠띠
          - if user_signed_in?
            %li
              = link_to dashboard_path, class: 'btn' do
                내 빠띠

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.notification
            = link_to messages_path, class: 'btn' do
              - if current_user.unread_messages_count > 0
                %span.fa-stack
                  %i.icon-bell.fa-stack-1x
                  %i.icon-dot-corner
              - else
                %i.icon-bell
          %li.user-info
            = link_to dashboard_path, class: 'user-byline' do
              .thumb.user-image.img-circle{style: "background-image: url(#{current_user.image.sm.url});"}
              = current_user.nickname
            .dropdown
              %a{"data-toggle" => "dropdown", "data-target" => "#", "role" => "button"}
                ▼
              %ul.dropdown-menu{"role" => "menu"}
                %li#profile
                  = link_to edit_user_registration_path do
                    •설정
                %li#logout
                  = link_to destroy_user_session_path, method: :delete do
                    •로그아웃

        - else
          %li.sing-up
            = link_to '로그인/회원가입', new_user_session_path
