= javascript_include_tag 'mobile_app'
- if is_mobile_app_get_request?(request)
  :javascript
    (function() {
      if(ufo.isApp()) {
        ufo.agent = '#{current_mobile_app_agent(request)}';
        ufo.version = '#{current_mobile_app_version(request)}';
      }
    })();

  - local_assigns[:mobile_start] ||= false
  - current_url = "window.location.href"
  - current_url = raw("'#{local_assigns[:force_current_url]}'") if local_assigns[:force_current_url].present?

  - if request.get? and !local_assigns[:mobile_start]
    :javascript
      (function() {
        if(ufo.isApp()) {
          ufo.changeCurrentUrl(#{current_url});
        }
      })();
    - if local_assigns[:force_base_page_url].present?
      :javascript
        (function() {
          if(ufo.isApp()) {
            ufo.changeBasePageUrl("#{local_assigns[:force_base_page_url]}");
          }
        })();
    - elsif history_base_page_in_mobile_app?(current_group)
      :javascript
        (function() {
          if(ufo.isApp()) {
            ufo.changeBasePageUrl(window.location.href);
          }
        })();
    - elsif push_notified_page_in_mobile_app?
      :javascript
        (function() {
          if(ufo.isApp()) {
            ufo.changeBasePageUrl('#{ messages_url(subdomain: nil) }');
          }
        })();

  :javascript
    (function() {
      if(ufo.isApp()) {
        // 이 함수는 App에서 호출합니다.
        ufo.successAuth = function(provider, token) {
          if (token) {
            var url = "#{mobile_app_auth_callback_url(subdomain: nil, provider: "__provider__")}";
            url = url.replace("__provider__", provider);
            url = url + "?token=" + encodeURIComponent(token);
            document.location.href = url;
            return;
          } else {
            // 할 수 있는게 없죠. 그냥 초기 페이지로 이동시킵니다.
            document.location.href = "#{root_url(subdomain: nil)}";
            return;
          }
        }

        // 이 함수는 App에서 호출합니다.
        ufo.failureAuth = function() {
          document.location.href = "#{new_user_session_url}";
        }
      }
    })();
