- is_current_dashboard_page = (current_page?('/') or current_page?('/dashboard'))
- is_current_pinnde_page = current_page?('/posts/pinned')
- is_current_messages_page = current_page?('/messages')
- is_current_mentions_page = current_page?('/messages/mentions')
- is_current_bookmarks_page = current_page?('/bookmarks')

- dropdown_url = if is_current_dashboard_page
  - :dashboard_url
- elsif is_current_pinnde_page
  - :pinned_posts_url
- elsif is_current_messages_page
  - :messages_url
- elsif is_current_bookmarks_page
  - :bookmarks_url
- else
  - :dashboard_url

.my-home-tab-sticky.js-my-home-tab-sticky.js-stickytoolbar-offset
  .contents-header.xs-horizontal-padding
    %h4.contents-header__title
      내 홈
      %span.dropdown{ style: 'margin-right: 12px;' }
        %a.dropdown-toggle{ "href": "#", "data-toggle": "dropdown" }
          - if current_dashboard_group.present?
            \/
            = group_basic_title(current_dashboard_group)
          - else
            \/
            전체
          %small
            %span.fa-stack{ style: 'font-size: 11px;' }
              %i.fa.fa-square-o.fa-stack-2x
              %i.fa.fa-chevron-down.fa-stack-1x
        %ul.dropdown-menu.dropdown-menu-dashboard-group
          - if current_dashboard_group.present?
            %li
              = link_to send(dropdown_url, subdomain: nil, group_slug: :all) do
                전체
            %li.divider
          - Group.joined_groups(current_user).each do |group|
            %li{ class: ('selected' if current_dashboard_group == group) }
              = link_to send(dropdown_url, subdomain: nil, group_slug: group.slug)  do
                = group_basic_title(group)
                - if current_dashboard_group == group
                  %i.fa.fa-check

      %small.hidden-xs
        - if current_dashboard_group.present?
          #{group_only_basic_title(current_dashboard_group)}에서 오거나이징하는 내 채널 최신 소식입니다.
        - else
          내가 가입한 채널과 그룹의 최근 소식입니다.

  - unbehold_pinned_posts = current_user.unbehold_pinned_posts(current_dashboard_group)
  .content-tab-section.content-tab-section-my-home{ class: ('content-tab-section-my-home-with-count-label' if unbehold_pinned_posts.any? or current_user.cached_important_not_mention_messages_count(current_dashboard_group) > 0 or current_user.cached_important_mention_messages_count > 0) }
    %div.hidden-sm.visible-xs-block{ style: "height: 40px; width: 3rem; position: absolute; right: 0; top: -10px; z-index: 1;" }
      %div{ style: "background:-webkit-linear-gradient(right, #e7eaeb, rgba(255,255,255,0.0)); height: 100%; width: 100%;" }
    %ul.nav.nav-tabs.my-home-tabs
      %li{ class: (' active' if is_current_dashboard_page) }
        = link_to dashboard_url(subdomain: nil), class: 'cursor-pointer-important' do
          게시글
      %li{ class: "#{('active' if is_current_pinnde_page)}" }
        = link_to pinned_posts_url(subdomain: nil) do
          공지
          - if unbehold_pinned_posts.any?
            .count-label-wrapper.small
              .count-label
                +#{max_counter(unbehold_pinned_posts.count, 999)}

      %li{ class: "#{('active' if is_current_messages_page)}" }
        = link_to messages_url(subdomain: nil) do
          알림
          - if current_user.cached_important_not_mention_messages_count(current_dashboard_group) > 0
            .count-label-wrapper.small
              .count-label
                +#{max_counter(current_user.cached_important_not_mention_messages_count(current_dashboard_group), 999)}
      %li{ class: "#{('active' if is_current_mentions_page)}" }
        = link_to mentions_messages_url(subdomain: nil) do
          멘션
          %i.fa.fa-at
          - if current_user.cached_important_mention_messages_count(current_dashboard_group) > 0
            .count-label-wrapper.small
              .count-label
                +#{max_counter(current_user.cached_important_mention_messages_count(current_dashboard_group), 999)}
      %li{ class: "#{('active' if is_current_bookmarks_page)}" }
        = link_to bookmarks_url(subdomain: nil) do
          북마크
          %i.fa.fa-bookmark-o
