#login-overlay.login-overlay
  .login-box
    .login-box__title
      %h3 로그인
      %a.login-box__close{href: "#", "data-dismiss": "parti-login-overlay", type: "button"}
        = image_tag 'icon_close.png'
    %h1.login-box__txt.hidden-xs
      시민이 모여 이슈를 해결하는
      %br
      온라인 광장 빠띠
    .login-box__content
      = link_to '#', class: 'btn-sns btn-block', data: {action: 'parti-form-submit', 'form-target':'#login-overlay form', 'form-url': omniauth_authorize_path(:user, :facebook) } do
        %i.fa.fa-facebook{style: 'font-size: 22px; color: #2a3ab0; vertical-align: top;'}
        페이스북 아이디로 빠띠하기
      = link_to '#', class: 'btn-sns btn-block', data: {action: 'parti-form-submit', 'form-target':'#login-overlay form', 'form-url': omniauth_authorize_path(:user, :twitter) } do
        %i.fa.fa-twitter{style: 'font-size: 22px; color: #55acee; vertical-align: top;'}
        트위터 아이디로 빠띠하기
      = link_to '#', class: 'btn-sns btn-block', data: {action: 'parti-form-submit', 'form-target':'#login-overlay form', 'form-url': omniauth_authorize_path(:user, :google_oauth2) } do
        %i.fa.fa-google-plus{style: 'font-size: 22px; color: #c24851; vertical-align: top;'}
        구글플러스 아이디로 빠띠하기
      .login-box__remember
        = form_tag nil, method: :get do
          = hidden_field_tag(:after_login)
          %label.remember_me
            = check_box_tag(:remember_me, '1', true)
            로그인 상태를 유지


      - if is_mobile?
        .devider
          %span 또는 이메일로 로그인

        .email-login-form.panel
          .panel-body
            = form_for(User.new, as: :user, url: session_path(:user)) do |f|
              = f.hidden_field :provider, value: 'email'
              .form-group
                = f.email_field :email, placeholder: '이메일을 입력하세요', class: 'form-control'
              .form-group
                = f.password_field :password, placeholder: '비밀번호를 입력하세요', autocomplete: "off", class: 'form-control'
              .form-group
                = f.check_box :remember_me, { checked: true }
                = f.label :remember_me, class: 'remember_me'
              = f.submit '로그인', class: 'btn btn-primary btn-block'
      - else
        .devider
          %span{style: 'background: #fff'} 또는

        = link_to new_user_session_path, class: 'login-box__link' do
          이메일로 로그인


