- opinion ||= local_assigns[:specific]
.opinion__vote-section{id: "#{dom_id(opinion)}-vote" }

  - if !user_signed_in?
    .vote__buttons.text-center
      = link_to '#', class: 'btn btn-default btn-lg', data: { toggle: 'parti-login-overlay', label: '찬성', 'after-login': h({action: :opinion_vote_agree, id: opinion.id}.to_json) } do
        .fa.fa-thumbs-o-up
        찬성
      = link_to '#', class: 'btn btn-default btn-lg', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :opinion_vote_disagree, id: opinion.id}.to_json) } do
        .fa.fa-thumbs-o-down
        반대
      .vote__buttons--unsure.text-center
        = link_to '#', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :opinion_vote_unsure, id: opinion.id}.to_json) } do
          잘 모르겠습니다
  - elsif opinion.sured_by? current_user
    .vote__results
      .row
        .col-xs-6.text-right
          %div{ style: 'padding-bottom: 20px;' }
            = link_to post_votes_path(opinion.acting_as, vote: {choice: :agree}), method: :post, remote: true, class: 'btn ' + ( opinion.agreed_by?(current_user) ? 'btn-primary' : 'btn-default' ) do
              .fa.fa-thumbs-o-up
              %span 찬성
              %p.count= opinion.votes.with_choice(:agree).count
          %div.voters
            - opinion.votes.with_choice(:agree).partial_included_with(current_user).each do |vote|
              = link_to user_gallery_path(vote.user), class: 'text-nowrap' do
                - unless local_assigns[:hide_image]
                  .thumb.img-circle.circle-30{style: "background-image: url(#{vote.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{vote.user.nickname}", :type => "button"}
        .col-xs-6.text-left
          %div{ style: 'padding-bottom: 20px;' }
            = link_to post_votes_path(opinion.acting_as, vote: {choice: :disagree}), method: :post, remote: true, class: 'btn ' + ( opinion.disagreed_by?(current_user) ? 'btn-primary' : 'btn-default' ) do
              .fa.fa-thumbs-o-down
              %span 반대
              %p.count= opinion.votes.with_choice(:disagree).count
          %div.voters
            - opinion.votes.with_choice(:disagree).partial_included_with(current_user).each do |vote|
              = link_to user_gallery_path(vote.user), class: 'text-nowrap' do
                - unless local_assigns[:hide_image]
                  .thumb.img-circle.circle-30{style: "background-image: url(#{vote.user.image.sm.url});", "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{vote.user.nickname}", :type => "button"}
      - unless opinion.unsured_by? current_user
        .vote__buttons--unsure.text-center
          = link_to post_votes_path(opinion.acting_as, vote: {choice: :unsure}), method: :post, remote: true do
            잘 모르겠습니다
  - else
    .vote__buttons.text-center
      = link_to post_votes_path(opinion.acting_as, vote: {choice: :agree}), method: :post, remote: true, class: 'btn btn-default btn-ghost' do
        .fa.fa-thumbs-o-up
        찬성
      = link_to post_votes_path(opinion.acting_as, vote: {choice: :disagree}), method: :post, remote: true, class: 'btn btn-default btn-ghost' do
        .fa.fa-thumbs-o-down
        반대
      - unless opinion.unsured_by? current_user
        .vote__buttons--unsure.text-center
          = link_to post_votes_path(opinion.acting_as, vote: {choice: :unsure}), method: :post, remote: true do
            잘 모르겠습니다

  %div.opinion__vote__info
    %p.text-center{ style: 'padding-top: 20px' }
    - if opinion.votes.any?
      %div
        현재&nbsp;
        %strong<>
          #{opinion.votes.sure.count}
        명이 찬반 투표했습니다.

    - if !user_signed_in? or !opinion.voted_by?(current_user)
      %div
        찬반 투표하면 결과를 볼 수 있습니다.

    - if user_signed_in? and opinion.voted_by?(current_user)
      - if opinion.unsured_by?(current_user)
        %div
          - if opinion.comments.any?
            아래에서
            %span
              %strong<> 의견
              을 나누고
          %span
            %strong 찬반
            투표를 해보세요.
      - else
        %div
          왜 #{ opinion.agreed_by?(current_user) ? '찬성' : '반대' }하는지&nbsp;
          %strong<> 의견
          을 적어 보세요.
