.front-navbar
  .groupmenu
    - if current_group.member?(current_user)

      - moremenu_content = capture do
        = link_to root_path, class: 'dropdown-item' do
          %i.fa.fa-home.text-muted
          그룹 홈
        .dropdown-divider
        - if current_group.organized_by?(current_user) || current_user&.admin?
          = link_to edit_front_group_path(current_group), class: 'dropdown-item' do
            그룹 관리
        - if current_group.organized_by?(current_user) || current_user&.admin?
          = link_to edit_current_group_front_categories_path, class: 'dropdown-item' do
            채널 카테고리 관리
        - if current_group.creatable_issue?(current_user) || current_user&.admin?
          = link_to new_front_channel_path, class: 'dropdown-item' do
            채널 만들기
        - if current_group.member?(current_user)
          .dropdown-divider
          = link_to edit_me_front_members_path, class: 'dropdown-item' do
            내 프로필
          = link_to "#{current_group.title} 그룹 탈퇴", front_memeber_cancel_path(current_user.smart_group_member(current_group)), method: :delete, class: 'dropdown-item', data: { confirm: "정말 #{current_group.title} 그룹에서 탈퇴하시겠습니까? 그룹에 게시한 글은 모두 보존되며 빠띠 가입도 유지됩니다." }
      .moremenu
        .dropdown
          .title.cursor-pointer{ "data-toggle": "dropdown" }
            = current_group.title
            = meta_icons(@current_issue)
          .dropdown-menu.dropdown-menu-right
            = moremenu_content
    - else
      = link_to current_group.title, root_url, class: 'link'
      = meta_icons(@current_issue)

  - if current_group.private_blocked?(current_user)
    .searchform.dummy
  - else
    = form_with url: '#', method: :get, class: 'searchform', data: { controller: 'front-search', action: 'submit->front-search#submitForm' } do |f|
      - front_search_issue_id = @current_issue&.id
      - front_search_folder_id = @current_folder&.id
      .dropdown
        = f.text_field 'front_search[q]', value: PostSearchableIndex.sanitize_search_key(params.dig(:front_search, :q)), class: 'queryinput fa', placeholder: raw('&#xf002 검색...'), autocomplete: 'off', data: { target: 'front-search.searchQueryField', action: 'input->front-search#updateQueryField focus->front-search#updateQueryField blur->front-search#blurQueryField keydown@document->front-search#upAndDownMenuItem', toggle: 'dropdown-toggle' }
        .dropdown-menu{ 'data-target': 'front-search.menu' }
          - if front_search_folder_id.present?
            .dropdown-item{ data: { 'front-search-url': front_channel_path(id: front_search_issue_id, folder_id: front_search_folder_id), target: 'front-search.menuItem front-search.menuItem', action: 'mouseenter->front-search#mouseEnterMenuItem click->front-search#clickMenuItem' } }
              %span.text{ 'data-target': 'front-search.menuItemText' }
              %span.scope 폴더 내 검색
          - if front_search_issue_id.present?
            .dropdown-item{ data: { 'front-search-url': front_channel_path(id: front_search_issue_id), target: 'front-search.menuItem front-search.menuItem', action: 'mouseenter->front-search#mouseEnterMenuItem click->front-search#clickMenuItem' } }
              %span.text{ 'data-target': 'front-search.menuItemText' }
              %span.scope 채널 내 검색
          .dropdown-item{ data: { 'front-search-url': front_search_path, target: 'front-search.menuItem front-search.menuItem', action: 'mouseenter->front-search#mouseEnterMenuItem click->front-search#clickMenuItem' } }
            %span.text{ 'data-target': 'front-search.menuItemText' }
            %span.scope 그룹 내 검색

  .profilemenus
    - if user_signed_in?
      - if current_group&.member?(current_user)
        #nav-messages.dropdown{ data: { controller: 'content-loader message-read-all', 'content-loader': { url: nav_front_messages_path, 'refresh-interval': (1000 * 60 * 5).to_s, 'disable-refresh-jquery-event': 'show.bs.dropdown', 'enable-refresh-jquery-event': 'hide.bs.dropdown' }, 'message-read-all': { 'url': read_all_front_messages_url }, 'turbolinks-permanent': true } }
          .notifications{ data: { toggle: 'dropdown' } }
            %i.fa.fa-bell
          .dropdown-menu.dropdown-menu-right.messages
            .dropdown-item
              %i.fa.fa-spinner.fa-pulse
              로딩 중...

      - else
        .menuitem
          = link_to '그룹 가입', new_front_member_request_path, class: 'link'
          - unless current_page?('/front/member_requests/new') || current_page?('/front/member_requests/private_blocked')
            .staticpopover{ data: { controller: 'static-popover', 'static-popover': { 'class-name': 'join-banner', options: h({ placement: 'bottom', container: '.front-app' }.to_json) } } }
              .collapse{ data: { target: 'static-popover.template' } }
                = escape_once_block do
                  %p.lead
                    %i.fa.fa-info-circle.text-primary
                    지금 #{current_group.title} 그룹에 가입하세요!

                  %p #{current_group.title} 그룹 멤버들과 함께 흥미진진한 이야기를 나눠 보세요.
                  .text-right
                    %button.btn.btn-link.btn-sm{ 'data-dismiss': 'popover' } 닫기

    .menuitem.-powered-by
      .label Powered by
      = image_tag 'parti_logo_white.png', class: 'parti'
    - if user_signed_in?
      .dropdown
        .userimage{ "data-toggle" => "dropdown", :href => "#" }
          .userimagebg{ style: "background-image: url(#{current_user.image.sm.url})" }
        .dropdown-menu.usermenu.dropdown-menu-right
          = link_to '설정', edit_user_registration_path, class: 'dropdown-item'
          = link_to '로그아웃', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          - current_user.member_groups.each_with_index do |group, index|
            - if index == 0
              .dropdown-divider
              .dropdown-header
                내 그룹
            = link_to root_url(subdomain: group.subdomain), class: 'dropdown-item', target: ('_blank' if group != current_group) do
              = group.title
              - if group != current_group
                %i.fa.fa-external-link.small.text-muted
              - if group == current_group
                %i.fa.fa-check
          .dropdown-divider
          = link_to issues_url(subdomain: nil), class: 'dropdown-item', target: '_blank' do
            다른 그룹 탐색
            %i.fa.fa-external-link.small.text-muted
          = link_to new_group_configuration_url(subdomain: nil), class: 'dropdown-item', target: '_blank' do
            그룹 만들기
            %i.fa.fa-external-link.small.text-muted
    - else
      .menuitem
        = link_to issues_url(subdomain: nil), target: '_blank', class: 'link' do
          다른 그룹 탐색
          %i.fa.fa-external-link.small
      .menuitem
        = link_to '회원가입', pre_sign_up_front_users_path, class: 'link'
      .menuitem
        = link_to '로그인', new_user_session_path, class: 'link'
