- content_for :style do
  = render_scss 'layouts/front/group_style'

- content_for :content do
  .front-app{ data: { controller: 'dirty-page' } }
    = render 'layouts/front/header'

    .front-main{ class: ('-need-to-join' unless current_group.member?(current_user)) }
      - if !current_group.member?(current_user) && !current_group.private?
        = render 'layouts/front/joinbar'
      .front-body.-no-header
        .playground-main
          - if content_for?(:playground_header_content)
            = yield(:playground_header_content)
          .playground-body{ data: { js: 'scroll-persistence', 'scroll-persistence-id': ("front-app-playground-body-#{@scroll_persistence_id_ext}" if @scroll_persistence_id_ext.present?), 'scroll-persistence-tag': @scroll_persistence_tag } }
            = yield
    - if content_for?(:playground_sidebar_content)
      .front-footer
        .playground-sidebar
          = yield(:playground_sidebar_content)

= render template: 'layouts/bpplication'