- content_for :content do
  .front-app
    .global-sidebar#front-app-global-sidebar{ data: { controller: 'content-loader', 'content-loader-url': front_global_sidebar_path, 'turbolinks-permanent': true, js: 'scroll-persistence', 'scroll-persistence-id': 'front-app-global-sidebar' } }
    .group-sidebar
      .group-menu
        .title
          = current_group.title
      .channel-listings{ id: "front-app-channel-listings-#{current_group.id}", data: { controller: 'content-loader', 'content-loader-url': front_channel_listings_path(issue_id: @current_issue), 'turbolinks-permanent': true, js: 'scroll-persistence', 'scroll-persistence-id': 'front-app-channel-listings', 'scroll-persistence-tag': current_group.id } }
    .front-playground
      - if content_for?(:playground_header_content)
        .playground-header
          = yield(:playground_header_content)
      .playground-body{ data: { js: 'scroll-persistence', 'scroll-persistence-id': ("front-app-playground-body-#{@scroll_persistence_id_ext}" if @scroll_persistence_id_ext.present?), 'scroll-persistence-tag': @scroll_persistence_tag } }
        = render layout: 'layouts/simplebar' do
          = yield

= render template: 'layouts/bpplication'