- if current_group.present?
  - content_for :style do
    = render_scss 'layouts/front/group_style'

- content_for :content do
  .front-app.base-app{
    class: ('-no-header' if current_group.blank?)
  }
    = render 'layouts/front/header'
    = yield
    - if current_group.blank?
      = render 'bpplication/bottom_footer'

= render template: 'layouts/bpplication', locals: { additional_body_class: '-simple' }