.modal-content
  .modal-header.modal-header-flex
    %h4.modal-header-title
      신고
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span
        %i.fa.fa-times
  .modal-body
    = form_with model: report, local: false do |f|
      = f.hidden_field :reportable_type
      = f.hidden_field :reportable_id
      .form-group
        %p.help-text 신고 이유를 선택해 주세요.
        .radio-group
          - Report.reason.options.each do |name, value|
            .form-check.form-check-inline
              = f.radio_button :reason, value, class: 'form-check-input', id: "reason-code--#{value}"
              = f.label :reason, name, class: 'form-check-label', for: "reason-code--#{value}"
      .form-group
        = f.submit '저장', class: 'btn btn-primary'


