- has_no_announcement = (f.object.new_record? || f.object.announcement.blank? || f.object.announcement.new_record?)
= f.fields_for :announcement, (Announcement.new if has_no_announcement) do |ff|
  .form-group{ data: { controller: 'content-collapse' } }
    %label 이 게시물을 읽어야할 멤버를 지정해 주세요.
    .form-check{ data: { action: 'click->content-collapse#hide' } }
      = ff.radio_button :announcing_mode, Announcement.announcing_mode.all, class: 'form-check-input'
      = ff.label :announcing_mode, for: 'post_announcement_attributes_announcing_mode_all' do
        = Announcement.announcing_mode.all.text
    .form-check{ data: { action: 'click->content-collapse#show' } }
      = ff.radio_button :announcing_mode, Announcement.announcing_mode.direct, class: 'form-check-input'
      = ff.label :announcing_mode, for: 'post_announcement_attributes_announcing_mode_direct' do
        = Announcement.announcing_mode.direct.text
      .form-group.collapse{ class: ('show' if ff.object.announcing_mode.direct?), data: { target: 'content-collapse.content' } }
        = ff.text_field :direct_announced_user_nicknames, value: ff.object.audiences.merge_nickname, class: 'form-control', required: true, data: { 'value-missing-message': '이 게시물을 읽어야할 멤버를 지정해 주세요.' }
        .text-muted.small 닉네임을 쉼표로 구분해서 넣어주세요. 이 그룹의 멤버만 등록됩니다. 이미 확인한 멤버는 지워지지 않습니다.