= form_for [:admin, featured_issue] do |f|
  .panel.panel-default
    .panel-heading
      %h4.panel-title #{featured_issue.new_record? ? '새로 만들기' : "##{local_assigns[:index]} #{featured_issue.slug}"}
    .panel-body
      .form-group
        = f.label :title
        = f.text_area :title, class: 'form-control'
      .form-group
        = f.label :slug
        = f.text_field :slug, class: 'form-control'
      .form-group
        = f.label :image
        - if upload_file_exists?(featured_issue.image)
          = image_tag featured_issue.image.url, class: 'img-thumbnail'
        = f.file_field :image, class: 'form-control'
      .form-group
        = f.label :mobile_image
        - if upload_file_exists?(featured_issue.mobile_image)
          = image_tag featured_issue.mobile_image.url, class: 'img-thumbnail'
        = f.file_field :mobile_image, class: 'form-control'
      %hr
      .row
        .col-sm-4
          .panel.panel-default
            .panel-heading
              %h5.panel-title 논의
            .panel-body
              .form-group
                = f.label :talk_title
                = f.text_area :talk_title, class: 'form-control'
              .form-group
                = f.label :talk_id
                = f.text_field :talk_id, class: 'form-control'
        .col-sm-4
          .panel.panel-default
            .panel-heading
              %h5.panel-title 자료
            .panel-body
              .form-group
                = f.label :article_title
                = f.text_area :article_title, class: 'form-control'
              .form-group
                = f.label :article_id
                = f.text_field :article_id, class: 'form-control'
        .col-sm-4
          .panel.panel-default
            .panel-heading
              %h5.panel-title 투표
            .panel-body
              .form-group
                = f.label :opinion_title
                = f.text_area :opinion_title, class: 'form-control'
              .form-group
                = f.label :opinion_id
                = f.text_field :opinion_id, class: 'form-control'
    .panel-footer
      = f.submit '저장'
      = f.submit '취소', type: :reset
