!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    = display_meta_tags

    = render 'favicons'

    = stylesheet_link_tag 'application_default', media: 'all'
    = stylesheet_link_tag 'vendors', media: 'all'
    %link{href: "https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.css", rel: "stylesheet"}
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}

    /[if lt IE 9]
    %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
    %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}

    = csrf_meta_tags

  %body{class: "app-#{params[:controller]} app-#{params[:controller]}-#{params[:action]}", data: {spy: "scroll", target: "#toc"}}
    %section(style='position: fixed; z-index: 10000; width: 100%')
      .container
        .unobtrusive-flash-container
    #post-modal.modal.post-modal
    = render 'application/header'

    %section#admin
      .container
        .row
          - if content_for?(:sidebar)
            = yield :sidebar
          - else
            .col-sm-3
              %ul.nav.nav-stacked.affix(style="background-color: #fff")
                %li= link_to '관리 홈', admin_root_path, class: "#{current_page?(admin_root_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '랜딩페이지 운영', admin_landing_pages_path, class: "#{current_page?(admin_landing_pages_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '활성 빠띠 조회', admin_active_issue_stats_path, class: "#{current_page?(admin_active_issue_stats_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '사용자 이메일 다운로드', all_email_admin_users_path(format: :xlsx)
                %li= link_to '사용자 통계', stat_admin_users_path, class: "#{current_page?(stat_admin_users_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '블랙리스트 유저 관리', admin_blinds_path, class: "#{current_page?(admin_blinds_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '빠띠 관리', admin_issues_path, class: "#{current_page?(admin_issues_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '운영자 관리', admin_roles_path, class: "#{current_page?(admin_roles_path) ? 'text-primary' : 'text-default'}"
                %li= link_to '전체 공지 메일 발송', admin_new_notice_email_path, class: "#{current_page?(admin_new_notice_email_path) ? 'text-primary' : 'text-default'}"
          .col-sm-9
            = yield
    = javascript_include_tag 'application'
    %script{:src => "https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.js"}
    = yield :script if content_for?(:script)


